{include file="cms/header.html"}
<link rel="stylesheet" href="{url('/style/css/yiyuanbao.css')}">
<script src="{url('/style/jquery.W3CI.js')}" type="text/javascript"></script>
<script src="{url('/style/jquery.ajaxContent.pack.js')}" type="text/javascript"></script>
<div id="breadCrumb">
    <div class="breadCrumb-txt">
        <a href="{url()}">首页</a>  <font class="st">  &gt;  </font><a href="/cmsproduct">产品中心</a>  <font class="st">  &gt;  </font><em style="color:#e54048;">{$row.name}</em>
    </div>
</div>
<div class="g-body">
<div class="m-detail">
<div class="g-wrap g-body-hd f-clear add-css" style="overflow:visible;">

<div class="g-main">
<div class="g-main-l m-detail-show">
    <div class="w-goods-picShow">
        <img class="zbzq" src="/upload/xllogo.png" width="60" style="margin-top:20px; margin-left:20px;"/>
        <div class="w-goods-picShow-large">
            {foreach from=$row.pics item=m name=pics}
            <div style="{if $smarty.foreach.pics.iteration eq 1}display: block;{else}display: none;{/if} width: 380px;height: 380px;" class="v">
                <img src="{zz mod=fileurl source=$m.imgurl_src width=380 height=380}"{if $smarty.foreach.pics.first} id="buy_img_{$row.id}"{/if} /><span></span>
            </div>
            {/foreach}
        </div>
        <div class="w-goods-picShow-thumbnail">
            <ul class="w-goods-picShow-thumbnail-list">
                {foreach from=$row.pics item=m name=pics}
                {if $m.imgurl_src}
                <li class="{if $smarty.foreach.pics.iteration eq 1}selected{/if} v">
                    <i class="ico ico-arrow ico-arrow-red ico-arrow-red-up"></i>
                    <img src="{zz mod=fileurl source=$m.imgurl_src width=64 height=48 type=1}"><span></span>
                </li>
                {/if}
                {/foreach}
            </ul>
        </div>
    </div>

</div>
<script>jQuery(".w-goods-picShow").slide( { titCell:".w-goods-picShow-thumbnail-list  li",mainCell:".w-goods-picShow-large",titOnClassName:"selected" } );</script>
<div class="g-main-m m-detail-main">
<div class="m-detail-main-title">
    <h3 title="{$row.name}">{$row.name}<span style="color:red;" title="{$row.goods_subtit}">{$row.goods_subtit}</span></h3>
</div>

<p style="font-size: 16px;">
  信力纸业包装有限公司拥有先进的纸箱和彩盒全套生产设备。<br/><br/>配有三色、四色中国东方高速模切一体水墨印刷机、德国高宝五色对开、四色全张彩色胶印机、全自动啤机、全自动裱纸机、全自动粘盒机等高速先进生产设备。
  <br/><br/>充分满足客户的各色纸箱包装、彩盒印刷、精品礼盒、个性化礼盒定制需求。
  </p>
<div class="m-detail-main-state" style="margin-top:90px;">
    <ul class="f-clear">
        <li><i class="ico ico-state ico-state-1"></i><a href="javascript:void(0);" target="_blank"> 诚信经营</a></li>
        <li><i class="ico ico-state ico-state-2"></i><a href="javascript:void(0);" target="_blank"> 品质保证</a></li>
        <li><i class="ico ico-state ico-state-3"></i><a href="javascript:void(0);" target="_blank"> 精益求精</a></li>
    </ul>
        <div class="w-shareTo">
        {share()}
    </div>
</div>

</div>
<script type="text/javascript">
    $(function(){
        $('.gray-box').hover(function(){
            $(this).addClass("box-hover yellow-box");
        },function(){
            $(this).removeClass("box-hover yellow-box");
        });
    });
</script>

</div>
</div>
</div>
<a name="tab"></a>
<div class="g-wrap g-body-bd f-clear">
    <div class="w-tabs w-tabs-main m-detail-mainTab">
        <div class="w-tabs-tab">
            <div id="introTab" class="w-tabs-tab-item w-tabs-tab-item-selected">产品详情</div>
        </div>
        <div class="w-tabs-panel">
            <div id="resultPanel" class="w-tabs-panel-item" style="display: block;">
                <div style="text-align: center">
                    {picurl($row.content|stripcslashes)}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>jQuery(".m-detail-mainTab").slide( { titCell:".w-tabs-tab div",mainCell:".w-tabs-panel",titOnClassName:"w-tabs-tab-item-selected" } );</script>

{include file="cms/footer.html"}