{include file="cms/header.html"}
<link rel="stylesheet" href="{url('/style/css/yiyuanbao.css')}">
<div class="product-top menu-show container">
    <div class="product-weizhi"><a href="{url()}">首页</a>  <font class="st">  &gt;  </font><em>产品中心</em></div>
    <dl class="product-top1">
        <dt><big>产品展示</big>（共<span>{$total}</span>件产品）</dt>
        <dd>
            <a href="{'/cmsproduct'|url}?bid={$smarty.get.bid}&type={$smarty.get.type}&zq={$smarty.get.zq}" class="{if !$smarty.get.cid}hover{/if}"><i class="iconfontYC">&#xe60a;</i><span>全部产品</span></a>
            {foreach from=$yuncat item=m name=f}
            {if $m.ismenu eq 1 && $m.parentid eq 0}
            <a href="{'/cmsproduct'|url}?cid={$m.id}&type={$smarty.get.type}&zq={$smarty.get.zq}" class="{if $smarty.get.cid eq $m.id}hover{/if}"><i class="iconfontYC">{$m.iconfont}</i><span>{$m.catname}</span></a>
            {/if}
            {/foreach}
        </dd>
    </dl>
</div>
<div class="{if $ygqq}main-pd{else}main-pd1{/if}">
    <div class="container">
        <ul class="ten box-sizing">
            {foreach from=$list item=m name=list}
            {include file="cms/product/lbi_product.html"}
            {foreachelse}
            <p class="empty">产品正在上架</p>
            {/foreach}
            {if $listNo < 4 && $listNo > 0}
            {for $foo=1 to $listNo}
            <li class="w-quickBuyList-item blank"></li>
            {/for}
            {/if}
        </ul>
        {include file="public_page.html"}
    </div>
    {literal}
    <script type="text/javascript">
        $(function(){
            $(".w-number-btn-plus").click(function(){
                var max = $(this).parent().children('input.w-number-input').attr('data-max');
                var qty = $(this).parent().children('input.w-number-input').val()*1;
                if(qty < max){
                    $(this).parent().children('input.w-number-input').val(qty+1);
                }
            });
            $(".w-number-btn-minus").click(function(){
                var qty = $(this).parent().children('input.w-number-input').val()*1;
                if(qty>1){
                    $(this).parent().children('input.w-number-input').val(qty-1);
                }
            });
            $(".w-number-input").blur(function(){
                var max = $(this).attr('data-max')*1;
                if($(this).val()>max){
                    $(this).val(max);
                }
            });
        });
    </script>
    {/literal}
</div>
<div class="index3">
    <div class="container">
        <dl class="index-top">
            <dt class="index-shuaxin"><a href="javascript:;" onclick="randLove()">换一批</a></dt>
            <dd>
                <span><img src="/style/theme_01/css/images/love.png"></span>
                <big>猜你喜欢</big>
            </dd>
        </dl>
        <ul class="index2 box-sizing love" id="yunbuy_love"></ul>
    </div>
</div>

{include file="cms/footer.html"}
<script src="style/jquery.SuperSlide.2.1.1.js"></script>
<script src="/style/theme_01/css/common_02.js"></script>
<script type="text/javascript">
    $(".main-ad").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,interTime:5000 });
    $(function(){
        randLove();
    })
    function randLove(){
        var D = { zq:'{$smarty.get.zq}' }
        $.post('/cmsproduct/randLove',D,function(data){
            if(data){
                $('#yunbuy_love').html(data);
            }else{
                $('.index3').hide();
            }
        });
    }
</script>