{foreach from=$list item=m}
<li class="index1-img">
    <em class="v"><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" title="{$m.name}" target="_blank"><img src="{zz mod=fileurl source=$m.imgurl_src height=160 type=0}" id="buy_img_{$m.id}{$pre}" /></a><span></span></em>
    <p class="banner-title" style="text-align:center;"><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" title="{$m.name}" target="_blank">{$m.name}</a></p>
</li>
{/foreach}