<li>
    <div class="ten1 index1-img">
        <em class="scrollLoadingDiv"><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" target="_blank" title="{$m.name}"><img alt="{$m.name}" class="scrollLoading" src="/style/images/pix.gif" data-url="{zz mod=fileurl source=$m.imgurl_src height=200 type=0}" id="buy_img_{$m.id}" /></a></em>
        <p class="banner-title" style="text-align:center;"><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" target="_blank" title="{$m.name}">{$m.name}</a></p>
    </div>
    <div class="ten2">
        <p>
            <a href="{'/cmsproduct/detail/'|cat:$m.id|url}"  target="_blank"  class="ten-a">查看详情</a>
        </p>
    </div>
</li>