{include file='../public_btn.html'}

<div class="html-box">



    <form class="cond-form clear" action="#!tongji/money" onsubmit="return xForm.submit(this)">

        <div class="f-unit">

            <label class="ui-label">统计时间段：</label>

            <input class="form-i w120 sitem" name="start_time" value="{$start_time}" type="text" onclick="WdatePicker()" autocomplete="off" />

            <input class="form-i w120 sitem" name="end_time" value="{$end_time}" type="text" onclick="WdatePicker()" autocomplete="off" />

            <button type="submit" style="margin-left:10px;margin-top:2px" class="uiBtn BtnBlue">搜索</button>

        </div>

    </form>



    <table class="table-list">

        <tbody>



        <tr class="table-h3">

            <td colspan="2">余额统计￥</td>

        </tr>

        <tr>

            <td class="td-label">充值金额：</td>

            <td class="td-input">{$data.recharge01|abs}(前台)+{$data.recharge02|abs}(后台)=<span class="c-green">{$data.recharge|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">提现金额：</td>

            <td class="td-input">{$data.withdraw01|abs}(前台)+{$data.withdraw02|abs}(后台)=<span class="c-red">{$data.withdraw|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">交易使用：</td>

            <td class="td-input"><span class="c-red">{$data.order|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">可用余额：</td>

            <td class="td-input"><span class="c-red">{$data.user_money|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">冻结余额：</td>

            <td class="td-input"><span class="c-red">{$data.frozen_money|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">冻结款支付：</td>

            <td class="td-input"><span class="c-red">{$data.frozen_pay|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">兑换{$L.unit_db_points}：</td>

            <td class="td-input"><span class="c-red">{$data.change|abs}</span></td>

        </tr>

        <tr>

            <td class="td-label">余额核对：</td>

            <td class="td-input"><span class="c-red">{$data.tj_money|abs}</span></td>

        </tr>



        <tr class="table-h3">

            <td colspan="2">{$L.unit_db_scores}统计</td>

        </tr>

        <tr>

            <td class="td-label">总{$L.unit_db_scores}：</td>

            <td class="td-input">{$data.db_scores|abs}</span></td>

        </tr>



        <tr class="table-h3">

            <td colspan="2">{$L.unit_db_points}统计</td>

        </tr>

        <tr>

            <td class="td-label">总{$L.unit_db_points}：</td>

            <td class="td-input">{$data.db_points|abs}</span></td>

        </tr>



        </tbody>

    </table>



</div>



<script type="text/javascript">

    $.loadJs('/admin/js/manage/timing.js',function(){ });

</script>



