{include file='../public_btn.html'}

<div class="html-box">

    <form target="iframeNewsTarget" method="post" action="/manage/content/edit/{$moduleinfo.name}" enctype="multipart/form-data">

    <input type="hidden" name="id" value="{$row.id}" />



    <table class="table-list">

    <tbody>

        {foreach from=$fieldsinfo item=m}
        {if $m.name!='推荐位'}
        <tr>

            <td class="td-label"><label>{$m.name}：{if $m.required}<span class="c-red"> *</span>{/if}</label></td>

            <td class="td-input">

                {$m.html}

            </td>

        </tr>
        {/if}
        {/foreach}



        <tr class="tr-btn">

            <td class="td-label"></td>

            <td class="td-input">

                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>

                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>

            </td>

        </tr>



    </tbody>

    </table>



    </form>

</div>



<script type="text/javascript">

$.loadJs('/admin/js/manage/linkage.js',function(){



});

</script>