{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/setting/clearCaches" enctype="multipart/form-data">

    <table class="table-list">
    <tbody>

        <tr>
            <td class="td-label"><label>常用清理：</label></td>
            <td class="td-input" colspan="2">
                <label><input type="checkbox" name="post[]" value="static" checked /> 站点配置</label>
                <label><input type="checkbox" name="post[]" value="yun_cats" checked /> 港淘分类</label>
                <label><input type="checkbox" name="post[]" value="mobile_cats" checked /> 移动端分类</label>
                <label><input type="checkbox" name="post[]" value="auction_cats" checked /> 商品分类</label>
                <!--<label><input type="checkbox" name="post[]" value="smarty" /> 模板缓存</label>-->
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>专业清理：</label></td>
            <td class="td-input" colspan="2">
                <label><input type="checkbox" name="post[]" value="bidCount" /> 总港淘人次</label>
                <label><input type="checkbox" name="post[]" value="dbDjx" /> 待揭晓商品</label>
                <label><input type="checkbox" name="post[]" value="yun_info" /> 港淘商品缓存</label>
                <div class="form-tip">非专业勿选（清理后可能会影响页面首次打开加载速度，问题不大）</div>
            </td>
        </tr>

        <tr class="tr-btn">
            <td class="td-label"></td>
            <td class="td-input">
                <button type="submit" name="Submit" class="uiBtn BtnGreen">执行清理</button>
            </td>
        </tr>

    </tbody>
    </table>

    </form>
</div>



