{include file='../public_btn.html'}

<div class="html-box">

    <form target="iframeNewsTarget" method="post" action="/manage/admin/edit">

    <input type="hidden" name="id" value="{$row.uid}" />



    <table class="table-list">

    <tbody>



        <tr>

            <td class="td-label"><label>用户名：<span class="c-red">*</span></label></td>

            <td class="td-input">

                <input type="text"  class="form-i w200" name="post[username]" id="username" value="{$row.username}" />
                <div class="form-tip">不要修改成admin，否则无法登录</div>
            </td>

        </tr>


     {if $smarty.const.USER eq 'admin'}
        <tr>

            <td class="td-label"><label>角色选择：</label></td>

            <td class="td-input">

                {$select_group}

                <label><input type="checkbox" name="post[visitor]" value="1" {if $row.visitor}checked{/if} /> 访客</label>

            </td>

        </tr>

       {/if}

        <tr>

            <td class="td-label"><label>新密码：</label></td>

            <td class="td-input">

                <input type="password" class="form-i w200 sitem" name="post[pass1]" />

                {if $row.uid}

                <div class="form-tip">留空表示不修改密码</div>

                {/if}

            </td>

        </tr>



        <tr>

            <td class="td-label"><label>重复新密码：</label></td>

            <td class="td-input">

                <input type="password" class="form-i w200 sitem" name="post[pass2]" />

            </td>

        </tr>


     {if $smarty.const.USER eq 'admin'}
        <tr>

            <td class="td-label"><label>手机号：</label></td>

            <td class="td-input">

                <input type="text" class="form-i w200" name="post[tel]" id="tel" value="{$row.tel}" />
                <div class="form-tip" style="line-height: 1.5;padding-top:5px;">后台开启登陆短信验证码，并且这里配置了手机号后，<br>后台登陆时将必须使用此手机号获取短信验证码才能进入</div>
            </td>

        </tr>



        <tr>

            <td class="td-label"><label>备注：</label></td>

            <td class="td-input">

                <textarea name="post[desc]">{$row.desc}</textarea>

            </td>

        </tr>

     {/if}

        <tr class="tr-btn">

            <td class="td-label"></td>

            <td class="td-input">

                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>

                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>

            </td>

        </tr>



    </tbody>

    </table>



    </form>

</div>



