@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?cj98yz') format('truetype'),
    url('fonts/icomoon.woff?cj98yz') format('woff'),
    url('fonts/icomoon.svg?cj98yz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-客服:before {
  content: "\e900";
}
.icon-在线客服:before {
  content: "\e901";
}
.icon-x:before {
  content: "\78";
}
.icon-uniE600:before {
  content: "\e600";
}
.icon-uniE601:before {
  content: "\e601";
}
.icon-uniE602:before {
  content: "\e602";
}
.icon-uniE603:before {
  content: "\e603";
}
.icon-uniE604:before {
  content: "\e604";
}
.icon-uniE605:before {
  content: "\e605";
}
.icon-uniE606:before {
  content: "\e606";
}
.icon-uniE607:before {
  content: "\e607";
}
.icon-uniE608:before {
  content: "\e608";
}
.icon-uniE609:before {
  content: "\e609";
}
.icon-uniE60A:before {
  content: "\e60a";
}
.icon-uniE60B:before {
  content: "\e60b";
}
.icon-uniE60C:before {
  content: "\e60c";
}
.icon-uniE60D:before {
  content: "\e60d";
}
.icon-uniE60E:before {
  content: "\e60e";
}
.icon-uniE60F:before {
  content: "\e60f";
}
.icon-uniE610:before {
  content: "\e610";
}
.icon-uniE611:before {
  content: "\e611";
}
.icon-uniE612:before {
  content: "\e612";
}
.icon-uniE613:before {
  content: "\e613";
}
.icon-uniE614:before {
  content: "\e614";
}
.icon-uniE615:before {
  content: "\e615";
}
.icon-uniE616:before {
  content: "\e616";
}
.icon-uniE617:before {
  content: "\e617";
}
.icon-uniE618:before {
  content: "\e618";
}
.icon-uniE619:before {
  content: "\e619";
}
.icon-uniE61A:before {
  content: "\e61a";
}
.icon-uniE61B:before {
  content: "\e61b";
}
.icon-uniE61C:before {
  content: "\e61c";
}
.icon-uniE61D:before {
  content: "\e61d";
}
.icon-uniE61E:before {
  content: "\e61e";
}
.icon-uniE61F:before {
  content: "\e61f";
}
.icon-uniE620:before {
  content: "\e620";
}
.icon-uniE621:before {
  content: "\e621";
}
.icon-uniE622:before {
  content: "\e622";
}
.icon-uniE623:before {
  content: "\e623";
}
.icon-uniE624:before {
  content: "\e624";
}
.icon-uniE625:before {
  content: "\e625";
}
.icon-uniE626:before {
  content: "\e626";
}
.icon-notdef:before {
  content: "\e902";
}

