{include file='../public_btn.html'}

<div class="html-box">

    <form target="iframeNewsTarget" method="post" action="/manage/templates/edit">

    <input type="hidden" name="code" value="{$row.template_code}" />



    <table class="table-list">

    <tbody>



        <tr>

            <td class="td-label"><label>模板类别：</label></td>

            <td class="td-input">

                {if $row.type}

               {if $row.type=='sms'}短信{else}邮件{/if}

                {else}

                <select name="post[type]">

                    <option value="sms">短信模板</option>

                    <!--option value="mail">邮件模板</option-->

                </select>

                {/if}

            </td>

        </tr>



        <tr>

            <td class="td-label"><label>模板标识：</label></td>

            <td class="td-input">

                {if $row.template_code}

                {$row.template_code}

                {else}

                <input type="text" class="form-i w300" name="post[template_code]" value="{$row.template_code}" />

                {/if}

            </td>

        </tr>



        <tr>

            <td class="td-label"><label>模板名称：</label></td>

            <td class="td-input">

                <input type="text" class="form-i w300" id="template_subject" name="post[template_subject]" value="{$row.template_subject}" />

            </td>

        </tr>



        <tr>

            <td class="td-label"><label>模板内容：</label></td>

            <td class="td-input">

                <textarea name="post[template_content]" style="width:600px;height:200px;">{$row.template_content|stripcslashes}</textarea>

                <div class="form-tip">
                    {literal}
                    短信模板：不支持html结构<br>
                    验证码短信模板（云通讯）格式：1|verify_code<br>
                    中奖短信（云通讯）报备模板：亲 {1}，你已中奖，请登陆我们的官网！<br>
                    {/literal}
                </div>

            </td>

        </tr>



        <tr class="tr-btn">

            <td class="td-label"></td>

            <td class="td-input td-button">

                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>

                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>

            </td>

        </tr>



    </tbody>

    </table>



    </form>

</div>