{include file='../public_btn.html'}

<div class="html-box">

    <form class="cond-form clear" action="#!share/index" onsubmit="return xForm.submit(this)">

        <div class="f-unit">

            <select name="k" id="k">

                <option value="title"{if $smarty.get.k eq 'title'} selected{/if}>标题</option>

                <option value="content"{if $smarty.get.k eq 'content'} selected{/if}>内容</option>

                <option value="username"{if $smarty.get.k eq 'username'} selected{/if}>会员</option>

                <option value="obj_name"{if $smarty.get.k eq 'obj_name'} selected{/if}>晒单商品</option>

            </select>

            <input id="q" class="form-i w160 sitem" name="q" value="{$smarty.get.q}" type="text">

            <select name="is_show">

                <option value="">-是否显示-</option>

                <option value="1"{if $smarty.get.is_show eq '1'} selected{/if}>显示</option>

                <option value="99"{if $smarty.get.is_show eq '99'} selected{/if}>隐藏</option>

            </select>

            <select name="sort">

                <option value="addtime"{if $smarty.get.sort eq 'addtime'} selected{/if}>发布时间</option>

                <option value="listorder"{if $smarty.get.sort eq 'listorder'} selected{/if}>排序</option>

                <option value="is_rec"{if $smarty.get.sort eq 'is_rec'} selected{/if}>精华</option>

            </select>

            <select name="order">

                <option value="desc"{if $smarty.get.order eq 'desc'} selected{/if}>降序</option>

                <option value="asc"{if $smarty.get.order eq 'asc'} selected{/if}>升序</option>

            </select>

            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue">搜索</button>

        </div>

    </form>

    <form name="formlist" target="iframeNewsTarget" method="post" action="">

    <table class="list">

        <thead>

            <tr>

                <th class="w40">排序</th>

                <th class="w30">ID</th>

                <th class="w60">缩略图</th>

                <th class="w200">晒单商品</th>

                <th>标题/内容</th>

                <th class="w50">是否显示</th>

                <th class="w50">设为精华</th>

                <th class="w80">操作</th>

            </tr>

        </thead>

        <tbody>

            {foreach from=$list item=m}

            <tr>

                <td align='center'><input type='text' class='form-i-s w30' name='listorders[{$m.id}]' value='{$m.listorder}' /></td>

                <td class='id' align='center'>{$m.id}</td>

                <td><a href="{$smarty.const.RootUrl}minfo?id={$m.mid}#share#vid={$m.id}" target="_blank"><img src="{$m.thumb}" width="60" /></a></td>

                <td><a href="{$m.url}" target="_blank">{$m.obj_name}</a></td>

                <td>

                    <span>{$m.title}</span>

                    <a href="{$smarty.const.RootUrl}minfo?id={$m.mid}" target="_blank" class="c-orange">({$m.username})</a><br/>

                    <span class="c-gray">{$m.content}</span><br/>

                    <i class="c-disable">{$m.addtime|date_format:'Y-m-d H:i:s'}</i>

                </td>

                <td align='center'>

                    {if $m.is_show == 1}

                    <a href="javascript:;" onclick="main.chang_status('{$m.id}','share','is_show','id')" class="c-green" title="点击隐藏">显示</a>

                    {else}

                    <a href="javascript:;" onclick="main.chang_status('{$m.id}','share','is_show','id')" class="c-red" title="点击显示">隐藏</a>

                    {/if}

                </td>

                <td align='center'>

                    {if $m.is_rec}

                    <a href='javascript:;' class='c-green' onclick='if(confirm("确定设为普通吗？")) share.is_rec("{$m.id}",0)' title='点击设为普通'>精华</a>

                    {else}

                    <a href='javascript:;' class='c-red' onclick='if(confirm("确定设为精华吗（此操作将赠送会员{$common.rec_share_db}个{$L.unit_db_scores}）？")) share.is_rec("{$m.id}",1)' title='点击设为精华'>普通</a>

                    {/if}

                </td>

                <td class='opera' align='center' nowrap>

                    <a href='#!share/edit/?id={$m.id}' class='iconfont icon-a' title='编辑' target="_blank">&#xe603;</a>
                     {if $smarty.const.USER eq 'admin'}
                       <a href='javascript:;' onclick="main.confirm_del('share/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                     {/if}
                </td>

            </tr>

            {/foreach}

        </tbody>

    </table>

    <div class="foot-btn">

        <div class="pager r">{$page}</div>

        <button type="button" class="uiBtn BtnGreen" onclick="main.batch_order('formlist','order','share','','id')">更新排序</button>

    </div>

    </form>

</div>

<script type="text/javascript">

    $.loadJs('/admin/js/manage/share.js',function(){ });

</script>

