
/****************会员中心****************/
.main-pd{padding:10px 5px 10px 5px}
.center{clear: both;overflow: hidden;background: #fff;padding-bottom: 40px;position:relative;}
.center-top{clear: both;background: url(images/center-1.jpg) no-repeat center center;background-size: auto 100% !important;height:150px;}
.center-top span{float: right;}
.center-top span a{display: inline-block;overflow: hidden;float:left;color: #fff;margin-left:15px;}
.center-top span a i.iconfont{font-size:2em;-webkit-text-stroke-width: 0}
.center-top1{clear: both;overflow: hidden;position:absolute;bottom: 0;left: 0;width: 100%;}
.center-top1 dt{border-radius: 50%;float: left;border:2px solid #fff;display: inline-block;overflow: hidden;margin-right: 15px;}
.center-top1 dt img{width: 80px;}
.center-top1 dd{overflow: hidden;line-height: 1.8;}
.center-top1 dd big{display: block;overflow: hidden;height: 1.8em;font-size: 1.3em;color: #fff;margin: 2px 0;}
.center-top2{clear: both;overflow: visible;height:63px;color: #fff;margin: 0 -10px 10px; position: relative;}
.center-top2 label{ float: right; width: 100%; position: absolute; right: 0; bottom: 0; font-weight: normal;}
.center-top2 span{float: left;min-width:50%;padding: 0 10px;display: inline-block;overflow: hidden;}
.center-top3 a{float: right;background: #e54048;display: inline-block;padding: 0 10px;color: #fff;border-radius: 5px;}
.center-top3 span{overflow: hidden;}
.center-top3 span font{font-size: 1em; color:#e54048;}
.center-1{margin-top: 10px;background: #fff;clear: both;overflow: hidden;}
.center-2{clear: both;margin:0 -10px;text-align: center; overflow: hidden;border-bottom: 1px solid #dcdcdc;}
.center-2 a{float: left;width: 33.333%;display: inline-block;overflow: hidden;padding: 0 10px;}
.center-2 a i.iconfont{display: block;font-size: 2em;color: #676767;}
.center-3{line-height: 40px;clear: both;overflow: hidden;font-size: 14px;}
.center-3 a{display: block;clear: both;overflow: hidden;border-bottom: 1px solid #dcdcdc;padding:5px 10px;}
.center-3 a i.right{float: right;font-size: 20px;display: inline-block;color: #b9b9b9;}
.center-3 a p{overflow: hidden;}
.center-3 a p i.iconfont{float: left;width:1.5em;font-size:2em; text-align: center;display: inline-block;}
.center-4{background: #fff;margin: 10px 0;}
.main-rech{ background:url(images/center-rech1.jpg) no-repeat center 0;clear: both;overflow: hidden;color: #6d4021;background-size: auto 100% !important;line-height: 2.2;font-size: 1.1em;}
.main-rech p{min-height:7em;}
.main-rech1{clear: both;overflow: hidden; background: #fff;line-height: 2;}
.main-rech1 h3{font-size: 1.3em;padding: 10px 0;}
.main-rech1-1{clear: both;overflow: hidden;margin: 0 -5px;}
.main-rech1-1 li{padding: 5px;float: left;display: inline-block;overflow: hidden; text-align: center;width: 33.333%;}
.main-rech1-1 li span{border: 1px solid #d6d6d6;padding:0 5px;line-height: 1;display:block;overflow: hidden;color: #404040;line-height: 32px;}
.main-rech1-1 li span input{border: 0;width: 100%;line-height:32px;height: 32px;display: block;overflow: hidden; text-align: center;}
.main-rech1-2{clear: both;overflow: hidden;line-height: 2.5;}
.main-rech1-2 li{clear:both;overflow: hidden;border-bottom: 1px solid #dcdcdc;font-size: 1.1em;padding: 5px 0;}
.main-rech1-2 li label{font-weight:normal}
.main-rech1-2 li label input{vertical-align: middle;margin: 0 10px 0 0;display: inline-block;}
.main-rech2{clear: both;overflow: hidden;}
.main-rech2 input.form-control{background: #e54048;border:0;color: #fff;height: 2.5em;font-size: 1.3em;}
.main-rech2 input.form-control.main-rech2-1{background: #a7a7a7;margin-top: 10px;}
.center1{background: #fff;clear: both;overflow: hidden;line-height:3;margin-bottom: 10px;}
.center1 li{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;text-align: center;}
.center1 li a{display: block;border-bottom:2px solid #fff;}
.center1 li.hover a{border-bottom-color: #e54048;color: #e54048;}
.center1-1{clear: both;overflow: hidden;}
.center1-1 li{clear: both;overflow: hidden;background: #fff;margin-bottom:10px;}
.center1-2{clear: both;overflow: hidden;border-bottom: 1px solid #dcdcdc;}
.center1-2 dt{padding: 5px 10px;display:block;width: 100px;}
.center1-2 dt a{display: block;}
.center1-2 dt img{width: 100%;}
.center1-1 li dl dd{-moz-box-flex:8;-webkit-box-flex:8;box-flex:8;color: #a2a2a2;line-height: 1.8;}
.center1-2 dd big{display: block;font-size: 1em;margin-bottom: 5px;}
.center1-2 dd p span{color: #e54048;margin-right: 5px;}
.center1-2 dd p a{color: #0077fb;margin-left: 5px;}

.center1-4 span{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;display: block;}
.center1-4 span:nth-child(2){text-align: right;}
.center1-4 span font{font-size: 1em; color: #0077fb;margin-left: 5px;}
.center1-3{padding: 5px 10px;}
.center1-jd{margin: 5px 0;background: #eee;height: 10px;border-radius: 6px;overflow: hidden;}
.center1-jd span{display: block;background: #e54048;border-radius: 6px;overflow: hidden;height: 100%;}
.center1-3-1{margin: 0 -5px;}
.center1-3-1 span{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;display: block;padding: 10px 5px;}
.center1-3-1 span a{color: #0077fb;}
.center1-3-1 span font{font-size: 1em; color: #0077fb;margin-right: 5px;}
.center1-3 dt{margin:5px 0 5px 15px;font-weight: normal;}
.center1-3 dt a{border: 1px solid #e54048;display: block;padding: 0 0.5em;line-height:2.5;border-radius:5px;color: #e54048;overflow: hidden;min-width: 5.5em; text-align: center;}
.center1-3 dt a.center1-a1{background: #e54048;color: #fff;}
.center1-3 dt a.center1-a2{border-color: #cdcdcd;color: #cdcdcd;}
.center1-5{ text-align: center;clear: both;overflow: hidden;color: #8d8d8d;}
.center-empty{ text-align: center;font-size: 1.2em;padding: 25px 10px 35px;}
.center-empty p{clear: both;overflow: hidden;padding:5px 0;}
.center-empty p a{display: inline-block;border-radius: 5px; background: #e54048;color: #fff;padding: 0 1.5em;line-height:2.5;}
.center-love{background: #fff;padding-bottom: 0 !important;clear: both;overflow: hidden;}
.center-love h3{font-size: 1.2em;padding: 5px 0;}
.center-love1{clear: both;overflow: hidden;margin: 0 -10px;padding: 10px 0 0;}
.center-love1 li{padding: 10px;float:left;width: 50%;display: inline-block;overflow: hidden;border: solid #dcdcdc;border-width: 1px 1px 1px 0;margin-bottom: -1px;z-index: 1;position: relative;padding: 10px;}
.center-love1 li:nth-child(2n){border-right: 0;}

.center-love1 li em{ display: block; overflow: hidden;height: 138px; margin-bottom: 5px; text-align: center; margin: 0 auto; width: 138px;}
.center-love1 li em a{ display: table-cell; height: 138px; text-align:center;vertical-align: middle; width: 138px;}
.center-love1 li em img{max-width:138px;max-height: 138px;}
.center-love1 li h5{ overflow: hidden;font-size: 1em; line-height: 1.8; height: 1.8em; clear: both; margin-bottom: 5px !important; margin-top:5px;}
.center-love1 li h5 a{display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.center-love1 li h5 span{ color: #e54048;float: left; display:inline-block; overflow: hidden;margin-right: 5px;}
.center-love1 li h5 p{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.new-box1{clear: both;overflow: hidden;}
.new-box1 dt{float: right;margin-left:10px; display: inline-block;line-height: 1.5;}
.new-box1 dt i.iconfont{font-size:2.5em;color: #e54048;-webkit-text-stroke-width: 0;font-weight: lighter;}
.new-box1 dd{overflow: hidden;}
.new-box1-1{clear: both;overflow: hidden;color: #616161;}
.new-box1-2{border-radius: 7px; height: 7px;width: 100%;margin-top: 8px;overflow: hidden;background: #eee;}
.new-box1-2 span{display: block;height: 100%;background: #e54048;border-radius: 7px;}


@media only screen and (min-width:480px) {

.main-pd{padding:20px;}
.center{padding-bottom:60px;}
.center-top{height: 220px;}
.center-top1 dt{margin-right:30px;}
.center-top1 dt img{width:110px;}
.center-top1 dd{padding-top: 10px;}
.center-top3 a{padding:0 20px;}
.center-top2{margin: 0 -10px 20px;}
.center-1{margin-top: 20px;}
.center-4{margin: 20px 0;}
.center-2{margin: 0 -20px;}
.center-3 a{padding: 10px 20px;}
.main-rech1-1{margin: 0 -10px;}
.main-rech1-1 li{padding: 10px;}
.main-rech1-1 li span input{line-height: 40px;height: 40px;}
.main-rech1-1 li span{line-height: 40px;}
.main-rech1-2 li{padding: 10px 0;}
.center1,.center1-1 li{margin-bottom: 20px;}
.center1-2 dt{width: 140px;padding:0 20px;}
.center1-3{padding: 5px 20px;}
.center1-3 dt{margin: 5px 0 5px 25px;}
.center-empty{padding: 35px 20px 55px;}
.center-empty p{padding: 10px 0;}
.center-love1{margin: 0 -20px;padding-top: 20px;}
.center-love1 li{padding: 20px;}
}
/*夺宝、领奖*/
.center-detail{clear:both;overflow: hidden;color: #989898;line-height:1.8;}
.center-detail h1{font-weight: normal;font-size: 1.4em;color: #555555;line-height: 1.5;padding: 10px 0;}
.center-detail p span{color: #e54048;}
.center-detail1{text-align: center;margin: 10px 0;background: #fff;clear: both;overflow: hidden;color: #a2a2a2;line-height: 1.5;}
.center-detail1 span{color: #e54048;padding: 0 5px;}
.center-detail-table tr td{border-top:1px solid #dcdcdc;padding:10px 5px;line-height: 1.8;color: #515151;}
.center-detail-table tr td a{color: #077dfc;}
.center-detail1-1{clear: both;overflow: hidden;border-top: 1px solid #DCDCDC;margin: 0 -10px; text-align: left;}
.center-detail1-1 span{float: left;display: inline-block;padding:0 10px;line-height: 2;color: #515151;width: 25%;}
.center-award{clear: both;overflow: hidden;line-height: 2;background: #fff;margin-bottom: 10px;}
.center-award.center-award-1{margin-bottom: 0;}
.center-award1{font-size: 1.2em;border-bottom: 1px solid #e5e5e5;}
.center-award1 p{-moz-box-flex:8;-webkit-box-flex:8;box-flex:8;}
.center-award1 a{color: #e54048;display: inline-block;margin-left: 10px;}
.center-award2{clear: both;overflow: hidden;}
.center-award2 li{clear: both;overflow: hidden;padding: 10px;border-bottom: 1px solid #e5e5e5;position: relative;line-height: 2;}
.center-award3{clear: both;overflow: hidden;padding: 0 40px 0 30px;background: url(images/center-award.png) no-repeat 0 center; background-size:20px auto !important;}
.center-award3 p{clear: both;overflow: hidden;padding:1px 0;}
.center-award3 p span{float: left;margin-right: 10px; color: #ababab;display: inline-block;}
.center-award3 p font{font-size: 1em;overflow: hidden;display: block;}
.center-award3-1{position:absolute;right: 10px; top: 50%;margin-top:-1em;line-height:2;font-size: 2em;color: #ababab; text-align: right;display: none;z-index: 2;}
.center-award3-1 i.iconfont{font-size: 1em;}
.center-award2 li.hover .center-award3{background-image: url(images/center-award1.png);}
.center-award2 li.hover .center-award3-1{display: block;}
.center-award4{clear: both;overflow: hidden;}
.center-award4 li{display:-webkit-box;display:-webkit-box;display:box;padding: 10px;clear: both;overflow: hidden;border-bottom: 1px solid #e5e5e5;}
.center-award4 li:last-child{border: 0;}
.center-award4 li em{display:block;width: 80px;margin-right: 10px;}
.center-award4 li em img{width: 100%;}
.center-award4-1{-moz-box-flex:8;-webkit-box-flex:8;box-flex:8;line-height: 1.5;overflow: hidden;}
.center-award4-1 big{display: block;font-size: 1.1em;overflow: hidden;}
.center-award4-1 p{margin-top: 8px;color: #e54048;}
.center-award4-1 p span{float: right;color: #434343;margin-left: 5px;}
.center-textarea{width: 100%;border: 1px solid #e5e5e5;padding: 5px;line-height: 1.5; resize: none;outline: none;margin: 5px 0;display: block;overflow: hidden;}
.center-addr{clear: both;overflow: hidden;background: #fff;border-bottom:1px solid #dbdbdb;}
.center-addr1{clear: both;overflow: hidden;}
.center-addr1 li{clear: both;/*overflow: hidden;*/border: 1px solid #e5e5e5;color: #ababab;margin: 10px;position: relative;}
.center-addr-1{border: 0;width: 100%;outline: none;position: relative;z-index: 3;line-height: 1;height:3;color: #ababab;padding: 1em 10px;}
.center-addr1 li em{position: absolute;left: -1px;top: -1px;height:80%;width: 102%;overflow: hidden;z-index: 1; background: #fff;}

input.center-addr-1::-moz-placeholder {color: #ababab;opacity: 1;}
input.center-addr-1:-ms-input-placeholder {color: #ababab;}
input.center-addr-1::-webkit-input-placeholder {color: #ababab;}

select.center-addr-1 {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  /*很关键：将默认的select选择框样式清除*/
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background:#fff;
}
.center-addr2{border-top: 1px solid #dbdbdb; clear: both;overflow: hidden;line-height:1.8;}
.center-addr2 p{-moz-box-flex:8;-webkit-box-flex:8;box-flex:8;overflow: hidden;}
.center-addr2 i{background: url(images/center-award.png) no-repeat center center;width: 1.8em;height:1.8em;background-size:1.8em auto !important;display: block;}
.center-addr2.hover i{background-image: url(images/center-award1.png);}
@media only screen and (min-width:480px) {
.center-detail1{margin: 20px 0;}
.center-detail-table tr td{padding: 15px 10px;}
.center-detail1-1 span{width: 20%;}
.center-award{margin-bottom: 20px;}
.center-award1.main-pd{padding: 15px 20px;}
.center-award2 li,.center-award4 li{padding: 20px;}
.center-award3{padding: 0 60px 0 40px; background-size: 30px auto !important;}
.center-award3-1{right: 20px;font-size: 2.2em;}
.center-award4 li em{width: 100px;margin-right: 25px;}
.center-award4-1 p{margin-top: 12px;}
.center-addr1 li{margin:15px 20px;}
.main-rech2 input.form-control.main-rech2-1{margin-top: 20px;}
.center-addr2.main-pd{padding: 15px 20px; line-height: 2.2;}
.center-addr2 i{height: 2.2em;width: 2.2em;background-size: 2.2em auto !important;}
}
/*订单*/
.center-order li{margin-bottom: 10px;background: #fff;clear: both;overflow: hidden;border:solid #dbdbdb;border-width: 1px 0;}
.center-order-1{clear: both;overflow: hidden;padding:10px;line-height: 1.8;}
.center-order-1 span{float: right;margin-left: 10px;display: inline-block;color: #434343;}
.center-order-1 span font{font-size: 1em;color: #ff2e45;}
.center-order-1 p{overflow: hidden;color: #ababab;}
.center-order-bg{background: #eaedf4;}
.center-order-2{clear: both;overflow: hidden;border: solid #dbdbdb;border-width: 1px 0;}
.center-order-2 dt{width: 80px;margin-right: 15px;overflow: hidden;}
.center-order-2 dt img{width: 100%;}
.center-order-2 dd{-moz-box-flex:8;-webkit-box-flex:8;box-flex:8;overflow: hidden;line-height: 1.5;}
.center-order-2 dd big{display: block;font-size: 1.1em;}
.center-order-2 dd p{margin-top:6px;line-height: 2.5;clear: both;overflow:hidden;}
.center-order-2 dd p a{float: right;border: 1px solid #e54048;display: inline-block;padding: 0 0.5em;border-radius:5px;color: #e54048;overflow: hidden; text-align: center;min-width: 5em;}
.center-order-2 dd a.center1-a1{background: #e54048;color: #fff;}
.center-order-2 dd a.center1-a2{border-color: #cdcdcd;color: #cdcdcd;}
.center-order-2 dd span{overflow: hidden;color: #ff2e45;}
.center-order1{clear: both;overflow:hidden;font-weight: normal;padding: 0 0 10px;font-size: 1.1em;color: #434343;line-height: 1.8;}
.center-order1-1{clear: both;overflow: hidden;padding-bottom: 10px;}
.center-order1-1 dt{padding: 10px;clear: both;overflow: hidden;color: #fff;font-weight: normal;background: #e54048;font-size: 1.1em;line-height: 1.8;}
.center-order1-1 dd{background: #fff;padding: 10px;line-height: 1.8;}
.center-order1-1 .center-award4 li{padding: 10px 0;}
.center-order1-2{clear: both;overflow: hidden;}
.center-order1-2 p{clear: both;overflow: hidden;padding:1px 0;}
.center-order1-2 p span{float: left;margin-right: 10px; color: #ababab;display: inline-block;}
.center-order1-2 p font{font-size: 1em;overflow: hidden;display: block;}
.center-order1-1.center-order1-bg dt{background: #adb3bc;}
.center-order1-3{margin: 0 -10px;clear: both;overflow: hidden;border-top: 1px solid #d9d9d9;padding-bottom: 0;}
.center-order1-3 li{clear: both;overflow: hidden;border-bottom: 1px solid #e5e5e5;padding:10px 0; color: #000;}
.center-order1-3 li:last-child{border: 0;padding-bottom: 0;}
.center-order1-3 li span{float: right;}
.center-order1-3 li p{font-size: 1em;overflow: hidden;display: block;}
.center-order1-3 li.center-order1-color,.center-order1-3 li.center-order1-color2{border-bottom-color: #ff2e45;}
.center-order1-3 li.center-order1-color1,.center-order1-3 li.center-order1-color2{color: #ff2e45}
.center-sun{clear: both;overflow: hidden; position: relative;}
.center-sun dt img{width: 100%;}
.center-sun dd{ position: absolute; bottom: 12%;left:0; width: 100%; text-align: center;z-index: 1;}
.center-sun dd a{display: inline-block;color: #fff;border: 1px solid #fff;border-radius: 5px;overflow: hidden;padding:0 1.5em;line-height: 2.4;}
.center-sun1{clear: both;overflow: hidden;line-height: 1.8;}
.center-sun1 h3{line-height: 1.5;font-size: 1.2em;border-bottom: 1px solid #dcdcdc;padding: 10px 0;}
.center-sun1-1{clear: both;overflow: hidden; padding: 10px 0;border-bottom: 1px solid #dcdcdc;}
.center-sun1-1 em{float: left;width: 80px; margin-right: 15px;display: inline-block;}
.center-sun1-1 em img{width: 100%;}
.center-sun1-1 .center-award4-1 big{padding-top: 10px;}
.center-sun1-2{clear: both;overflow: hidden;padding: 10px 0;border-bottom: 1px solid #dcdcdc;line-height: 26px;}
.center-sun1-2 span{float: left;margin-right:5px;display: inline-block;font-size: 1.2em;overflow: hidden;}
.center-sun1-2 p{overflow: hidden;}
.center-sun1-2 p input{border: 0;width: 100%;line-height: 26px; height: 26px;overflow: hidden;}
.center-sun1-2 p textarea{border: 0;width: 100%;line-height: 26px;overflow: hidden;}
.center-sun1-3{clear: both;overflow: hidden;padding: 10px 0;line-height: 1.3;}
.center-sun1-3 span{float: left;border: 1px solid #cdcdcd;padding:10px 5px;display: inline-block; text-align: center;margin: 0 5px 5px 0;}
.center-sun1-3 span img{width: 100%;}
.center-sun1-4 small,.center-sun1-4 big{display: block;color: #cdcdcd;}
.center-sun2{border-radius: 5px;background: #fff;clear: both;overflow: hidden;}
.center-sun2-1{background: url(images/center-sun1.jpg) repeat-x center 0;clear: both;overflow: hidden;padding-top:10px; background-size:18px auto !important; }
.center-sun2-1 h1{text-align: center;color: #434343;padding: 15px 0;font-size: 1.3em;line-height: 1.5;}
.center-sun2-2{clear: both;overflow: hidden;padding: 10px 0;border-top: 1px solid #e2e2e2;line-height: 2;color: #818181;}
.center-sun2-2 h4{clear: both;overflow: hidden;color: #434343;padding-bottom: 10px;line-height: 2;font-size: 1em;}
.center-sun2-2 h4 span{float: right;color: #e54048;margin-left: 5px; display: inline-block;overflow: hidden;}
.center-sun2-2 h4 p{overflow: hidden;}
.center-sun3{padding-top: 10px;clear: both;overflow: hidden; text-align: center;}
.center-sun3 p{ text-align:left;padding-bottom: 10px;line-height: 1.5;}
.center-sun3 a{display: block;color: #fff;border-radius: 5px;background: #e54048;line-height: 3;font-size: 1.2em;}
.center-invite{clear:both;overflow: hidden;margin-top: 10px;background: #fff;padding-bottom: 10px;}
.center-invite-img{clear: both;overflow:hidden;}
.center-invite-img img{width: 100%;}
.center-invite1{clear: both;overflow: hidden;font-size: 1.1em;line-height:30px;padding: 20px 0;}
.center-invite1 a{float: right;background: #e54048;border-radius: 5px;display: inline-block;padding: 0 0.5em;margin-right: 10px;color: #fff;width:5.5em; text-align: center;}
.center-invite1 span{float: left;background: url(images/center-invite.png) no-repeat center center;width:30px;background-size:auto 100% !important;text-align: center;color: #fff;line-height: 20px;padding-top: 10px;margin-right: 10px;}
.center-invite1 p{overflow: hidden;font-size: 1.1em;}
.center-invite2{border-radius: 5px;border: 1px dashed #f79700;clear: both;overflow: hidden;color: #818181;line-height: 1.8;}
.center-invite3{clear: both;overflow: hidden;background: #fff;margin-top: 10px;}
.center-invite3 li{clear: both;overflow: hidden;padding: 10px;border-bottom: 1px solid #dcdcdc;}
.center-invite3-1{float: right;margin-top: 1.7em;border-radius: 5px;width: 5.5em;text-align: center;color: #fff;background: #e54048;line-height: 2.5;display: inline-block;overflow: hidden;margin-left: 5px;}
.center-invite3-1.center-invite3-color{background: #ddd;}
.center-invite3-1.center-invite3-color1{background: #9e9e9e;}
.center-invite3 li em{float: left;width: 70px;margin-right: 10px;display: inline-block;border-radius: 50%;overflow: hidden;}
.center-invite3 li em img{width: 100%;}
.center-invite3-2.center-invite3-3{padding-top: 0;}
.center-invite3-2{overflow: hidden;line-height:1.8;color: #818181;padding-top: 12px;}
.center-invite3-2 big{display: block;font-size: 1.1em;overflow: hidden;color: #434343;}
.center2{background: #fff;clear: both;overflow: hidden;margin-top: 10px;line-height: 1.8;}
.center2 table{word-break: break-all; text-align: center;color: #818181;}
.center2 table tr td{border-bottom: 1px solid #dcdcdc;padding: 5px;}
.center2 table tr:last-child td{border-bottom: 0;}
.center2-1 td{color: #434343;}
@media only screen and (min-width:480px) {
.center-order-1{padding: 15px 20px;}
.center-order li{margin-bottom: 20px;}
.center-order-2 dt{width: 100px;margin-right: 25px;}
.center-order1,.center-order1-1{padding-bottom: 15px;}
.center-order1-1 dt{padding:10px 20px;}
.center-order1-1 dd{padding:0 20px 20px;}
.center-order1-1 .center-award4 li,.center-sun1 h3,.center-sun1-1,.center-sun1-2,.center-sun1-3{padding: 20px 0;}
.center-sun1-4{padding: 20px 10px;margin: 0 10px 10px 0;}
.center-sun2-1{background-size: 25px auto !important;padding: 20px 0;}
.center-sun2-1 h1{padding: 25px 0;}
.center-sun2-2{padding: 20px 0;}
.center-sun2-2 h4{padding-bottom: 20px;}
.center-sun3{padding-top: 20px;}
.center-sun3 p{padding-bottom: 20px;}
.center-invite3,.center2{margin-top: 20px;}
.center-invite3 li{padding: 20px;}
.center-invite3 li em{width: 100px;margin-right: 20px;}
.center-invite3-1{margin-top: 2.2em;}
.center-invite3-2{padding-top:25px;}
.center2 table tr td{padding: 13px;}
}
.center-money{clear: both;overflow: hidden;background: #fff;border-bottom: 1px solid #dcdcdc; position: relative;color: #ababab;}
body .center-money:last-child{border: 0;}
.center-money dt{position:absolute;right: 10px;top:50%;margin-top: -15px;line-height: 30px;font-weight: normal;}
.center-money dt a{float: left;border-radius: 5px;display: inline-block;color: #fff; background: #e54048;min-width:5em; text-align: center;padding: 0 5px;margin-right: 10px;}
.center-money dd{overflow: hidden;padding-right: 8em;line-height:1.5;}
.center-money dd big{display: block;font-size: 1.2em;color: #434343;}
.center-money dd strong{display: block;font-size: 1.5em;color: #e54048;padding: 5px 0;}
.center-money.hover{color: #fff;background: #e54048;border-bottom-color: #e54048;}
.center-money.hover dd big,.center-money.hover dd strong{color: #fff !important;}
.center-money.hover dt a{background: #fff;color: #E54048;}
.center-brank{border-top: 1px solid #dadada;color: #434343;}
.center-brank li{clear: both;overflow: hidden;border-bottom: 1px solid #dadada;}
.center-brank1{clear: both;overflow: hidden;}
.center-brank1 dt{float: right;overflow: hidden;line-height: 36px;font-weight: normal;padding-top: 10px;}
.center-brank1 dt i.iconfont{float: right;font-size: 1.2em;}
.center-brank1 dt p{float: left;margin: 0 10px;display: inline-block;color: #ababab;}
.center-brank1 dt p.center-brank-color{color: #e54048;}
.center-brank1 dd{overflow: hidden;line-height:1.8;}
.center-brank1 dd big{display: block;clear: both;overflow: hidden;font-size: 1.2em;color: #000;}
.center-brank1 dd p{color: #ababab;}
.center-brank2{clear: both;overflow: hidden;display: none;}
.center-brank2 i.iconfont{font-size:20px;margin:-12px 0 0 10px;clear: both;overflow: hidden;color: #ededed;line-height: 1;display: block;}
.center-brank2 dl{clear: both;overflow: hidden;}
.center-brank2 dl dd{clear: both;margin: 5px -5px;overflow: hidden;}
.center-brank2 dl dd p{float: left;display: inline-block;min-width: 50%;padding: 5px;overflow: hidden;}
.center-brank2 dl dt{border-top: 1px dotted #ababab;clear: both;overflow: hidden;padding: 10px 0 0;line-height: 2.3;font-weight:normal}
.center-brank2 dl dt a{float: right;display: inline-block;overflow: hidden;min-width: 5.5em; text-align: center;background: #52c100;color: #fff;border-radius: 5px;}
.center-brank2 dl dt p{overflow:hidden;color: #fe0000;}
.center-brank li.hover .center-brank1{background: #ededed;}
.center-brank li.hover .center-brank1 dt i.iconfont:before{content: '\e721';}
.center-brank li.hover .center-brank2{display: block;}
.center-brank3{clear: both;background: #fff;overflow: hidden;line-height: 2;}
.center-brank3 li{clear: both;overflow: hidden;border-bottom: 1px solid #e6e6e6;padding: 5px 10px;}
.center-brank3 li span{float: left;display: inline-block;margin-right: 10px;overflow: hidden;width:6em;}
.center-brank3 li span font{height: 2em;display: inline-block;color: #ff2e45;padding-right: 3px;}
.center-brank3 li p{overflow: hidden;}
.center-brank3 li p input{border: 0;width: 100%;height: 2em;line-height: 2;color: #434343;}
select.center-brank3-1 {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  /*很关键：将默认的select选择框样式清除*/
  outline: none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background:url(images/center-brank.png) no-repeat right center #fff;border: 0;width: 100%; background-size: auto 7px !important;padding: 0 20px 0 0;
}

.main-rech2.center-brank3-2 input.form-control{background: #fac11d;}
.center3-1{clear: both;overflow: hidden;color: #e54048;padding-bottom: 10px;}
.center3{clear: both;overflow: hidden;font-size: 1.1em;padding-bottom: 10px;}
.center3 li{clear: both;overflow: hidden;margin-bottom: 10px; position: relative;line-height: 42px;}
.center3 li.center3-2{border: 1px solid #dadada;padding-right: 10px;}
.center3 li.center3-2 .center3-w{border: 0;padding: 0;}
.center3 li.center3-3 input.center3-w1{padding: 0 10px;}
.center3 li span{float: left;padding: 0 10px;display: inline-block;color: #ababab;}
.center3 li i{position:absolute;height:42px;left: 0;top:0;width:40px; text-align: center;font-size: 22px;line-height: 42px;}
.center3-i1{border: 1px solid #dadada;overflow: hidden;line-height: 40px; height: 42px;padding:0 40px;display: block;}
.center3-w{width: 100%;}
.center3-w1{width: 60%;float: left;margin-right:15px;}
.center3 li p{overflow: hidden;}
.center3-i2{overflow: hidden;display: block;background: #06cca3;border-radius: 5px;height: 42px; text-align: center;color: #fff;border: 0;width: 100%;}
.center-bank{position: fixed;bottom: 0;left: 0;width: 100%; text-align: center;font-size: 1.2em;line-height: 2.5;z-index: 2;background: #fff;}
.center-bank a{display: block;background: #fff;border: 1px solid #dadada;color: #ababab;border-radius: 5px;}
.center-bank1{margin-bottom:40px;clear: both;overflow: hidden;}
.center-bank1 li{position: relative;clear: both;overflow: hidden;border-radius: 5px;margin-bottom: 10px;color: #fff;line-height: 1.8;}
.center-bank1-1{overflow: hidden;padding-right:50px;font-size: 1.2em;}
.center-bank1-1 small{font-size: 0.9em;display: block;overflow: hidden;}
.center-bank1-1 big{display: block;padding-top:0.8em;font-size: 1.2em;overflow: hidden;}
.center-bank1-1 big span{float: left;margin-right:1em;display: inline-block;}
.center-bank1-1 big span:last-child{margin-right: 0;}
.center-bank1 li a.right{color: #fff;display: block;position: absolute;z-index: 1;text-align: center;width:60px;top:50%;margin-top: -2em;right:0;line-height: 1.5;}
.center-bank1 li a.right i.iconfont{font-size:2em;display: block;line-height: 1.2;}
.center-safe{clear: both;overflow: hidden;background: #fff;}
.center-safe li{clear: both;overflow: hidden;border-bottom: 1px solid #d0d8de;padding: 5px 10px;line-height:32px;}
.center-safe li a{display: block;clear: both;overflow: hidden;}
.center-safe li span{float: right;overflow: hidden;display: inline-block;margin-left: 10px;color: #888;}
.center-safe li font{font-size: 1em;display: inline-block;float: left;}
.center-safe li span i.iconfont{font-size:1.5em; color: #b9b9b9;float: left;}
.center-safe li p{overflow:hidden;}
.center-safe li p i.iconfont{float: left;font-size:2em;display: inline-block;margin-right: 0.3em;}
.center-safe li p input{width: 100%;border: 0;line-height: 32px;height: 32px;}
.center-safe.center-safe1{background: none;padding: 10px 0 0;}
.center-safe.center-safe1 li{background: #fff;}
.center-safe.center-safe1 li.center-safe1-1{margin-bottom: 10px;}
.center-safe.center-safe1 li.center-safe1-2{line-height: 60px;}
.center-safe.center-safe1 li.center-safe1-2 font img{border:2px solid #dadada;height:60px;display: block;border-radius: 50%;}
.center-addr3{clear: both;overflow: hidden;margin: 10px 0;border-top: 1px solid #e5e5e5;}
.center-addr3 li{background: #fff;clear: both;overflow: hidden;border-bottom: 1px solid #e5e5e5;padding: 10px;line-height: 1.8;}
.center-addr3 li a.right{float: right;display: inline-block;margin: 2em 0 0 1em;overflow: hidden;color: #ababab;}
.center-addr3 li a.right i.iconfont{font-size: 1.5em;}
.center-addr3 li .center-award3{overflow: hidden;padding: 0;background: none;clear: none;}
.center3.center-identity li input{padding: 0 10px;}
.center-identity1{font-size: 1.2em;clear: both;overflow: hidden;line-height: 1.5;}
.center-identity1 span{float: right;color: #ff2e45;margin-left: 10px; display: inline-block;}
.center-identity2{clear: both;overflow: hidden;margin:5px -10px;}
.center-identity2 li{float: left;width: 50%;padding: 10px;overflow: hidden;display: inline-block;text-align: center;}
.center-identity2 li img{width: 100%;}
.center-img{display: block; line-height: 1.8;}
.center-img p{padding-top: 10px;}
.center-text{background: #e7e7e7;border-radius: 5px;display: block;overflow: hidden;padding: 30px 0;line-height:1.4;color: #ababab;}
.center-text big{display: block;font-size: 1.3em;font-weight: bold;}
@media only screen and (min-width:480px) {
.center-brank2 i.iconfont{margin: -21px 0 0 10px;}   
.center-brank2 dl dd{margin: 10px -5px;} 
.center-brank2 dl dt{padding-top: 20px;}    
.center-brank3 li{padding: 10px 20px;}
select.center-brank3-1{background-size: auto 10px !important; }
.center3-1{padding-bottom:20px;}
.center3 li{margin-bottom: 20px;line-height: 50px;}
.center3 li i{line-height:50px;height: 50px;font-size:30px;width: 50px;}
.center3-i1{line-height: 48px; height: 50px;padding:0 50px;}
.center3-i2{height: 50px;}
.center3 li.center3-2{padding-right:20px;}
.center3 li.center3-3 input.center3-w1{padding: 0 20px;}
.center3 li span{float: left;padding: 0 20px;}
.center-bank1{margin-bottom:45px;}
.center-bank1 li{margin-bottom: 20px;}
.center-bank1 li a.right{width: 80px;}
.center-safe li{padding:10px 20px;line-height:42px;}
.center-safe li p input{height: 42px; line-height: 42px;}
.center-safe.center-safe1{padding: 20px 0 0;}
.center-safe.center-safe1 li.center-safe1-1{margin-bottom:20px;}
.center-safe.center-safe1 li.center-safe1-2{line-height:80px;}
.center-safe.center-safe1 li.center-safe1-2 font img{height:80px;}
.center-addr3{margin-top: 20px;}
.center-addr3 li{padding:20px}
.center3.center-identity li input{padding: 0 20px;}
.center-text{padding: 40px 0;}
.center-identity2{margin: 10px -10px;}
}


























