

.hide {
	display: none;
}

.show {
	display: block;
}
.pic_edit h2{ text-align: center;font-size: 1.4em;clear: both;overflow: hidden;padding: 10px;line-height: 1.5;}
.pic_edit {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;}

#clipArea {
	margin: 0 auto;
	height: 300px;
}
.pic_edit p span{width: 50%;float: left;display: inline-block;padding: 10px;position: relative;}
.pic_edit p span button{background: #ff2e45;color: #ffffff;border-radius: 5px;border:0 ;width: 100%;padding: 10px;}

#hit {
	position: fixed;
	top: 19%;
	left: 9.375%;
	background: gainsboro;
}

.logo {
	position: absolute;
	bottom: 12%;
	z-index: 100;
	width: 46%;
	left: 27%;
}

/*适应小屏*/
@media screen and (max-height: 450px) {
	.show_labour .show_img {
		width: 75%;
		margin-top: 22%;
	}

	.show_labour .show5 {
		width: 80%;
		left: 10%;
		margin-top: 22%;
	}

	.show_labour .show5_btn {
		width: 62%;
	}

	#clipBtn, #upload2 {
		margin-top: 0px;
		padding: 5px 20px;
	}

}
.lazy_tip{
    position: absolute;
    margin-top: 35%;
    z-index: 1001;
    font-size: 1.5em;
    width: 100%;
    color: #ffffff;
    line-height: 30px;
}

.lazy_cover {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    color: #ffffff;
    font-size: 25px;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
}