{include file="header.html"}
<link type="text/css" rel="stylesheet" href="/style/css_02/style.css" />
<link type="text/css" rel="stylesheet" href="/style/css/member.css" />
<link type="text/css" rel="stylesheet" href="/style/css_02/merchant.css" />
<div class="container menu-show">
    {include file="business/ur_here.html"}
    {include file="business/menu.html"}
    <div class="fn-right hy-r" id="m">
        <div class="shop-right">
            <h3>店铺设置</h3>
        </div>
        <div class="shop-bor">
            <form action="" method="post" target="iframeNews">
            <ul class="shop-set4 box-sizing">
                <li><textarea rows="20" name="intro" class="shop-textarea" placeholder="请输入您的店铺介绍~">{$business_row.bus_intro}</textarea></li>
                <li><input type="submit" name="submit" value="保存修改" class="shop-set3"></li>
            </ul>
            <p></p>
            </form>
        </div>
    </div>
</div>
<div class="merchant"></div>
{include file="footer.html"}
<script src="/style/css_02/common_02.js"></script>