@charset "utf-8";
/* CSS Document */

.head-fx1{display: none !important;}

/**************banner**************/
.banner{height: 420px;position: relative;clear: both;overflow: hidden;min-width: 1210px; width: 100%;}
.banner1 .bd ul li a{height: 420px;display: block;background-repeat: no-repeat;background-position: center center;}
.banner1 .hd{position: absolute;bottom:10px;width: 100%; text-align: center;z-index: 2;}
.banner1 .hd li{border-radius: 50%;background: #fff;margin:5px;height: 12px; width: 12px;overflow: hidden;display: inline-block;line-height: 22;cursor: pointer;}
.banner1 .hd li.on{background: #e54048;}
.banner .menu{position: absolute;top: 0;height: 100%;width:240px;left: 50%;margin-left: -605px;z-index: 3;}
.banner .screen-left{background:rgba(0,0,0,.6);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#99000000');font-size: 16px;}
.banner-hot{position: absolute;top: 0;height: 100%;width: 250px;left: 50%;margin-left: 355px;background:rgba(0,0,0,.23);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000');z-index: 3;padding:4px;}
.banner-top{position: absolute;left: 20px;top: 4px; background:url(images/banner-2.png) no-repeat center center;height: 31px; width: 85px; text-align: center;color: #fff;font-weight: bold;padding-bottom: 5px;line-height: 26px;font-size: 14px;z-index: 4;}
.banner-hot1{background: #fff;clear: both;overflow: hidden;width: 100%;height: 100%; padding:35px 10px;line-height: 1.8;position: relative;}
.banner-hot1 .bd li em{display: block;overflow: hidden;padding:10px;}
.banner-hot1 .bd li em a{height: 160px; width: 202px; display: table-cell;vertical-align: middle;text-align: center;overflow: hidden;}
.banner-hot1 .bd li em a img{max-height: 160px; max-width: 202px;}
.banner-title a{display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000;}
.banner-title a:hover{color:#e54048;}
.banner-money{white-space: nowrap;overflow: hidden;}
.progressBar { margin-top:8px;clear: both;overflow: hidden;line-height: 1.5;}
.progressBar-wrap { height:9px; margin-bottom:8px; overflow:hidden; background-color:#e5e5e5;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.progressBar-wrap span { display:block; height:100%; width:0; background:url('../images/progress.png') no-repeat left -7px;}
.progressBar-txt { height:40px; overflow:hidden; color:#999; position: relative;}
.progressBar-txt div { width:30%; float:left;}
.progressBar-txt div.txt-r{ float: right;}
.progressBar-txt b { font-weight:normal; color:#f60; font-size: 14px;}
.progressBar-txt .txt-r { text-align:right;}
.progressBar-txt .txt-r b{ color: #2AF}
.progressBar-txt .txt-c{ width: 100px; text-align:center; position: absolute; left: 50%; margin-left: -50px; float: none; }
.progressBar-txt .txt-c b{ font-size: 14px; color: #999; }
.btn-go-box{ display:block; margin:10px auto 0; text-align: center;overflow: hidden; height: 37px;}
.btn-go-box .btn-go{ display: inline-block; width:118px; overflow:hidden; height: 37px; text-align: center; line-height: 37px; font-size: 16px; color: #fff; font-weight: bold; background: #e54048; border-radius: 5px; }
.btn-go-box .btn-go.btn-go-cart{ width: 37px;background: url(images/banner-car1.png) no-repeat center center;margin-left: 10px;}
.banner-hot1 .hd{position: absolute;bottom:2px;width: 100%;z-index: 5; text-align: center;}
.banner-hot1 .hd li{margin: 3px 5px;display: inline-block;line-height: 55;width: 10px; height: 10px;overflow: hidden; background: #e5e5e5;border-radius: 50%;}
.banner-hot1 .hd li.on{background: #e54048;}

/**************index**************/
.index-ad{background: #f5f5f5;min-width: 1210px;clear:both;overflow: hidden;line-height: 50px;font-size: 14px;}
.index-ad a.ui-right{background: url(images/index-ad1.png) no-repeat right center;padding:0 25px ;display: inline-block;margin-left:170px;}
.index-ad strong.ui-left{background: url(images/index-ad.png) no-repeat 0 center;padding: 0 25px;color: #000;}
.index-ad1{overflow: hidden;}
.index-ad1 ul li a{display: block;overflow: hidden;}
.index-ad1 ul li a span{float: right;margin: 0 10px;display: inline-block;}
.index-ad1 ul li a p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.index-top{clear: both;overflow: hidden;padding:30px 0;line-height: 40px;font-size: 14px;}
.index-top dt{float: right;}
.index-top dt a{background: url(images/index-more.png) no-repeat right center;padding: 0 25px; display: block;}
.index-top dt.index-shuaxin a{background-image: url(images/shuaxin.png);}
.index-top dd{overflow: hidden;}
.index-top dd span{float: left;display: inline-block;margin-right: 10px;}
.index-top dd span img{vertical-align: middle;}
.index-top dd big{float: left;display: inline-block;font-size: 22px;color: #000;font-weight: lighter;}
.index-new{height: 370px;font-size: 14px;color: #ababab;}
.index-new li{border: 1px solid #e54048;width:243px;height: 100%;padding:20px;position: relative;margin: 0 -1px 0 0;z-index: 1;float: left;display: inline-block;}
.index-new li em{display: block; height:170px; width:100%; text-align: center;overflow: hidden;}
.index-new li em a{display: table-cell;height: 170px; width:199px;overflow: hidden;vertical-align: middle;}
.index-new li em a img{max-height: 170px;max-width: 199px;}
.index-new li em i{position: absolute;left: 0;top: 0;z-index:5;width: 62px; height: 60px;background: url(images/index-bg.png) no-repeat 0 0;}
.index-new li p.name a{display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #000;margin-top: 5px;}
.index-new li p.name a:hover{color: #e54048;}
.index-new li small{display: block;white-space: nowrap;overflow: hidden;font-size: 12px;padding: 3px 0 15px;border-bottom: 1px dotted #ababab;margin-bottom: 15px;}
.index-new li .text{clear: both;overflow: hidden;}
.index-new li .text p{white-space: nowrap; text-overflow: ellipsis;overflow: hidden;}
.index-new li .text p span{color: #ffa200;}
.index-new li .text p font{font-size: 1em;color: #e54048;}
.index-new li.index-new1{border-color: #ffa200;}
.index-new li.index-new1 em i{background-position: 0 -60px;}
.index-now{clear: both;overflow: hidden;}
.index-now big{color: #e54048;font-size: 16px;display: block;clear: both;overflow:hidden;padding: 3px 0;}
.index-time{clear: both;overflow: hidden;line-height: 30px;padding:15px 0 0;margin: 0 -2px; text-align: center;font-size: 24px;}
.index-time p{float: left;display: inline-block;}
.index-time p span{float: left;display: inline-block;margin:0 2px;background: #e54048;color: #fff;width:26px;overflow: hidden;border-radius:3px;}
.index-time strong{padding: 0 2px;display: inline-block;float: left;color: #e54048;font-size: 20px;}

.index-menu{position: fixed;top:100px;left: 50%;margin-left: -665px;width: 50px;z-index: 2;font-size: 14px;display: none;}
.index-menu a{width: 100%;height: 50px;clear: both;overflow: hidden;margin-bottom: 5px;text-align: center;position: relative;display: block;}
.index-menu a em{background: #ececec;display: table-cell;width: 50px; height: 50px;overflow: hidden;vertical-align: middle;}
.index-menu a em img{max-height: 50px; max-width: 50px;vertical-align:middle;}
.index-menu a p{position: absolute;z-index: 3;left: 0;top: 0;height: 100%;width: 100%;background: #e54048;color: #fff;opacity: 0;filter:alpha(opacity=0);-webkit-transition: all 500ms ease-in-out;-moz-transition: all 200ms ease-in-out;-o-transition: all 200ms ease-in-out;-ms-transition: all 200ms ease-in-out;transition: all 200ms ease-in-out;}
.index-menu a p span{margin: 0 auto;width: 2em;display: block;line-height: 18px;padding-top:8px;}
.index-menu li.current a p,.index-menu a:hover p{opacity: 1;filter:alpha(opacity=100);}
.index-menu-show{clear: both;overflow: hidden;}
.index1{border: 1px solid #dadada;clear: both;overflow: hidden;line-height: 2.5;color:#ababab;}
.index1 li{float:left;width: 25%;border-bottom: 1px solid #dadada;margin-bottom: -1px;padding:25px 35px;display: inline-block;text-align: center;overflow: hidden;}
.index1 li em{display: block;overflow: hidden;margin:0 auto 5px;width: 220px;}
.index1 li em a{width:220px;height:180px; display: table-cell;*font-size: 145px;vertical-align: middle;overflow: hidden;}
.index1 li em a img{max-width: 220px; max-height: 180px;}
.index1 li big a{display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color: #303030;font-size: 13px;}
.index1 li:hover big a,.index1 li:hover p{color: #e54048;}

.index2 li{border: 1px solid #dadada;width:243px;height: 100%;padding:15px;position: relative;margin: 0 -1px 0 0;z-index: 1;float: left;display: inline-block;line-height: 1.8;}
.index2 li em{display: block;overflow: hidden;margin: 0 auto;width: 205px;}
.index2 li em a{height: 170px; width: 205px; display: table-cell;vertical-align: middle;text-align: center;overflow: hidden;}
.index2 li em a img{max-height: 170px; max-width: 205px;}
.index2 li:hover{border-color: #e54048;z-index: 2;}

.index3{background: #f5f5f5;clear: both;overflow: hidden;padding:25px 0 60px;margin-top: 50px;min-width: 1210px;}
.index3-1{clear: both;overflow: hidden;margin: 0 -5px;}
.index3-1 li{float: left;margin: 5px;width:295px;overflow: hidden;display: inline-block; background: #fff;}
.index3-1 li em{display: block;overflow: hidden;width: 100%; height:200px;}
.index3-1 li em img{width: 100%;}
.index3-2{padding: 15px 20px 25px;line-height: 2.2; color: #ababab;}
.index3-2 big a{display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #000;font-size: 14px;}
.index3-2 big a:hover{color: #E54048;}
.index3-2 p a{float:left;margin-right: 10px;display: inline-block;max-width: 135px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}


/**************main**************/
.main-pd{padding:45px 0 0;clear: both;overflow: hidden;}
.main-pd1{padding:20px 0 0;clear: both;overflow: hidden;}
.main-banner{clear: both;overflow: hidden;font-size: 14px;}
.main-banner dt{height: 250px; clear: both;overflow: hidden;width: 100%;}
.main-banner dd{margin: -16px auto 0;width: 610px;border:1px solid #e54048;border-radius: 3px;height: 38px;position: relative;line-height:38px;z-index: 1;}
.main-circle{background: url(images/index-bg.png) no-repeat -50px -173px;width: 12px;height:12px;overflow: hidden;margin: 13px 10px;display: inline-block;}
.main-banner dd h4.ui-right{padding: 0 10px;display: inline-block;}
.main-banner dd h4.ui-right a{display: block;color: #000;font-size: 14px;}
.main-ad{overflow: hidden;padding:0 15px;}

.main-ad .bd ul li a{display: block;overflow: hidden; clear: both;}
.main-ad .bd ul li strong{float: left;color: #e54048;margin-right: 5px; display: inline-block;}
.main-ad .bd ul li p{overflow:hidden;white-space: nowrap;text-overflow: ellipsis;color: #818181;}
.main-ad .bd ul li a:hover p,.main-banner dd h4.ui-right a:hover{color: #e54048;}
.page{clear: both;overflow: hidden;padding: 40px 0 0;font-size: 14px;line-height: 32px; height: auto;}
.page a{display: inline-block;border: 1px solid #e4e4e4;overflow: hidden;margin: 0 2px;padding:  0 10px;height: 30px; line-height: 30px;}
.page a em{display: inline-block;font-family: "宋体";font-style: normal;}
.page a:hover,.page a.hover{color: #fff;background: #dd2726;border-color: #dd2726;}
.page span{display: inline-block;overflow: hidden;padding: 0 5px;}
.page .page-1{border: 1px solid #e4e4e4;height: 30px; line-height: 30px; text-align: center;display: inline-block;overflow: hidden;width: 50px ;background: #f9f9f9;}
.page .page-2{border: 1px solid #e4e4e4;padding: 0 10px;display: inline-block;overflow: hidden;background: #fff;height: 32px;cursor: pointer;color: #999;}
.love li{background:#fff;}
.ten li{float: left;margin: 0 -1px 15px 0;position: relative;z-index: 1;width:301px;overflow: hidden;border: 1px solid #dadada;position: relative;color: #ababab;}
.main-tb{position: absolute;right:30px; top: 0;padding: 0 10px;line-height: 24px;color: #fff;z-index: 3;}

/**************专区**************/
.ten-tb{background:#dd2726;}
.hundred-tb{background:#ff7600;}
.purchase-tb{background:#4cb4fb;}
.free-tb{background: #1eb99b;}
.ten1{padding: 15px 25px;clear: both;overflow: hidden;}
.ten1 em{display: block;overflow: hidden;clear: both;}
.ten1 em a{height: 200px; width: 260px; display: table-cell;vertical-align: middle;text-align: center;overflow: hidden;}
.ten1 em a img{max-height:200px; max-width: 260px;}
.ten li:hover{border-color: #e54048;z-index: 2;}
.ten li .banner-title a{font-size: 14px;}
.ten li .banner-money{margin: 5px 0 15px;}
.ten2{background: #f5f5f5;clear: both;overflow: hidden;padding: 20px 15px; text-align:center;line-height: 28px;}
.ten2 span{display: inline-block;overflow: hidden;}
.ten2-1{display: inline-block;border: 1px solid #e0e0e0;height: 28px;margin: 0 5px;}
.ten2-1 input{display: inline-block;border: 0;line-height: 26px; height: 26px; text-align: center;float: left;}
.ten2-1 input.ten-i{width: 26px; background: #f5f5f5;color: #9e9e9e;}
.ten2-1 input.ten-text{width:54px;border: solid #e0e0e0;border-width: 0 1px; color: #e03752;}
.ten2 p{clear: both;overflow: hidden;padding-top:8px;}
.ten2 p a{border: 1px solid #e54048;border-radius:3px;overflow: hidden;width: 48%;font-size: 16px;line-height: 34px;display: inline-block;}
.ten2 p a.ten-a{background: #e54048;float: left;color: #fff;}
.ten2 p a.ten-a1{background: #fff; color: #e54048;float: right;}
.free li .ten2 p a.ten-a{background: #1eb99b;color: #fff;float: left;border-color: #1eb99b;}
/**************产品**************/
.product-top{clear: both;overflow: hidden;font-size: 14px;}
.product-weizhi{clear: both;overflow: hidden;padding: 20px 0;color: #000;}
.product-weizhi a{color: #000;}
.product-weizhi span{color: #e54048;}
.product-top1{border: 1px solid #dadada;clear: both;overflow: hidden;line-height:40px;}
.product-top1 dt{clear: both;overflow: hidden;padding: 10px 20px;color: #ababab;}
.product-top1 dt big{font-size: 18px; color: #434343;}
.product-top1 dt span{color: #e54048;}
.product-top1 dd{clear: both;overflow: hidden;padding:20px 0;border-top: 1px solid #dadada;}
.product-top1 dd a{float: left;padding:0 20px;display: inline-block;overflow: hidden;min-width:9em;}
.product-top1 dd a i{height:40px;width: 25px;float: left;display: inline-block;margin-right: 10px;background-position: 0 center; background-repeat: no-repeat;}
.product-top1 dd a span{float: left;color: #818181;}
.product-top1 dd a:hover span,.product-top1 dd a.hover span{color: #e54048;}
.product-top1 dd a:hover i,.product-top1 dd a.hover i{background-position: right center;}



.product-list{line-height:30px;background-color:#f5f5f5;position: relative;margin-top: 20px;clear: both;overflow: hidden;font-size: 12px;}
.product-list1{float: right;background: #e54048;font-size: 18px; color: #fff !important;padding:0 1.5em;line-height: 50px;display: inline-block;overflow: hidden;}
.product-list h6{float: left;padding: 10px 0 10px 20px; display: inline-block;font-size: 1em;}
.m-list-sortList{overflow: hidden;}
.m-list-sortList li{float:left;padding: 10px;display: inline-block;}
.m-list-sortList a{display:block;padding:7px 5px;width:68px;height:12px;line-height:12px;border:1px solid #ddd;text-align:center;background-color:#fff;color:#7f7f7f;}
.m-list-sortList a:hover{text-decoration:none;color:#db3651;}
.ico {display: inline-block;vertical-align: middle;background-image: url('../images/mix-icon.png');overflow: hidden;margin-left: 3px;}
.ico-arrow-sort {width: 9px;height: 11px;}
.ico-arrow-sort-gray-down {background-position: -90px -160px;}
.ico-arrow-sort-gray-up {background-position: -80px -160px;}
.m-list-sortList .ico-arrow-sort{margin-top:-2px;}
.m-list-sortList a:hover .ico-arrow-sort-gray-up{background-position:-100px -160px;}
.m-list-sortList a:hover .ico-arrow-sort-gray-down{background-position:-110px -160px;}










































