@charset "utf-8";
/* CSS Document */
.container{width: 1210px;}

.index1-img img{
webkit-transform: scale(1);
  -moz-transform: scale(1);
   -ms-transform: scale(1);
    -o-transform: scale(1);
       transform: scale(1);
-webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
     -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
}
.index1-img:hover img{
        transform: scale(1.2, 1.2) rotate(10deg);
-webkit-transform: scale(1.2, 1.2);
   -moz-transform: scale(1.2, 1.2);
     -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
-webkit-transition: all 0.3s ease-out 0s;
   -moz-transition: all 0.3s ease-out 0s;
     -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;    
}
.code-box{width:980px;position:relative;z-index:90;}
.code-wrapper{position:absolute;top:180px;left:620px;}
.part1_text{color:#fff;text-align:left;font-family:"微软雅黑";margin-bottom:15px;}
.part1_text h4{font-size:24px;}
.part1_text h3{font-size:30px;}
.codeCon{float:left;background:url(../images/qr-bg.png) no-repeat;width:258px;height:378px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://info.1yyg.com/app/images/qr-bg.png?v=0520");}
.code{background:url(../images/appcode.png) no-repeat;width:134px;height:134px;margin:39px auto 0;border:1px solid #eee;}
.codeCon p{text-align:center;font-family:"微软雅黑";color:#999;padding-top:5px;line-height:20px;}
.codeCon p span{font-size:14px;display:block;}
.download_btn{padding-top:25px;}
.download_btn p{padding-bottom:15px;}
.download_btn a{display:block;width:179px;height:36px;margin:0 auto;}
.download_btn p a{background:url(../images/azd.gif) no-repeat;}
.download_btn span a{background:url(../images/iosd.gif) no-repeat;}
.app_content{width:100%;}
.tHeader{width:100%;height:93px;background:#f7f7f7;z-index:100;position:relative;}
.tHead{width:980px;height:63px;margin:0 auto;padding:15px 0;background:#f7f7f7;}
.tHead li.tLogo{float:left;height:63px;margin-right:10px;margin-left:10px;}
.tLogo a{float:left;display:block;}
.tHead li img.line{float:left;margin:30px 9px 0;}
.tHead li.tLogo a.txt{color:#bbb;font-size:24px;font-family:"微软雅黑";margin-top:30px;}
.tHead li.tNav{float:right;margin-top:40px;margin-right:10px;display:inline;}
.tNav a{display:block;float:left;color:#666;font-size:14px;height:25px;line-height:25px;margin:0 5px;width:100px;text-align:center;}
.tNav a.tReturn{margin-right:22px;display:inline;}
.tNav a.current:hover{color:#666;}
.tNav a:hover{color:#333;}

.phone-wrapper{width:990px;min-width:990px;position:absolute;top:50%;left:50%;}
.phone-wrapper div{position:absolute;behavior:expression(this.src = this.src ? this.src:this.currentStyle.backgroundImage.split('"')[1],this.style.background = "none",this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src="+this.src+",sizingMethod='crop')");}
.bgcolor1 .phone-wrapper{height:586px;margin:-247px 0 0 -495px;}
.part1_phone{background:url(../images/part1_phone.png) no-repeat;width:269px;height:504px;top:42px;left:94px;z-index:0;}
.part1_search{background:transparent url(../images/part1_search.png) no-repeat;width:172px;height:304px;top:259px;left:0;}
.part1_card{background:url(../images/part1_09.png) no-repeat;width:97px;height:77px;top:171px;left:375px;}
.part1_wx{background:url(../images/part1_08.png) no-repeat;width:170px;height:139px;top:210px;left:308px;}
.part{clear:both;width:100%;height:850px;position:relative;overflow:hidden;}
.bgcolor1{background:#52AFFA;}
*{padding:0;margin:0;}body,button,input,select,textarea{margin:0 auto;font:12px/1.5 "\5FAE\8F6F\96C5\9ED1",Arial;}body,button,dd,dl,dt,h1,h2,h3,h4,h5,h6,hr,input,ul,li,ol,p,textarea,th,img,p,span,fieldset,form,{margin:0;padding:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}fieldset,img{border:0;}img{color:#999;}input:hover,textarea:hover{outline:none;}button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0;padding:0;}ol,ul{list-style:none;}li{list-style:none;}a{text-decoration:none;color:#666;margin:0;padding:0;word-break:break-all;}a:link,a:visited{text-decoration:none;}a:active{star:expression(this.onFocus=this.blur());}a:hover{color:#f60;}a:focus,a:link{outline:none;}input:focus,input:active{outline:none;}cite,strong,em,i,dfn,address,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}.Fl{float:left;}.Fr{float:right;}.clear{width:100%;height:0;line-height:0;*height:0;clear:both;}.orange,a.orange:link,a.orange:visited{color:#F60;}.blue,a.blue:link,a.blue:visited{color:#2af;}.white,a.white:link,a.white:visited{color:#fff;}.gray3,a.gray3:link,a.gray3:visited{color:#333;}.gray6,a.gray6:link,a.gray6:visited{color:#666;}.gray9,a.gray9:link,a.gray9:visited{color:#999;}.grayb,a.grayb:link,a.grayb:visited{color:#bbb;}.grayc,a.grayc:link,a.grayc:visited{color:#ccc;}a.gray3:hover,a.gray6:hover,a.gray9:hover,a.grayb:hover,a.grayc:hover,a.orange:hover,a.white:hover{color:#f60;text-decoration:underline;}a.blue:hover{text-decoration:underline;}.FB{font-weight:bold;}.mlr5{margin:0 5px;}.ml10{margin-left:10px;}.g-frame-top:after,.g-frame-head:after,.g-frame-content:after,.g-frame-footer:after,.g-width:after{content:"";display:table;clear:both;}.g-frame-top,.g-frame-head,.g-frame-content,.g-frame-footer{width:100%;min-width:980px;background:#FFF;}.g-frame-head{clear:both;}.g-width{width:980px;margin:0 auto;}.g-frame-footer{width:100%;min-width:1190px;background:#FFF;}.g-frame-footer .g-width{width:1190px;margin:0 auto;overflow:hidden;background:#FFF;}.rmbf{font-family:微软雅黑;}.fam-y{font-family:微软雅黑;}.Hicon,.F-msg-close,.U_sina s,.U_qq s,.U_wx s,.F-icon-guest s,.F-icon-gray s,.M-nav-help a s,.search_submit,.search_submit_hover,.m-app-dow-img,.u-banner-close,.F-number-l,.F-number-r,.F-bg,.F-android-img,.F-wx-img,.M-wx .F-txt b i,.F-security-img,.F-goods-img,.F-goods-arrow,.m-popup-close a,.u-popup-Tip s,.u-popup-Tip i,u-popup-Tip b,.f-user-qq,.f-pay-succeed,.f-pay-fail,.roll_close a{background:url(../images/header-icon.png?v=1120);}.orange_btn,.orange_bg_btn{background:#f60;color:#fff;font-size:16px;display:inline-block;border-radius:2px;}.orange_btn:hover{background:#f40;color:#fff;}.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s;}.class-icon01,.class-icon02,.class-icon03,.class-icon04,.class-icon05,.class-icon06,.class-icon07{display:inline-block;position:relative;padding-left:17px;padding-right:5px;line-height:20px!important;color:#666;}.class-icon01 s,.class-icon02 s,.class-icon03 s,.class-icon04 s,.class-icon05 s,.class-icon06 s,.class-icon07 s{position:absolute;width:13px;height:13px;display:inline-block;top:4px;top:2px\9;_top:4px;left:0;}.class-icon01 s{background-position:-1px 0;}.class-icon02 s{background-position:-18px 0;}.class-icon03 s{background-position:-35px 0;}.class-icon04 s{background-position:-52px 0;}.class-icon05 s{background-position:-69px 0;}.class-icon06 s{background-position:-86px 0;}.class-icon07 s{background-position:-106px -1px;}.triangle{display:inline;float:left;position:relative;margin:0;width:6px;height:6px;-webkit-transition:.3s ease-in;-moz-transition:.3s ease-in;-o-transition:.3s ease-in;transition:.3s ease-in;}.triangle em,.triangle span{position:absolute;top:0;left:0;}.head-nav-bd .menu{display:inline;float:left;}.head-nav-bd .menu .menu-hd{z-index:82;position:relative;padding:1px 10px 0;height:29px;line-height:28px;line-height:30px\9;overflow:hidden;*display:inline;*zoom:1;}.head-nav-bd .menu .menu-hd a,.head-nav-bd .menu .menu-hd b{display:inline;float:left;font-size:12px;color:#666;}.head-nav-bd .menu .menu-hd b{font-weight:normal;margin-right:4px;}.head-nav-bd .menu a:hover,.menu-bd-msg a:hover,.M-mobile .menu-hd a:hover b{color:#f60;text-decoration:underline;}.head-nav-bd .menu .menu-hd i,.head-nav-bd .menu .menu-hd em,.nav .M-All-goods .U-All-T a b no-repeat;overflow:hidden;}.head-nav-bd .menu .menu-hd i,.head-nav-bd .menu .menu-hd em{float:left;width:7px;height:4px;overflow:hidden;position:relative;top:13px;}.head-nav-bd .menu .menu-hd i{background-position:0 0;}.head-nav-bd .menu .menu-hd i.i_Triangle{background-position:-7px 0;}.head-nav-bd .menu .menu-hd em{background-position:0 -4px;}.head-nav-bd .menu .menu-hd em.em_Triangle{background-position:-7px -4px;}.F-icon-guest s,.F-icon-gray s{width:20px;height:17px;display:inline-block;float:left;margin-top:6px;margin-right:2px;}.head-nav-bd .menu .menu-hd a.F-icon-guest{color:#f60;cursor:default;text-decoration:none;}.head-nav-bd .menu .menu-hd a.F-icon-guest:hover{text-decoration:underline!important;cursor:pointer;}.F-icon-gray s{background-position:-173px -20px;_background-position:-172px -19px;}.F-icon-guest s{background-position:-30px -20px;_background-position:-29px -19px;}.F-txt .F-icon-gray{color:#666;cursor:pointer!important;line-height:16px;line-height:20px\9;_line-height:16px;}.F-txt .F-icon-guest:hover{text-decoration:underline;}.head-nav-bd .menu .menu-hd a.F-icon-gray{color:#666!important;text-decoration:none;}.g-frame-top{height:30px;border-bottom:1px solid #eee;box-shadow:0 1px 0 #f7f7f7;cursor:default;}.head-nav-bd{height:30px;}.head-nav-bd-l{float:left;display:inline;}.head-nav-bd-r{float:right;display:inline;}.head-nav-bd-l li,.head-nav-bd-r li{float:left;display:inline;}.head-nav-bd-r li.mod_sitemap_gap{float:left;width:0;height:10px;margin:11px 1px 0;overflow:hidden;border-right:1px solid #ddd;}.head-nav-bd .menu .menu-hd a span{display:inline;float:left;cursor:pointer;}.head-nav-bd .M-mobile .menu-hd b span.Hicon{background-position:0 0;height:13px;width:9px;display:inline;float:left;margin-right:5px;position:relative;top:8px;_top:9px;}.head-nav-bd .menu .menu-hd a:hover .blue{color:#2af;text-decoration:underline;}.head-nav-bd .triangle{width:8px;height:4px;margin:13px 0 13px 0;}.head-nav-bd .menu-hd-hover .menu-hd{padding:1px 9px 0;border:1px solid #bbb;border-top:0 none;border-bottom:0 none;background:#fff;overflow:hidden;}.head-nav-bd .M-favorite .menu-hd{padding-left:0;}.head-nav-bd .F-service .menu-hd{padding-right:0;} .menu-hd a{margin-right:4px;width:67px;}.menu-hd .triangle em,.menu-hd .triangle span{display:block; no-repeat;width:7px;height:4px;overflow:hidden;}.head-nav-bd .M-mobile .triangle em,.head-nav-bd .M-attention .triangle em,.head-nav-bd .triangle em,.head-nav-bd .M-shop .triangle em{background-position:0 -4px;}.head-nav-bd .M-mobile .triangle span,.head-nav-bd .M-attention .triangle span,.head-nav-bd  .triangle span,.head-nav-bd .M-shop .triangle span{background-position:0 0;}.menu-hd-hover .triangle{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);-ms-transform:rotate(0);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}.head-nav-bd .menu-bd{position:relative;z-index:81;margin-top:-1px;display:none;}.head-nav-bd .menu-hd-hover .menu-bd{display:block;}.head-nav-bd .top-nav-bor{background:#fff;border:1px solid #bbb;position:absolute;z-index:85;margin:0;}.head-nav-bd .menu-bd .M-mobile-size{width:170px;height:85px;display:inline-block;}.head-nav-bd .menu-bd .M-mobile-content{margin:9px 5px 6px 8px;}.head-nav-bd .menu-bd .M-focus-size{width:75px;padding:5px 10px 9px;display:inline-block;}.head-nav-bd .menu-bd .M-focus-size li{clear:both;width:80px;margin:3px auto;}.head-nav-bd .menu-bd .M-focus-size li a{cursor:pointer;}.head-nav-bd .menu-bd .M-focus-size li s{float:left;display:block;margin-right:4px;vertical-align:middle;width:17px;height:16px;}.head-nav-bd .menu-bd .M-focus-size li a em{float:left;}.head-nav-bd .M-focus-size .U_sina s{background-position:-13px 0;}.head-nav-bd .M-focus-size .U_qq s{background-position:-34px 0;}.head-nav-bd .M-focus-size .U_qq{border-bottom:1px solid #E6E6E6;padding-bottom:7px;display:inline-block;}.head-nav-bd .M-focus-size .U_wx s{background-position:-51px 0;}.head-nav-bd .M-focus-size .U_wx{padding-bottom:2px;}.head-nav-bd .M-my-size{width:96px;_overflow:hidden;}.head-nav-bd .M-mark-size{width:96px;}.head-nav-bd .menu .U-txt li{border-top:1px solid #E6E6E6;width:100%;line-height:31px;text-indent:12px;}.head-nav-bd .menu .U-txt li a{display:block;}.head-nav-bd .menu-bd-msg{position:absolute;z-index:83;margin-top:30px;}.head-nav-bd .menu-bd-msg .M-msg-size{width:156px;}.head-nav-bd .menu-bd-msg .M-msg-size p{padding:4px 8px;height:16px;line-height:16px;}.head-nav-bd .menu-bd-msg .M-msg-size .orange{font-family:Arial;}.head-nav-bd .menu-bd-msg .F-msg-close{width:9px;height:9px;background-position:-15px -20px;display:inline-block;float:right;margin-top:6px;margin-right:6px;cursor:pointer;}.menu-bd-msg .msg_arrow{position:absolute;left:20px;}.menu-bd-msg .msg_arrow i{border-style:solid;border-width:0 6px 6px;border-color:transparent;border-bottom:6px solid rgb(187,187,187);width:0;height:0;font-size:0;line-height:0;position:absolute;top:-6px;}.menu-bd-msg .msg_arrow i em{border-style:solid;_border-style:dashed;border-width:6px;border-color:transparent;border-top-width:0;border-bottom:6px solid #fff;width:0;height:0;font-size:0;line-height:0;position:absolute;top:1px;left:-6px;}.head-nav-bd .menu .u-shop-tit{display:inline;float:left;margin-right:4px;font-size:12px;color:#f60!important;}.head-nav-bd .M-shop .u-shop-tit span.Hicon{background-position:-55px -20px;_background-position:-54px -19px;height:14px;width:13px;display:inline;float:left;margin-right:5px;margin-top:9px;}.head-nav-bd .M-shop .u-shop-tit strong{font-weight:normal;}.head-nav-bd .M-shop .triangle span{*border-bottom-color:#f60;border-top-color:#f60;}.head-nav-bd .M-shop-size{width:146px;height:97px;}.head-nav-bd .M-shop-content{color:#999;padding:8px 0 0 13px;}.head-nav-bd .M-shop-content p{line-height:16px;height:16px;margin-bottom:5px;}.head-nav-bd .M-shop-content p.shopNone{margin:6px 0;}.head-nav-bd .M-shop .orange_btn{width:120px;margin:4px 0;height:30px;line-height:30px;text-align:center;font-size:12px;cursor:pointer;display:inline-block;font-family:"宋体";}.head-nav-bd .M-shop .orange_btn:hover{color:#fff;text-decoration:none;}.head-nav-bd .M-login{color:#666;}.head-nav-bd .M-login i{font-style:normal;}.head-nav-bd .M-name-img{width:20px;height:20px;margin:0 3px 0 0;margin-top:5px;float:left;border-radius:50%;cursor:pointer;}.head-nav-bd .M-mark a{margin-right:4px;}.M-banner{margin-top:2px;position:relative;overflow:hidden;}.M-banner .u-banner-close{width:16px;height:16px;display:inline-block;background-position:-180px -274px;_background-position:-179px -273px;right:5px;top:5px;position:absolute;}.M-banner .u-banner-close a{width:16px;height:16px;display:inline-block;}.head_mid{height:81px;background:#fff;}.head_mid .head_mid_bg .head_mid .head_mid_bg  a{float:left;display:block;}.head_mid .head_mid_bg a.head_mid .head_mid_bg a.topAd{background-position:0 -110px;width:175px;height:80px;border:1px solid #purple;}.head_mid .head_search{float:right;padding-right:28px;height:65px;margin-top:11px;}.top_search .init{float:left;width:276px;height:18px;text-indent:5px;line-height:18px;padding:7px 0;background-repeat:repeat-x;border:1px solid #ddd;color:#bbb;border-right:none;border-bottom-left-radius:2px;border-top-left-radius:2px;}.top_search .text{text-align:left;color:#666;font-weight:normal;}.top_search .search_submit,.top_search .search_submit_hover{float:left;width:43px;height:34px;background-position:-187px -306px;text-indent:-999em;vertical-align:top;cursor:pointer;border:0 none;}.top_search .search_submit_hover{background-position:-187px -348px;}.head_search .keySearch{clear:both;position:relative;top:6px;top:4px\9;clear:both;}.head_search .keySearch a{margin-right:10px;color:#999;}.head_search .keySearch a:hover{color:#f60;text-decoration:underline;}.head_number{float:right;width:310px;margin-top:10px;margin-right:-5px;overflow:hidden!important;font-family:"宋体";}.head_number li{float:left;}.head_number li.F-number-l{width:25px;height:35px;background-position:-197px 0;}.head_number li.F-number-r{width:8px;height:68px;background-position:-222px 0;_background-position:-221px 0;overflow:hidden;}.head_number li.F-number-bg{width:277px;height:30px;background:#FFF4A8;padding-top:3px;border-bottom:2px solid #F5E373;overflow:hidden;}.head_number li.F-number-bg .f-fn-size{position:relative;display:inline-block;height:30px;overflow:hidden;color:#f60;font-size:22px;margin:0 3px;line-height:30px;font-family:Arial,"微软雅黑";}.head_number li.F-number-bg .gray9{line-height:28px;display:inline;}.head_number li.F-number-bg .f-fn-size .roll{position:absolute;top:0;width:12px;text-align:center;word-break:break-all;font-size:22px;}.head_number li.F-number-bg .f-fn-size .roll em{display:inline-block;width:12px;height:30px;text-align:center;}.head_number li.F-number-bg .f-fn-size .mLeft{margin-left:5px;display:inline;}.head_number li.F-number-bg span{float:left;}.head_number li.F-number-bg a.gray9{padding-left:10px;display:inline-block;}.head_number li.F-number-bg a.gray9 span{display:inline-block;margin-right:5px;cursor:pointer;}.head_number li.F-number-bg a.gray9:hover span{text-decoration:underline;}.head_number li.F-number-bg .mod_dropmenu_arrow{float:left;display:block; no-repeat;width:4px;height:7px;background-position:0 -20px;overflow:hidden;position:relative;top:11px;_top:10px;}.nav{clear:both;width:100%;height:42px;background:#f60;}.nav .nav-bd .M-nav-column{height:42px;line-height:41px;overflow:hidden;zoom:1;font-family:微软雅黑;}.nav .nav-bd li{float:left;font-family:微软雅黑;font-size:18px;}.M-All-goods,.M-nav-column{float:left;}.M-nav-help a{float:right;display:block;width:90px;height:42px;background:#F60;text-align:center;cursor:pointer;}.M-nav-help a s{display:block;background-position:0 -276px;width:75px;height:20px;margin-left:8px;margin-top:12px;}.All-goods{width:240px;float:left;}.nav-column a{float:left;color:#fff;padding:0 38px;}.sort-all a{width:240px;height:42px;display:inline-block;}.nav .M-All-goods{width:240px;height:42px;float:left;position:relative;z-index:40;background:#F45100;font-family:微软雅黑;}.nav .M-All-goods .U-All-T{line-height:38px;font-family:微软雅黑;font-size:18px;color:#fff;z-index:71;}.nav .M-All-goods .U-All-T a{display:block;width:214px;padding:1px 13px 0;overflow:hidden;}.nav .M-All-goods .U-All-T a.white:hover{color:#fff;text-decoration:none;}.nav .U-goods-hover{height:38px;}.nav .U-goods-hover .U-All-T{width:236px;line-height:36px;border:2px solid #F85102;border-bottom:none;padding:0;background:#fff;overflow:hidden;}.nav .U-goods-hover .U-All-T a{padding:0 11px 2px;overflow:hidden;}.nav .U-goods-hover .U-All-T .white,.nav .U-goods-hover .U-All-T a.white:hover{color:#f60;}.nav .M-All-goods .U-All-T a b{float:right;background-position:0 -8px;width:9px;height:5px;position:relative;top:17px;right:5px;}.nav .M-All-goods .U-All-T a b.b_Triangle,.nav .M-All-goods .U-All-T a:hover b{display:block;width:9px;height:5px;background-position:-9px -8px;position:relative;top:16px;right:5px;}.nav .U-goods-hover .U-goods-class{border:2px solid #F85102;border-top:none;padding:0;}.nav .U-goods-class{width:236px;display:none;position:absolute;z-index:75;background:#FFF;border:2px solid #f60;border-top:none;box-shadow:0 1px 2px #FAF3ED;}.nav .U-goods-hover .U-goods-class{display:block;}.sysp_nav:hover .nav_dl{display:block;}.nav .U-goods-class dl{border-top:1px solid #e6e6e6;padding:10px 0 13px 5px;overflow:hidden;zoom:1;position:relative;}.nav .U-goods-class dt{font-size:16px;color:#333;font-family:"微软雅黑";padding-bottom:10px;overflow:hidden;zoom:1;display:inline-block;}.nav .U-goods-class dd{padding:0 0 0 35px;}.nav .U-goods-class dd a{font-size:12px;float:left;padding-right:10px;}.goods-class-list{position:relative;top:1px;padding-bottom:1px;}.nav .U-goods-class .F-goods-img{width:20px;height:20px;display:inlie-block;float:left;overflow:hidden;margin-right:8px;_margin-right:5px;margin-top:2px;margin-left:8px;}.goods-class-list .U-goods-1 .F-goods-img{background-position:-75px 0;}.goods-class-list .U-goods-2 .F-goods-img{background-position:-163px -77px;}.goods-class-list .U-goods-3 .F-goods-img{background-position:-75px -25px;}.goods-class-list .U-goods-4 .F-goods-img{background-position:-123px 0;}.goods-class-list .U-goods-5 .F-goods-img{background-position:-123px -24px;}.goods-class-list .U-goods-6 .F-goods-img{background-position:-163px -53px;}.goods-class-list .U-list-hover{background:#FEFAEF;}.goods-class-list .U-list-hover dt{color:#f60;}.goods-class-list .U-list-hover .U-goods-1 .F-goods-img{background-position:-99px 0;}.goods-class-list .U-list-hover .U-goods-2 .F-goods-img{background-position:-188px -77px;}.goods-class-list .U-list-hover .U-goods-3 .F-goods-img{background-position:-99px -25px;}.goods-class-list .U-list-hover .U-goods-4 .F-goods-img{background-position:-147px 0;}.goods-class-list .U-list-hover .U-goods-5 .F-goods-img{background-position:-147px -24px;}.goods-class-list .U-list-hover .U-goods-6 .F-goods-img{background-position:-187px -53px;}.M-nav-column{font-family:"微软雅黑";font-size:14px;}.M-nav-column li a{color:#fff;padding:0 35px;height:42px;line-height:42px;display:inline-block;}.M-nav-column li a:hover{background:#FE8721;color:#fff;display:inline-block;padding:0 35px;}body.index .nav-bd .M-nav-column li.F-nav-back,body.lottery .nav-bd .M-nav-column li.F-nav-lottery,body.share .nav-bd .M-nav-column li.F-nav-share,body.group .nav-bd .M-nav-column li.F-nav-circle{background:#FE8721;line-height:42px;}.M-All-goods .U-All-T .triangle{float:right;display:inline-block;margin:17px 15px 15px;}.M-All-goods .U-All-T .triangle em,.U-All-T .triangle span{display:block; no-repeat;width:9px;height:5px;overflow:hidden;}.M-All-goods .U-All-T .triangle em{background-position:0 -8px;margin-top:5px;}.M-All-goods .U-All-T .triangle span{background-position:-9px -8px;}.sort-all-bd{position:relative;z-index:81;}.sort-all-bd .sort-all-class{background:#987;display:none1;width:240px;height:300px;border:1px solid #EEE;position:absolute;box-shadow:1px 1px 2px #ddd;z-index:85;}.nav-help{float:right;}.g-frame-footer{border-top:2px solid #ededed;padding:35px 0 10px;margin:0 auto;margin-top:10px;}.M-guide{width:100%;display:block;overflow:hidden;padding-bottom:25px;text-align:left;text-indent:40px;position:relative;}.M-guide dl{float:left;width:16.6%;}.M-guide dt{font-family:"微软雅黑";font-size:18px;color:#333;padding-bottom:10px;}.M-guide dd a{font-size:12px;color:#999;line-height:1.8;text-align:left;}.M-guide dd a:hover{color:#f60;text-decoration:underline;}.service-promise{height:101px;}.service-promise li{width:228px;float:left;height:98px;position:relative;border:1px solid #e6e6e6;border-bottom:2px solid #eaeaea;margin-right:10px;}.service-promise li .F-bg{display:inline-block;position:absolute;bottom:0;left:0;}.service-promise li .F-txt{position:absolute;}.service-promise li .F-txt b{display:block;font-size:14px;font-family:微软雅黑;font-weight:normal;margin-bottom:3px;}.service-promise li.M-android .F-bg{width:68px;height:79px;background-position:0 -109px;top:11px;left:9px;}.service-promise li.M-android .F-txt{left:95px;top:11px;}.service-promise li.M-android .F-android-img{width:98px;height:19px;display:inline-block;background-position:-71px -109px;margin-bottom:0;overflow:hidden;}.service-promise li.M-android .orange_btn{width:110px;line-height:32px;font-family:微软雅黑;font-size:14px;text-align:center;}.service-promise li.M-wx .F-wxm{width:75px;height:75px;position:absolute;top:11px;left:9px;}.service-promise li.M-wx .F-txt{left:95px;top:16px;}.service-promise li.M-wx .F-txt a{cursor:pointer;}.service-promise li.M-wx .F-txt b i{width:25px;height:21px;display:inline-block;background-position:-168px -109px;margin-bottom:0;float:left;}.service-promise li.M-wx .F-wx-img{width:117px;height:42px;display:inline-block;background-position:-71px -128px;margin-bottom:0;overflow:hidden;}.service-promise li.M-time .F-bg{width:69px;height:79px;background-position:0 -189px;overflow:hidden;}.service-promise li.M-time .F-txt{left:85px;top:11px;}.service-promise li.M-time .F-txt b{margin-bottom:8px;}.service-promise li.M-time .F-txt-dig{font-size:24px;font-family:Arial,"微软雅黑";line-height:24px;padding:10px 5px 6px 3px;float:left;background:#f60;color:#fff;text-align:center;display:block;border-bottom:2px solid #e45b00;border-radius:2px;vertical-align:middle;overflow:hidden;}.service-promise li.M-time .F-txt-point{float:left;color:#f60;line-height:42px;font-size:24px;font-family:"Arial";padding:0 5px 0 3px;}.service-promise li.M-fund .F-bg{width:71px;height:78px;background-position:-150px -189px;overflow:hidden;}.service-promise li.M-fund .F-txt{left:85px;top:11px;}.service-promise li.M-fund .F-txt b{margin-bottom:8px;}.service-promise li.M-fund .F-fund-buy{background:#94D45A;font-family:"Arial";border-bottom:2px solid #79C13B;text-align:center;color:#fff;font-size:18px;border-radius:2px;padding:8px 6px 8px 4px;display:block;}.service-promise li.M-fund .F-fund-buy .F-money{font-size:18px;}.service-promise li.M-tel{margin-right:0;}.service-promise li.M-tel .F-bg{width:79px;height:78px;background-position:-70px -189px;overflow:hidden;}.service-promise li.M-tel .F-txt{left:85px;top:14px;}.service-promise li.M-tel .F-txt b{margin-bottom:8px;}.service-promise li.M-tel .F-tel-img{width:134px;font-size:20px;height:22px;overflow:hidden;font-family:Arial;margin-bottom:5px;color:#f60;font-weight:bold;display:block;}.service-promise li.M-tel .F-icon-guest s,.service-promise li.M-tel .F-icon-gray s{vertical-align:middle;margin:0;margin-right:5px;}.service-promise li.M-tel .F-icon-gray s{_margin-right:0;}.service-promise li.M-tel a.F-icon-guest{color:#f60;}.M-security{border:1px solid #e6e6e6;border-bottom:2px solid #eaeaea;padding:11px 100px 11px 128px;display:block;overflow:hidden;zoom:1;margin-top:10px;}.U-fair,.U-security,.U-free{float:left;display:block;height:50px;display:inline-block;cursor:pointer;display:inline;width:270px;overflow:hidden;}.M-security .U-security{margin:0 70px;}.M-security .F-security-T{font-size:18px;font-family:"微软雅黑";color:#333;height:30px;line-height:30px;text-align:left;}.M-security .F-security-C{font-size:12px;color:#bbb;text-align:left;float:left;_padding-left:5px;width:205px;height:16px;overflow:hidden;line-height:16px;}.M-security .F-security-img{width:50px;height:50px;display:inline-block;float:left;margin-right:5px;}.M-security .U-fair .F-security-img{background-position:0 -53px;_background-position:0 -52px;}.M-security .U-security .F-security-img{background-position:-53px -53px;_background-position:-52px -52px;}.M-security .U-free .F-security-img{background-position:-106px -53px;_background-position:-105px -52px;}.footer_links{text-align:center;padding:10px 0 10px;background:#fff;font-family:"宋体";}.footer_links a{padding:0 5px;font-size:12px;color:#999;display:inline-block;}.footer_links a:hover{color:#f60;text-decoration:underline;}.footer_links span{font-size:0;width:0;height:10px;border-right:1px solid #ddd;overflow:hidden;display:inline-block;position:relative;top:1px;}.copyright{text-align:center;font-size:12px;color:#999;background:#fff;}.copyright span{font-family:Arial,Helvetica,sans-serif;}.footer_icon2{width:100%;background:#FFF;}.footer_icon{width:570px;margin:0 auto;padding:15px 0 15px 5px;overflow:hidden;background:#fff;}.footer_icon a{background:url(../images/icon.png?v=140508) center no-repeat;width:90px;height:30px;margin-right:5px;text-align:center;display:block;overflow:hidden;float:left;border-radius:2px;}.footer_icon .fi_ectrustchina{background-position:0 0;}.footer_icon .fi_315online{background-position:0 -32px;}.footer_icon .fi_cnnic{background-position:0 -64px;}.footer_icon .fi_qh{background-position:0 -96px;}.footer_icon .fi_anxibao{background-position:-1px -128px;}.footer_icon .fi_pingan{background-position:0 -160px;}.Progress-bar{height:44px;}.Progress-bar p{height:6px;background:#ddd;position:relative;border-radius:6px;font-size:0;}.Progress-bar p span{height:6px;background:#F60;position:absolute;top:0;left:0;font-size:0;border-radius:6px;font-size:0;}.Progress-bar .Pro-bar-li li{float:left;color:#AEADAD;font-size:12px;border:none;margin:0;padding:0;box-shadow:none;border-radius:none;}.Progress-bar .Pro-bar-li li em{display:block;font-size:12px;font-family:arial;height:19px;line-height:20px;}.Progress-bar .Pro-bar-li li.P-bar01 em{color:#F60;}.Progress-bar .Pro-bar-li li.P-bar02 em{color:#777;}.Progress-bar .Pro-bar-li li.P-bar03 em{color:#14A8E4;}.Progress-bar .Pro-bar-li li.P-bar01{width:35%;text-align:left;}.Progress-bar .Pro-bar-li li.P-bar02{width:30%;text-align:center;}.Progress-bar .Pro-bar-li li.P-bar03{width:34%;float:right;text-align:right;}.goods_loding{margin:46px 0;text-align:center;position:relative;font-size:22px;font-family:"微软雅黑";color:#666;}.tb-pagination{margin:40px 0;text-align:center;position:relative;font-size:14px;height:31px;}.tb-pagination .pagination{display:inline-block;*display:inline;*zoom:1;height:31px;}.pagination-count,.pagination-form,.pagination-page,.pagination-buy{float:left;line-height:29px;color:#999;}.pagination-form label,.pagination-page .page-cur,.page-split{float:left;margin-right:5px;}.pagination-page .page-prev,.pagination-page .page-cur,.pagination-page .page,.pagination-page .page-split,.pagination-page .page-next{line-height:29px;display:inline-block;border:1px solid #E6E6E6;border-radius:2px;font-family:arial;float:left;margin-right:6px;}.pagination-page .page-cur,.pagination-page .page,.pagination-page .page-split{width:29px;height:29px;margin-right:6px;color:#999;}.pagination-page .page-prev,.pagination-page .page-next{width:88px;line-height:29px;height:29px;display:inline-block;float:left;color:#999;}.pagination-page .page-prev,.pagination-page .page-next{font-weight:bold;}.pagination-page .btn-prev,.pagination-page .btn-next{font-weight:normal;}.pagination-page .btn-prev{padding-left:5px;}.pagination-page .btn-next{padding-right:5px;}.pagination-page .page-cur{background:#F60;color:#fff;font-weight:bold;border:1px solid #f60;}.pagination-page .page-prev:hover,.pagination-page .page:hover,.pagination-page .page-next:hover{border:1px solid #f60;background:#FEF5E4;color:#f60;text-decoration:none;}.pagination-page .page-end-hover{color:#CBCBCB;background:#F4F4F4;}.pagination-page .page-end-hover:hover{color:#CBCBCB;background:#F4F4F4;border:1px solid #E6E6E6;cursor:default;text-decoration:none;}.pagination-form .page-num{float:left;width:45px;border:1px solid #BFBFBF;border-right:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;line-height:25px;color:#9D9D9D;font-size:14px;text-align:center;z-index:2;height:24px;outline:0;margin-top:1px;margin-right:5px;background:#F9F9F9;}.pagination-count{padding-left:10px;}.pagination-count .b{margin:0 5px;}.pagination-buy{margin-left:20px;display:inline;}.pagination-buy .btn-jump{width:63px;line-height:29px;display:inline-block;border:1px solid #E6E6E6;border-radius:2px;font-family:arial;margin-right:6px;cursor:pointer;color:#999;font-family:"微软雅黑";}.pagination-buy .btn-jump:hover{border:1px solid #f60;background:#FEF5E4;color:#f60;}.g-popup{margin:0 auto;z-index:99;}.g-buy-frame,.g-user-frame{position:relative;}.m-popup-buy{text-align:center;padding-top:30px;padding-bottom:30px;}.u-popup-remaining{font-size:14px;line-height:28px;}.u-popup-Tip{line-height:30px;height:30px;}.u-popup-balance{line-height:30px;font-size:14px;}.g-popup .orange_btn{line-height:36px;font-size:14px;padding:0 40px;}.g-popup .m-popup-close a{background-position:-15px -20px;width:9px;height:9px;display:inline-block;position:absolute;right:10px;top:10px;}.m-popup_buybtn span{color:#FFF001;}.u-popup-Tip s,.u-popup-Tip i{width:16px;height:16px;display:inline-block;vertical-align:-3px;margin-right:5px;}.u-popup-Tip s{background-position:-126px -274px;}.u-popup-Tip i{background-position:-154px -274px;}.u-popup-paytip{background:#FEFEE4;border:1px solid #F60;margin:0 62px;padding:5px 0;}.u-popup-paytip .u-popup-paymoney{font-size:16px;padding-bottom:4px;}.u-popup-paytip .u-popup-payRecharge{font-size:14px;}.u-popup-paytip .blue span{font-family:宋体;}.num_del,.num_add,.num_dig{width:28px;height:28px;overflow:hidden;display:inline-block;font-family:宋体;border:1px solid #CFCFCF;text-align:center;font-size:24px;color:#999;line-height:28px;vertical-align:middle;background:#F4F4F4;}.u-popup-number{width:185px;margin:0 auto;}.u-popup-number label,.u-popup-number a,.u-popup-number input{float:left;}.u-popup-number label{line-height:30px;}.num_del{margin-left:5px;}.num_add{margin-right:5px;}.num_ban{color:#ccc;cursor:default;}.num_ban:hover{color:#ccc;}.num_dig{width:65px;background:#fff;line-height:28px;border-left:none;border-right:none;font-size:18px;font-family:arial;}.g-pay-tip{position:relative;margin:35px auto 55px;width:300px;}div.pageDialogMain .g-pay-tip p{margin-left:60px;padding:0;}.g-pay-tip .f-pay-succeed,.g-pay-tip .f-pay-fail{width:42px;height:42px;display:inline-block;position:absolute;left:0;top:0;float:left;}.g-pay-tip .f-pay-succeed{background-position:-45px -306px;}.g-pay-tip .f-pay-fail{background-position:0 -306px;}.g-pay-tip .f-pay-tit{font-size:20px;height:30px;font-family:"微软雅黑";}.g-pay-tip .f-pay-btn{margin-top:48px;}.g-submit{margin:65px 0;}.g-submit .f-submit-tit{text-align:center;font-size:16px;margin-bottom:15px;font-family:"微软雅黑";}.u-progress{width:200px;height:8px;overflow:hidden;border-radius:5px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);background:#f7f7f7;margin:0 auto;}.u-progress .pgbar,.u-progress .pging{display:block;width:100%;height:100%;}.u-progress .pging{background:-webkit-gradient(linear,0% 0,100% 100%,from(rgba(0,0,0,0)),to(rgba(254,232,175,1)),color-stop(25%,rgba(0,0,0,0)),color-stop(25%,rgba(254,232,175,1)),color-stop(50%,rgba(254,232,175,1)),color-stop(50%,rgba(0,0,0,0)),color-stop(75%,rgba(0,0,0,0)),color-stop(75%,rgba(254,232,175,1)));background:-webkit-linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(254,232,175,1) 25%,rgba(254,232,175,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(254,232,175,1) 75%,rgba(254,232,175,1));background:-moz-linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(254,232,175,1) 25%,rgba(254,232,175,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(254,232,175,1) 75%,rgba(254,232,175,1));background:-ms-linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(254,232,175,1) 25%,rgba(254,232,175,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(254,232,175,1) 75%,rgba(254,232,175,1));background:linear-gradient(-45deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 25%,rgba(254,232,175,1) 25%,rgba(254,232,175,1) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 75%,rgba(254,232,175,1) 75%,rgba(254,232,175,1));-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-ms-background-size:10px 10px;background-size:10px 10px;-webkit-animation:pging 0.5s linear infinite;-moz-animation:pging 0.5s linear infinite;-ms-animation:pging 0.5s linear infinite;animation:pging 0.5s linear infinite;}@-webkit-keyframes pging{0%{background-position:0 0;}100%{background-position:10px 0;}}@-moz-keyframes pging{0%{background-position:0 0;}100%{background-position:10px 0;}}@-ms-keyframes pging{0%{background-position:0 0;}100%{background-position:10px 0;}}@keyframes pging{0%{background-position:0 0;}100%{background-position:10px 0;}}.u-progress-c3 .pgbar{background:#FF9D4B;background:-webkit-gradient(linear,0% 0,0% 100%,from(#FF9D4B),to(#FF9D4B));background:-webkit-linear-gradient(#FF9D4B,#FF9D4B);background:-moz-linear-gradient(#FF9D4B,#FF9D4B);background:-ms-linear-gradient(#FF9D4B,#FF9D4B);background:linear-gradient(#FF9D4B,#FF9D4B);}.quickBack{position:fixed;_position:absolute;bottom:60px;right:0;_right:-1px;width:60px;z-index:98;background:#FFF;}*html .quickBack{_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-60));_bottom:auto;_position:absolute;}.quickBack .quick_But a:hover b,.quickBack .quick_But a.f-Cur-shop b{color:#fff;}.quick_But dd a s{cursor:pointer;height:58px;left:0;position:absolute;top:0;width:58px;}.quick_But dd a b{width:58px;text-align:center;font-weight:normal;position:absolute;top:32px;left:0;display:inline-block;font-family:微软雅黑;cursor:pointer;z-index:10;color:#BBB;}.quick_cart s,.quick_service s,.quick_Collection s,.quick_Return s,.quick_publish s,.Close,.Roll_mycart li a.Close:hover,.quick_triangle{background:url(../images/quickBack-v2.png?v=140718) no-repeat;display:block;}.quick_cart em,.quick_publish em{width:18px;height:18px;line-height:18px;font-size:10px;font-family:Arial;text-align:center;color:#fff;position:absolute;top:2px;right:3px;border:2px solid #fff;background:#f60;border-radius:50%;}.Roll_mycart{width:290px;height:235px;border:1px solid #5BC0FF;position:absolute;right:59px;top:0;background:#fff;z-index:95;}.Roll_mycart ul{width:282px;padding-left:8px;border-bottom:1px solid #EFEFEF;height:171px;float:left;}.Roll_mycart li{width:60px;float:left;text-align:center;position:relative;margin:8px 10px 0 0;_display:inline;line-height:14px;}.Roll_mycart .quick_triangle{width:7px;height:9px;font-size:0;position:absolute;top:20px;right:-7px;background-position:0 -311px;}.Roll_mycart li a{height:60px;display:block;}.Roll_mycart li a.Close,.Roll_mycart li a.Close:hover{width:15px;height:15px;overflow:hidden;display:inline-block;position:absolute;top:0;right:0;z-index:90;border-bottom:none;}.Roll_mycart li a.Close{background-position:-13px -307px;background-color:#b2b2b2;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}.Roll_mycart li a.Close:hover{background-position:-13px -307px;background-color:#F60;background-color:#ff6400;filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.2;opacity:0.2;}.Roll_mycart li img{border:1px solid #EEE;width:58px;height:58px;}.Roll_mycart li span{font-family:Arial;font-weight:bold;}.Roll_mycart li.Roll_CartMore a{width:60px;height:60px;background:#F0F0F0;display:inline-block;line-height:60px;font-family:宋体;color:#999;}.Roll_mycart li.Roll_CartMore a:hover{background:#e8e8e8;color:#f60;}.Roll_mycart li.Roll_CartMore a i{font-weight:bold;}.Roll_mycart p{width:100%;text-align:center;color:#999;height:20px;line-height:20px;overflow:hidden;padding-top:5px;margin-bottom:5px;}.Roll_mycart p b{font-weight:normal;}.Roll_mycart p span{color:#f60;}.Roll_mycart h3{width:100%;height:26px;text-align:center;}.Roll_mycart h3 a{height:26px;padding:0 35px;line-height:26px;margin:0 auto;text-align:center;font-weight:normal;font-family:"宋体";font-size:14px;}.Roll_mycart .quick_goods_loding{font-size:18px;color:#666;font-family:微软雅黑,宋体;height:111px;min-height:111px;text-align:center;vertical-align:middle;padding:60px 0 0 0;}.Roll_mycart .quick_goods_loding img{margin-right:5px;vertical-align:middle;}.quickBack .quick_But dd a.quick_cartA,.quickBack .quick_But dd a.quick_serviceA,.quickBack .quick_But dd a.quick_CollectionA,.quickBack .quick_But dd a.quick_ReturnA,.quick_publish_bottom a.quick_publishA{width:58px;height:58px;position:relative;display:block;border:1px solid #E4E4E4;border-bottom:none;z-index:11;}.quick_cart s{background-position:0 0;}.quick_service s{background-position:0 -59px;}.quick_Collection s{background-position:0 -118px;}.quick_Return s{background-position:0 -177px;}.quick_publish s{width:33px;height:33px;display:inline-block;background:url(../images/publish-icon.gif) center 3px no-repeat;}.quick_cart a:hover s,.quick_cart a.f-Cur-shop s{background-position:-58px 0;}.quick_service a:hover s{background-position:-58px -59px;}.quick_Collection a:hover s{background-position:-58px -118px;}.quick_Return a:hover s{background-position:-58px -177px;}.quickBack .quick_But dd a.quick_cartA:hover,.quickBack .quick_But dd a.f-Cur-shop,.quickBack .quick_But dd a.quick_serviceA:hover,.quickBack .quick_But dd a.quick_CollectionA:hover,.quickBack .quick_But dd a.quick_ReturnA:hover{border:1px solid #2AF;border-bottom:none;}.quickBack .quick_But dd a.quick_ReturnA{border-bottom:1px solid #E4E4E4;}.quickBack .quick_But dd a.quick_ReturnA:hover{border-bottom:1px solid #2AF;}.quick_publish_bottom{position:fixed;_position:absolute;bottom:0;right:0;_right:-1px;width:60px;z-index:82;}* html .quick_publish_bottom{_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));_bottom:auto;_position:absolute;}.quick_publish_bottom .quick_But dd a.quick_publishA{background:#FF6700;border:1px solid #FF6700;}.quick_publish_bottom .quick_But dd a.quick_publishA b{color:#fff;top:38px;}.roll_close{width:73px;height:22px;position:absolute;right:0;z-index:72;display:none;}.roll_close a{display:block;width:22px;height:22px;background-position:-208px -108px;_background-position:-207px -107px;position:absolute;top:0;left:0;}.Roll_publish{width:241px;border:3px solid #f60;position:absolute;right:60px;bottom:0;background:#fff;z-index:70;overflow:hidden;}.Roll_publish_list li{height:68px;padding:13px 0 14px 10px;border-top:1px solid #E6E6E6;box-shadow:0 1px 0 #F1F1F1 inset;text-align:left;position:relative;line-height:14px;width:231px;}.Roll_publish_list li .f-pic{float:left;margin-right:10px;}.Roll_publish_list li .f-pic img{width:68px;height:68px;overflow:hidden;float:left;}.Roll_publish_list li .m-publish-txt{float:left;width:137px;}.Roll_publish_list li .u-publish-tit{line-height:18px;height:36px;margin-bottom:5px;overflow:hidden;}.Roll_publish_list li b{width:100%;height:26px;line-height:26px;text-align:center;font-family:宋体;font-weight:normal;background:#ff7010;font-family:"宋体";display:inline-block;color:#fff;}.Roll_publish_list li b span{font-weight:bold;font-size:14px;font-family:宋体;}.Roll_publish_list li .u-publish-member,.Roll_publish_list li .u-publish-order,.Roll_publish_list li .u-publish-number{width:100%;}.Roll_publish_list li .u-publish-member{margin-bottom:5px;height:18px;line-height:18px;overflow:hidden;}.Roll_publish_list li .u-publish-member i{position:relative;top:-2px;top:-4px\9;*top:2px;}.Roll_publish_list li .u-publish-member a{display:inline-block;max-width:79px;height:16px;overflow:hidden;}.Roll_publish_list li .u-publish-order,.Roll_publish_list li .u-publish-number{width:100%;line-height:20px;}.Roll_publish .raff_scroller{position:absolute;top:0;right:0;width:10px;display:none;background:#eee;}.Roll_publish .raff_scroll_bar{position:absolute;right:1px;width:7px;height:120px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:10px;border-bottom-left-radius:10px;background:#a6a6a6;cursor:pointer;}div{margin:0 auto;}:focus{outline:0;}.clear1{width:100%;height:15px;clear:both;overflow:hidden;}.Fb{font-weight:bold;}.fl,.fl-img{float:left;}.fr{float:right;}.mat10{margin-top:10px;}.mab10{margin-bottom:10px;}.blank10{height:10px;font-size:0;overflow:hidden;line-height:0;background:none;}.hidden{display:none;}.show{display:block;}.g-frame-head{margin:0 auto 10px auto;}.Current_nav{width:980px;font-size:12px;color:#bbb;height:25px;margin:10px auto 0;}.Current_nav a{color:#bbb;}.Current_nav a:hover{color:#f60;}.red{color:#f00;}a.red:hover{text-decoration:underline;color:#f00;}.green{color:#3b0;}.gray{color:#333;}.gray01{color:#666;}.gray02{color:#999;}.gray03{color:#bbb;} -178px -57px no-repeat;padding-left:8px;*display:inline-block;}.orangebut,.bluebut,.graybut,.cancelBtn,.greenbut{display:inline-block;font-size:12px;border-radius:2px;text-align:center;padding:0 19px;*overflow:visible;cursor:pointer;}input.orangebut,input.bluebut,input.graybut,input.cancelBtn{padding:4px 19px;padding:6px 19px 2px\9;*padding:5px 19px 1px;_padding:5px 19px 1px;}a.orangebut,a.bluebut,a.graybut,a.cancelBtn,a.greenbut{height:23px;line-height:23px;line-height:26px\9;_line-height:22px;}input[type=button]::-moz-focus-inner{border:0;}.greenbut{background:#49b8ff;border:1px solid #1ba3fa;color:#fff;}.greenbut:hover{background:#1ba3fa;color:#fff;color:#fff;}.orangebut{background:#f60;border:1px solid #f60;color:#fff;}.orangebut:hover{background:#f40;border:1px solid #f40;color:#fff;}.bluebut{background:#49b8ff;border:1px solid #1ba3fa;color:#fff;}.bluebut:hover{background:#1ba3fa;color:#fff;color:#fff;}.graybut{background:#f3f3f3;border:#cfcfcf 1px solid;color:#999;}.graybut:hover{background:#bbb;color:#fffeee;}.cancelBtn{background:#f4f4f4;border:#ddd 1px solid;color:#747474;}.cancelBtn:hover{background:#f4f4f4;border:#bbb 1px solid;color:#747474;}.tips-con{text-align:center;color:#666;margin:30px 0;}.tips-con i{width:17px;height:17px;background-position:0 -75px;display:inline-block;margin-right:4px;vertical-align:-4px;vertical-align:-2px\9;_vertical-align:-2px;}.msgNoMore{font-size:14px;padding:15px 0 0;text-align:center;color:#bbb;}.rmbred,.rmbgray,.rmbred{background-position:0 -49px;background-repeat:no-repeat;padding-left:10px;}.rmbgray{background-position:0 -3px;background-repeat:no-repeat;padding-left:10px;}.rmbwhite{background-position:0 -25px;background-repeat:no-repeat;padding-left:10px;}.page_nav:after{clear:both;content:".";display:block;height:0;overflow:hidden;}.page_nav{overflow:hidden;height:60px;clear:both;}.page_nav ul.pageUL{float:right;padding:20px 5px 0 0;}.page_nav ul.pageUL li{float:left!important;margin:0 5px;text-align:center;}.page_nav ul.pageUL li.total_page{color:#333;line-height:38px;padding-right:20px;}.page_nav ul.pageUL li.total_page i{color:#F00;font-style:normal;}.page_nav ul.pageUL li.curr_page{background-color:#FFEDE1;border:1px solid #FD6D01;color:#F50;display:block;font-weight:bold;height:25px;line-height:25px;width:25px;}.page_nav ul.pageUL li a{border:1px solid #DEDEDE;display:block;float:left;height:25px;line-height:25px;text-align:center;padding-left:10px;padding-right:10px;}.page_nav ul.pageUL li a:hover{background-color:#FFF;border:1px solid #FD6D01;color:#FD6D01;display:block;height:25px;line-height:25px;text-decoration:none;}.page_nav ul.pageUL no-repeat scroll -170px -13px transparent;padding:0 0 0 10px;white-space:nowrap;width:46px;}.page_nav ul.pageUL li.next_page  no-repeat scroll right 5px transparent;padding:0 10px 0 0;white-space:nowrap;width:46px;}.page_nav ul.pageUL li.prev_page a:hover,.page_nav ul.pageUL li.next_page a:hover{background-color:#FFF;}.page_nav{overflow:hidden;height:60px;clear:both;}.page_nav ul.pageULEx{float:right;padding:20px 0 0 0;margin-right:0;display:inline;}.page_nav ul.pageULEx li{line-height:32px;}.page_nav ul.pageULEx li.curr_page{padding:4px 0 5px 0;padding:4px 0 5px 0\9;_padding:4px 0 5px 0;font-size:14px;font-family:Arial;line-height:22px;}.page_nav ul.pageULEx li a{padding:3px 0 4px 0;padding:3px 0 4px 0\9;_padding:3px 0 4px 0;font-size:14px;font-family:Arial;line-height:22px;}.page_nav ul.pageULEx li.prev_page a,.page_nav ul.pageULEx li.next_page a{padding:4px 0 3px 0;padding:5px 0 2px 0\9;_padding:5px 0 2px 0;line-height:22px;}.page_nav ul.pageULEx li{float:left;list-style:none;margin:0 0 0 5px;text-align:center;}.page_nav ul.pageULEx li{float:left;text-align:center;color:#666;font-family:Arial;}.page_nav ul.pageULEx li.curr_page{display:block;font-weight:bold;text-align:center;width:30px;overflow:hidden;color:#666;}.page_nav ul.pageULEx li a{border:1px solid #DEDEDE;text-align:center;padding-left:10px;padding-right:10px;border-radius:5px;color:#49B8FF;}.page_nav ul.pageULEx li a,.page_nav li a:hover{display:block;overflow:hidden;}.page_nav ul.pageULEx li a:hover{background-color:#49B8FF;border:1px solid #49B8FF;color:#FFF;text-decoration:none;}.page_nav ul.pageULEx li.prev_page a{border:1px solid #DEDEDE;display:block;text-align:center;overflow:hidden;width:55px;border-radius:5px;color:#49B8FF;}.page_nav ul.pageULEx li.next_page a{white-space:nowrap;width:55px;overflow:hidden;}.page_nav ul.pageULEx li.prev_page a:hover,.page_nav li.next_page a:hover{background-color:#49B8FF;color:#fff;border:1px solid #49B8FF;overflow:hidden;}.fixed_wx_r{width:118px;height:140px;background:#FFF;border:1px solid #E3E3E3;position:fixed;_position:absolute;z-index:20;top:200px;right:0;}.fixed_wx_r .fixed_wx_close{width:15px;height:15px;font-family:Arial;color:#fff;text-align:right;font-size:16px;border-left:1px solid #E1E1E1;border-bottom:1px solid #E1E1E1;background-position:-103px -193px;background-color:#fff;float:right;}.fixed_wx_r .ft-weixin-img{text-align:center;display:block;margin-top:19px;}.fixed_wx_r .ft-weixin-img s{width:93px;height:93px;margin:0 auto;display:inline-block;background-position:0 -168px;}.fixed_wx_r p{display:block;text-align:center;color:#999;}cite,strong,em,i,dfn{font-weight:normal;font-style:normal;}a{outline:none;blr:expression(this.onFocus=this.blur());}a:focus{outline:none;-moz-outline:none;}input{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}*html{background-image:url(about:blank);background-attachment:fixed;_overflow-x:hidden;}body{min-width:1002px;-webkit-text-size-adjust:none;_background-image:url(about:blank);_background-attachment:fixed;}body.home .nav-main li.f-nav-home,body.lottery .nav-main li.f-nav-lottery,body.share .nav-main li.f-nav-share,body.group .nav-main li.f-nav-group,body.cooperation .nav-main li.f-nav-invite,body.helper .nav-main li.f-nav-guide,body.thanks .nav-main li.f-nav-thanks,body.limit .nav-main li.f-nav-limit{background:#f04900;line-height:40px;}.F_goods_rq,.F_goods_xp,.F_goods_tj,.F_goods_xg{background-image:url(../images/index-2014.png?v=0609);background-repeat:no-repeat;}.search a.seaIcon i,.m-menu-all h3 em,.nav-cart-btn i.f-cart-icon,a.u-cart s,.u-mui-tab li.f-cart a.u-menus i,span.nav-new,.u-shortcut .u-small-list i,.cartEmpty i,.g-toolbar li.u-arr .u-menu-hd,.g-toolbar li.u-arr .u-menu-hd i{display:block;background-image:url(../images/head-2014.png?v=0516);background-repeat:no-repeat;}.m-ser li .u-icons,.g-special li em,.u-cartEmpty i,.m-cart-login li.other-login a b,.m-narrow-list .u-small-list i,a.delete-close:hover,.limitbuy-icon{display:block;background-image:url(../images/comm-2014.gif?v=150410);background-repeat:no-repeat;}.f-tran{font-family:"\5b8b\4f53";}.f-tran-prev{margin-right:5px;}.f-tran-next{margin-left:5px;}.fl{float:left;}.fr{float:right;}.orange{color:#f60!important;}.gray{color:#999;}.gray6{color:#666!important;}.gray9{color:#999;}.blue{color:#2af;}.clrfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}.hide{display:none!important;}.w1190{clear:both;width:980px;margin:0 auto;}.w1190:after{display:block;visibility:hidden;clear:both;height:0;overflow:hidden;content:'.';}.g-toolbar{width:100%;height:36px;border-bottom:1px solid #e4e4e4;position:relative;z-index:99;background:#fff;-moz-box-shadow:1px 1px 1px #f7f7f7;-webkit-box-shadow:1px 1px 1px #f7f7f7;box-shadow:1px 1px 1px #f7f7f7;}.g-toolbar .w1190{margin:0 auto;}.g-toolbar li{float:left;height:36px;position:relative;z-index:0;}.g-toolbar li a{color:#666;}.g-toolbar li a:hover{color:#f60;text-decoration:underline;}.g-toolbar li .u-menu-hd{float:left;height:20px;line-height:18px;padding:8px 10px;position:relative;z-index:93;}.g-toolbar li .u-select{background:#fff;position:absolute;top:36px;left:0;z-index:90;border:1px solid #e4e4e4;border-top:0 none;display:none;overflow:hidden;}.g-toolbar li .u-select span{display:block;padding-left:11px;text-align:left;margin-bottom:7px;}.g-toolbar li.f-gap s{width:0;height:12px;font-size:0;display:inline-block;border-left:1px solid #e4e4e4;overflow:hidden;margin:12px 0;}.g-toolbar .f-top-arrow{position:absolute;top:6px;right:18px;display:block;cursor:pointer;}.g-toolbar .f-top-arrow cite,.g-toolbar .f-top-arrow b{font-size:17px;_font-size:8px;font-weight:bold;color:#666;top:0;*+top:0;top:0\0;position:absolute;}.g-toolbar .f-top-arrow b{top:-2px;*+top:-2px;top:-2px\0;color:#fff;font-family:inherit!important;}.g-toolbar li.u-arr-hover .f-top-arrow{top:9px;_top:8px;}.g-toolbar li.u-arr-hover .f-top-arrow cite{color:#f60;}.g-toolbar li.u-arr-hover .f-top-arrow b{top:2px;*+top:2px;top:2px\0;}.g-toolbar li.f-collect .u-menu-hd{padding:8px 10px 8px 0;_padding:9px 17px 7px 0;}.g-toolbar li.u-arr,.g-toolbar ,.g-toolbar li.u-arr-news{position:relative;}.g-toolbar li.u-arr .u-menu-hd{width:48px;padding:8px 11px 8px 26px;background:none;background-position:-42px 11px;}.g-toolbar li.u-arr .u-select{width:146px;height:199px;text-align:center;border:1px solid #e6e5e6;padding:0 15px;top:30px;left:50%;margin-left:-88px;z-index:99;box-shadow:0 0 4px #ddd;overflow:visible;}.g-toolbar li.u-arr .u-select p{color:#999;font-size:14px;line-height:38px;}.g-toolbar li.u-arr .u-menu-hd i{width:8px;height:13px;background-position:-52px 0;position:absolute;top:11px;left:10px;}.g-toolbar li.u-arr .u-select img{display:block;width:146px;height:146px;margin:0 auto;}.g-toolbar li.u-arr .u-select i{display:block;font-size:0;line-height:0;width:0;height:0;border-width:6px;border-style:solid;border-color:transparent;position:absolute;border-bottom-color:#fff;top:-4px;left:-6px;margin-left:0;_display:none;}.g-toolbar li.u-arr .u-select .white-sub{border-bottom-color:#e6e5e6;top:-12px;left:50%;margin-left:-6px;}.g-toolbar li .u-menu-login{overflow:hidden;}.g-toolbar li .u-menu-login a{float:left;}.g-toolbar li .u-menu-login a.blue{color:#2af;margin-right:10px;position:relative;_top:1px;}.g-toolbar li .u-menu-login span{display:block;width:25px;height:25px;position:relative;top:-3px;margin-right:5px;overflow:hidden;}.g-toolbar li .u-menu-login span img{display:block;width:25px;height:25px;border-radius:25px;overflow:hidden;}.g-toolbar li .u-menu-login span s{display:block;width:25px;height:25px; no-repeat;position:absolute;top:0;left:0;}.g-toolbar.u-menu-hd{width:77px;}.g-toolbar  .u-select{width:95px;height:74px;padding-top:3px;}.g-toolbar li.u-arr-news .u-menu-hd{width:35px;height:21px;margin-bottom:-1px;}.g-toolbar li.u-arr-news .u-menu-hd em{font-size:0;width:7px;height:7px;border-radius:7px;background:#f60;position:absolute;top:9px;right:19px;overflow:hidden;}.g-toolbar li.u-arr-hover .u-menu-hd em{right:18px;}.g-toolbar li.u-arr-news .u-select{width:87px;height:100px;padding-top:3px;border-top:1px solid #e4e4e4;}.g-toolbar li.u-arr-news .u-select a em{display:inline-block;min-width:13px;height:15px;padding:0 1px;border-radius:15px;line-height:14px;text-align:center;color:#fff;background:#f60;margin-left:3px;position:relative;_top:1px;}.g-toolbar li.u-arr-news .u-select a em.three-digit{padding-left:2px;line-height:7px;top:-5px;*top:3px;}.g-toolbar li i{display:block;float:left;background-position:0 0;position:relative;top:-2px;left:-2px;_left:0;}.g-toolbar li.f-zxkf .u-menu-hd{padding:8px 0 8px 17px;overflow:hidden;}a.u-service i{display:block;float:left;width:24px;height:24px;cursor:pointer;}a.u-service:hover{text-decoration:underline;}a.u-service-on,a.u-service-on:hover{color:#f60!important;}a.u-service-off,a.u-service-off:hover{color:#666!important;}a.u-service-on i{background:url(../images/service-on-2014.gif) no-repeat;}a.u-service-off i{background:url(../images/service-off-2014.gif) no-repeat;}.g-toolbar li.u-arr-hover .u-menu-hd{padding:8px 11px 8px 26px;background-color:#fff;background-position:-42px -28px;}.g-toolbar li.u-arr-hover .u-menu-hd a{color:#f60;}.g-toolbar li.u-arr-hover .u-menu-hd,.g-toolbar li.u-arr-news.u-arr-hover .u-menu-hd{padding:8px 9px;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}.g-toolbar li.u-arr.u-arr-hover .u-menu-hd i{background-position:-52px -39px;}.g-toolbar li.u-arr-hover .u-select{display:block;}.g-header{clear:both;height:110px;background:#FFF;}a.logo{float:left;display:block;width:122px;height:74px; no-repeat;margin:18px 0;} a.u-top-ad{float:left;display:block;width:100px;height:110px;}.search_cart_wrap{width:720px;height:110px;position:relative;z-index:0;}.search_cart_wrap .number{width:450px;height:29px;margin-left:-10px;text-align:center;padding-top:59px;}.search_cart_wrap .number p{color:#666;font-size:14px;display:block;float:left;}.search_cart_wrap .number ul{float:left;position:relative;}.search_cart_wrap .number a{display:block;width:450px;height:29px;cursor:pointer;}.search_cart_wrap .number a li{display:block;width:21px;color:#f60;position:relative;}.search_cart_wrap .number li{float:left;display:block;font-size:24px;height:27px;line-height:27px;text-align:center;margin:0 2px;border-radius:1px;border:1px solid #e4e4e4;overflow:hidden;}.search_cart_wrap .number li.num{background:#fff;}.search_cart_wrap .number li.nobor{width:10px;border:0 none;}.search_cart_wrap .number li.gray6{width:56px;font-size:14px;line-height:29px;_line-height:31px;color:#666;}.search_cart_wrap .number li cite{display:block;width:21px;position:absolute;top:0;left:0;z-index:1;}.search_cart_wrap .number li em{display:block;width:21px;}.search_cart_wrap .number li i{width:196px;height:0;border-top:1px solid #ededed;position:absolute;top:13px;left:0;z-index:0;}.search_cart_wrap .number li.u-secondary{width:40px;position:relative;text-align:left;}.search_cart_wrap .number li.u-secondary b{display:block;width:7px;height:11px;background-position:-26px 0;position:absolute;top:9px;right:0;}.search_cart_wrap .number li.u-secondary b{border-style:solid;border-width:4px 0 4px;border-color:#fff;border-left:4px solid rgb(102,102,102);width:0;height:0;font-size:0;line-height:0;position:absolute;left:33px;top:11px;}.search_cart_wrap .number li.u-secondary b s{border-style:solid;_border-style:dashed;border-width:3px;border-color:transparent;border-left-width:0;border-left:3px solid #fff;width:0;height:0;font-size:0;line-height:0;position:absolute;top:-3px;left:-5px;}.search_cart_wrap .search{width:280px;position:absolute;top:50px;right:0;}.search_cart_wrap .search .form{float:left;border:1px solid #e4e4e4;border-right:0 none;width:240px;height:36px;position:relative;}.search_cart_wrap .search .form input{position:absolute;left:0;top:0;z-index:0;color:#bbb;width:105px;height:18px;line-height:18px;border:0 none;padding:9px 130px 9px 5px;outline:0;}.search_cart_wrap .search .form span{height:36px;position:absolute;top:0;right:0;z-index:10;}.search_cart_wrap .search .form span a{display:block;float:left;width:35px;height:20px;line-height:20px;background:#eee;color:#666;margin:8px 7px 0 0;display:inline;text-align:center;cursor:pointer;}.search_cart_wrap .search .form a:hover{background:#e4e4e4;color:#666;}.search_cart_wrap .search a.seaIcon{display:block;float:left;width:39px;height:30px;background:#f60;padding-top:8px;}.search_cart_wrap .search a.seaIcon:hover{background:#f40;}.search_cart_wrap .search a.seaIcon i{display:block;width:21px;height:21px;background-position:0 0;margin:0 auto;}.g-nav{height:40px;line-height:40px;margin:0 auto;background:#f60;color:#fff;}.g-nav .w1190{position:relative;z-index:20;}.g-nav a{font-size:16px;}.m-menu{width:198px;height:40px;float:left;background:#2af;position:relative;z-index:60;}.m-menu-all{width:198px;position:absolute;left:0;top:0;z-index:20;}.m-menu-all h3 a{display:block;width:180px;height:40px;padding-left:18px;position:relative;z-index:5;color:#fff;}.m-menu-all h3 a:hover{color:#fff;}.m-menu-all h3 em{display:block;width:16px;height:10px;background-position:0 -25px;position:absolute;right:16px;top:15px;}.m-all-sort{width:196px;height:438px;background:#fff;border:1px solid #21a5f7;border-top:0 none;position:absolute;left:0;top:40px;z-index:200;overflow:hidden;display:none;}.m-all-sort .m-all-menu{padding:0 15px;}.m-all-sort .m-all-menu li{height:23px;line-height:23px;border-bottom:1px solid #efefef;padding:10px 0;position:relative;overflow:hidden;color:#333;}.m-all-sort .m-all-menu li a{color:#333;font-size:14px;font-weight:bold;}.m-all-sort .m-all-menu li i{padding:0 3px;position:relative;top:-1px;}.m-all-sort .m-all-menu li span a{padding-left:6px;font-size:12px;color:#999;line-height:26px;display:inline-block;font-weight:normal;*zoom:1;}.m-all-sort .m-all-menu li:hover a,.m-all-sort .m-all-menu li.hover a,.m-all-sort .m-all-menu li:hover i,.m-all-sort .m-all-menu li.hover i{color:#f60;}.m-all-sort .m-all-menu li:hover a:hover,.m-all-sort .m-all-menu li.hover a:hover{text-decoration:underline;}.m-all-sort .m-all-menu li:hover span a,.m-all-sort .m-all-menu li.hover span a{color:#999;}.m-all-sort .m-all-menu li:hover span a:hover,.m-all-sort .m-all-menu li.hover span a:hover{text-decoration:underline;color:#f60;}.nav-main li{float:left;}.nav-main li a{display:block;padding:0 20px;color:#fff;}.nav-main li a:hover{background:#f04900;color:#fff;}.nav-main li.f-nav-home a{padding:0 19px 0 20px;}.nav-main li.f-nav-limit{position:relative;}@-webkit-keyframes bounce-horizontal{0%,10%,20%,30%,40%,60%,70%,80%,100%{-webkit-transform:translateY(0);}50%{-webkit-transform:translateY(-1px);}90%{-webkit-transform:translateY(-1px);}}@keyframes bounce-horizontal{0%,10%,20%,30%,40%,60%,70%,80%,100%{transform:translateY(0);}50%{transform:translateY(-1px);}90%{transform:translateY(-1px);}}.nav-main li span.nav-new{display:block;background-position:0 -106px;width:20px;height:14px;position:absolute;top:2px;right:3px;display:none;-webkit-animation-name:bounce-horizontal;animation-name:bounce-horizontal;-webkit-animation-duration:1000ms;-ms-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-ms-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-delay:0s;-ms-animation-delay:0s;animation-delay:0s;-webkit-animation-play-state:running;-ms-animation-play-state:running;animation-play-state:running;}.nav-cart{width:135px;height:40px;background:#2af;position:relative;z-index:20;}.nav-cart-btn a{display:block;color:#fff;height:40px;line-height:40px;padding-left:42px;position:relative;cursor:pointer;}.nav-cart-btn a:hover{color:#fff;text-decoration:underline;}.nav-cart-btn i.f-cart-icon{display:block;width:21px;height:20px;float:left;background-position:0 -44px;position:absolute;top:10px;left:17px;display:inline;}.nav-cart-con{width:239px;height:500px;background:#fff;border:1px solid #2af;position:absolute;right:0;_right:-1px;z-index:20;font-size:12px;display:none;overflow:hidden;}.g-footer{clear:both;width:100%;border-top:1px solid #e4e4e4;background:#fff;-moz-box-shadow:-1px -2px 1px #f7f7f7;-webkit-box-shadow:-1px -2px 1px #f7f7f7;box-shadow:-1px -2px 1px #f7f7f7;}.g-guide dl{float:left;width:120px;padding:30px 38px 25px;}.g-guide dt{font-size:20px;color:#333;padding-bottom:20px;}.g-guide dd{font-size:14px;line-height:23px;}.g-guide dd a{color:#999;}.g-guide dd a:hover{color:#f60;text-decoration:underline;}.g-service{clear:both;height:100px;}.m-ser{float:left;width:244px;height:98px;border:1px solid #e4e4e4;margin-right:-1px;color:#999;}.m-ser li{float:left;}.m-ser li dt{font-size:14px;}.m-ser li .u-icons{display:block;}.m-ser li dd a{display:block;text-align:center;color:#fff;border-radius:2px;}.m-ser li i{float:left;}.m-ser dt{padding-bottom:6px;}.u-ser1{width:236px;display:none;}.u-ser1 ul{padding:11px 0 0 9px;}.u-ser1 dl{padding-left:19px;}.u-ser1 dt{padding-bottom:3px;}.u-ser1 li s{width:69px;height:78px;background-position:-61px 0;}.u-ser1 li dd b{width:96px;height:18px;background-position:-85px -86px;}.u-ser1 li dd a{width:110px;height:32px;line-height:32px;background:#f60;margin-top:5px;}.u-ser2 ul{padding:13px 0 0 12px;}.u-ser2 dl{padding-left:11px;}.u-ser2 li dt i{width:20px;height:16px;background-position:0 0;position:relative;top:1px;margin-right:3px;}.u-ser2 li dt a{color:#999;}.u-ser2 li dd b{width:112px;height:40px;background-position:0 -104px;}.u-ser2 li dd i{margin-right:3px;position:relative;top:1px;}.u-ser3 ul{padding-top:19px;}.u-ser3 dl{padding-left:8px;}.u-ser3 li s{width:72px;height:79px;background-position:-141px 0;}.u-ser3 li dd{font-size:24px;}.u-ser3 li dd span{width:35px;height:40px;line-height:40px;text-align:center;background:#f60;border-radius:2px;display:inline-block;color:#fff;}.u-ser3 li dd em{color:#f60;}.u-ser4 ul{padding-top:19px;}.u-ser4 dl{padding-left:8px;}.u-ser4 li s{width:72px;height:79px;background-position:-301px 0;}.u-ser4 li dd a{width:150px;height:39px;line-height:39px;background:#94d45b;font-size:18px;}.u-ser5{width:243px;}.u-ser5 ul{padding-top:19px;}.u-ser5 dl{padding-left:8px;}.u-ser5 dt{padding-bottom:0;}.u-ser5 li s{width:80px;height:79px;background-position:-216px 0;}.u-ser5 li dd{color:#bbb;font-size:12px;line-height:18px;}.u-ser5 li dd.u-tel{font-size:20px;line-height:24px;}.u-ser5 li dd a{text-align:left;padding-top:5px;}.u-ser5 li dd a i{position:relative;top:-3px;margin-right:2px;}.g-special{clear:both;margin:15px 0;height:50px;padding:10px 0;border:1px solid #e4e4e4;}.g-special li{float:left;width:238px;position:relative;padding-left:88px;}.g-special li a{color:#bbb;cursor:pointer;display:block;}.g-special li em{display:block;width:50px;height:50px;position:absolute;left:33px;top:0;}.g-special li span{display:block;font-size:18px;color:#333;_padding-top:7px;}.g-special li em.u-spc-icon1{background-position:-199px -91px;}.g-special li em.u-spc-icon2{background-position:-253px -91px;}.g-special li em.u-spc-icon3{background-position:-308px -91px;}.g-copyrightCon{clear:both;background:#fff;}.g-links{text-align:center;padding:5px 0;}.g-links a{color:#666;}.g-links a:hover{color:#f60;text-decoration:underline;}.g-links s{border-left:1px solid #e4e4e4;width:0;height:12px;margin:0 11px 0 15px;overflow:hidden;font-size:0;display:inline-block;position:relative;top:1px;}.g-copyright{text-align:center;color:#999;}.g-authentication{clear:both;text-align:center;padding:15px 0 8px;}.g-authentication a{background:url(../images/icon.png) no-repeat;width:90px;height:32px;display:inline-block;margin:0 2px;}.g-authentication a.fi_ectrustchina{background-position:0 0;}.g-authentication a.fi_315online{background-position:0 -32px;}.g-authentication a.fi_qh{background-position:0 -96px;}.g-authentication a.fi_cnnic{background-position:0 -64px;}.g-authentication a.fi_anxibao{background-position:-1px -128px;}.g-authentication a.fi_pingan{background-position:0 -160px;}.g-authentication a.fi_yangshi{background-position:0 -192px;}.u-small-list{display:block;width:37px;height:56px;_overflow:hidden;}.u-small-list a{display:block;height:56px;color:#fff;cursor:pointer;}.u-small-list i{margin:0 auto;position:relative;_position:static;z-index:8;}.u-small-list cite{width:25px;height:32px;margin:0 auto;line-height:16px;display:block;padding-top:12px;_padding-top:13px;overflow:hidden;display:none;position:relative;z-index:9;}b.curr-arrow{border-style:solid;border-width:4px 0 4px 0;border-color:#9f948d;border-left:4px solid rgb(255,255,255);width:0;height:0;font-size:0;line-height:0;position:absolute;left:0;bottom:24px;z-index:5;display:none;}.u-activate{width:97px;height:113px;text-align:center;border:1px solid #c4bab3;border-right:0 none;background:#fff;position:absolute;bottom:-1px;right:37px;_right:36px;display:none;}.u-activate img{display:block;width:75px;height:106px;padding:9px 11px 0;width:75px;height:75px;margin-bottom:5px;}.u-activate a{color:#666;}.u-activate a:hover{color:#f60;}li.cart-hover .u-activate{display:block;}li.cart-hover .u-small-list i{display:none;}li.cart-hover .u-small-list cite{display:block;}li.cart-hover b.curr-arrow{display:block;}.u-shortcut li.f-checked b.curr-arrow{display:block;}.g-outer{display:none;}.g-narrow-con{position:fixed;_position:absolute;width:37px;height:342px;z-index:99;bottom:8px;right:0;_right:-1px;background:#fff;display:none;}*html .g-narrow-con{_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-5));_bottom:auto;_position:absolute;}.m-narrow-list{width:37px;height:342px;border-bottom:1px solid #e4e4e4;}.m-narrow-list li{float:left;width:37px;height:57px;position:relative;}.m-narrow-list li .u-small-list{width:37px;height:57px;}.m-narrow-list li .u-small-list i{display:block;position:relative;top:20px;margin:0 auto;}.m-narrow-list li .u-small-list a{display:block;width:35px;height:56px;border:1px solid #e4e4e4;border-bottom:0 none;-webkit-transition:background-color 0.3s ease;-moz-transition:background-color 0.3s ease;-o-transition:background-color 0.3s ease;transition:background-color 0.3s ease;}.m-narrow-list li .u-small-list cite{display:block;width:25px;height:32px;margin:0 auto;line-height:16px;padding-top:12px;_padding-top:13px;overflow:hidden;display:none;position:relative;z-index:9;}.m-narrow-list li .u-small-list a cite{color:#fff;}.u-small-list b.curr-arrow{border-style:solid;border-width:4px 0 4px 0;border-color:#9f948d;border-left:4px solid rgb(255,255,255);width:0;height:0;font-size:0;line-height:0;position:absolute;left:0;top:25px;z-index:5;display:none;}.m-narrow-list li.cart-hover .u-small-list a{width:37px;height:57px;border:0 none;background:#f60;}.m-narrow-list li.cart-hover .u-small-list cite{display:block;}.m-narrow-list li.cart-hover .u-small-list b{display:block;}.m-narrow-list li.cart-hover .u-activate{display:block;}.m-narrow-list li.cart-hover .u-small-list i{display:none!important;}.u-s-sidebar{background:#5c5550;border-top:0 none;bottom:8px;}.u-s-sidebar li.f-pur-records,.u-s-sidebar li.f-pur-records .u-small-list{height:34px;}.u-s-sidebar li.f-pur-records .u-small-list a{height:34px;padding-top:0;}.u-s-sidebar li.f-pur-records{border-bottom:0 none;margin:0 0 3px 0;}.u-s-sidebar li.f-pur-records a i{background-color:#5c5550;}.u-s-sidebar li.f-back-to{margin-bottom:0;}.u-s-sidebar .u-ewm{width:97px;height:113px;text-align:center;border:1px solid #e4e4e4;background:#fff;position:absolute;bottom:0;right:40px;display:none;}.u-s-sidebar .u-ewm img{display:block;padding:9px 11px 0;width:75px;height:75px;margin-bottom:5px;}.u-s-sidebar .u-ewm a{color:#666;}.u-s-sidebar .u-ewm a:hover{color:#f60;}.u-s-sidebar li.cart-hover .u-ewm{display:block;}.u-s-sidebar li.cart-hover .u-ewm a{background:none;color:#666;}.u-s-sidebar li.cart-hover .u-ewm a:hover{color:#f60;text-decoration:underline;}.u-s-sidebar li.cart-hover b.curr-arrow{left:-1px;border-left:6px solid #fff;}.m-narrow-list li.f-customer-service i{background-image:url(../images/customer-on-gray.gif?v=0127);width:34px;height:40px;top:8px;}.m-narrow-list li.f-customer-service a.z-customer-off i{background-image:url(../images/customer-off-gray.gif?v=0126);}.m-narrow-list li.f-client i{background-position:-380px 0;width:13px;height:20px;top:18px;vertical-align:middle;}.m-narrow-list li.f-pur-records i{background-position:-380px -127px;width:14px;height:17px;}.m-narrow-list li.f-attention i{background-position:-380px -99px;width:17px;height:17px;}.m-narrow-list li.f-weixin i{background-position:-380px -26px;width:20px;height:16px;}.m-narrow-list li.f-feedback i{background-position:-380px -48px;width:16px;height:16px;}.m-narrow-list li.f-back-to i{background-position:-380px -70px;width:20px;height:15px;}.m-narrow-list li .u-small-list a cite{color:#fff;}.m-narrow-list li .activateCon{width:97px;height:113px;position:absolute;right:37px;top:0;display:none;}.m-narrow-list li .u-activate{border:1px solid #e4e4e4;right:5px;bottom:0;}.m-narrow-list li .u-activate{width:97px;height:113px;text-align:center;border:1px solid #e4e4e4;background:#fff;top:0;right:5px;}.m-narrow-list li .u-activate img{padding:9px 11px 0;width:75px;height:75px;margin-bottom:5px;}.m-narrow-list li b.curr-arrow{border-color:#fff;border-left:5px solid rgb(221,221,221);left:-5px;_left:-7px;-webkit-transition-property:border-color;-webkit-transition-duration:3s;-webkit-transition-timing-function:ease;}.m-narrow-list li b.curr-arrow s{border-style:solid;_border-style:dashed;border-width:5px;border-color:transparent;border-left-width:0;border-left:5px solid #fff;width:0;height:0;font-size:0;line-height:0;position:absolute;top:-5px;right:-3px;}.m-narrow-list li.cart-hover .activateCon{display:block;}.u-commodity .m-loading-2014{height:100px;position:relative;display:none;}.u-commodity .m-loading-2014 em{background:url(../images/goods_loading2.gif) no-repeat;width:50px;height:50px;position:absolute;top:25px;left:94px;}.user_experience{width:34px;height:160px;position:fixed;right:0;z-index:20;display:none;}*html .user_experience{_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,286)||0)-(parseInt(this.currentStyle.marginBottom,286)||0)-286));_bottom:auto;_position:absolute;}.user_experience a{display:block;width:34px;height:160px;background-background-repeat:no-repeat;}.banner-prompt{width:100%;height:35px;line-height:35px;border-bottom:1px solid #e9e9e9;color:#ff2929;background:#ffffec;}.banner-prompt span{font-size:14px;}.banner-prompt span a.ckxq{color:#ff2929;font-weight:bold;}.banner-prompt span a.ckxq:hover{text-decoration:underline;}.banner-prompt span a.close{display:block;cursor:pointer;background:url(../images/banner-close.gif?v=150210);width:15px;height:15px;position:relative;top:10px;_top:9px;overflow:hidden;}.g-toolbar li a.cctv-icon{display:block;margin-left:13px;text-decoration:none;line-height:36px;}.cctv-icon-img{vertical-align:middle;margin-top:-4px;*margin-top:-2px;}.g-toolbar li a.cctv-icon:hover{color:#333;text-decoration:none;}.g-toolbar li.f-collect .u-menu-hd{padding-right:10px;}












