{foreach from=$list item=m name=list}
<div class="new-box" style="position: relative">
    <em><a href="{'/cmsproduct/detail/'|cat:$m.id|url}"><img alt="{$m.name}" src="{zz mod=fileurl source=$m.imgurl_src width=180 type=0}" id="buy_img_{$m.id}"></a></em>
    <h5><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" style="text-align:center;"><p>{$m.name}</p></a></h5>

</div>
{/foreach}