{foreach from=$list item=m name=list}
<li class="ui-clr">
    <div class="pic">
        <a href="{'/cmsproduct/detail/'|cat:$m.id|url}"><img src="{zz mod=fileurl source=$m.imgurl_src}" alt="{$m.name}" id="buy_img_{$m.id}" /></a>
    </div>
    <div class="info">
        <p class="title" style="text-align:center;"><a href="{'/cmsproduct/detail/'|cat:$m.id|url}"> {$m.name}</a></p>
    </div>
    <a class="add-btn" href="{'/cmsproduct/detail/'|cat:$m.id|url}" style="background:none;width:50px; height:50px;"><img src="/upload/xllogo.png" style="width:100%;"></img></a>
</li>
{/foreach}