{include file='../public_btn.html'}
<div class="html-box">

    <form name="formlist" target="iframeNewsTarget" method="post" action="">
    <table class="list">
        <thead>
            <tr>
                <th class="w40">排序</th>
                <th class="w30">ID</th>
                <th align="left">快递公司</th>
                <th class="w60">快递标识</th>
                <th class="w80">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.list item=m}
            <tr>
                <td align='center'><input type='text' class='form-i-s w30' name='listorders[{$m.id}]' value='{$m.listorder}' /></td>
                <td class='id' align='center'>{$m.id}</td>
                <td>{$m.name}</td>
                <td align="center">{$m.pinyin}</td>
                <td class='opera' align='center' nowrap>
                    <a href='#!express/edit/?id={$m.id}&com=xshow|编辑快递公司' class='iconfont icon-a' title='编辑'>&#xe603;</a>
                    {if $smarty.const.USER eq 'admin'}
                    <a href='javascript:;' onclick="main.confirm_del('express/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="foot-btn">
        <div class="pager r">{$page}</div>
        <button type="button" class="uiBtn BtnGreen" onclick="main.batch_order('formlist','order','express')">更新排序</button>
    </div>
    </form>

</div>



