{include file='../public_btn.html'}
<h3 class="info-tag">奖励列表(共{$page_total}个)<span></span></h3>

<div class="html-box">

    <form class="cond-form clear" action="#!member/award_ivt" id="searchForm" method="get">
        <input type="hidden" value="" name="page" id="page">
        <div class="f-unit">
            <label class="ui-label w60">邀请人数：</label>
            <div class="l">
                <select name="num">
                    <option value="">请选择</option>
                    <option value="1" {if $status eq '1'}selected{/if}>1</option>
                    <option value="3" {if $status eq '3'}selected{/if}>3</option>
                    <option value="5" {if $status eq '5'}selected{/if}>5</option>
                </select>
            </div>
            <label class="ui-label">状态：</label>
            <div class="l">
                <select name="status">
                    <option value="">请选择</option>
                    <option value="1" {if $status eq '1'}selected{/if}>待处理</option>
                    <option value="2" {if $status eq '2'}selected{/if}>已处理</option>
                </select>
            </div>
            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue e2-member-searchlog-1">搜索</button>
        </div>
    </form>

    <table class="list" style="width:100%">
        <tr>
            <th class="oid w40">ID</th>
            <th class="w80">会员名</th>
            <th class="w80">邀请人数</th>
            <th class="w150">领取时间</th>
            <th class="w80">状态</th>
            <th>操作</th>
        </tr>
        {foreach from=$list item=m}
        <tr class="opera">
            <td class="oid">{$m.id}</td>
            <td>{$m.username}</td>
            <td>{$m.num}</td>
            <td>{date('Y-m-d H:i',$m.addtime)}</td>
            <td>{if $m.status eq 1}待处理{else}已处理{/if}</td>
            <td><a href="#!member/award_ivt_edit/{$m.id}?com=xshow|认证身份证">处理</a> </td>
        </tr>
        {/foreach}
    </table>
    {$page}

</div>

<script src="/js/manage/member.js"></script>
{literal}
<script>
    $.loadJs('/admin/js/manage/member.js',function(){
    });
    var menus = $('#page_container a'), i;
    for(i = 0;i < menus.length;i++){
        menus[i].onclick = function() {
            var page = this.rel;
            member.search(page);
        }
    }
</script>
{/literal}