{include file='../public_btn.html'}
<h3 class="info-tag">调整账户金额/积分<span></span></h3>

<div class="html-box">

    <form target="iframeNewsTarget" method="post" action="/manage/member/change_account" enctype="multipart/form-data">
        <input type="hidden" name="post[mid]" value="{$row.mid}" />
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>用户名：</label></td>
                <td class="td-input">
                    {$row.username}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>可用余额：</label></td>
                <td class="td-input">
                    <select name="post[addfee_user_money]">
                        <option value="1">增加</option>
                        <option value="-1">减少</option>
                    </select>
                    <input type="text" name="post[user_money]" value="" size="5" class="form-i">
                    <span class="form-tip">当前：{$row.user_money|price_format}</span>
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>{$L.unit_db_scores}：</label></td>
                <td class="td-input">
                    <select name="post[addfee_db_scores]">
                        <option value="1">增加</option>
                        <option value="-1">减少</option>
                    </select>
                    <input type="text" name="post[db_scores]" value="" size="5" class="form-i">
                     <span class="form-tip">当前：{$row.db_scores}</span>
                </td>
            </tr>
                <tr>
                    <td class="td-label"><label>佣金：</label></td>
                    <td class="td-input">
                        <select name="post[addfee_commission]">
                            <option value="1">增加</option>
                            <option value="-1">减少</option>
                        </select>
                        <input type="text" name="post[commission]" value="" size="5" class="form-i">
                        <span class="form-tip">当前：{$row.commission}</span>
                    </td>
                </tr>
            <tr>
                <td class="td-label"><label>备注：</label></td>
                <td class="td-input">
                    <textarea name="post[remark]"></textarea>
                </td>
            </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
            </tbody>
        </table>

    </form>

</div>

<script src="/js/manage/member.js"></script>
{literal}
<script type="text/javascript">
$.loadJs('/admin/js/manage/linkage.js',function(){

});
</script>
{/literal}