{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/comregistry_rank/edit" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$row.id}" />
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>等级名称：</label><span class="c-red"> *</span></td>
                <td class="td-input">
                    <input type="text" name="post[rank_name]" value="{$row.rank_name}" class="form-i w200">
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>身份标识：</label><span class="c-red"> *</span></td>
                <td class="td-input">
                    <input type="text" name="post[rank_code]" value="{$row.rank_code}" class="form-i w200">
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>经验值下限：</label></td>
                <td class="td-input">
                    <input type="text" name="post[min_points]" value="{$row.min_points}" class="form-i w200">
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>经验值上限：</label></td>
                <td class="td-input">
                    <input type="text" name="post[max_points]" value="{$row.max_points}" class="form-i w200">
                </td>
            </tr>
             <tr>
                <td class="td-label"><label>直系消费金额获得佣金%：</label></td>
                <td class="td-input">
                    <input type="text" name="post[dir_given]" value="{$row.dir_given}" class="form-i w200">
                </td>
            </tr>
                <tr>
                    <td class="td-label"><label>嫡系消费金额获得佣金%：</label></td>
                    <td class="td-input">
                        <input type="text" name="post[sub_given]" value="{$row.sub_given}" class="form-i w200">
                    </td>
                </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>