{include file='../public_btn.html'}

<div class="html-box">

    <form name="formlist" target="iframeNewsTarget" method="post" action="">

    <table class="list">

        <thead>

            <tr>

                <th class="w30">ID</th>

                <th align="left">等级名称</th>

                <th class="w120">身份标识</th>

                <th class="w120">积分下限</th>

                <th class="w120">积分上限</th>                

                <th class="w120">获得直系消费佣金%</th>

                <th class="w120">获得嫡系消费佣金%</th>
                 {if $smarty.const.USER eq 'admin'}
                    <th class="w100">操作</th>
                {/if}
            </tr>

        </thead>

        <tbody>

            {foreach from=$data.list item=m}

            <tr>

                <td class='id' align='center'>{$m.id}</td>

                <td>{$m.rank_name}</td>

                <td align="center">{$m.rank_code}</td>

                <td align="center">{$m.min_points}</td>

                <td align="center">{$m.max_points}</td>


                <td align="center">{$m.dir_given}</td>

                <td align="center">{$m.sub_given}</td>
              {if $smarty.const.USER eq 'admin'}
                <td class='opera' align='center' nowrap>

                    <a href='#!comregistry_rank/edit/?id={$m.id}&com=xshow|编辑代理等级（{$m.rank_name}）' class='iconfont icon-a' title='编辑'>&#xe603;</a>

                    <a href='javascript:;' onclick="main.confirm_del('comregistry_rank/del', '{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>

                </td>
              {/if}
            </tr>

            {/foreach}

        </tbody>

    </table>

    <div class="foot-btn">

        <div class="pager r">{$page}</div>

    </div>

    </form>

</div>



