<h3 class="info-tag">
    总入帐金额({$page_total}条):<span>￥{$total}</span>
    {foreach from=$group item=g}
        &nbsp;&nbsp;
        {foreach from=$payment item=p}
        {if $p.pay_id == $g.pay_id}
            {$p.pay_name}
        {/if}
        {/foreach}
       ({$g.count}条):<span>￥{$g.total}</span>
    {/foreach}
</h3>

<div class="html-box">
    <form class="cond-form clear" action="#!member/member_cash" id="searchForm" method="get">
        <input type="hidden" value="" name="page" id="page">
        <div class="f-unit">                        
            <label class="ui-label w60">入帐方式：</label>
            <div class="l">
                <select name="pay_id">
                    <option value="">请选择</option>
                    {foreach from=$payment item=m}
                    <option value="{$m.pay_id}" {if $m.pay_id eq $smarty.get.pay_id}selected{/if}>{$m.pay_name}</option>
                    {/foreach}
                </select>
            </div>
            <label class="ui-label w60">入帐时间：</label>
            <div class="l">
                <input class="form-i w120 sitem" name="start_time" value="{$smarty.get.start_time|strip_tags}" type="text" autocomplete="off" onclick="WdatePicker()">
                <input style="margin-left:-1px" class="form-i w120 sitem" name="end_time" value="{$smarty.get.end_time|strip_tags}" type="text"  autocomplete="off" onclick="WdatePicker()">
            </div>
            <label class="ui-label w60">会员名：</label>
            <div class="l">
                <input id="q" class="form-i w120 sitem" name="q" value="{$smarty.get.q}" type="text">
            </div>
            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue e2-member-searchlog-1">搜索</button>
        </div>
    </form>

    <table class="list">
        <thead>
        <tr>
            <th class="w30">ID</th>
            <th class="w120">支付方式</th>
            <th class="w120">类型</th>
            <th class="w120">会员名称</th>
            <th class="w120">会员手机</th>
            <th class="w120">金额</th>
            <th class="w120">入帐时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$list item=m}
        <tr class="opera">
            <td>{$m.id}</td>
            <td>{$m.pay_name}</td>
            <td>{if $m.type == 1}充值{else if $m.type == 11}支付{/if}</td>
            <td><a href="#!member/edit/{$m.mid}?act=show&com=xshow|会员信息({$m.mid})">{$m.username}</a></td>
            <td>{$m.mobile}</td>            
            <td><b style="color:#f80">{$m.amount}</b></td>
            <td>{date('Y-m-d H:i',$m.add_time)}</td>
            <td/>            
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="foot-btn">
        <div class="pager r">{$page}</div>
        <a class="uiBtn BtnGreen"  href="javascript:;" onclick="exportAccount()">导出Excel</a>
    </div>
</div>

<script src="/js/manage/member.js"></script>
{literal}
<script>
    $.loadJs('/admin/js/manage/member.js',function(){
    });
    
    function exportAccount(){
        var arr = location.hash.split("?");
        var get = arr[1]?('?'+arr[1]):'';
        location.href='/manage/member/export_membercash'+get;
    }

    var menus = $('#page_container a'), i;
    for(i = 0;i < menus.length;i++){
        menus[i].onclick = function() {
            var page = this.rel;
            member.search(page);
        }
    }
</script>
{/literal}