{include file='../public_btn.html'}

<div class="html-box">

    <form name="formlist" target="iframeNewsTarget" method="post" action="">

    <table class="list">

        <thead>

            <tr>

                <th class="w30">ID</th>

                <th align="left">会员等级</th>

                <th class="w120">积分下限</th>

                <th class="w120">积分上限</th>                

                <th class="w80">特殊会员组</th>

                <th class="w120">允许分享次数</th>

                <th class="w80">消费1元送{$L.unit_db_scores}</th>

                <th class="w100">操作</th>

            </tr>

        </thead>

        <tbody>

            {foreach from=$data.list item=m}

            <tr>

                <td class='id' align='center'>{$m.id}</td>

                <td>{$m.rank_name}</td>

                <td align="center">{$m.min_points}</td>

                <td align="center">{$m.max_points}</td>

                <td align='center'>

                    {if $m.special eq 1}

                    <a href="javascript:;" onclick="main.chang_status('{$m.id}','member_rank','special')" class="c-green" title="点击设为否">是</a>

                    {else}

                    <a href="javascript:;" onclick="main.chang_status('{$m.id}','member_rank','special')" class="c-red" title="点击设为是">否</a>

                    {/if}

                </td>

                <td align="center">{$m.allow_time}</td>

                <td align="center">{$m.give_db_scores}</td>

                <td class='opera' align='center' nowrap>
                  {if $smarty.const.USER eq 'admin'}
                    <a href='#!member_rank/edit/?id={$m.id}&com=xshow|编辑会员等级（{$m.rank_name}）' class='iconfont icon-a' title='编辑'>&#xe603;</a>
              
                    <a href='javascript:;' onclick="main.confirm_del('member_rank/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                   {/if}
                </td>

            </tr>

            {/foreach}

        </tbody>

    </table>

    <div class="foot-btn">

        <div class="pager r">{$page}</div>

    </div>

    </form>

</div>



