{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/member/message_reply/{$row.id}" enctype="multipart/form-data">
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>内容：</label></td>
                <td class="td-input"> {$row.content}</td>
            </tr>
            <tr>
                <td class="td-label"><label>收件人：</label></td>
                <td class="td-input">{$row.username}</td>
            </tr>
            <tr>
                <td class="td-label"><label>回复：</label></td>
                <td class="td-input">
                    <textarea name="post[content]"></textarea>
                </td>
            </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>