{include file='../public_btn.html'}
<h3 class="info-tag">奖励<span></span></h3>

<div class="html-box">

    <form target="iframeNewsTarget" method="post" action="/manage/money_rank/fund" enctype="multipart/form-data">
        <input type="hidden" name="mid" value="{$row.mid}" />
        <input type="hidden" name="month" value="{$month}" />
        <input type="hidden" name="year" value="{$year}" />
        <input type="hidden" name="rankcode" value="{$rankcode}" />
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>用户名：</label></td>
                <td class="td-input">
                    {$row.username}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>排名：</label></td>
                <td class="td-input">
                    {$row.rank}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>奖励金额:</label></td>
                <td class="td-input">
                    {$fund_money}元
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>奖励说明:</label></td>
                <td class="td-input">
                    {$fund_description}
                </td>
            </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    {if $fund_money==0}
                    条件不足，奖励0元。
                    {elseif $row.status==0}
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">奖励</button>
                    {else}
                    已奖励
                    {/if}
                </td>
            </tr>
            </tbody>
        </table>

    </form>

</div>

<script src="/js/manage/member.js"></script>
{literal}
<script type="text/javascript">
$.loadJs('/admin/js/manage/linkage.js',function(){

});
</script>
{/literal}