{include file='../public_btn.html'}
<div class="html-box">
    <form class="cond-form clear" action="#!money_rank/index" onsubmit="return xForm.submit(this)">
        <input type="hidden" value="" name="page" id="page">
        <div class="f-unit">
            <select name="k" id="k">
                <option value="username" selected>用户名</option>
            </select>
            <input id="q" class="form-i w160 sitem" name="username" value="{$username}" type="text">
            <select name="year">
                <option value="">-年份-</option>
                {for $var=2016 to 2020}
                <option value="{$var}" {if $var eq $year}selected{/if}>{$var}</option>
                {/for}
            </select>
            <select name="month">
                <option value="">-月份-</option>
                {for $var=1 to 12}
                <option value="{$var}" {if $var eq $month}selected{/if}>{$var}</option>
                {/for}
            </select>
            <select name="rankcode">
                <option value="">-榜类型-</option>
                <option value="commission" {if "commission" eq $rankcode}selected{/if}>返利</option>
                <option value="consume" {if "consume" eq $rankcode}selected{/if}>消费</option>
                <option value="proxyconsume" {if "proxyconsume" eq $rankcode}selected{/if}>代理消费</option>
            </select>
            <select name="status">
                <option value="0" {if 0 eq $status}selected{/if}>未操作</option>
                <option value="1" {if 1 eq $status}selected{/if}>已奖励</option>
            </select>
            <button type="submit" id="submit" style="margin:1px 20px 0 10px;float:left;" class="uiBtn BtnBlue" >搜索</button>
        </div>
    </form>
    
    <table class="list">
        <thead>
        <tr>
            <th align="left" class="w100">榜类型</th>
            <th align="left" class="w100">年份</th>
            <th align="left" class="w100">月份</th>
            <th align="left" class="w100">排名</th>
            <th align="left" class="w100">消费值</th>
            <th align="left" class="w100">用户名</th>
            <th class="w100">余额</th>
            <th class="w80">可用佣金</th>
            <th class="w80">代理经验值</th>
            <th class="w160">详情</th>
            <th class="w160">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$list item=m}
        <tr>
            <td align="left" class="w100">{{$m.rankname}}</td>
            <td align="left" class="w100">{{$m.year}}</td>
            <td align="left" class="w100">{{$m.month}}</td>
            <td align="left" class="w100">{{$m.rank}}</td>
            <td align="left" class="w100">{{$m.cost}}</td>
            <td align="left" class="w100">{{$m.username}}</td>
            <td align='center'>{$m.user_money}</td>
            <td align='center'>{$m.commission}</td>
            <td align='center'>{$m.comreg_points}</td>
            <td align='center'>{$m.description}</td>
            <td class="opera" nowrap>
                {if $m.status eq 0}
                <a class="uiBtn" href="#!money_rank/fund/{$m.mid}?year={$m.year}&month={$m.month}&rankcode={$m.rankcode}&com=xshow|奖励">立即奖励</a>
                {else}
                 已奖励
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
</div>
