<h3 class="info-tag">
   佣金提现列表(共{$page_total}个记录) ，无手续费，佣金统计:<span>￥{$total}</span>
</h3>

<div class="html-box">
    <form class="cond-form clear" action="#!member/withdraw_commission" id="searchForm" method="get">
        <input type="hidden" value="" name="page" id="page">
        <div class="f-unit">
            <select name="k" id="k">
                <option value="username" {if $smarty.get.k eq 'username'}selected{/if}>会员名</option>
                <option value="bankname" {if $smarty.get.k eq 'bankname'}selected{/if}>提现银行</option>
                <option value="bankcard" {if $smarty.get.k eq 'bankcard'}selected{/if}>提现账号</option>
            </select>
            <input id="q" class="form-i w160 sitem" name="q" value="" type="text">
            <label class="ui-label w70">提现时间段：</label>
            <div class="l">
                <input class="form-i w120 sitem" name="start_time" value="{$smarty.get.start_time|strip_tags}" type="text" autocomplete="off" onclick="WdatePicker()">
                <input style="margin-left:-1px" class="form-i w120 sitem" name="end_time" value="{$smarty.get.end_time|strip_tags}" type="text"  autocomplete="off" onclick="WdatePicker()">
            </div>
            <label class="ui-label w50">状态：</label>
            <div class="l">
                <select name="status">
                    <option value="">请选择</option>
                    <option value="1" {if $smarty.get.status eq 1}selected{/if}>待处理</option>
                    <option value="2" {if $smarty.get.status eq 2}selected{/if}>处理中</option>
                    <option value="3" {if $smarty.get.status eq 3}selected{/if}>已处理</option>
                </select>
            </div>
            <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue e2-member-searchlog-1">搜索</button>
        </div>
    </form>

    <table class="list" style="width:100%">
        <tr>
            <th class="w40"><input type="checkbox" class="checkall"></th>
            <th class="w40">ID</th>
            <th class="w80">会员名称</th>
            <th class="w120">提现银行</th>
            <th class="w120">提现账号</th>
            <th class="w120">提现时间</th>
            <th class="w120">提现金额(元)</th>
            <th class="w80">状态</th>
            <th>操作</th>
        </tr>
        {foreach from=$list item=m}
        <tr class="opera">
            <td><input type="checkbox" name="id" value="{$m.id}"></td>
            <td>{$m.id}</td>
            <td>{$m.username}</td>
            <td>{$m.bankname}</td>
            <td>{$m.bankcard}</td>
            <td>{date('Y-m-d H:i',$m.addtime)}</td>
            <td><b style="color:#f80">{$m.commission}</b></td>
            <td>{if $m.status eq 1}待处理{else if $m.status eq 2}处理中{else}已处理{/if}</td>
            <td><a href="#!member/withdraw_commission_edit/{$m.id}?com=xshow|申请佣金提现">提现处理</a></td>
        </tr>
        {/foreach}
    </table>
     <div class="foot-btn">
        <div class="pager r">{$page}</div>
        <a class="uiBtn BtnGreen"  href="javascript:;" onclick="exportWithdrawCommission()">导出Excel</a>&nbsp;&nbsp;<a class="uiBtn BtnBlue"  href="javascript:;" onclick="batchWithdrawCommission()">批量完成</a>
    </div>
</div>

<script src="/js/manage/member.js"></script>
{literal}
<script>
    $.loadJs('/admin/js/manage/member.js',function(){
    });
    var checkboxs=document.getElementsByName("id");

    $('.checkall').click(function(){
        var checkboxs=document.getElementsByName("id");
        for (var i=0;i<checkboxs.length;i++) {
            var e=checkboxs[i];
            e.checked=!e.checked;
        }
    });

    function exportWithdrawCommission(){
        var arr = location.hash.split("?");
        var get = arr[1]?('?'+arr[1]):'';
        location.href='/manage/member/export_withdrawcommission'+get;
    }

    function batchWithdrawCommission(){
        var ids = "";
        for (var i=0;i<checkboxs.length;i++) {
            var e=checkboxs[i];
            if(e.checked) ids = ids ? ids+','+e.value : e.value;
        }
        if(ids){
            if(confirm('您确定批量处理?'))$post({
                url:'/member/batch_withdrawcommission/',
                method:'get',
                data:{ids:ids},
                callback:function(x){
                }
            });
        }
    }
</script>
{/literal}