<div class="new-foot1"></div>
<ul class="new-foot">
    <li>
        <a href="{url()}"{if $mod eq 'cmshome'} class="hover"{/if}>
            <em><i class="iconfont icon-zhuye"></i></em>
            <p>首页</p>
        </a>
    </li>
    <li>
        <a href="{'/cmsproduct'|url}"{if $mod eq 'cmsproduct'} class="hover"{/if}>
            <em><i class="iconfont icon-quanbushangpin-80"></i></em>
            <p>产品中心</p>
        </a>
    </li>
    <li>
        <a href="{'/activity'|url}"{if $mod eq 'content' || $mod eq 'activity'} class="hover"{/if}>
            <em><i class="iconfont icon-xinjiexiao"></i></em>
            <p>新闻资讯</p>
        </a>
    </li>
    <li>
        <a href="{'/welcome/kf'|url}"{if $mod eq 'welcome' && $data.page.id neq '77'} class="hover"{/if}>
            <em><i class="iconfont icon-01huiyuanzhongxin"></i></em>
            <p>关于信力</p>
        </a>
    </li>
    <li>
        <a href="{'/content/index/77'|url}"{if $mod eq 'welcome' && $data.page.id eq '77'} class="hover"{/if}>
            <em><i class="iconfont icon-shouji"></i></em>
            <p>联系我们</p>
        </a>
    </li>
</ul>

<ul class="foot-fix">
    {if $site_config.ios_url|trim || $site_config.and_url|trim}
    <li class="fix-app"><a href="/content/download">APP</a></li>
    {/if}
    <li class="fix-top"><a id="top">TOP</a></li>
</ul>

<script type="text/javascript">
    var logCount = '{$main.logCount}';
</script>
<script src="/style/mobile/js/script.js"></script>
{include file="cnzz.html"}
{include file="stat.html"}
</body>
</html>