{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<link rel="stylesheet" href="/style/mobile/css/bootstrap.css">
<link rel="stylesheet" href="/style/mobile/css/new_index.css">
<link rel="stylesheet" href="/style/mobile/css_02/index.css">
<style type="text/css">
    *{ box-sizing: border-box; }
    div.new-index-top { background:rgba(0,0,0, 0.7); }
</style>
<header id="header" style="display: none;">
    <a href="{url()}" class="logo"><img src="{zz mod=fileurl source=$site_config.mobile_logo}" /></a>
    <div class="u-nav">
        <a class="ap-icon" href="/cmsproduct"><img src="/style/mobile/images/search2.png" /></a>
    </div>
</header>
{if $wechat && $subscribe}
<!--dl class="subscribe">
    <dt>
        <button id="btn_subscribe">立即关注</button>
        <p>欢迎进入<span>{$site_config.site_name}</span><br>关注公众号，享专属服务</p>
    </dt>
    <dd>
        <p class="p1"><img src="{zz mod=fileurl source=$site_config.weixin_logo}" /></p>
        <p class="p2">长按二维码图片，识别图中二维码 关注</p>
        <p class="p3">关注我们 获取更多服务</p>
    </dd>
</dl>
<script type="text/javascript">
    $(function(){
        $('#btn_subscribe').click(function(){
            $('.subscribe').toggleClass('subscribe_toggle');
            if($('.subscribe').hasClass('subscribe_toggle')){
                $(this).html('关闭');
            }else{
                $(this).html('立即关注');
            }
        })
    })
</script-->
{/if}
<div class="menu" style="background:#1fa8bb;"> <!--#981f29-->
    <div style="text-align:center;">
        <img src="/upload/logolong.png" style="width:80%;"/>
    </div>
</div>
<div class="new_banner" id="new_banner">
    <div class="slider" style="display:none;">
        {zz mod=content var=tagAdw module=ad id=10}
        {zz mod=fileurl var=tagAds source=$tagAdw.images num=10}
        {foreach from=$tagAds item=m}
        <div><a href="{$m.title}"{if $m.isblank} target="_blank"{/if}><img src="{$m.path}"/></a></div>
        {/foreach}
    </div>
    <ul class="slick-dots">
        {foreach from=$tagAds item=m}
        <li><button type="button"></button></li>
        {/foreach}
    </ul>
</div>
<script src="/style/TouchSlide.1.1.js"></script>
<script>
    TouchSlide({ slideCell:"#new_banner", mainCell:".slider", titCell:".slick-dots li", titOnClassName:"slick-active", autoPlay:true, interTime:5000 });
    $(".new-index-1 li:odd").addClass("new-odd");
    $('div.slider').show();
</script>


<div class="new-index" style="margin-top:0px;">
    <div class="new-index-top" style="background:none;"><a href="{'/cmsproduct'|url}" style="color:red;">我们的产品</a></div>
<ul class="new-index-1" id="win-list">
                <li class="item-db">
    <em><a href="/cmsproduct?cid=1"><img width="93" src="/upload/img5.jpg"></a></em>
    <div class="new-index-2">
        <span><a href="/cmsproduct?cid=1" style="text-align:center;font-weight:bold;">纸箱包装</a></span>
        <p>十年经验品种齐全</p>
    </div>
</li>
                <li class="item-db">
    <em><a href="/cmsproduct?cid=11"><img width="93" src="/upload/img4.jpg"></a></em>
    <div class="new-index-2">
        <span><a href="/cmsproduct?cid=11" style="text-align:center;font-weight:bold;">精品礼盒</a></span>
        <p>制作精美品质优良</p>
    </div>
</li>
                <li class="item-db">
    <em><a href="/cmsproduct?cid=12"><img width="93" src="/upload/img3.jpg"></a></em>
    <div class="new-index-2">
        <span><a href="/cmsproduct?cid=12" style="text-align:center;font-weight:bold;">彩盒印刷</a></span>
        <p>拥有先进印刷设备</p>
    </div>
</li>
                <li class="item-db">
    <em><a href="/cmsproduct?cid=13"><img width="93" src="/upload/img2.jpg"></a></em>
    <div class="new-index-2">
        <span><a href="/cmsproduct?cid=13" style="text-align:center;font-weight:bold;">礼盒定制</a></span>
        <p>专业设计锐意创新</p>
    </div>
</li>
                
    </ul>
</div>
<div class="new-index">
    <div class="new-index-top"><a href="{'/welcome/kf'|url}" style="color:#fff;">关于信力</a></div>
    <div class="clearfix new-index2" style="padding:10px;">
    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;开平市信力纸业包装有限公司成立于2003年，主要是彩色包装箱、瓦楞箱等专业生产加工的公司，公司从事该行业十多年，拥有丰富的经验、完整、科学的质量管理体系和先进的生产加工设备。
    开平市信力纸业包装有限公司以自身的诚信、实力和产品质量获得业界的认可，以诚挚的服务给于客户十分的满意，欢迎各界朋友莅临参观、指导和业务洽谈。
    </div>
    <div class="user-box">
        <a class="btn" href="/content/index/77" style="background:#507504;">联系我们 0750-2828088/2822888</a>
    </div>
</div>
<div class="new-inex1 demo" id="buy_nav">
    <div class="new-index-top"><a href="{'/cmsproduct'|url}" style="color:#fff;">产品展示</a></div>
    <div id="container" class="clearfix new-index2 list">
        {include file="cms/product/lbi/list2.html"}
    </div>
</div>
<script type="text/javascript">
    var order = "{if $smarty.get.order}{$smarty.get.order}{else}ratio{/if}";
    var sort = "{if $smarty.get.sort}{$smarty.get.sort}{else}desc{/if}";
    var ExtendOptions = {
        itemSelector: 'div.new-box',
        path: function(index) {
            return "/cmsproduct/index/"+index+"?order="+order+"&sort="+sort+"&load&skin=2&size={$size}";
        }
    };
</script>
{include file="public_scroll.html"}

{include file="cms/footer.html"}

{literal}
{/literal}