{include file="header.html"}
<link rel="stylesheet" href="{url('/style/css/refer.css')}">
<style type="text/css">
    .chart-box{ border: 1px solid #ebebeb; width: 1180px; margin: 0 auto 30px; padding: 50px 0; overflow: hidden; line-height: 1.8; }
    .chart-c2{ width: 50%; float:left; overflow: visible;}
    .chart-c3{ width: 33%; float:left; overflow: visible;}
    .chart-c5{ width: 20%; float:left; overflow: visible;}

    .chart-home{ width:1248px; overflow: hidden; margin-left:-90px }
    .chart-home h3{ height: 95px; background: url('/style/images/chart/head_1.gif') no-repeat center; margin-bottom: 20px; }
    .chart-home h3 a{ display: block; width: 380px; height: 69px; overflow: hidden; margin: 0 auto; cursor: pointer; }

    .chart-category{ width:1248px; overflow: hidden; margin-left:-15px }
    .chart-category h3{ height: 95px; background: url('/style/images/chart/head_2.gif') no-repeat center; margin-bottom: 20px; }
    .chart-category h3 a{ display: block; width: 380px; height: 69px; overflow: hidden; margin: 0 auto; cursor: pointer; }

    .chart-box dd{ text-align: center; margin: 0; padding: 0; }
    .chart-box dd .txt{ display: inline-block; height: 38px; line-height: 38px; overflow: visible; text-align: center; font-size: 18px; color: #fff; margin:0 auto; padding: 0 20px; white-space: nowrap }
    .chart-box dd a{ color: #fff; }
    .chart-box dd a:hover{ color: #eee; }
    .chart-box .chart-c5 dd .txt{ height: 30px; line-height: 30px; padding: 0 10px; font-size: 16px; }
    .chart-box dd .txt-red{ background: #e54048; }
    .chart-box dd .txt-red.dis{ background: #f16d73; }
    .chart-box dd .txt-org{ background: #ef400c; }
    .chart-box dd .txt-org.dis{ background: #e86741; }
    .chart-box dd .txt-org2{ background: #e88e41; }
    .chart-box dd .txt-org2.dis{ background: #e8af41; }

    .chart-box dt{ margin: 10px 0 15px; background-position: center; background-repeat: no-repeat; }
    .arrow-d1 dt{ height: 63px; overflow: hidden; background-image: url('/style/images/chart/arrow_d1.gif'); }
    .arrow-d2{ width: 492px; overflow: hidden; margin: 0 auto; }
    .arrow-d2 dt{ height: 64px; overflow: hidden; background-image: url('/style/images/chart/arrow_d2.gif'); }
    .arrow-d3{ width: 492px; overflow: hidden; margin: 0 auto; }
    .arrow-d3 dt{ height: 63px; overflow: hidden; background-image: url('/style/images/chart/arrow_d3.gif'); }
    .arrow-u2-d5{ width: 590px; overflow: hidden; margin: 0 auto; }
    .arrow-u2-d5 dt{ height: 194px; overflow: hidden; background-image: url('/style/images/chart/arrow_u2_d5.gif'); }

    .arrow-u2{ width: 492px; overflow: hidden; margin: 0 auto; }
    .arrow-u2 dt{ height: 64px; overflow: hidden; background-image: url('/style/images/chart/arrow_u2.gif'); }
</style>
{include file="ur_here.html"}
<div class="fn-clear chart-box">
    <div class="chart-home">
        <h3><a href="{url()}"></a></h3>
        <div class="chart-c2">
            <dl class="arrow-d1">
                <dd><a href="{'/member/regist'|url}" target="_blank" class="txt txt-red dis">点击{$L.unit_gift}</a></dd>
            </dl>
            <dl class="arrow-d1">
                <dt></dt>
                <dd><a href="{'/member/regist'|url}" target="_blank" class="txt txt-red dis">注册成为{$site_config.site_name}会员</a></dd>
            </dl>
            <dl class="arrow-d1">
                <dt></dt>
                <dd><a href="{'/member'|url}" target="_blank" class="txt txt-red dis">进入{$site_config.site_name}会员主页</a></dd>
            </dl>
            <dl class="arrow-d1">
                <dt></dt>
                <dd><a href="{'/content/index/78'|url}" target="_blank" class="txt txt-red dis">点击领取{$L.unit_db_scores}</a></dd>
            </dl>
            <dl class="arrow-d1">
                <dt></dt>
                <dd><a href="{'/content/tiyan'|url}" target="_blank" class="txt txt-red dis">做任务 领{$L.unit_db_scores}</a></dd>
            </dl>
            <dl class="arrow-d2">
                <dt></dt>
                <dd>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/content/tiyan'|url}" target="_blank" class="txt txt-red dis">体验拍</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/content/tiyan/db'|url}" target="_blank" class="txt txt-red dis">免费{$L.unit_yun}</a></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="chart-c2">
            <dl class="arrow-d1">
                <dd><a href="{'/member/login'|url}" target="_blank" class="txt txt-org dis">点击请登录</a></dd>
            </dl>
            <dl class="arrow-d1">
                <dt></dt>
                <dd><a href="{'/member'|url}" target="_blank" class="txt txt-org dis">进入{$site_config.site_name}会员主页</a></dd>
            </dl>
            <dl class="arrow-d1">
                <dt></dt>
                <dd><a href="{'/member'|url}" target="_blank" class="txt txt-org dis">点击我的{$L.unit_yun}</a></dd>
            </dl>
            <dl class="arrow-d2">
                <dt></dt>
                <dd>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/member'|url}" target="_blank" class="txt txt-org dis">签到领{$L.unit_db_scores}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c2">
                        <dl>
                            <dd><span class="txt txt-org dis"><a href="{'/member/change_db'|url}" target="_blank">兑换</a>、<a href="{'/member/recchage'|url}" target="_blank">充值</a></span></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
            <dl class="arrow-u2-d5">
                <dt></dt>
                <dd>
                    <div class="chart-c5">
                        <dl>
                            <dd><a href="{'/yunbuy'|url}" target="_blank" class="txt txt-org dis">{$L.unit_yun_one}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c5">
                        <dl>
                            <dd><a href="{'/content/tiyan/db'|url}" target="_blank" class="txt txt-org dis">免费{$L.unit_yun}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c5">
                        <dl>
                            <dd><a href="{'/auction/lists/kaquan'|url}" target="_blank" class="txt txt-org dis">卡券{$L.unit_pay}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c5">
                        <dl>
                            <dd><a href="{'/auction/lists/jingpin'|url}" target="_blank" class="txt txt-org dis">精品{$L.unit_pay}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c5">
                        <dl>
                            <dd><a href="{'/content/tiyan'|url}" target="_blank" class="txt txt-org dis">体验{$L.unit_pay}</a></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="chart-category" style="margin-top:100px;">
        <h3><a href="#"></a></h3>
        <div class="chart-c2">
            <dl class="arrow-d1">
                <dd><a href="{'/auction/lists'|url}" target="_blank" class="txt txt-red dis">{$L.unit_pay}</a></dd>
            </dl>
            <dl class="arrow-d3">
                <dt></dt>
                <dd>
                    <div class="chart-c3">
                        <dl>
                            <dd><a href="{'/auction/lists/kaquan'|url}" target="_blank" class="txt txt-red dis">卡券{$L.unit_pay}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c3">
                        <dl>
                            <dd><a href="{'/auction/lists/jingpin'|url}" target="_blank" class="txt txt-red dis">精品{$L.unit_pay}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c3">
                        <dl>
                            <dd><a href="{'/content/tiyan'|url}" target="_blank" class="txt txt-red dis">体验{$L.unit_pay}</a></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
            <dl class="arrow-u2">
                <dt></dt>
                <dd>
                    <div class="chart-c1">
                        <dl>
                            <dd><a href="{'/content/index/44'|url}" target="_blank" class="txt txt-org2 dis">{$L.unit_pay}规则</a></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
            <dl class="arrow-d2">
                <dt></dt>
                <dd>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/content/index/44'|url}" target="_blank" class="txt txt-org2 dis">价高者得</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/content/html/winrules'|url}" target="_blank" class="txt txt-org2 dis">按首次出价{$L.unit_winning}率获得</a></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="chart-c2">
            <dl class="arrow-d1">
                <dd><a href="{'/yunbuy'|url}" target="_blank" class="txt txt-org dis">{$L.unit_yun}</a></dd>
            </dl>
            <dl class="arrow-d2">
                <dt></dt>
                <dd>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/yunbuy'|url}" target="_blank" class="txt txt-org dis">{$L.unit_yun_one}</a></dd>
                        </dl>
                    </div>
                    <div class="chart-c2">
                        <dl>
                            <dd><a href="{'/content/tiyan/db'|url}" target="_blank" class="txt txt-org dis">免费{$L.unit_yun}</a></dd>
                        </dl>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.chart-box dd .txt').bind('mouseover',function(){
        $(this).removeClass('dis');
    }).bind('mouseout',function(){
        $(this).addClass('dis');
    })
</script>
{include file="footer.html"}