<table class="records_list" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <td>{$L.unit_yun}时间</td>
        <td>会员帐号</td>
        <td>{$L.unit_yun}商品名称</td>
        <td>{$L.unit_yun}人次</td>
    </tr>
    </thead>
    <tbody>
    {foreach from=$list item=m key=k}
    <tr{if $k%2 eq 1} class="odd"{/if}>
        <td>{if $m.db_time}{microtime_format($m.db_time,'Y-m-d H:i:s.x')}{/if}</td>
        <td><a href="{'/minfo?id='|cat:$m.mid|url}" target="_blank" class="a1">{$m.username|nickname:$m.nickname}</a></td>
        <td><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" target="_blank" class="a2">(第{$m.qishu}期) {$m.goods_name}</a></td>
        <td>{$m.qty}人次</td>
    </tr>
    {foreachelse}
    <tr><td colspan="4">暂无{$L.unit_yun}记录！</td></tr>
    {/foreach}
    </tbody>
</table>
{include file="ajax_page.html"}
<script type="text/javascript">
    $(document).ready(function(){
        $('#load_records').find('.demo').ajaxContent({
            event:'click', //mouseover
            loaderType:"text",
            loadingMsg:"<span class='loading'>拼命加载中...</span>",
            target:'#load_records'
        }).bind('click',function(){
            $('html').animate({ scrollTop: '0' }, 500);
        });
    });
</script>