{if $listDjx.list}
{foreach from=$listDjx.list item=m key=key}
{if $m.wait_status eq 0}
<li title="{$m.title}" id="itemDjx{$m.buy_id}" q="{$m.qihao}">
    <em class="index1-img"><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" target="_blank"><img src="{zz mod=fileurl source=$m.imgurl_src width=150 height=150 type=0}" alt="{$m.title}" /></a><i></i></em>
    <p class="name"><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" target="_blank" title="{$m.title}">(第{$m.qishu}期){$m.title}</a></p>
    <small>总需：{$m.need_num} 人次</small>
    <div class="index-now">
        <big>揭晓倒计时：</big>
        <div id="leftTimeJx{$m.buy_id}" class="index-time"><span><font>0</font><font>0</font></span><b>:</b><span><font>0</font><font>0</font></span><b>:</b><span><font>0</font><font>0</font></span></div>
    </div>
    <div class="index-now jx-ing" style="display:none;">
        <big>揭晓倒计时：</big>
        <div>开奖计算中...</div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            onload_leftTime_jx('{$m.buy_id}',"{$m.has_time}",'index');
        });
    </script>
</li>
{/if}
{/foreach}
{/if}