<li class="index-new1" title="{$m.title}">
    <em class="index1-img"><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" target="_blank"><img src="{zz mod=fileurl source=$m.imgurl_src width=150 height=150 type=0}" alt="{$m.title}" /></a><i></i></em>
    <p class="name"><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" target="_blank" title="{$m.goods_name}">(第{$m.qishu}期){$m.goods_name}</a></p>
    <small>总需：{$m.need_num} 人次</small>
    <div class="text">
        <p>获得者：<a href="{'/minfo?id='|cat:$m.mid|url}#dbCod" target="_blank" title="{$m.username|nickname:$m.nickname}"><span>{$m.username|nickname:$m.nickname}</span></a></p>
        <p>来自：{$m.ip|cityIp|truncate:5:''}</p>
        <p>幸运号码：<font>{$m.luck_code}</font></p>
        <p>本期参与：<font>{$m.qty}</font></p>
    </div>
</li>