@charset "utf-8";

.title-o{ background: #f2f2f2; border-top:1px solid #e6e6e6; border-bottom:1px solid #fff; padding: 10px 10px; font-size: 1.5rem; color: #f01f46; }

.tips-m{ background: #fff; padding: 5px 10px 5px; font-size: 1.4rem; color: #666; }

.prompt{ font-size: 1.2rem; background: #fffce2; border: 1px solid #ffdd99; color: #ff6600; padding: 5px 10px; margin-top: 5px; }



/*check*/

.m-cart-address{ font-size: 1.0rem; }

.m-cart-address li{ padding:0 10px 0 0; margin-bottom: 5px; font-size: 1.2rem; }

.m-cart-address li b{ display: inline-block; }

.m-cart-address li span{ color: #666; }

.m-cart-address li .address-edit{ display: none; }

.m-cart-address li.on{ border: 1px solid #e54048; padding:4px 10px 4px 10px; background:#FFF0E8; color: #333; box-shadow: 5px 5px 0 #F3F3F3; margin-bottom: 10px; }

.m-cart-address li.on b{ color: #f50; font-size: 1.2rem; }



.order-area{ width: 100%; text-align: center; background: #fff; border: 1px solid #e6e6e6}



.m-cart-order-options{ margin: 10px 0; background: #fff; font-size: 1.2rem; padding: 7px 15px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; }

.m-cart-order-options .option{ margin: 2px; }



.summary .total{ padding: 5px 15px 5px; font-size: 1.4rem;}

.w-pay{ padding-top:15px; background: #fff; padding-right:10px; }

.w-pay-type{ margin: 10px 0 0 10px; width: 148px; height: 56px; text-align: center; background: #fff; line-height: 56px; font-size: 1.6rem; font-weight:bold; border: 2px solid #BCCCEE; float: left; }

.w-pay-selected{ border: 2px solid #688EDF; }

.w-pay-type label{ display: block; height: 100%; }