{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/virtual/edit">
    <input type="hidden" name="id" value="{$row.vir_id}" />
    <input type="hidden" name="post[goods_id]" value="{$row.goods_id}" />

    <table class="table-list">
    <tbody>
        <tr>
            <td class="td-label"><label>关联商品：</label></td>
            <td class="td-input">
                <p>{$row.goods_name}（{$row.goods_id}）</p>
            </td>
        </tr>

        {if !$row.vir_id}
        <tr>
            <td class="td-label"><label>库存卡密<span class="c-red">*</span>：</label></td>
            <td class="td-input">
                <textarea name="vir_pass"></textarea>
                <div class="form-tip">
                    <p>格式：11-aa，一行一个</p>
                    <p>11为卡号，aa为卡密，20161111为到期时间</p>
                </div>
            </td>
        </tr>
        <!--<tr>
            <td class="td-label"></td>
            <td class="td-input">
                <input type="file" value="批量导入" />
            </td>
        </tr>-->
        {else}
        <tr>
            <td class="td-label"><label>卡号<span class="c-red">*</span>：</label></td>
            <td class="td-input">
                <input type="text" class="form-i w200" name="post[vir_number]" value="{$row.vir_number}" />
            </td>
        </tr>
        <tr>
            <td class="td-label"><label>卡密<span class="c-red">*</span>：</label></td>
            <td class="td-input">
                <input type="text" class="form-i w200" name="post[vir_pass]" value="{$row.vir_pass}" />
            </td>
        </tr>
        {/if}

        <tr>
            <td class="td-label"><label>到期时间：</label></td>
            <td class="td-input">
                <input type="text" class="form-i Wdate" id="vir_time_end" name="post[vir_time_end]" value="{if $row.vir_time_end}{date('Y-m-d',$row.vir_time_end)}{/if}" readonly onclick="WdatePicker({ dateFmt:'yyyy-MM-dd' })" />
                {if !$row.vir_id}
                <div class="form-tip">默认到期时间是永久有效（不填的时候，就是默认道歉时间）</div>
                {/if}
            </td>
        </tr>

        {if $row.vir_id}
        <tr>
            <td class="td-label"><label>卡状态：</label></td>
            <td class="td-input">
                <div class="form-tip">{$row.vir_status_desc}</div>
            </td>
        </tr>
        {/if}

        <tr class="tr-btn">
            <td class="td-label"></td>
            <td class="td-input">
                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
            </td>
        </tr>

    </tbody>
    </table>

    </form>
</div>



