<h3 class="info-tag">
    {foreach from=$btnMenu item=m key=key}
    <a class="uiBtn{if $btnNo==$key} BtnBlue{/if}" href="{$m.url}"{if $m.str} {$m.str}{/if}>{$m.name}</a>
    {/foreach}
</h3>

<div class="html-box">
    <dl class="help-tip">
        <dt><a href="javascript:;" onclick="main.helpTip();"><i class="iconfont icon-a">&#xe63b;</i><span>温馨提示</span> <i class="iconfont icon-a">&#xe65b;</i></a></dt>
        <dd class="help-dd">
            <ul>
                <li>- {$lang_virtual.card}为关联虚拟商品的虚拟充值卡</li>
                <li>- 虚拟商品领奖后，会自动从关联的{$lang_virtual.card}列表中随机选择一张发送</li>
            </ul>
        </dd>
    </dl>

    <form class="cond-form clear" action="#!virtual/index" onsubmit="return xForm.submit(this)">
        <input type="hidden" value="" name="page" id="page">
        <input type="hidden" value="{$smarty.get.goods_id}" name="goods_id">
        <div class="f-unit">
            <select name="k" id="k">
                <option value="vir_number" {if $k eq 'vir_number'}selected{/if}>卡号</option>
                <option value="vir_username" {if $k eq 'vir_username'}selected{/if}>会员名</option>
            </select>
            <input id="q" class="form-i w160 sitem" name="q" value="{$q}" type="text">
            <select name="vir_status">
                <option value="99">-卡状态-</option>
                {foreach from=$status item=m key=key}
                <option value="{$key}" {if isset($vir_status) && $key eq $vir_status}selected{/if}>{$m.name}</option>
                {/foreach}
            </select>

            <button type="submit" id="submit" style="margin:1px 20px 0 10px;float:left;" class="uiBtn BtnBlue">搜索</button>
        </div>
    </form>

    {if $goods.id}
    <div class="table-top"><h5>虚拟商品{$goods.id}：{$goods.name}</h5></div>
    {/if}

    <form name="formlist" target="iframeNewsTarget" method="post" action="">
    <table class="list">
        <thead>
            <tr>
                <th class="w30">ID</th>
                <th align="left">卡号/卡密</th>
                <th align="left">有效期</th>
                <th align="left">卡状态</th>
                <th class="w80">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.list item=m}
            <tr>
                <td class='id' align='center'>{$m.vir_id}</td>
                <td><a href="javascript:;" onclick="showPass('pass{$m.vir_id}')" title="显示卡密">{$m.vir_number}</a><span id="pass{$m.vir_id}" style="display: none;">（<span class="c-gray">{$m.vir_pass_code}</span>）</span></td>
                <td>{if $m.vir_time_end}{date('Y-m-d',$m.vir_time_end)}{else}永久有效{/if}</td>
                <td>{$m.vir_status_desc}</td>
                <td class='opera' align='center' nowrap>
                    <a href='#!virtual/edit/?id={$m.vir_id}?com=xshow|编辑{$lang_virtual.card}' class='iconfont icon-a' title='更新{$lang_virtual.card}'>&#xe603;</a>
                     {if $smarty.const.USER eq 'admin'}
                       <a href='javascript:;' onclick="main.confirm_del('virtual/del','{$m.vir_id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                     {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
    </form>

</div>
<script type="text/javascript">
    function showPass(obj){
        obj = document.getElementById(obj);
        if(obj.style.display == 'none'){
            obj.style.display = '';
        }else{
            obj.style.display = 'none';
        }
    }
</script>
<script type="text/javascript">
    function exportExcel(){
        var arr = location.hash.split("?");
        var get = arr[1]?('?'+arr[1]):'';
        if(!get){
            com.xtip('导出量较大，请先进行筛选操作！',{ type:1 });
        }else{
            location.href='/manage/recharge_card/exportExcel'+get;
        }
    }
</script>