{include file='../public_btn.html'}

<div class="html-box">

    <div style="color: red;font-weight: bold">
        温馨提示:目前支持下面列表支付接口，资金安全尤为重要。
    </div>

    <form name="formlist" target="iframeNewsTarget" method="post" action="">

    <table class="list">

        <thead>

            <tr>

                <th class="w40">排序</th>

                <th class="w120" align="left">支付方式</th>

                <th>描述</th>

                <th class="w40">版本</th>

                <th class="w60">费用</th>

                <th class="w100">操作</th>

            </tr>

        </thead>

        <tbody>

            {foreach from=$list item=m key=cod}

            <tr>

                <td align='center'><input type='text' class='form-i-s w30' name='listorders[{$m.pay_id}]' value='{$m.pay_order}' /></td>

                <td nowrap>{$m.name}</td>

                <td class="c-gray">
                    <span class="c-orange">支持：{$m.clients}</span>
                    {$m.desc|nl2br}
                </td>

                <td align="center">{$m.version}</td>

                <td align="center">

                    {if $m.is_cod}配送决定

                    {else}{$m.pay_fee}

                    {/if}

                </td>

                <td class='opera' align='center' nowrap>

                    {if $m.install eq 1}

                    <a class="uiBtn" href="#!payment/install/{$m.code}?&com=xshow|编辑{$m.name}">编辑</a>

                    <a class="uiBtn" href="javascript:;" onclick="main.confirm_del('payment/uninstall','{$m.pay_code}','确认卸载{$m.name}吗？')">卸载</a>

                    {else}

                    <a class="uiBtn" href="#!payment/install/{$m.code}?com=xshow|安装{$m.name}">安装</a>

                    {/if}

                </td>

            </tr>

            {/foreach}

        </tbody>

    </table>



    <div class="foot-btn">

        <button type="button" class="uiBtn BtnGreen" onclick="main.batch_order('formlist','order','payment','pay_order','pay_id')">更新排序</button>

    </div>

    </form>

</div>



