fieldset, img {
    border: 0;
}

*, a:focus, input:focus {
    outline: 0;
}

a, body {
    color: #353d44;
}

.cl, .fix:after {
    clear: both;
}

.block, .fix:after {
    display: block;
}

*, .bbox, .layout, div, p {
    -webkit-box-sizing: border-box;
}

.footer li, .of, .sn-tab-nav li, .wb, .wbox-flex {
    word-wrap: break-word;
    word-break: break-all;
}

.sn-local-loading span, .sn-select, img, input {
    vertical-align: middle;
}

    .of, .sn-select select, .wb {
        text-overflow: ellipsis;
    }

    .checkbox-switch, .input-reset, .sn-select select {
        -webkit-appearance: none;
    }

article, aside, blockquote, body, button, code, dd, dialog, div, dl, dt, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}

li, ol, ul {
    list-style: none;
}

em, i {
    font-style: normal;
}

del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}

img {
    max-width: 100%;
    background-color: transparent;
}

a {
    text-decoration: none;
}

    a:active {
        opacity: .7;
    }

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
    overflow-y: scroll;
    font-size: 50px;
}

body {
    min-width: 320px;
    line-height: 1.5;
    font-family:'Microsoft YaHei';
    background: #fff;
}

body {
    font-size: 24px;
}

@media screen and (max-width:320px) {
    html {
        font-size: 21.33px;
    }

    body {
        font-size: 12px;
    }
}


@media screen and (min-width:320px) {
    html {
        font-size: 21.33px;
    }

    body {
        font-size: 12px;
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 24px;
    }

    body {
        font-size: 12px;
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 25px;
    }

    body {
        font-size: 12px;
    }
}

@media screen and (min-width:384px) {
    html {
        font-size: 25.6px;
    }

    body {
        font-size: 14px;
    }
}

@media screen and (min-width:400px) {
    html {
        font-size: 26.67px;
    }

    body {
        font-size: 14px;
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: 27.6px;
    }

    body {
        font-size: 14px;
    }
}

@media screen and (min-width:424px) {
    html {
        font-size: 28.27px;
    }

    body {
        font-size: 14px;
    }
}

@media screen and (min-width:480px) {
    html {
        font-size: 32px;
    }

    body {
        font-size: 15.36px;
    }
}

@media screen and (min-width:540px) {
    html {
        font-size: 36px;
    }

    body {
        font-size: 17.28px;
    }
}

@media screen and (min-width:720px) {
    html {
        font-size: 48px;
    }

    body {
        font-size: 23.04px;
    }
}

@media screen and (min-width:750px) {
    html {
        font-size: 50px;
    }

    body {
        font-size: 24px;
    }
}

@-webkit-keyframes bounce {
    0%,5% {
        left: 0;
        z-index: 1;
    }

    25% {
        left: .24rem;
        z-index: 1;
    }

    50% {
        left: .52rem;
        z-index: 3;
    }

    75% {
        left: .24rem;
        z-index: 3;
    }

    95% {
        left: 0;
    }

    100% {
        left: 0;
        z-index: 3;
    }
}

@-webkit-keyframes bounce-left {
    0%,100%,5%,95% {
        left: .52rem;
    }

    25%,75% {
        left: .24rem;
    }

    50% {
        left: 0;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}