{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/setting/config_other">
        <table class="table-list">
            <tbody>

            <tr class="table-h3">
                <td colspan="2">大转盘活动时间</td>
            </tr>

            <tr>
                <td class="td-input" colspan="2">
                    <input class="form-i w120 sitem" name="config[plate_start_time]" id="start_time" value="{$config.plate_start_time}" type="text" onclick="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss', maxDate:'#F{ $dp.$D(\'end_time\') }' })" autocomplete="false" /> ~
                    <input class="form-i w120 sitem" name="config[plate_end_time]" id="end_time" value="{$config.plate_end_time}" type="text" onclick="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss', minDate:'#F{ $dp.$D(\'start_time\') }' })" autocomplete="false" />
                </td>
            </tr>

            <tr class="table-h3">
                <td colspan="2">大转盘参与条件</td>
            </tr>

            <tr>
                <td class="td-input" colspan="2">
                    <span>每参与</span> <input type="text" class="form-i w40" name="config[plate_db_points]" value="{$config.plate_db_points|default:0}" /> <span>人次（不含免费区），可以获得一次大转盘机会；</span><br>
                    <span>每扣除</span> <input type="text" class="form-i w40" name="config[plate_pay_points]" value="{$config.plate_pay_points|default:0}" /> <span>{$L.unit_pay_points}，可以获得一次大转盘机会。</span><br>
                    <span>每扣除</span> <input type="text" class="form-i w40" name="config[plate_pay_scores]" value="{$config.plate_pay_scores|default:0}" /> <span>{$L.unit_db_scores}，可以获得一次大转盘机会。</span><br>
                </td>
            </tr>

            <tr class="table-h3">
                <td colspan="2">大转盘奖项设置</td>
            </tr>

            <tr>
                <td class="td-input" colspan="2">
                    {foreach from=$winConfig item=m}
                    <div>
                        <span>{$m.title}：{if $m.number}获得{/if}</span>
                        {if $m.number}
                        <input type="text" class="form-i w60" name="config[plate_get_points_{$m.key}]" value="{$config['plate_get_points_'|cat:$m.key]|default:0}" />
                        <select name="config[plate_get_type_{$m.key}]" style="vertical-align: middle">
                            {foreach from=$points item=n}
                            <option value="{$n.id}" {if $config['plate_get_type_'|cat:$m.key] eq $n.id}selected{/if}>{$n.title}</option>
                            {/foreach}
                        </select>
                        {/if}
                        {if $m.points}
                        <span> 中奖概率（</span>
                        <input type="text" class="form-i w40" name="config[plate_points_{$m.key}]" value="{$config['plate_points_'|cat:$m.key]|default:0}" />
                        <span>）</span>
                        {/if}
                    </div>
                    {/foreach}
                    <div class="form-tip" style="padding-top:10px;">
                        关于中奖概率：<br>
                        -.不支持小数，小数默认为下一个整数，如1.1实际为2，0.1实际为1；<br>
                        -.中奖出现概率：单个概率值 / 所有奖项概率值之和；<br>
                        -.中奖概率举例：如一等奖1，二等奖2，三等奖3，四等奖4，五等奖5，未中奖100，相当于1+2+3+4+5+100张彩票，随机选一张，即一等奖中奖概率为1/115.
                    </div>
                </td>
            </tr>

            <tr class="tr-btn">
                <td class="td-input" colspan="2">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>

            </tbody>
        </table>
    </form>
</div>