{include file='../public_btn.html'}
<style type="text/css">
    .msg-tip{ color:red;font-size:16px; font-weight:bold; margin-bottom:5px; }
    #updateBox{ border: 1px solid #ccc; padding: 5px 10px; display: none; margin-top:5px; }
</style>
<div class="html-box">

    <!--{if !$common.managesms}
    <p class="msg-tip">安全建议：建议开启后台短信验证码功能！</p>
    {/if}-->
    
    <table class="table-list">
        <tbody>
        {if $smarty.const.IsAuction}
        <tr>
            <td class="td-label">
                {if $data.cod.status eq 1}
                <button type="button" class="uiBtn uiBtn-disabled" disabled>{$L.unit_pay}开奖</button>
                {else}
                <button type="button" class="uiBtn BtnGreen" onclick="location.href='#!timing/editCod?com=xshow|今日{$L.unit_pay}开奖'">{$L.unit_pay}开奖</button>
                {/if}
            </td>
            <td class="td-input">
                <span class="form-tip">
                    （待开奖出价记录：<a href="manage#!auction/log?status=0" class="c-red"><b>{$data.cod.count}</b></a>）（下期开奖日：{$data.cod.nexttime|date_format:'Y-m-d 15:30'}）
                    <a href="#!timing/cod">查看开奖记录</a>
                </span>
            </td>
        </tr>
        <tr>
            <td class="td-label">
                {if $data.logSum}
                <button type="button" class="uiBtn BtnGreen" onclick="if(confirm('确认批量解冻！')) cron.init('frozen')">解冻{$L.unit_baozheng}</button>
                {else}
                <button type="button" class="uiBtn uiBtn-disabled" disabled>解冻{$L.unit_baozheng}</button>
                {/if}
            </td>
            <td class="td-input">
                <span class="form-tip">（待解冻出价记录：<a href="manage#!auction/log?frozen=98" class="c-red"><b>{$data.logSum}</b></a>） （所有已结束并未解冻的{$L.unit_pay}出价{$L.unit_baozheng}，单次最多解冻{$data.frozenNum}条记录）</span>
            </td>
        </tr>
        {/if}
        {if $smarty.const.USER eq 'admin'}
        <tr class="table-h3">
            <td colspan="2">批量处理</td>
        </tr>
        <tr>
            <td class="td-label">
                <button type="button" class="uiBtn BtnGreen" onclick="if(confirm('确认清除整站缩略图！')) cron.init('thumb')">清除缩略图</button>
            </td>
            <td class="td-input">
                <span class="form-tip">当发现网站前后台图片不对应时，可执行此操作（会影响第一次打开页面的速度，请慎重执行）！</span>
            </td>
        </tr>
        {if !$data.clear}
        <tr>
            <td class="td-label">
                <button type="button" class="uiBtn BtnGreen" onclick="timing.clear()">一键清理数据</button>
            </td>
            <td class="td-input">
                <span class="form-tip">
                    <label><input type="checkbox" id="table_member" value="1" disabled checked /> 会员数据</label>
                    <label><input type="checkbox" id="table_yunbuy" value="1" disabled checked /> 云购数据</label>
                    <label><input type="checkbox" id="table_goods" value="1" disabled checked /> 商品数据</label>
                    <label><input type="checkbox" id="table_admin" value="1" disabled checked /> 重置管理员</label>
                    <label><input type="checkbox" id="table_count" value="1" disabled checked /> 参拍人次清零</label>
                </span>
            </td>
        </tr>
        {/if}
        <tr>
            <td class="td-label">
                <button type="button" class="uiBtn BtnGreen" onclick="timing.updateDb();">数据库更新</button>
            </td>
            <td class="td-input">
                <span class="form-tip">网站使用更新包后请进行此操作！</span>
            </td>
        </tr>
        
        <!--<tr>
            <td class="td-label">
                <button type="button" class="uiBtn BtnGreen" onclick="if(confirm('确认生成云购缓存！')) cron.init('yunCache')">生成云购缓存</button>
            </td>
            <td class="td-input">
                <span class="form-tip">该功能将提升商品详情页的加载速度（清理掉此缓存前，每个商品仅生成一次）！</span>
            </td>
        </tr>-->
        <tr class="table-h3">
            <td colspan="2">定期处理 <a href="javascript:;" onclick="timing.cron();">【刷新】</a></td>
        </tr>
        {/if}
       <tr class="table-h3">
            <td colspan="2">统计信息汇总 </td>
        </tr>
        
        <tr>
            <td colspan="2" id="timingCron"></td>
        </tr>
        {if $smarty.const.USER eq 'admin'}
        <tr class="table-h3">
            <td colspan="2">系统信息</td>
        </tr>
        <tr>
            <td colspan="2">
                <p><span class="c-gray">登录IP：</span><span>{$system.ip}</span></p>
                <p><span class="c-gray">服务器操作系统：</span><span>{$system.os}</span></p>
                <p><span class="c-gray">WEB服务器：</span><span>{$system.web_server}</span></p>
                <p><span class="c-gray">PHP版本：</span><span>{$system.php_version}</span></p>
                <p><span class="c-gray">MYSQL版本：</span><span>{$system.mysql_version}</span></p>
               <!-- <p><span class="c-gray">源码版本：</span><span>{$smarty.const.Version}</span>
                    <a href="javascript:;" onclick="timing.checkUpdate()">【检查更新】</a>
                    <a href="http://help.lnest.com/?/article/19" target="_blank">【更新日志】</a>
                </p>-->
                <p><span class="c-red">温馨提示：如点击检查更新无反应，请清除浏览器缓存或更换浏览器！</span></p>
                <div id="updateBox">
                    <span class="loading" style="display: none;">联机中...</span>
                </div>
            </td>
        </tr>
        {/if}
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $.loadJs('/admin/js/manage/timing.js',function(){
        timing.cron();
    });
</script>



