
.slider1{background-color:#fff;}
.slider1 .slider_cnt{padding:10px 0;position:relative;margin:0 auto;overflow:hidden}
.slider1 .slider_cnt ul{position:relative}
.slider1 .slider_cnt li{float:left; border-radius:3px; margin-right:0;background-color:#eee;}
.slider1 .slider_cnt img{display: block;width:100%; margin-left:auto;margin-right:auto; border-radius:3px}

#gcate a{float:left; width:90px; margin-right:9px; height:90px; margin-bottom:9px}
@media screen and (max-width:320px){
	#gcate a:nth-child(4n-1){margin-right:0}
}
@media screen and (max-width:1000px){
	#gcate a:nth-child(6n-1){margin-right:0}
}

.wrp-body{background-color:#f2f2f2}
.home-goods{padding:16px 16px}

.good-cates a{background-color:#ccc}
.good-cates span{line-height:24px; font-size:16px; color:#fff; padding:10px 0 4px; display:block; text-align:center}
.good-cates i{font-size:46px; line-height:40px; display:block; text-align:center; color:#fff}

#gcate .m1{background-color:#06bbe8}
#gcate .m2{background-color:#06ec27}
#gcate .m3{background-color:#e8dd06}
#gcate .m4{background-color:#ff9b15}

.home-item1{margin:0 16px; background-color:#fff; border:1px solid #ddd; margin-bottom:16px}
.hi-tag{line-height:24px; padding:6px 8px; font-size:16px; border-bottom:1px solid #eee}
.hi-cover{padding:10px 10px 0; position:relative}
.hi-cover .hi-link{display:block}
.hi-cover img{width:100%}
.hi-desc{color:#fff; line-height:30px; height:30px; position:absolute; bottom:0; left:0; right:0; z-index:2; text-indent:10px}
.hi-layer{background-color:#000; opacity:0.5; left:0; filter:alpha(opacity=50); height:30px; bottom:0; width:100%; position:absolute; z-index:1}

.hi-price{line-height:24px; height:24px; padding:8px 10px}
.hi-price *{display:inline-block; vertical-align:top; line-height:24px; height:24px}
.hi-price label{color:#05b3e5}

.hgood img{width:80px; height:80px}
.hgood span{display:block}
.home-good-info{padding:10px 10px}
.home-good-info .lit-tag{font-size:16px; line-height:24px; height:24px; padding:5px 0; color:#666}

.home-foot{padding:10px 20px 50px; line-height:24px; color:#666; font-size:12px}


/*专题广告....*/
.wrp-box{display:-webkit-box; margin:0 16px 14px; background-color:#fff; padding:5px 10px 10px; border:1px solid #ddd}

.ad-tag{height:24px; line-height:24px; margin-bottom:2px; padding:5px 0; font-size:16px; color:#66b5ff}

.ad1 .ad-box{min-height:50px}
/*ad1:单图广告*/
.ad2 .ad-fg{width:7px}
/*ad2*/
.ad2-boxes{display:-webkit-box}
.ad2-boxes .ad-box{-webkit-box-flex:1 min-height:50px}
/*ad3*/
.ad3 .ad-fg{width:7px}
.ad3-boxes{display:-webkit-box}
.ad3-boxes .ad-box{min-height:50px; -webkit-box-flex:1}
/*ad4*/
.ad4-boxes{display:-webkit-box}
.ad4-boxes .ad-box{-webkit-box-flex:1; -webkit-box-flex:1}
.ad4 .ad-fg,.ad5 .ad-fg{width:7px}
.ad4 .sub-fg,.ad5 .sub-fg{height:7px}
.sub-ad1{min-height:50px}

.ad-unit{text-align:center; line-height:40px; color:#888}
.ad-unit img{display:block; width:100%; overflow:hidden}
/*ad5*/

/*select ad type*/
.sel-ad{height:400px; overflow:auto; padding:10px 15px 30px}
.sel-ad td{padding:5px}
