<table class="table-list">
    <tbody>
    <tr>
        <td class="td-label"><label>{$L.unit_yun}商品：</label></td>
        <td class="td-input"><a href="{'/yunbuy/detail/'|cat:$row.buy_id}" target="_blank">{$row.goods_name}</a></td>
    </tr>
    <tr>
        <td class="td-label"><label>参与人次：</label></td>
        <td class="td-input">{$row.qty}</td>
    </tr>
    <tr>
        <td class="td-label"><label>状态：</label></td>
        <td class="td-input">{if $row.status eq 1}<span class="c-disable">未支付</span>{elseif $row.status eq 2}<span class="c-green">进行中</span>{elseif $row.status eq 3}<span class="c-red">已{$L.unit_winning}</span>{elseif $row.status eq 4}<span class="c-orange">待揭晓</span>{elseif $row.status eq 5}<span class="c-gray">未{$L.unit_winning}</span>{/if}</td>
    </tr>
    {if !empty($row.db_time)}
    <tr>
        <td class="td-label"><label>{$L.unit_yun}时间：</label></td>
        <td class="td-input">{microtime_format($row.db_time,'Y-m-d H:i:s.x')}</td>
    </tr>
    {/if}
    {if !empty($row.yun_code)}
    <tr>
        <td class="td-label"><label>{$L.unit_yun}码：</label></td>
        <td class="td-input" width="500">
            <ul>
                {foreach from=$row.yun_code item=m}
                <li style="width: 20%; float: left;" {if $row.luck_code eq $m}class="c-red"{/if}>{$m}</li>
                {/foreach}
            </ul>
        </td>
    </tr>
    {/if}
    </tbody>
</table>