<h3 class="info-tag">
    <a class="uiBtn r" href="javascript:history.go(-1);void(0)">返回</a>
    补偿设置<span></span>
</h3>
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/yunbuy/doMoney" style="padding-top:5px; padding-bottom:10px">
        <input type="hidden" name="order_id" value="{$order_id}" />        
        <div class="f-unit">
            <label class="ui-label w80">商品名称：</label>
            <label class="ui-label w200">{$goods.name}</label>
        </div>
        <div class="f-unit">
            <label class="ui-label w80">商品原价：</label>
            <label class="ui-label w200">{$goods.price}</label>
        </div>
        <div class="f-unit">
            <label class="ui-label w80">补偿金额：</label>
            <label class="ui-label w200">{$goods.real_price}</label>
            <input style="display:none" type="text" name="money" value="{$goods.real_price}" id="money"/>
        </div>
        <!--div class="f-unit">
            <label class="ui-label w80">补偿价格：</label>
            <input class="form-i w200" type="text" name="money" value="{$goods.real_price}" id="money"/>
        </div-->
        <div class="f-unit">
            <label class="ui-label w80">补偿备注：</label>
            <textarea name="desc" id="fou"></textarea>
        </div>
        <div class="f-unit">
            <label class="ui-label w80">&nbsp;</label>
            <button type="submit" name="Submit" class="uiBtn BtnBlue">补 偿</button>
        </div>
    </form>    
</div>