{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/business/edit" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$row.id}" />
        <table class="table-list">
            <tbody>
            <tr>
                <td class="td-label"><label>会员名：</label></td>
                <td class="td-input">
                    {$row.username}（ID:{$row.mid}）
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>店铺名称：</label><span class="c-red"> *</span></td>
                <td class="td-input">
                    <input type="text" name="post[bus_name]" value="{$row.bus_name}" class="form-i w300" />
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>实体名称：</label></td>
                <td class="td-input">
                    <input type="text" name="post[bus_company]" value="{$row.bus_company}" class="form-i w300" />
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>实体类型：</label></td>
                <td class="td-input">
                    <input type="text" name="post[bus_company_type]" value="{$row.bus_company_type}" class="form-i w300" />
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>经营范围：</label></td>
                <td class="td-input">
                    <input type="text" name="post[bus_scope]" value="{$row.bus_scope}" class="form-i w300" />
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>客服电话：</label></td>
                <td class="td-input">
                    <input type="text" name="post[bus_tel]" value="{$row.bus_tel}" class="form-i w300" />
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>客服QQ：</label></td>
                <td class="td-input">
                    <input type="text" name="post[bus_qq]" value="{$row.bus_qq}" class="form-i w300" />
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>所属区域：</label></td>
                <td class="td-input"><div id="select_linkage">{$area}</div></td>
            </tr>
            <tr>
                <td class="td-label"><label>联系地址：</label></td>
                <td class="td-input"><input type="text" name="post[bus_address]" value="{$row.bus_address}" class="form-i w300"></td>
            </tr>
            <tr>
                <td class="td-label"><label>商家状态：</label></td>
                <td class="td-input">
                    {foreach from=$bus_status item=m key=key}
                    <label style="color: {$m.color}"><input type="radio" name="post[bus_status]" value="{$key}" {if $row.bus_status eq $key}checked{/if}> {$m.name}</label>
                    {/foreach}
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>备注：</label></td>
                <td class="td-input">
                    <textarea name="post[bus_why]" style="width: 300px;">{$row.bus_why}</textarea>
                    <div class="form-tip" style="line-height: 1.6;padding-top: 5px;"    >
                        未审核通过时，此内容为未审核原因，前台会员可见；<br>其它状态做备注使用，仅后台可见
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-label"><label>申请次数：</label></td>
                <td class="td-input"><input type="text" name="post[bus_times]" value="{$row.bus_times}" class="form-i w100"></td>
            </tr>
            <tr>
                <td class="td-label"><label>商品上限：</label></td>
                <td class="td-input">
                    <input type="text" name="post[bus_limit]" value="{if $row.bus_limit>0||$row.bus_limit<0}{$row.bus_limit}{else}{$bus_limit}{/if}" class="form-i w100">
                </td>
            </tr>
            <tr class="tr-btn">
                <td class="td-label"></td>
                <td class="td-input">
                    <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                    <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

{literal}
<script type="text/javascript">
    $.loadJs('/admin/js/manage/linkage.js',function(){
    });
</script>
{/literal}