{assign var='header' value='header2'}
{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<link rel="stylesheet" href="/style/mobile/css_02/center.css">
<style type="text/css">
    .tips-span-selected {
        font-weight: bold;
    }

    .list01 {
        border-top: 1px solid #e6e6e6;
    }

        .list01 dl dt {
            border-style: solid;
            border-left-width: 1px;
            border-right-width: 1px;
            border-color: #e6e6e6;
            border-top-width: 0px;
            border-bottom-width: 0px;
        }

        .list01 dl.item a {
            padding-bottom: 1px;
        }

            .list01 dl.item a > div {
                line-height: 20px;
            }

            .list01 dl.item a div.content {
                font-size: 12px;
                overflow-x: hidden;
                height: 20px;
                width: 61%;
                display: inline-block;
                line-height: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .list01 dl.item a div i.iconfont {
                float: left;
                width: 1.5em;
                font-size: 2em;
                text-align: center;
                display: inline-block;
                line-height: 40px;
            }
</style>
<div id="content" class="container main">

    <div class="list01  center-3 center-4" style="margin-top:0px;">
        {foreach from=$list item=data}
        <dl class="item ui-clr"><a href="{url('/content/show/65/')}{$data.id}">
            <i class="iconfont icon-jiantou right"></i>
            <div><i class="iconfont icon-new" style="color: #fc7075;"></i><b>{$data.title}</b><br/><div class="content"  style="font-size:12px;">{if $data.keywords!=""}{$data.keywords}{else}{$data.content}{/if}</div><span style="font-size:12px; float:right;">{date('Y-m-d',$data.createtime)}</span></div>
            </a>
        </dl>
        {/foreach}
    </div>
</div>
{include file="public_scroll.html"}

{include file="cms/footer.html"}
