{assign var='header' value='header2'}
{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<link rel="stylesheet" href="/style/mobile/css_02/center.css">
<div id="content" class="container main">
    <div class="fn-clear mt20 pb20">
        {include file="public_side_article.html"}
        <div class="fn-right hy-r">
            <div class="fn-clear hy-tjxh">
                <div class="title">
                    {if empty($data.list)}
                    <h2 style="color:red;font-size: 11pt;border:0px;" id="arttitle">{$data.cat.catname}</h2>
                    {else}
                    <h2 style="color:red;font-size: 11pt;border:0px;" id="arttitle">{$data.list[0].title} (发布时间: {$data.list[0].createtime|date_format:'Y-m-d H:i'})</h2>
                    {/if}
                </div>
                <div class="hy-box" id="artcontent">
                    {if !empty($data.list)}
                    <dl class="fn-clear">
                        <dd>{$data.list[0].content|strip_tags|truncate:500:'...'}</dd>
                    </dl>
                    {else}
                    <div class="empty">没有内容！</div>
                    {/if}
                    {include file='public_page.html'}
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public_scroll.html"}

{include file="footer.html"}