{$row.head='新闻资讯'}
{assign var='header' value='header2'}
{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<style type="text/css">
    .tips-span-selected {
        font-weight: bold;
    }

    body {
        background: #fff;
    }
</style>
<div id="content" class="container main" style="margin:10px 10px 10px 10px;">
    <div>
        <h2 id="title" style="text-align:center; color:#e54048;">{$data.row.title}</h2>
        <div id="updatetime" style="text-align:right;color:#484848;font-size:12px;padding-right:10px;">{date('Y-m-d',$data.row.createtime)}</div>
    </div>
    <div id="actdetail" style="margin-top:10px;color:#333;font-size:14px;">
        {$data.row.content|stripcslashes}
    </div>

</div>







{include file="public_scroll.html"}
{include file="cms/footer.html"}

