<div class="new-foot1"></div>
<ul class="new-foot">
    <li>
        <a href="{url()}"{if $mod eq 'home'} class="hover"{/if}>
            <em><i class="iconfont icon-zhuye"></i></em>
            <p>首页</p>
        </a>
    </li>
    <li>
        <a href="{'/yunbuy'|url}"{if $mod eq 'yunbuy'} class="hover"{/if}>
            <em><i class="iconfont icon-yiyuangoujilu"></i></em>
            <p>{$L.unit_yun_one}</p>
        </a>
    </li>
    <li>
        <a href="{'/content/win'|url}"{if $mod eq 'content'} class="hover"{/if}>
            <em><i class="iconfont icon-sfsiconyidongduankaijiang"></i></em>
            <p>最新揭晓</p>
        </a>
    </li>
    <li>
        <a href="{'/yunbuy/cart'|url}"{if $mod eq 'home'} class="hover"{/if}>
            <em><i class="iconfont icon-gouwuche"></i></em>
            <p>购物车</p>
            <span class=" cartNum" id="cartNum">{$cartNum}</span>
        </a>
    </li>
    <li>
        <a href="{'/member'|url}"{if $mod eq 'member'} class="hover"{/if}>
            <em><i class="iconfont icon-01huiyuanzhongxin"></i></em>
            <p>我的{$L.unit_yun}</p>
        </a>
    </li>
</ul>

<ul class="foot-fix">
    {if $site_config.ios_url|trim || $site_config.and_url|trim}
    <li class="fix-app"><a href="/content/download">APP</a></li>
    {/if}
    <li class="fix-top"><a id="top">TOP</a></li>
</ul>

<iframe name="iframeNews" style="display:none;"></iframe>
<span id="BIDNUMBER" style="display:none;"></span>
<script type="text/javascript">
    var logCount = '{$main.logCount}';
</script>
<script src="/style/mobile/js/script.js"></script>
{include file="cnzz.html"}
{include file="stat.html"}
</body>
</html>