{assign var='header' value='header2'}
{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<link rel="stylesheet" href="/style/mobile/css_02/center.css">
<link rel="stylesheet" href="/style/mobile/css/member.css">

<style type="text/css">
    a:hover, a:focus {
        color: #333;
    }

    div.free-m a:hover, div.free-m a:focus {
        color: #fff;
    }

    div.center a:hover, div.center a:focus {
        color: #fff;
    }

    .flex_box {
        display: -webkit-box;
        display: -webkit-box;
        display: box;
    }

    .center a, .center span, .center i, .center-2.main-pd {
        font-size: 12px;
    }

    #content a {
        line-height: 30px;
        padding-left: 15px;
    }
</style>

<div id="content" class="container main" style="margin:0px 0px 0px 0px;">
    <div class="center-3 center-4" style="margin-top:0px;">
            <a href="/content/index/2">
                <i class="iconfont icon-jiantou right"></i>
                <p><i class="iconfont icon-shenfenzheng" style="color: #4eca89;"></i>关于信力</p>
            </a>
                  <a href="/content/index/93">
            <i class="iconfont icon-jiantou right"></i>
            <p><i class="iconfont icon-jiangbei" style="color: #a2de2e;"></i>荣誉证书</p>
        </a>
        <a href="/content/index/94">
            <i class="iconfont icon-jiantou right"></i>
            <p><i class="iconfont icon-quanbushangpin-80" style="color: #ffaa45;"></i>厂房参观</p>
        </a>
        <a href="/content/index/95">
            <i class="iconfont icon-jiantou right"></i>
            <p><i class="iconfont icon-fenqigouwu" style="color: #ffaa45;"></i>检测设备</p>
        </a>
        <a href="/content/index/96">
            <i class="iconfont icon-jiantou right"></i>
            <p><i class="iconfont icon-fenqigouwu" style="color: #ffaa45;"></i>礼盒机器</p>
        </a>
    </div>

     <div class="center-1" style="margin-top:0px;">
        <div class="center-3">
            <a href="/content/index/77">
                <i class="iconfont icon-jiantou right"></i>
                <!--p><i class="iconfont icon-dizhi" style="color: #45e6b7;"></i>联系我们</p-->
                <p><i class="ap-icon icon-kf" style="color: #f60;padding-left:10px;padding-right:10px;font-size:140%;"></i>联系我们</p>
            </a>
            <a href="/content/index/99">
                <i class="iconfont icon-jiantou right"></i>
                <!--p><i class="iconfont icon-dizhi" style="color: #45e6b7;"></i>联系我们</p-->
                <p><i class="iconfont icon-yaoqing" style="color: #e54048;"></i>招贤纳士</p>
            </a>
            <!--a href="http://wpa.qq.com/msgrd?v=3&uin=1374671367&site=qq&menu=yes" target="_blank">
                <i class="iconfont icon-jiantou right"></i>
                <p><i class="ap-icon icon-kf" style="color: #f60;padding-left:10px;padding-right:10px;font-size:140%;"></i>在线客服</p>
            </a-->
        </div>
    </div>   
 

</div>
{include file="public_scroll.html"}

{include file="cms/footer.html"}