<div class="loading getMore"><a class="next" href="#"></a></div>
<div class="load"></div>
<script src="/style/scroll/debug.js"></script>
<script src="/style/scroll/jquery.infinitescroll.js"></script>
<script type="text/javascript">
    var options = {
        loading: {
            msgText: "",
            img: "/style/scroll/loading.gif",
            finishedMsg: '没有更多了哦...',
            //loading选择器
            selector: '.load'
        },
        animate: false,
        //触发方式
        event: "{if $event eq 'click'}click{else}scroll{/if}",
        //导航的选择器，会被隐藏
        navSelector: ".getMore",
        //包含下一页链接的选择器
        nextSelector: ".next",
        //你将要取回的选项(内容块)
        itemSelector: "li",
        //启用调试信息，若启用必须引入debug.js
        debug: false,
        //格式要和itemSelector保持一致
        dataType: 'html',
        //最大加载的页数
        maxPage: "{$page.count}",
        //当有新数据加载进来的时候，页面是否有动画效果，默认没有
        //animate: true,
        //滚动条距离底部多少像素的时候开始加载，默认150
        extraScrollPx: 150,
        //载入信息的显示时间，时间越大，载入信息显示时间越短
        //bufferPx: 40,
        //加载完数据后的回调函数
        errorCallback: function() {

        },
        //获取下一页方法
        path: function(index) {
            return "/content/index/{$data.cat.id}/"+index+"?load";
        }
    }
    if(typeof(ExtendOptions)!="undefined"){
        options = $.extend(options,ExtendOptions);
    }
    $('.list').infinitescroll(options, function(newElements, data, url) {  //回调函数
        //console.log(data);
        //alert(url);
    });
</script>