<div class="f-search">
    <table cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div class="f-search-input">
                <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="f-search-img"><img src="/style/mobile/images/search1.png" /></td>
                    <td><input id="SEARCHQ" value="{$smarty.get.q}" placeholder="搜索您需要的产品" /></td>
                </tr>
                </table>
            </div>
        </td>
        <td class="f-search-btn">
            <a id="search-btn">搜索</a>
            <input type="hidden" id="zq" value="{$smarty.get.zq}" />
        </td>
    </tr>
    </table>
    <script type="text/javascript">
        $("#search-btn").click(function(){
            location.href='/yunbuy?zq='+$('#zq').val()+'&q='+encodeURIComponent($('#SEARCHQ').val());
            return false;
        });
    </script>
</div>