html{overflow-y:auto;overflow-x:hidden}
body{margin:0;font:12px/1.7 '微软雅黑','\5B8B\4F53',Tahoma}
ul,dl,dt,dd,ol,input,h1,h2,h3,h4,h5,h6,p,form{padding:0;margin:0}img{border:none}
ul,li{list-style:none}i{font-style:normal}button,input{vertical-align:middle}.clear{clear:both}.clear:after{visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0}.clear{zoom:1;/*for IE6 IE7*/}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none}
button{background:none;border:none;cursor:pointer;padding:0;outline:none}
a,button{outline:none}

/*>>>>>>>>>字体图标<<<<<<<<<*/
@font-face {
	font-family: 'iconfont';
	src: url('../../fonts/iconfont.eot');/*  IE9*/
	src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'),/*  IE6-IE8*/
	url('../../fonts/iconfont.woff') format('woff'),/*  chrome、firefox*/
	url('../../fonts/iconfont.ttf') format('truetype'),/*  chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../../fonts/iconfont.svg#uxiconfont') format('svg');/*  iOS 4.1-*/
}

.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*__________字体图标End_________*/

body{position:absolute; width:100%; height:100%; left:0; top:0; overflow:hidden}
button,input{vertical-align:middle}
textarea,input,button{font:12px/1.5 '\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',Tahoma}

body{ background:url(../../images/login-bg.png) no-repeat center 0; }
.login-bg{position:absolute; width:2000px; height:1000px; top:50%; left:50%; border:1px solid red; margin-left:-1000px; margin-top:-500px}

.loginform{width:830px; height:402px; margin-top:-206px; top:50%; left:50%; position:absolute; margin-left:-420px; background:url(../../images/login.png) no-repeat; padding:5px}
.loginform h4{line-height:34px; padding:60px 100px 20px; font-size:34px; margin-bottom:15px; color:#666}

/*登录，注册*/
.form-unit{font-size:14px; height:46px; line-height: 46px; margin-bottom:10px; position:relative; padding-left:35px; width:450px; background-color:#fff; left:100px; border-radius:3px; overflow:hidden}
.form-unit .iconfont{position:absolute; left:10px; top:14px; font-size:20px; line-height:20px; height:20px; width:20px; text-align:center; color:#888}
.form-input{height:30px; padding:8px 12px; background-color:#fff; outline:none; font-size:14px; display:block; width:427px; line-height:30px; border:none}
.verify-code{width:150px; float:left}
.verify-image{float:left; position:relative; left:100px}
.verify-image img{height:46px; margin-left:10px; border-radius:3px}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border:none!important;
}
.imgcode{height:34px; width:100px; float:left; margin-right:5px}
.codebox{float:left; width:122px}
.form-btn{line-height:34px; height:34px; background-color:#D54E21; display:block; text-align:center; font-size:14px; color:#fff}

.form-unit .sub-btn{position:absolute; left:-30000px}

.login-btn{position:absolute; bottom:10px; right:90px; width:110px; height:145px}
.login-btn a{display:block; height:100%; width:100%; background:none; text-indent:-20000px; line-height:100%}
.login-btn input{position:absolute; top:-5000px}

.btn-sms{ display: inline-block; background: #f3f3f3; border-radius: 5px; height: 46px; line-height: 46px; padding: 0 10px; margin-left: 10px; font-size: 16px; color: #333; cursor: pointer; }
.btn-sms:hover{ color: #000; background: #eee; }