{if !$smarty.const.STPLTRUE && $jsMod eq 'home' && 1==2}
<script type="text/javascript" src="https://seal.wosign.com/tws.js"></script>
<script type="text/javascript" src="http://wljg.xmgs.gov.cn:8080/scripts/businessLicense.js?id=40288a854a18f763014a4c0cad360035"></script>
{/if}
<a href="https://ss.knet.cn/verifyseal.dll?sn=e15021035020057692ifqy000000&comefrom=trust" target="_blank"><img src="/style/images/knet6.png" height="50" style="background: none" /></a>