<li class="item-db">
    <em><a href="{url('/yunbuy/detail/'|cat:$m.buy_id)}"><img width="93" src="{zz mod=fileurl source=$m.imgurl_src width=93 type=0}"></a></em>
    <div class="new-index-2">
        <span><a href="{url('/yunbuy/detail/'|cat:$m.buy_id)}">(第{$m.qishu}期){$m.title|truncate:26}</a></span>
        <p>获得者：<a href="{'/minfo?id='|cat:$m.mid|url}#dbCod">{$m.username|nickname:$m.nickname}</a></p>
    </div>
</li>