<head>
    <link type="text/css" rel="stylesheet" href="/style/theme_01/css/common.css" />
</head>


<div class="container" style="display:none;">
    <div class="foot">
        <ul class="foot1 box-sizing">
            {zz mod=category field='id,catname,url,ismenu' catid=$smarty.const.HELP_ID type=child child=0 item=4}
            {foreach from=$tagData item=m key=key}
            {if $m.ismenu==1}
            <li>
                <big><a href="javascript:;">{$m.catname}</a></big>
                <p>
                    {zz mod=category field='id,catname,url,ismenu' catid=$m.id type=child child=0 limit=4}
                    {foreach from=$tagData item=m}
                    {if $m.ismenu==1}
                    <a href="{$m.url|url}">{$m.catname}</a><br />
                    {/if}
                    {/foreach}
                </p>
            </li>
            {/if}
            {/foreach}
        </ul>
        <dl class="foot2">
            <dt>
                <em><img src="{zz mod=fileurl source=$site_config.weixin_logo}" /></em>
                <p><span>官方微信</span></p>
            </dt>
            <dd>
                <h2>{$site_config.tel}</h2>
                <small>{$site_config.work|nl2br}<br />(全国免费热线)</small>
                <strong>服务器时间</strong>
                <big id="clock">载入中...</big>
                <script type="text/javascript">
                    tick();
                    function showLocale(obj){
                        var str;
                        var hh = obj.getHours();
                        if(hh<10) hh = '0' + hh;
                        var mm = obj.getMinutes();
                        if(mm<10) mm = '0' + mm;
                        var ss = obj.getSeconds();
                        if(ss<10) ss = '0' + ss;
                        str = "<b>"+hh + "</b><span>:</span><b>" + mm + "</b><span>:</span><b>" + ss + "</b>";
                        return(str);
                    }
                    function tick(){
                        var today = new Date();
                        document.getElementById("clock").innerHTML = showLocale(today);
                        window.setTimeout("tick()", 1000);
                    }
                </script>
            </dd>
        </dl>
    </div>
</div>
<footer style="background:#282d32;">
    <dl class="container" style="text-align:center;">
        <dd style="width:100%;">
            {zz mod=block mark=footer}
            {$site_config.cnnz|htmlspecialchars_decode}
        </dd>
    </dl>
</footer>
{if $mod eq home && ($site_config.ios_url|trim || $site_config.and_url|trim)}
<div class="bottom-ad">
    <dl class="container">
        <dt><img src="/style/theme_01/css/images/bottom.png"></dt>
        <dd>
            <img src="{$qrcode}" />
            <span>扫描二维码<br />参与更多惊喜</span>
        </dd>
    </dl>
    <div class="bottom-close"></div>
</div>
{/if}
<ul class="bodyright box-sizing">
    {if $site_config.qq}
    <li class="br-2" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin={$site_config.qq}&site=qq&menu=yes');">
        <em></em>
        <p>在线客服</p>
    </li>
    {/if}
    <li class="br-3">
        <em></em>
        <p>
            <!--img src="{zz mod=fileurl source=$site_config.weixin_logo}" /-->
            <span>梁小姐<br/>手机：18125364805<br/>固话：0750-2822888</span>
            <span>联系我们</span>
        </p>
    </li>
    <li class="br-6">
        <em></em>
        <p>返回顶部</p>
    </li>
</ul>

</body>
</html>
<script type="text/javascript" src="/style/foot.js"></script>
<script type="text/javascript" src="/style/theme_01/css/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/style/theme_01/css/common_02.js"></script>
