{include file="top.html"}
{zz mod=content var=tagAdw module=ad id=14}
{zz mod=fileurl var=tagAds source=$tagAdw.images num=2}
<!--{foreach from=$tagAds item=m}$site_config.site_name
<div class="full top-banner" {if {$m.title}}onclick="location.href='{$m.title}'"{/if} style="{if $m.title}cursor: pointer;{/if}{if $m.path}background-image: url('{$m.path}');{/if}"></div>
{/foreach}-->
<!--div class="full headbg" style="background:none;">
    <div class="container head">
        <h1 class="logo-bd ui-left">
            <a href="{url()}" target="_self" style="text-indent:0;"><img src="{zz mod=fileurl source=$site_config.logo}"/></a>
        </h1>
        <dl class="logo1">
            <dd>
                <form onsubmit="return searchWord();">
                    <input class="logo1_i1" id="SEARCHQ" name="q" value="{if $smarty.get.q}{$smarty.get.q}{else}{$main.search}{/if}" onfocus="if(this.value=='{$main.search}'){ this.value=''; }"  onblur="if(this.value==''){ this.value='{$main.search}'; }" />
                    <button type="submit" class="logo1_i2">搜索</button>
                </form>
                <script type="text/javascript">
                    function searchWord(){
                        location.href='/yunbuy?q='+encodeURIComponent($('#SEARCHQ').val());
                        return false;
                    }
                </script>
            </dd>
        </dl>
    </div>
</div-->
<style>
    .nav-main {
        left:auto;
        right:0px;
    }
</style>
<div class="header">
    <div class="nav-wrap"><!--#d9c1a9;-->
        <div class="container nav" style=" height:85px;">
                 <h1 class="logo-bd ui-left" style="margin-top:0px;">
            <a href="{url()}" target="_self" style="text-indent:0;"><img style="height:85px;" src="{zz mod=fileurl source=$site_config.logo}"/></a>
        </h1>
            <!--div class="nav-title ui-left">
                <a href="/yunbuy" class="nav-a">{$L.unit_all_products}分类</a>
                <div class="screen-left nav-topabs head-fx1 ui-left">
                    <ul class="nav-sub">
                        {$i=0}
                        {foreach from=$yuncat item=m name=f}
                        {if $i lt 8 && $m.ismenu eq 1}
                        <li><a href="{$m.url}"><em class="iconfontYC">{$m.iconfont}</em><span>{$m.catname}</span></a></li>
                        {$i=$i+1}
                        {/if}
                        {/foreach}
                    </ul>
                </div>
            </div-->
            <ul class="nav-main ui-left" style="top:auto; bottom:0px;">
                {assign var="nav" value=3|nav}
                {foreach from=$nav item=m key=k}
                <li {if $mod eq cmshome && $k eq 0}class="on"{/if}{if $mod eq cmsproduct && $k eq 1}class="on"{/if}{if $mod eq content && $data.cat.id eq 65 && $k eq 2}class="on"{/if}{if $mod eq content && $data.cat.id neq 65 && $k eq 3}class="on"{/if}><a href="{$m.linkurl|url}"{if $m.isblank} target="_blank"{/if}>{$m.title}{if $m.rec eq 1}<img src="/style/images/t-hot.gif" />{/if}</a></li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>