{include file="cms/header.html"}
<link type="text/css" rel="stylesheet" href="/style/css/cmsIndex.css" />
<div class="banner">
    <div class="banner1">
        <div class="bd">
            <ul>
                {zz mod=content var=tagAdw module=ad id=1}
                {zz mod=fileurl var=tagAds source=$tagAdw.images num=10}
                {foreach from=$tagAds item=m}
                <li><a href="{$m.title}" style="background-image: url('{$m.path}');"{if $m.isblank} target="_blank"{/if}></a></li>
                {/foreach}
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>

    {if $recbuy}
    <div class="banner-hot box-sizing">
        <div class="banner-top">热门推荐</div>
        <div class="banner-hot1">
            <div class="bd">
                <ul>
                    {assign var=pre value='01'}
                    {foreach from=$recbuy item=m}
                    {include file="yunbuy/lbi_yunbuy_index.html"}
                    {/foreach}
                </ul>
            </div>
            <div class="hd">
                <ul></ul>
            </div>
        </div>
    </div>
    {/if}
</div>
<div class="index-ad menu-show">
    <div class="container">

    </div>
</div>
<div style="margin-top:20px;">
<div class="met-index-service met-index-body">
<div class="container services-bg">
			<h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false" style="visibility: visible;"><a href="product/" title="我们的产品" target="_self">我们的产品</a></h3>
			<p class="desc animation-fade appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false" style="visibility: visible;">专业生产加工彩色包装箱,精品礼盒,彩盒印刷</p>
                    <div class="row">

<div class="col-lg-6 col-md-12 animation-slide-bottom appear-no-repeat" data-plugin="appear" data-animate="slide-bottom" data-repeat="false" style="visibility: visible;"> 


					<a href="/cmsproduct?cid=1&type=&zq=" title="纸箱包装" target="_self">

							<div class="services-box">
                               <img title="纸箱包装" alt="纸箱包装" src="upload/img5.jpg?1" style="width:150px;display: block;">
                                <div class="content">
                                    <h4>纸箱包装</h4>
                                    <p>纸箱包装是指产品在流通过程中，为保护产品、方便储运、促进销售，采用纸质箱体对产品所进行的包装。纸箱包装是应用最广泛的一种包装方式。</p>
                                </div>
                            </div>

					</a>
			
		 					<a href="/cmsproduct?cid=11&type=&zq=" title="精品礼盒" target="_self">

							<div class="services-box">
                               <img  title="精品礼盒" alt="精品礼盒" src="upload/img2.jpg" style="width:150px;display: block;">
                                <div class="content">
                                    <h4>精品礼盒</h4>
                                    <p>可按照客户的要求定做 ,客户可以提供样品定做各种尺寸、厚度、颜色、图案等各异的产品。我们也可以根据客户提供的实物来为您量身设计出各式礼盒。</p>
                                </div>
                            </div>

					</a>



			
		</div><div class="col-lg-6 col-md-12"> 


					<a href="/cmsproduct?cid=12&type=&zq=" title="彩盒印刷" target="_self">

							<div class="services-box">
                               <img  title="彩盒印刷" alt="彩盒印刷" src="upload/img3.jpg?1" style="width:150px;display: block;">
                                <div class="content">
                                    <h4>彩盒印刷</h4>
                                    <p>彩盒，一般由若干颜色搭配而成，给人以强烈的视觉感官，使购买者和使用者对商品的整体外观和颜色等细节了解。现已被广泛应用于电子、食品、饮料、酒类、茶品、卷烟、医药、保健品、化妆品、小家电、服装、玩具、体育用品等行业和产品包装配套等行业，是一个不可缺少的行业。</p>
                                </div>
                            </div>

					</a>
			
		 


					<!--a href="/cmsproduct?cid=4&type=&zq=" title="礼盒定制" target="_self">

							<div class="services-box">
                               <img  title="礼盒定制" alt="礼盒定制" src="upload/img2.jpg" style="width:150px;display: block;">
                                <div class="content">
                                    <h4>礼盒定制</h4>
                                    <p>礼盒定制是一种应用最广的包装制品，用量一直是各种包装制品之首。包括钙塑瓦楞纸箱。它除了保护商品、便于仓储、运输之外，还起到美化商品，宣传商品的作用。瓦楞纸箱属于绿色环保产品，它利于环保，利于装卸运输。(请提供200字左右说明)</p>
                                </div>
                            </div>

					</a-->
			
		 
					
        </div>					

 	

	</div>
</div>
</div>
<div class="met-index-about met-index-body">
		<div class="container-fluid">
			<div class="left_side"  bg-repeat="true" style="background-image: url(&quot;upload/cf2.jpg&quot;);">
				<div class="we_are_opacity" style="background:none;">
					<div class="we_are_border">
						<h2>始于2003年</h2>
					</div>
				</div>
                <!--img src="/upload/cf.jpg" style="width:100%; height:100%;"/-->
			</div>
			<div class="right_side animation-fade appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false">
				<div class="we_are_deatails">
					<h2><a href="product/product.php?lang=cn&amp;class2=19" title="关于我们" target="_self">关于我们</a></h2>
					<p></p><p>&nbsp; &nbsp; &nbsp;开平市信力纸业包装有限公司成立于2003年，是集研发设计、生产和销售各种瓦楞箱和彩盒一体化的专业生产厂家，拥有多名高专业素质的技术人员和管理人员，为了适应市场和客户的需求陆续购进纸箱和彩盒全套生产设备，配有三色、四色中国东方高速模切一体水墨印刷机、德国高宝五色对开、四色全张彩色胶印机、全自动啤机、全自动裱纸机、全自动粘盒机等高速先进生产设备，能充分满足客户的需求。</p>
<p>&nbsp; &nbsp; &nbsp;凭借“信誉至上、质量第一、客户满意、不断超越”的经营宗旨，多年来一直保持品质高、交期准的良好传统，在与广大客户紧密合作的过程中，赢得了持续的信赖和好评，本公司将以更完美的产品，更可靠的质量，更完善的服务答谢新旧客户的支持与厚爱。</p>
<p>&nbsp; &nbsp; &nbsp;开平市信力纸业包装有限公司以自身的诚信、实力和产品质量获得业界的认可，以诚挚的服务给于客户十分的满意，欢迎各界朋友莅临参观、指导和业务洽谈。</p>
<p><a href="/content/index/77" title="联系我们"><div class="col-md-3 col-sm-6 col-xs-12 list  text-left masonry-item" style="width:100%;">
				<ul class="contact-info" style="color:white;font-size:14px;">
							<li style="margin-bottom:5px;"><i class="icon pe-map-marker" style="color:#d68b37;font-size:18px;"></i> 广东省开平市苍城镇东郊工业区</li>
							<li style="margin-bottom:5px;"><i class="icon pe-call" style="color:#d68b37;font-size:18px;"></i> 18100000000</li>
							<li><i class="icon pe-mail" style="color:#d68b37;font-size:18px;"></i> 561222222@qq.com</li>
				</ul>
			</div></a></p>
				</div>
			</div> 
        </div>
	</div>
	
</div>
<ul class="index-menu">
    <li>
        <a href="#section-1">
            <em class="iconfontYC">&#xe618;</em>
            <p><span>产品展示</span></p>
        </a>
    </li>
    {$i=0}
    {foreach from=$yuncat item=c name=f}
    {if $i lt 7 && $c.ismenu eq 1 && $c.list}
    <li>
        <a href="#section-{$smarty.foreach.f.index+2}">
            <em class="iconfontYC">{$c.iconfont}</em>
            <p><span>{$c.catname}</span></p>
        </a>
    </li>
    {$i=$i+1}
    {/if}
    {/foreach}
</ul>
<div class="index-menu-show">

<div class="container section" id="section-1">
    <dl class="index-top">
        <dt><a href="/cmsproduct">查看更多</a></dt>
        <dd>
            <span class="iconfontYC">&#xe618;</span>
            <big>产品展示</big>
        </dd>
    </dl>
    <ul class="index1 box-sizing">
        {foreach from=$newyunbuy item=m}
        <li class="index1-img">
            <em class="v scrollLoadingDiv"><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" title="{$m.name}" target="_blank"><img class="scrollLoading" src="/style/images/pix.gif" data-url="{zz mod=fileurl source=$m.imgurl_src height=180 type=0}" id="buy_img_{$m.id}{$pre}" /></a><span></span></em>
            <big><a href="{'/cmsproduct/detail/'|cat:$m.id|url}" title="{$m.name}" target="_blank">{$m.name}</a></big>
            
        </li>
        {/foreach}
    </ul>
</div>

{$pre='02'}
{$i=0}
{foreach from=$yuncat item=c name=f}
{if $i lt 7 && $c.ismenu eq 1 && $c.list}
<div class="container section" id="section-{$smarty.foreach.f.index+2}">
    <dl class="index-top">
        <dt><a href="/cmsproduct?cid={$c.id}">查看更多</a></dt>
        <dd>
            <span class="iconfontYC">{$c.iconfont}</span>
            <big>{$c.catname}</big>
        </dd>
    </dl>
    <ul class="index2 box-sizing">
        {foreach from=$c.list item=m}
        {include file="yunbuy/lbi_yunbuy_index.html"}
        {/foreach}
    </ul>
</div>
{$i=$i+1}
{/if}
{/foreach}

</div>


{include file="cms/footer.html"}
<script src="style/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    $(".banner1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"fold",autoPlay:true,interTime:5000 });
    $(".banner-hot1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,interTime:5000 });
    $(".index-ad1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,interTime:5000 });
    $(".index3-1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,interTime:5000,vis:4,scroll:4 });
</script>
<script type="text/javascript" src="/style/theme_01/css/jquery.nav.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.index-menu').onePageNav({
            filter: ':not(.external)',
            scrollThreshold:0.01
        });
    });
    //漂浮
    $(function(){
        //获取要定位元素距离浏览器顶部的距离
        var navH1 = $(".index-menu-show").offset().top-30;
        //滚动条事件
        $(window).scroll(function(){
            //获取滚动条的滑动距离
            var scroH = $(this).scrollTop();
            //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
            if(scroH>navH1){
                $(".index-menu").fadeIn(500);
            }else{
                $(".index-menu").fadeOut(500);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){

    });

</script>
