<h3 class="info-tag">
    <a class="uiBtn BtnGreen r" href="javascript:;" onclick="exportMember()">导出Excel</a>
    {foreach from=$btnMenu item=m key=key}
    <a class="uiBtn{if $btnNo==$key} BtnBlue{/if}" href="{$m.url}"{if $m.str} {$m.str}{/if}>{$m.name}</a>
    {/foreach}
</h3>

<div class="html-box">
    <form class="cond-form clear" action="#!order/index" method="get" onsubmit="return xForm.submit(this)">
        {include file='../order/public_form.html'}
    </form>

    {if $data}
    <div class="tips">
        采购成本：
        <b class="c-red">{$data.oldprice|default:0|price_format}</b>
        <span class="form-tip">（订单设置的采购价）</span>

        商品成本：
        <b class="c-red">{$data.price|default:0|price_format}</b>
        <span class="form-tip">（商品设置的原价）</span>

        订单支付（不含第三方支付）：
        <b class="c-red">{$data.order_price|default:0|price_format}</b>

        第三方支付：
        <b class="c-red">{$data.money_paid|default:0|price_format}</b>

        {if $business_power}
        平台返佣：
        <b class="c-red">{$data.bus_money_manage|default:0|price_format}</b>
        {/if}
    </div>
    {/if}

    <table class="tb-goods" style="width:100%">

        <thead>

            <tr>

                <th nowrap class="oid" colspan="3">商品详情</th>

                <th nowrap class="w120">收货人信息</th>

                <th nowrap class="w140">还需支付</th>

                <th nowrap>状态与操作</th>

            </tr>

        </thead>



        {foreach from=$list item=m}

        <tbody>

            <tr><td colspan="10" class="sep-row"></td></tr>

            <tr class="order-head"><td colspan="10">

                订单编号：<span class="order-no">{$m.order_sn}</span>,

                下单时间：<span class="order-date">{date('Y-m-d H:i:s',$m.c_time)}</span>

                <a class="uiBtn BtnXs" href="#!order/detail/{$m.id}?com=xshow|订单详情({$m.order_sn})"><i class="iconfont">&#xe601;</i><span>订单详情</span></a>

                &nbsp;

                <span class="c-gray">会员名：</span><span>{$m.m_username}</span>

                {if $m.m_nickname}<span class="c-gray">昵称：</span><span>{$m.m_nickname}</span>{/if}

                {if $m.m_realname}<span class="c-gray">姓名：</span><b class="c-orange">{$m.m_realname}</b>{/if}

                <span class="c-gray">注册手机：</span><span class="c-green">{$m.m_mobile}</span>

                {if $m.m_status eq 0}

                <b class="c-red">已封号</b>

                {/if}

                {if $m.bus_mid}
                <span class="c-gray">商家名：</span><span class="c-red">{$m.bus_name}</span>
                {/if}

            </td></tr>



            {foreach from=$m.goods item=g key=k}

            <tr>

                <td class="bdl w5"></td>

                <td class="w70"><img src="{$g.imgurl_thumb}" style="width:70px" /></td>

                <td class="bdr" style="line-height: 1.5;">

                    <div class="oi-name"><a href="{$g.goods_url|default:$m.goods_url}" target="_blank">{$g.goods_name}</a></div>

                    {if $g.virtual_list}
                    <ul class="virtual_ul c-red">
                        {foreach from=$g.virtual_list item=n}
                        <li>
                            <span>卡号：{$n.vir_number}</span>
                        </li>
                        {/foreach}
                    </ul>
                    {/if}

                    <div class="oi-name" style="color:#999">{$g.rule}</div>

                    {if $g.goods_info}

                    <div class="c-gray" style="line-height: 1.2;">

                        {$g.goods_info|nl2br}

                    </div>

                    {/if}

                    <div class="c-red">

                        {if $g.goods_price}

                        原价：{$g.goods_price}<br>

                        {/if}

                        {if $m.oldprice gt 0}

                        采购价：{$m.oldprice}<br>

                        {/if}

                        {if $m.fow}

                        采购站点：{$goodsForm[$m.fow].title}<br>

                        {/if}

                        {if $m.fono}

                        采购订单号：{$m.fono}<br>

                        {/if}

                    </div>

                </td>



                {if $k==0}

                <td class="ac bdr w300" rowspan="{count($m.goods)}">

                    <div>{$m.name}[{$m.mobile}]</div>

                    {if $m.area || $m.deliver}<div><i class="iconfont">&#xe655;</i> {$m.area} {$m.deliver}</div>{/if}

                    {if $m.express_name || $m.express_num}<div>{$m.express_name}[{$m.express_num}]</div>{/if}

                    {if $m.note}<div>{$m.note}</div>{/if}

                </td>

                <td class="ac bdr" rowspan="{count($m.goods)}" style="line-height:18px;">

                  <!--  {$g.goods_price|price_format}<br /> -->

                    <b style="color:#f60">{$m.amount|price_format}</b>



                    {if $m.ismoney}

                    <!--<a href="javascript:;" onclick="if(confirm('确认设为财务未确认吗?')) main.chang_status('{$m.id}','goods_order','ismoney')" class='iconfont icon-a c-green' title="点击设置为财务未确认">&#xe648;</a>-->

                    {else}

                    <!--<a href="javascript:;" onclick="if(confirm('确认设为财务已确认吗?')) main.chang_status('{$m.id}','goods_order','ismoney')" class='iconfont icon-a c-gray' title="点击财务确认">&#xe648;</a>-->

                    {/if}



                    {if $m.status=='1'}

                    <!--<br><a href="javascript:;" class="uiBtn BtnXs e2-order-chPrice-{$m.id}">调整价格</a>-->

                    {/if}

                </td>

                <td class="ac bdr" rowspan="{count($m.goods)}">

                    <div style="line-height:18px">

                        {if $m.share_id}<a class="c-green" href="/minfo?id={$m.mid}#share#vid={$m.share_id}" target="_blank">已晒单</a><br>
                        {else}<span class="c-gray">未晒单</span><br>{/if}

                        {if $m.status==1}

                        <!--等待付款  订单状态,1已下单等待付款,2已付款等待发货,3已发货填入物流单号,4已签收完成交易-->

                        {$m.status_name}<br>

                        <!--<a href="javscript:;" class="od-cancel e2-order-cancel-{$m.id}">取消订单</a><br>

                        <a href="javascript:;" class="uiBtn BtnBlue BtnXs e2-order-receivedPay-{$m.id}">收到货款</a>-->



                        {elseif $m.status==2 || $m.status==7}

                        <!--收到货款,等待发货-->

                        {$m.status_name}<br>

                        <a href="#!order/send/{$m.id}?com=xshow|发货" class="uiBtn BtnGreen BtnXs">发货</a>



                        {elseif $m.status==3}

                        <!--已发货-->

                        {$m.status_name}<br>

                        <a style="display:none" href="javascript:;" class="uiBtn BtnOrange BtnXs e2-order-viewExpress-{$m.id}">查看物流</a>

                        <a href="http://www.kuaidi100.com/chaxun?com={$m.express_pinyin}&nu={$m.express_num}" target="_blank" class="uiBtn BtnOrange BtnXs">查看物流</a>



                        {elseif $m.status==4}

                        <!--交易完成-->

                        {$m.status_name}<br>



                        {elseif $m.status==5}

                        <!--订单已取消-->

                        {$m.status_name}<br>

                        {/if}

                    </div>

                </td>

                {/if}



            </tr>

            {/foreach}

        </tbody>

        {foreachelse}

        <tbody>

        <tr><td class="bdl bdr" style="text-align:center" colspan="10">

            没有找到符合条件的订单!

        </td></tr>

        {/foreach}

    </table>



    <div class="foot-btn">

        <div class="pager r">{$page}</div>

    </div>

    {literal}
    <style type="text/css">
        .setorder{line-height:18px; height:18px}
        .setorder i{vertical-align:middle}
        .order_num{text-align:center}
        .span10 .order_num .order{width:30px; min-width:0; text-align:center; display:block; margin:0 auto}
    </style>
    <script type="text/javascript" src="/admin/js/manage/order.js"></script>
    <script type="text/javascript">
        function exportMember(){
            var arr = location.hash.split("?");
            var get = arr[1]?('?'+arr[1]):'';
            if(!get){
                com.xtip('导出量较大，请先进行筛选操作！',{type:1});
            }else{
                location.href='/manage/order/exportExcel'+get;
            }
        }
    </script>
    {/literal}
</div>