<div class="f-unit">

    <select name="k" id="k">

        <option value="go.order_sn" {if $k eq 'go.order_sn'}selected{/if}>订单号</option>

        <option value="goi.goods_name" {if $k eq 'goi.goods_name'}selected{/if}>商品名称</option>

        <option value="username" {if $k eq 'username'}selected{/if}>会员名</option>

        <option value="nickname" {if $k eq 'nickname'}selected{/if}>昵称</option>

        <option value="realname" {if $k eq 'realname'}selected{/if}>真实姓名</option>

        <option value="name" {if $k eq 'name'}selected{/if}>收货人</option>

        {if $business_power}
        <option value="bus_name" {if $k eq 'bus_name'}selected{/if}>商家名称</option>
        {/if}

    </select>

    <input id="q" class="form-i w160 sitem" name="q" value="{$q}" type="text">

    <!--select name="ismoney" id="ismoney">

        <option value="">-财务确认-</option>

        <option value="1"{if get(ismoney)==1} selected="selected"{/if}>已确认</option>

        <option value="99"{if get(ismoney)==99} selected="selected"{/if}>未确认</option>

    </select-->

    <select name="order_status" id="order_status">

        <option value="">-订单状态-</option>

        {foreach from=$orderstatus item=m key=k}

        <option value="{$k}"{if get(order_status)==$k} selected="selected"{/if}>{$m}</option>

        {/foreach}

    </select>
    <!--select name="publish">
        <option value="">订单来源</option>
        <option value="1" {if $publish eq 1} selected{/if}>后台订单</option>
        <option value="2" {if $publish eq 2} selected{/if}>商家订单</option>
    </select-->



    <label class="ui-label">下单时间：</label>

    <input class="form-i w80 sitem" name="start_time" value="{get(start_time)}" type="text" onclick="WdatePicker()">

    <input style="margin-left:-1px" class="form-i w80 sitem" name="end_time" value="{get(end_time)}" type="text" onclick="WdatePicker()">

    <!--<label>&nbsp;<input type="checkbox" name="total" value="1" {if $total eq 1}checked{/if} /> 统计</label>-->

    <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue">搜索</button>

</div>