{include file='../public_btn.html'}

<div class="html-box">



    <form name="formlist" target="iframeNewsTarget" method="post" action="">

    <table class="list">

        <thead>

            <tr>

                <th class="w30">ID</th>

                <th align="left">{$L.unit_bonus}名称</th>

                <th align="left">{$L.unit_bonus}价值</th>

                <th align="left">赠送类型</th>

                <th align="left">有效时间</th>

                <th class="w80">操作</th>

            </tr>

        </thead>

        <tbody>

            {foreach from=$data.list item=m}

            <tr>

                <td class='id' align='center'>{$m.id}</td>

                <td>{$m.title}</td>

                <td><b class="c-orange">{$m.money}</b><span class="c-gray">{$m.money_type_title}</span></td>

                <td>{if $m.send_type gt 0}<span class="c-orange">{$m.send_type_title}</span>{else}{$m.send_type_title}{/if}</td>

                <td>{$m.use_day_title}</td>

                <td class='opera' align='center' nowrap>

                    <a href='#!bonus/send/?id={$m.id}?com=xshow|发放{$L.unit_bonus}' class='iconfont icon-a' title='发放{$L.unit_bonus}'>&#xe604;</a>

                    <a href='#!bonus/user_bonus/?id={$m.id}' class='iconfont icon-a' title='查看发放的{$L.unit_bonus}'>&#xe605;</a>

                    <a href='#!bonus/edit/?id={$m.id}&com=xshow|编辑{$L.unit_bonus}({$m.title})' class='iconfont icon-a' title='编辑'>&#xe603;</a>

                    {if $smarty.const.USER eq 'admin'}
                    <a href='javascript:;' onclick="main.confirm_del('bonus/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                    {/if}

                </td>

            </tr>

            {/foreach}

        </tbody>

    </table>



    <div class="foot-btn">

        <div class="pager r">{$page}</div>

    </div>

    </form>



</div>