{include file='../public_btn.html'}
<div class="html-box">
    <form target="iframeNewsTarget" method="post" action="/manage/bonus/send">
    <input type="hidden" name="id" value="{$row.id}" />

    <table class="table-list">
    <tbody>

        <tr>
            <td class="td-label"><label>{$L.unit_bonus}名称：</label></td>
            <td class="td-input">
                {$row.title}
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>发放数量：</label></td>
            <td class="td-input">
                <input type="text" class="form-i w200" name="post[number]" value="1" />
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>发放给会员：<span class="c-red">*</span></label></td>
            <td class="td-input">
                <textarea name="post[users]"></textarea>
                <div class="form-tip">一行表示一个会员名</div>
            </td>
        </tr>

        <tr>
            <td class="td-label"><label>发放备注：</label></td>
            <td class="td-input">
                <textarea name="post[desc]"></textarea>
            </td>
        </tr>

        <tr class="tr-btn">
            <td class="td-label"></td>
            <td class="td-input">
                <button type="submit" name="Submit" class="uiBtn BtnGreen">提&nbsp;&nbsp;交</button>
                <button type="reset" class="uiBtn">重&nbsp;&nbsp;置</button>
            </td>
        </tr>

    </tbody>
    </table>

    </form>
</div>

