{include file='../public_btn.html'}
<div class="html-box">

    <form name="formlist" target="iframeNewsTarget" method="post" action="">
    <table class="list">
        <thead>
            <tr>
                <th class="w30">ID</th>
                <th align="left">分类名称</th>
                <th class="w80">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data.list item=m}
            <tr>
                <td class='id' align='center'>{$m.id}</td>
                <td>{$m.name}</td>
                <td class='opera' align='center' nowrap>
                    <a href='#!gallery_tag/edit/?id={$m.id}&com=xshow|编辑多媒体分类' class='iconfont icon-a' title='编辑'>&#xe603;</a>
                    {if $smarty.const.USER eq 'admin'}
                    <a href='javascript:;' onclick="main.confirm_del('galler_tag/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="foot-btn">
        <div class="pager r">{$page}</div>
    </div>
    </form>

</div>



