﻿body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px/1.5; color:#4f4f4f;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {zoom:1;}
.mt10{ margin-top:10px;}
.mt99{ margin-top:99px;}
.mt5{ margin-top:5px;}
.tr{ text-align:right;}
.fn-left,.fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
a{color:#000000; text-decoration:none;}
a:hover{color:#e54048; text-decoration:none;}
#wrap{ width:1002px; margin:0 auto; overflow:hidden;}
.top-box{ height:99px; overflow:hidden;}
.logo{ margin-top:15px;}
.top-r{ line-height:99px; font-size:14px;}
.nav-box{ height:37px; line-height:37px; background:#e54048; overflow:hidden; padding-left:10px;}
.nav-box li{ float:left; display:inline; font-size:14px; width:124px; margin-right:10px; text-align:center;}
.nav-box li a{ display:block; width:100%; height:37px; color:#fff;}
.nav-box li a:hover,.nav-box li.dq a { background:url('../images/newbie/a-hover.png') no-repeat; color:#d91614;}
.lc-lsit{ margin-top:10px; overflow:hidden; height:30px; line-height:30px;}
.lc-lsit li{ float:left; display:inline; width:82px; height:30px; text-align:center; margin-right:2px; background:url('../images/newbie/li-bg2.png') no-repeat;}
.lc-lsit li.dq{ background:url('../images/newbie/li-bg2-2.png') no-repeat;}
.lc-lsit li.dq a{ color:#fff;}

.lc-box{ margin-top:25px; position:relative;}
.zc-01{ position:absolute; left:748px; top:518px; width:96px; height:44px; z-index:100;}
.lc-box a{ display:block; width:100%; height:100%;}

.zc-02{position:absolute; left:182px; top:525px; width:263px; height:40px; z-index:100;}




.lc-lsit li.lc-01{ background:url('../images/newbie/li-bg1.png') no-repeat; width:75px; overflow:hidden;}
.lc-lsit li.lc-01.dq{ background:url('../images/newbie/li-bg1-2.png') no-repeat; color:#fff;}
.lc-lsit li.lc-01.dq a{ color:#fff;}

.zh-01{position:absolute; left:309px; top:582px; width:288px; height:110px; z-index:100;}
.zh-02{position:absolute; left:900px; top:345px; width:80px; height:40px; z-index:100;}
.zh-03{position:absolute; left:362px; top:362px; width:90px; height:40px; z-index:100;}
.zh-04{position:absolute; left:910px; top:430px; width:80px; height:40px; z-index:100;}
.zh-05{position:absolute; left:362px; top:570px; width:80px; height:40px; z-index:100;}
.zh-06{position:absolute; left:910px; top:471px; width:80px; height:40px; z-index:100;}
.zh-07{position:absolute; left:910px; top:390px; width:80px; height:40px; z-index:100;}
.zh-08{position:absolute; left:362px; top:644px; width:80px; height:40px; z-index:100;}
.zh-09{position:absolute; left:910px; top:514px; width:80px; height:40px; z-index:100;}
.zh-10{position:absolute; left:298px; top:510px; width:80px; height:40px; z-index:100;}

.cz-01{position:absolute; left:740px; top:246px; width:80px; height:40px; z-index:100;}
.cz-02{position:absolute; left:508px; top:563px; width:80px; height:40px; z-index:100;}
.cz-03{position:absolute; left:363px; top:388px; width:140px; height:40px; z-index:100;}
.cz-04{position:absolute; left:740px; top:225px; width:140px; height:50px; z-index:100;}
.cz-05{position:absolute; left:550px; top:420px; width:90px; height:40px; z-index:100;}
.cz-06{position:absolute; left:466px; top:402px; width:90px; height:40px; z-index:100;}























































