@charset "UTF-8";
hr,img {
    border: 0
}
.nav-wrap{ background-color:#1fa8bb} /*#4c4c4c;*/
.nav-main li a{color:#d3d3d3; }
.nav-main li{background: none;}
.nav-wrap{ border-bottom: 0px;}
.ten li{
	height:338px;
}
.nav-main li.on a,.nav-main li a:hover{ background:none;color: #fff;} /*#e54048*/

.hy-l h4{height: 46px;line-height: 45px;padding-left: 40px;background: #fff !important;font-size: 22px;color: #E54048;font-weight: normal;}
.hy-l div.title {	
    background: #fff;
    padding-bottom: 5px;
}
.hy-l.side-article,.hy-l.ffbz {	
    min-height: 680px;
    border-width: 1px;
    border-style: solid;
    border-left-color: #f7f7f7;
    border-top-color: #f7f7f7;
    border-bottom-color: #d3d3d3;
    border-right-color: #d3d3d3;
}

.hy-qalist a{ color: #555 !important; }
.hy-qalist a:hover{text-decoration: underline; color: #E54048 !important;}
.hy-qalist .qa-t{ color: #E54048 !important; }
.hy-qalist .qa-t a{ color: #E54048 !important;} 
.ny_contact_left {float:left;}
.ny_contact_right {float:right;}