@charset "utf-8";
/* CSS Document */

/* index */
.first-screen{ _height:520px; }
.screen-left { width:230px; background-color:#fef4eb;}
.screen-center{ width:695px;}
.screen-right{ width:235px;}
.screen-bot{ height: 10px; overflow: hidden; width: 100%; margin-bottom: 22px; background: url('../images/sd/indext-bg.gif') no-repeat; }
.nav-sub { padding-bottom:10px; background:/*#E54048 */url(../images/bg-left-nav.png) no-repeat left bottom;}
.nav-sub li { background:url(../images/line-nav.png) repeat-x left top; background-color:#e54048;}
.nav-sub li a { display:block; height:53px; line-height:53px; padding:0 0 0 45px; font-size:14px; color:#fff;}
.nav-sub li a:hover { background-color:#d91717;}
.nav-sub li:first-child a,
.nav-sub li.n1 a { padding:0 0 0 65px;}

.active { padding-top:8px;}
.active h3 { line-height:32px; font-size:16px; color:#000; font-weight:bold; border-bottom:1px solid #ecdac9; padding-left:35px; padding-top:10px;}
.active ul { height:123px; border-top:1px solid #FFF; padding-left:35px; padding-top:16px; margin-right:20px; }
.active ul li { height:22px; line-height:22px; overflow:hidden; margin-bottom:12px; color:#663; text-overflow:ellipsis; white-space:nowrap;}
.active ul li b { float:left; display:block; width:17px; height:17px; line-height:17px; text-align:center; margin-right:10px; margin-top:3px; font-weight:normal; color:#fff; background-position:-426px -217px;}
.active ul li.a1 b { background-position:-426px -154px;}
.active ul li a { color:#663;}
.active ul li.a1 a{ color: #e54048; }

.slideBox { position:relative; width:100%; height:328px; overflow:hidden;}
.slideBox .hd { height:20px; overflow:hidden; position:absolute; right:26px; bottom:26px; z-index:1;}
.slideBox .hd ul { overflow:hidden; zoom:1; float:left;}
.slideBox .hd ul li { float:left; margin-right:6px;  width:19px; height:19px; line-height:19px; text-align:center; background:url(../images/slider-dot.png) no-repeat left top; color:#fff; cursor:pointer;}
.slideBox .hd ul li.on { background-position:right top;}
.slideBox .bd { position:relative; height:100%; z-index:0;}
.slideBox .bd img { display:block;}

.scroll { height:190px; width: 695px; position:relative; overflow: hidden}
.scroll .scroll-box { position:relative; width:696px; margin:0 auto; overflow:hidden; }
.scroll .bor{ display: block; position: absolute; right: 0; top: 0; height: 190px; width: 0; border-right: 1px solid #f5f5f5; z-index: 5;}
.scroll .bd .item { position:relative; float:left; width:312px; height:142px; padding:28px 0 24px 35px; color:#999; border-right: #f5f5f5 solid 1px;}
.scroll .bd .item span i{ font-style: normal; }
.scroll .bd .item span b{ color: #e54048; font-weight: normal;}
.scroll .bd .item .pic { position:absolute; right:20px; bottom:30px; width:102px; height:102px; overflow:hidden;}
.scroll .bd .item .pic img { width:100%;}
.scroll .bd .item .icon{ display: block; width: 62px; height: 61px; background: url('../images/sd/icon01.png') no-repeat; position: absolute; right: 10px; top: 5px; z-index: 10; }
.scroll .bd .item p { font-size:14px; line-height:22px; height: 22px; margin-bottom:10px;color:#333;width:220px;overflow: hidden; }
.scroll .bd .item p a{ color: #333; }
.scroll .bd .item p a:hover{ color: #e54048; }
.scroll .bd .item .more { color:#999;}
.scroll .bd .item .more:hover { text-decoration:underline;}
.scroll .bd .item i{ line-height: 28px; }
.scroll .bd .item i b{ background:#000; color: #fff; display: inline-block; background-color:#464239; text-align:center; border-radius:4px; height: 28px; font-size: 16px; font-weight: bold; padding:0 5px; }
.scroll .bd .item i h{ padding: 0 2px; color: #000; font-weight: bold; font-size: 18px; }
.scroll .prev,
.scroll .next { position:absolute; top:50%; margin-top:-12px; width:16px; height:24px; overflow:hidden; display: none;}
.scroll .prev { left:15px; background-position:-332px 0;}
.scroll .next { right:15px; background-position:-357px 0;}

.jx-count{ display: inline-block; background: #e54048; height: 35px; line-height: 35px; overflow: hidden; color: #fff; padding: 0 10px; border-radius: 3px; margin-top: 10px; font-size: 15px; white-space: nowrap }
.jx-count strong{ font-size: 16px;}
.jx-count strong b{ font-weight: normal; padding: 0 3px; }

.notice { border-right:1px solid #E7E9ED;}
.notice .hd { height:24px; padding:9px 12px 5px 18px; border-bottom:1px solid #e7e9ed;}
.notice .hd h3 { float:left; display:inline; font-size:14px; font-weight:bold; font-family:'宋体'; color:#000;}
.notice .hd .arrow { float:right; display:inline-block; margin-top:5px;}
.notice .hd .arrow a { float:left; display:inline-block; width:14px; height:15px; margin-left:5px;}
.notice .hd .arrow .prev { background-position:-263px 0;}
.notice .hd .arrow .next { background-position:-282px 0;}
.notice .bd { height:72px; width:204px; padding:8px 0 8px 18px; overflow:hidden; line-height:18px; color:#A5A5A5;}
.notice .bd .item{ height: 72px; overflow: hidden; }

.duobao { padding:25px 5px 18px 18px; height:96px; position:relative; border-top:1px solid #e7e9ed; border-right:1px solid #e7e9ed;}
.duobao .tip { position:absolute; top:-1px; left:18px; display:block; width:52px; height:26px; line-height:26px; text-align:center; font-family:'宋体'; font-weight:bold; color:#fff; padding-bottom:6px; background-position:-263px -23px;}
.duobao .pic { float:right; width:96px; height:96px; overflow:hidden;}
.duobao .pic img { width:100%;}
.duobao .info { padding-top:26px; line-height:18px; font-size:16px; color:#000;}
.duobao .info .join { font-size:14px;}
.duobao .info .price { color:#E54048; font-size:18px;}

.stock { padding:15px 0 5px 18px; height:46px; border-right:1px solid #e7e9ed; position:relative; background: #f5f5f5; font-size: 10px; }
.stock .tip { position:absolute; top:21px; left:0; display:inline-block; font-weight:bold; padding:0 13px; color: #333; line-height: 1.2; font-size: 12px; }
.stock .today { float:left; width:80px; margin-right:10px; border-right:1px solid #DADADA; padding-top:2px; height:36px; line-height:18px; color: #999; padding-left:27px; text-align: center; }
.stock .today strong { font-size:16px; color:#EA666D;}
.stock .today a:hover strong{ color: #E54048}
.stock .latest { float:left; display:inline-block; line-height:18px; color:#999;}
.stock .latest a{ color: #666633; font-size: 12px; }

.member-bd { height:80px; padding:18px 0 0 108px; position:relative; line-height:18px;}
.member-bd .user-head { position:absolute; top:8px; left:18px; width:72px; height:72px; border:1px solid #E4E4E3; border-radius:50%;}
.member-bd .u-regist { color:#e54048;}
.member-ft { height:50px;}
.member-ft a { display:block; float:left; width:50%; height:50px; line-height:50px; text-align:center; font-weight:bold; font-size:14px; }
.member-ft .btn-regist { background-color:#F2F3F5; color:#999;}
.member-ft .btn-login { background-color:#e54048; color:#fff;}

.section { margin-bottom:22px;}
.s-hd { height:38px; line-height:38px; border-bottom:2px solid #e54048; margin-bottom:20px;}
.s-hd h3 { float:left; width:230px; text-align:center; font-size:16px; font-weight:bold; background-color:#e54048; color:#fff; margin-right:13px; }
.s-hd .s-nav { float:left;}
.s-nav li { float:left;}
.s-nav li a { display:inline-block; padding:0 23px; font-size:14px; font-weight:bold; color:#000;}
.s-nav li a:hover { color:#e54048;}
.s-aside { width:230px; background-color:#f5f5f5;}
.s-main { padding-left:230px;}

.countdown { margin:18px auto 0; width:170px; padding-bottom:28px;}
.count-t { height:0; padding-top:22px; overflow:hidden; background-position:0 -150px; width: 170px; margin: 0 auto 13px; }
.count-bd { height:29px; background-position:0 -185px; line-height: 100px; width: 180px; }
.count-bd b { display: block; float: left; width: 30px; line-height: 29px; margin-right: 15px; text-align:center; color: #fff; }
.count-bd h { display: none; }

.focus { padding:55px 0; border-top:1px solid #ddd; height:410px; position:relative; overflow:hidden;}
.focus .bd li{ height:410px;}
.focus .bd li img { max-width:100%; _width:100%; display:block; margin:0 auto;}
.focus .prev,
.focus .next { position:absolute; left:50%; margin-left:-13px; display:block; width:25px; height:25px; overflow:hidden;}
.focus .prev { top:18px; background-position:-358px -37px;}
.focus .next { bottom:18px; background-position:-358px -68px;}

/*.focus .bd li .p1 { width: 230px;text-align: center; margin-bottom: 10px; }
.focus .bd li .p2{ height: 35px; line-height: 35px; overflow: hidden; }
.focus .bd li .p2 a{ font-size: 22px; color: #000; }
.focus .bd li .p3{ color: #999; font-size: 14px; margin-bottom: 10px;}
.focus .bd li .p4 a{ display: block; width: 102px; height: 39px; overflow: hidden; margin: 0 auto; background: url('../images/btn_qian.gif') no-repeat; }*/

.pro-list { _height:636px; padding:1px 0 0 0;}
.pro-list li { float:left; width:210px; height:308px; padding:9px 11px 0 10px; border:1px solid #e3e3e3; margin:-1px -1px 0 0;}
.pro-list li.hover{ border: 2px solid #ccc; position:relative; z-index: 3; height: 307px; padding: 8px 10px 0 9px }
.pro-list li.hover .winz{ top:-1px; right:-1px;}
.pro-list li .pic { width:100%; height:130px; overflow:hidden; margin-bottom:15px; text-align:center;}
.pro-list li .pic img { max-width:100%; _width:100%;}
.pro-list li p { height:20px; line-height:20px; overflow:hidden; color:#999;}
.pro-list li .title { text-overflow:ellipsis; white-space:nowrap;}
.pro-list li .title a { color:#999;}
.pro-list li .title a:hover { color:#e54048;}
.pro-list li .price { height:24px; line-height:24px;}
.pro-list li .price i { font-size:14px; font-style:normal;color: #e54048;}
.pro-list li .price span { font-size:20px;color: #e54048; }
.pro-list li .count-time { margin-top:5px; color:#333; font-size:13px;}
.pro-list li .count-time i { float:left; display:block; width:16px; height:15px; margin:2px 6px 0 0; background-position:-425px -250px;}
.pro-list li .count-time b{ color: #e54048; font-weight: normal;}
.pro-list li .btn-go { float:right; margin-top:25px; width:48px; height:28px; padding-left:15px; line-height:28px; text-align:center; color:#fff; font-size:14px; background-position:-198px -166px;}
.pro-list li .btn-finish{ background: url('../images/jp-ico5.png') no-repeat 0 0; width: 61px; }
.pro-list li .btn-pre{ background: url('../images/jp-ico4.png') no-repeat 0 0; width: 76px; }

.win-t { height:114px; border-bottom:1px solid #ddd; display: none;}
.win-bd { border-top:1px solid #fff; padding:0 20px; height:755px; overflow:hidden; position:relative; }
.win-bd li { height:91px; padding:16px 0 0; border-bottom:1px dotted #ddd;}
.win-bd li .p2{ max-height: 36px; line-height: 18px; overflow: hidden; }
.win-bd li .pic { float:left; width:50px; height:50px; overflow:hidden; border-radius: 50%;}
.win-bd li .pic img { width:50px; height:50px;}
.win-bd li .info { padding-left:60px; line-height:18px;}
.win-bd li .info p strong { font-size:14px; font-weight: normal; color: #00A0E9}
.win-bd li .info p.p1{ height: 20px; line-height: 20px;overflow: hidden; position: relative; }
.win-bd li .info p.p1 span{ float: right; }
.win-bd li .info p.p1 a{ float: left; width: 60px; overflow: hidden; word-break: break-all }

.act-bd { border-top:1px solid #fff; padding:0 20px; height:635px; overflow:hidden; position:relative; }
.act-bd li { height: 75px; padding:15px 0 0 60px; border-bottom:1px dotted #ddd; position: relative; }
.act-bd li img{ position: absolute; left: 0; top:18px; border-radius: 50%; }
.act-bd li a{ color: #00a0e9; }
.act-bd li a:hover{ text-decoration: underline; }
.act-bd li .p1{ font-size: 14px; height: 20px; overflow: hidden; word-break: break-all }
.act-bd li .p2{ height: 36px; line-height: 18px; overflow: hidden;}
.act-bd li .p2 a{ color: #666; }

.win-list { _height:756px; padding:1px 0 0 0;}
.win-list li { float:left; width:210px; height:368px; padding:9px 11px 0 10px; border:1px solid #e3e3e3; margin:-1px -1px 0 0;}
.win-list li.hover{ border: 1px solid #f60; position:relative; z-index: 3;
    -moz-box-shadow:3px 3px 3px #d8d8d8;
    -webkit-box-shadow:3px 3px 3px #d8d8d8;
    box-shadow:3px 3px 3px #d8d8d8;
}
.win-list li .pic { width:100%; height:180px; overflow:hidden; margin-bottom:5px; text-align:center;}
.win-list li .pic img { max-width:100%; _width:100%;}
.win-list li p { line-height:20px;}
.win-list li .title { height:22px; line-height:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.win-list li .title a { color:#000;}
.win-list li .title a:hover { color:#e54048;}
.progressBar { margin-top:10px;}
.progressBar-wrap { height:9px; margin-bottom:10px; overflow:hidden; background-color:#e5e5e5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.progressBar-wrap span { display:block; height:100%; width:0; background:url('../images/progress.png') no-repeat left -7px;}
.progressBar-txt { height:40px; overflow:hidden; color:#999; position: relative;}
.progressBar-txt div { width:30%; float:left;}
.progressBar-txt div.txt-r{ float: right;}
.progressBar-txt b { font-weight:normal; color:#f60; font-size: 14px;}
.progressBar-txt .txt-r { text-align:right;}
.progressBar-txt .txt-r b{ color: #2AF}
.progressBar-txt .txt-c{ width: 100px; text-align:center; position: absolute; left: 50%; margin-left: -50px; float: none; }
.progressBar-txt .txt-c b{ font-size: 14px; color: #999; }
.win-list li .btn-go-box{ display:block; margin:20px auto 0; text-align: center }
.win-list li .btn-go { display: inline-block; width:118px; overflow:hidden; height: 37px; text-align: center; line-height: 37px; font-size: 16px; color: #fff; font-weight: bold; background: #e54048; border-radius: 5px; }
.win-list li .btn-go-cart { width: 37px; background: url('../images/index_car.png') no-repeat center; }
.btn-go-green { display:block; margin:20px auto 0; width:118px; text-align: center; line-height: 37px; font-size: 16px; color: #fff; font-weight: bold; background: #1FB89A; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius:6px; }
.btn-go-green:hover{ color: #fff; }
.btn-index-01{margin-left:0;font-size:14px;width:auto;padding:0 12px;line-height:30px;background:#E54048;display:inline-block}

.recduobao { padding:0; background: #F5F5F5 url('../images/sd/indexdb-bg.gif') repeat-x 0 bottom; }
.recduobao li { width:200px; height: 328px; padding:5px 0 0 0; margin:0 auto;}
.recduobao li .pic { width:100%; height:150px; overflow:hidden; margin-bottom:5px; text-align:center;}
.recduobao li .pic img { max-width:100%; max-height: 100%; }
.recduobao li p { line-height:20px;}
.recduobao li .title { height:40px; line-height:20px; overflow:hidden; padding-left: 40px; margin-top: 15px; margin-right:15px; position: relative; text-align: center; }
.recduobao li .title i{ display: block; position: absolute; left: 10px; top:0; width: 22px; height: 22px; background: url('../images/sd/index-tit.gif') no-repeat 0; }
.recduobao li .title a { color:#999;}
.recduobao li .title a:hover { color:#e54048;}
.recduobao .progressBar{ margin-top: 5px;}
.recduobao .progressBar-wrap{ background: #e8e8e8; border-radius: 0;}
.recduobao .progressBar-wrap span{ background: #fc0; }
.recduobao .progressBar-txt{ height: 30px; }
.recduobao .progressBar-txt div{ width: auto; color: #666; }
.recduobao .progressBar-txt div p{ float: left; }
.recduobao .progressBar-txt div p b{ padding-right: 2px; color: #e54048; font-weight: bold; }
.btn-btn{ display: block; width: 136px; height: 45px; overflow: hidden; cursor: pointer; background: url('../images/sd/btn-db.gif') no-repeat; margin: 0 auto;}

.share-list { height:237px!important; border:1px solid #e3e3e3; overflow:hidden;}
.share-list li { float:left; width:554px; height:92px; padding:13px 12px; border-bottom:1px solid #e3e3e3;}
.share-list li.even { border-right:1px solid #e3e3e3; padding-right:13px;}
.share-list li .pic { float:left; width:100px; height:82px; padding:2px; border:1px solid #e3e3e3; overflow: hidden;}
.share-list li .detail { padding:18px 60px 0 150px; position:relative;}
.share-list li .detail .txt { height:40px; line-height:20px; overflow:hidden; color:#7f7f7f; margin-bottom:16px;}
.share-list li .detail .author { line-height:20px; text-align:right; color:#c0b4c1;}
.share-list li .detail .author a { color:#e54048; font-size:14px;}
.share-list li .detail .author a:hover { text-decoration:underline;}
.share-list li .detail i { position:absolute; display:block; width:24px; height:20px; overflow:hidden;}
.share-list li .detail i.former { left:117px; top:6px; background-position:-358px -120px;}
.share-list li .detail i.after { right:28px; bottom:1px; background-position:-388px -120px;}

.partner .s-bd{ height:102px; width:100%; overflow:hidden;}
.partner .s-bd li{ float:left; width:178px; height:100px; overflow:hidden; border:1px solid #e3e3e3; margin-right:16px;}
.partner .s-bd li:hover{ border-color:#e54048;}
.partner .s-hd .arrow{ float:right; margin-top:13px; display:inline-block;}
.partner .s-hd .arrow a{ display:inline-block; width:14px; height:15px; overflow:hidden; margin-left:5px; float:left;}
.partner .s-hd .arrow .prev { background-position:-263px 0;}
.partner .s-hd .arrow .next { background-position:-282px 0;}

.infos{ _height:360px; overflow:hidden;}
.infos .sd-hd{ line-height:38px; height:38px; overflow:hidden; font-size:26px; font-weight:bold; color:#000;}
.wuliu{ float:left; width:274px; padding:32px 66px 0 46px; height:328px; overflow:hidden; background-color:#f8f8f8;}
.wuliu .sd-bd{ margin-top:14px; width:100%; height:260px; overflow:hidden;}
.wuliu .sd-bd li{ padding:13px; height:60px; line-height:20px; font-size:14px; color:#000; border-bottom:1px solid #ccc;}
.wuliu .sd-bd li em{ color:#e54048; font-style:normal;}
.wuliu .sd-bd li span{ padding-left:22px;}

.news{ padding:32px 28px 0 28px; width:320px; height:328px; overflow:hidden; background:#f8f8f8;}
.news .sd-bd{ margin-top:25px; height:235px; overflow:hidden;}
.news .sd-bd li{ height:20px; line-height:20px; margin-bottom:15px;}
.news .sd-bd li a{ float:left; display:block; width:240px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.news .sd-bd li span{ float:right;}

.log{ padding:32px 30px 40px 30px; width:328px; height:288px; overflow:hidden; background-color:#E54048;}
.log .sd-hd{ color:#fff;}
.log .sd-bd{ position:relative; width:100%; height:225px; overflow-x:auto; overflow-y:hidden; margin-top:25px;}
.log .sd-bd .list-cont{ overflow:hidden;}
.log .sd-bd ul{ float:left; width:328px; padding-right:20px;}
.log .sd-bd ul:last-child{ padding-right:0;}
.log .sd-bd li{ height:82px; margin-bottom:22px; overflow:hidden; width:100%;}
.log .sd-bd li .pic{ float:left; width:68px; height:76px; overflow:hidden; border:3px solid #fff;}
.log .sd-bd li .pic img{ max-height:100%; _height:100%;}
.log .sd-bd li .info{ padding-left:86px; line-height:20px; color:#fff;}
.log .sd-bd li .info p{ height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.index-com{ display: block; text-align: center; border-right: 1px solid #f5f5f5; height: 120px; background: url('../images/index-lj.gif') no-repeat center; }

/**加入购物车飞入图片**/
.ui-cart-move{ width: 50px; height: 50px; overflow: hidden; border:2px solid #e54048; border-radius: 50%; display: block; }
.ui-cart-move img{ width: 100%; height: 100%; }

/*app浮动条*/
.app-bg{ position: fixed; background: url('../images/app-bg.png') no-repeat center bottom; height: 150px; bottom: 0; left: 0; width: 100%; z-index: 1000; }
.app-container{ position: relative; }
.app-bg .app-qr{ position: absolute; right: 0; height: 110px; top: 17px; border: 3px solid #fff; }
.app-bg .app-close{ position: absolute; right: -70px; top: 17px; width: 50px; height: 50px; display: block; background: url('../images/app-close.png') no-repeat 0; }