@charset "utf-8";
/* CSS Document */
.space{ width: 1200px; overflow: hidden; margin: 0 auto; border-top: 5px solid #c72674; border-bottom: 1px solid #ebebeb; }
.shead{ height: 260px; overflow: hidden; background: #b5095b; position: relative; color: #fff; font-size: 14px; }
.sleft,.sright{ margin-bottom:-10000px; padding-bottom:10000px; }
.sleft{ float: left; background: #e54048; width: 288px; overflow: hidden; color: #fff; }
.sright{ float: left; background: #fff; width: 911px; overflow: hidden; border-right: 1px solid #ebebeb; }
.sright .load{ padding: 24px 24px; }

.snav{ position: absolute; right: 0; bottom:0; width: 912px; overflow: hidden; height: 47px; line-height: 47px; background: #d63139 }
.snav li{ float: left; padding: 0 40px; font-size: 16px; color: #fff; cursor: pointer; }
.snav li a{ color: #fff; }
.snav li.hover{ background: #ea9500 url('../images/space/snavhover.gif') no-repeat center 0; }

.mpic{ position: absolute; left: 64px; top: 45px; width: 162px; height: 165px; overflow: hidden; }
.mpic img{ width: 160px; height: 160px; }
.mpic i{ display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2; background: url('../images/space/mpic.png') no-repeat; }

.sinfo{ position: absolute; left: 299px; top: 67px; padding-left: 54px; border-left:2px dotted #e4b9c8; height: 90px; width: 400px; }
.sinfo dt{ font-size: 30px; line-height: 1; margin-bottom: 20px; }
.sinfo dt img{ vertical-align: middle }
.sinfo dd{ line-height: 1.6; color: #e4b9c8; }

.shr{ position: absolute; right: 40px; top:67px; }
.shr .sbtn{ text-align: right; }
.shr .sbtn a{ color: #fff; }
.shr .sbtn a:hover{ color: #eee; }
.shr .sbtn span{ padding: 0 10px; }
.shr .sinfo2{ padding-top:20px; line-height: 1.6; }
.shr .sbtn img{ vertical-align: middle; }
.shr .sbtn i{ font-style: normal;}
.shr .sbtn .ab{ display: inline-block; width: 85px; height: 28px; line-height: 26px; text-align: left }
.shr .sbtn .ab i{ padding: 0 0 0 34px; }
.shr .sbtn .sbtn_fri{ background: url('../images/space/btn_fri.gif') no-repeat; color: #fff !important; }
.shr .sbtn .sbtn_msg{ background: url('../images/space/btn_msg.gif') no-repeat; color: #e54048 !important; }

.spic{ width: 80px; height: 80px; overflow: hidden; text-align: center; border-radius: 50%; }
.spic img{ width: 100%; height: 100%;  }

.sleft a{ color: #fff; }
.sleft h4{ background: #d63139; height: 54px; line-height: 54px; overflow: hidden; padding: 0 10px 0 20px; font-weight: normal; }
.sleft h4 strong{ font-size: 16px; font-weight: normal;}
.sleft h4 a{ float: right; }
.sfri .c{ padding: 30px 0 0 22px; font-size: 14px; }
.sfri dl{ float: left; width: 120px; text-align: center; overflow: hidden; margin-bottom: 30px; }
.sfri dl dt{ margin: 0 auto 5px; }

.svisit .c{ padding: 30px 0 0 0; }
.svisit dl{ position: relative; height: 80px; margin: 0 40px 30px; }
.svisit dl dt{ position: absolute; z-index: 2; left: 0; top: 0; }
.svisit dl dd{ background: #f7f7f7; height: 45px; overflow: hidden; position: absolute; top:15px; left: 0; border-radius: 24px;  z-index: 1; padding-left: 100px; color: #aaa; width: 100px; padding-top:6px; }
.svisit dl dd a{ color: #999; font-size: 14px; }
.svisit dl dd em{ font-style: normal;}

.sempty{ text-align: center; font-size: 14px; padding-bottom: 30px; }

/*夺宝记录*/
.w-table{ width: 100%; }
.w-table thead{ height: 40px; line-height: 40px; background: #f6f6f6; color: #333; }
.w-table th,.w-table td{ text-align: center; }
.w-table thead th{ font-weight: normal; padding: 0 20px; white-space: nowrap }
.w-table tbody td{ padding: 15px 10px; border-bottom: 1px solid #e7e7e7; }
.w-table .col1 img{ width: 120px; }
.w-table .col2{ font-size: 14px; line-height: 1.8; }
.w-table .col2 a{ color: #333; }
.w-table .col2 a:hover{ color: #e54048; }
.w-table .col5 li{ line-height: 2; color: #333; }
/*进度*/
.w-progressBar-txt{ height: 28px; line-height: 28px; overflow: hidden; width: 300px; background: #e54048; color: #fff; margin-top: 15px; }
.w-progressBar-txt li{ float: left; padding: 0 10px; }
.w-progressBar-txt li a{ color: #fff !important; }
.w-progressBar-txt li.w-progressBar-txt-r{ float: right; width: auto; background: #fe7278; height: 100%; text-align: center }
/*夺宝详情*/
.w-button{white-space: nowrap;font-size: 14px;display: inline-block;vertical-align: middle;color: #fff;background: #3399FE;border-width: 0;padding: 0 15px;text-align: center;height:20px;line-height:20px;border-radius: 3px;cursor: pointer;text-decoration: none!important;outline: none;}
.detail .goods{position:relative;padding-left:75px;line-height:normal;margin-bottom:14px;}
.detail .goods .pic{font-size:0;line-height:0;border:1px solid #DDD;position:absolute;top:0;left:0;}
.detail .goods .info-simple .opt{padding-top:10px;}
.detail .summary{color:#3C3C3C;position:relative;+zoom:1;height:22px;}
.detail .summary .back{position:absolute;right:0;top:0;}
.detail .summary-bottom{margin:10px 0 20px;}
.detail .w-table{margin-top:3px;}
.detail .w-table .col1{text-align:left;padding-left:20px;width:160px;}
.detail .w-table .col2{text-align:left;padding-left:10px;width:120px;}
.detail .w-table .col3{width:auto;text-align:left;padding-left:10px;padding-right:10px;}
.detail .w-table td{color:#3B3B3B}
.detail .codeList .item{display:inline-block;+display:inline;+zoom:1;margin-right:15px;margin-bottom:4px;}

/*夺宝中奖*/
.w-goodsList-item{border:1px solid #DDD; float: left; margin: 0 30px 30px 0; }
.w-goodsList-item.hover{ border: 1px solid #f60; z-index: 3;
    -moz-box-shadow:3px 3px 3px #d8d8d8;
    -webkit-box-shadow:3px 3px 3px #d8d8d8;
    box-shadow:3px 3px 3px #d8d8d8; }
.w-goodsList-item.last{ margin-right: 0;}
.w-goodsList-item .w-goods{ width: 230px; overflow: hidden; margin:15px; font-size: 14px; }
.w-goodsList-item .w-goods-pic{ width: 230px; height: 142px; overflow: hidden; margin-bottom: 20px; }
.w-goodsList-item .w-goods-pic img{margin:0 auto;max-width:230px;max-height:142px;}
.w-goodsList-item .w-goods-title{height:40px;line-height:20px;overflow:hidden;text-overflow:clip; margin-bottom: 5px;}
.w-goodsList-item .w-goods-title a{color:#333;}
.w-goodsList-item .w-goods-info{ color: #999; height: 24px; line-height: 24px; overflow: hidden; }

/*晒单列表*/
.m-shareList .item{width:273px;border:1px solid #ddd;margin:0 15px 15px 0;float:left;}
.m-shareList .item a{color:#999;}
.m-shareList .item a:hover{color:#333;}
.m-shareList .item:hover,
.m-shareList .hover{ border: 1px solid #f60; z-index: 3;
    -moz-box-shadow:3px 3px 3px #d8d8d8;
    -webkit-box-shadow:3px 3px 3px #d8d8d8;
    box-shadow:3px 3px 3px #d8d8d8; }
.m-shareList .item .pic{padding-top:9px;width:255px;overflow:hidden;text-align:center;font-size:0;line-height:0;margin:0 auto;}
.m-shareList .item .pic table,.m-shareList .item .pic td{width:255px;}
.m-shareList .item .name,.m-shareList .item .code,.m-shareList .item .status{padding:0 19px;line-height:2;}
.m-shareList .item .toAudit{color:#FE9900}
.m-shareList .item .name{overflow:hidden;padding-top:10px; line-height:1.5;}
.m-shareList .item .post{background-color:#F5F5F5;padding:15px 19px;line-height:22px;position:relative;+zoom:1;margin-top:8px;}
.m-shareList .item .post .title{padding-bottom:0px;font-weight:bold;}
.m-shareList .item .post .title a{ color: #333; }
.m-shareList .item .post .time{font-weight:normal;color:#adadad;padding-bottom:0px;}
.m-shareList .item .post .abbr{overflow:hidden;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-shareList .item .post .author{ height: 22px;}
.m-shareList .item .post .author a{float: left;}
.m-shareList .last{ margin-right: 0;}
/*晒单详情*/
.m-user-shareDetail .hd{margin:0 auto;border-bottom:1px dotted #CBCBCB;position:relative;}
.m-user-shareDetail .hd .title{text-align:center;font-size:24px;line-height:normal;padding-top:10px;color:#3B3B3B;margin-bottom:20px;}
.m-user-shareDetail .hd .time{background-color:#fff;position:absolute;bottom:-10px;left:50%;padding:0 10px;margin-left:-103px;}
.m-user-shareDetail .hd .share{position:absolute;right:0;bottom:-28px;white-space:nowrap;width:auto;}
.m-user-shareDetail .winDetail{margin:30px 0;border:1px solid #DEDEDE;position:relative;+zoom:1;height:130px;background-color:#FAFAFA;}
.m-user-shareDetail .winDetail .owner{position:relative;+zoom:1;padding-left:130px;line-height:22px;padding-top:20px;width:278px;background-color:#fff;height:110px;}
.m-user-shareDetail .winDetail .owner .sh_num{
    width: 77px;
    height: 93px;
    display: inline-block;
    background-position: 0px 0px;
    position: absolute;
    right: 10px;
    top: 0;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    background: url('../images/db_win.png') no-repeat;
    text-indent: 100px;
}
.m-user-shareDetail .winDetail .owner .sh_num200{ background: url('../images/db_win2.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .sh_num300{ background: url('../images/db_win3.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .sh_num400{ background: url('../images/db_win4.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .sh_num500{ background: url('../images/db_win5.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .sh_num1000{ background: url('../images/db_win10.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .sh_num1500{ background: url('../images/db_win15.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .sh_num2000{ background: url('../images/db_win20.png') no-repeat; }
.m-user-shareDetail .winDetail .owner .avatar{position:absolute;left:20px;top:20px;}
.m-user-shareDetail .winDetail .goods{position:absolute;left:408px;border-left:1px dashed #CBCBCB;top:0;height:130px;width:450px;}
.m-user-shareDetail .winDetail .goods .pic{position:absolute;left:20px;top:14px;}
.m-user-shareDetail .winDetail .goods .info{padding-left:130px;font-size:12px;line-height:22px;padding-top:15px;}
.m-user-shareDetail .winDetail .goods .name{padding-right:20px;}
.m-user-shareDetail .winDetail .goods .name a{color:#808080}
.m-user-shareDetail .winDetail .goods .more{margin-top:4px;}
.m-user-shareDetail .cont{margin:5px 20px 30px;position:relative;font-size:14px;line-height:2;white-space:normal;word-wrap:break-word;}
.m-user-shareDetail .pics{overflow:hidden;text-align: center;}
.m-user-shareDetail .pics .item{width:800px;text-align:center;line-height:0;font-size:0;margin:0 auto;margin-bottom:10px;min-height: 80px}
.m-user-shareDetail .pics .item img{ max-width: 100%;}

/*好友列表*/
.friList{ padding: 10px 0 0 5px; }
.friList .item{ float: left; position: relative; width: 280px; height: 80px; overflow: hidden; margin-bottom:30px; }
.friList .item dt{ width: 80px; height: 80px; overflow: hidden; border-radius: 50%; position: absolute; left: 0; top:0; }
.friList .item dt img{ width: 100%; height: 100%; }
.friList .item dd{ padding-left: 95px; padding-top:10px; margin-right: 20px; line-height: 18px; color: #c0c0c0;}
.friList .item dd a{ font-size: 16px; color: #e54048; }
.friList .item dd .name{ height: 20px; line-height: 20px; overflow: hidden; margin-bottom: 5px; }
.friList .item dd .desc{ height: 36px; overflow: hidden;}

