@charset "utf-8";
/* CSS Document */
.second_left{ float:left; width:450px; overflow:hidden}
.wrap{width:450px;height:350px;position:relative; clear:both; overflow:hidden}

.scroll{position:relative;overflow:hidden;}
.scroll ul{position:absolute;width:20000em;}
.scroll ul li{float:left;}
.bpic{position:absolute;top:0;left:50%; margin-left:-225px;width:448px;text-align:center; border:1px solid #e3e3e3; overflow:hidden; height:277px;}
.bpic div{ display:table; vertical-align:middle; text-align:center; width:448px; height:227px;}
.bpic div a{ vertical-align:middle; display:table-cell;*writing-mode: tb-rl; height:100%}
.bpic img{ max-width:448px; vertical-align:top; max-height:277px;}
.b1{width:450px;height:56px;position:absolute;bottom:0;left:0;z-index:1;}
.b1 li{width:88px;height:54px;position:relative; border:1px solid #e3e3e3; margin-right:10px; cursor:pointer;}
.b1 li div{display:none;}

.b1 li img{ width:88px; height:54px; vertical-align:top;}

.second_right{  float:right; z-index:2; width:100%;overflow:hidden; margin-left:-480px; display:inline; font-size:14px}
.second_right1{margin-left:480px; overflow:hidden;}
.second_name{ font-size:20px; clear:both; overflow:hidden; border-bottom:1px dotted #ccc; padding:5px 30px 5px 0}
.second_name p{ color:#e54048}
.second_time{ padding:15px 23px; clear:both; overflow:hidden; background:url(../images/hy-ico5.png) no-repeat 0 center}
.second_time span,.second_buy span{ color:#e54048; margin:0 2px}
.second_buy{ clear:both; overflow:hidden; padding:10px 0}
.second_buy dt{ float:left; width:190px; margin-right:10px; display:inline; overflow:hidden; background:url(../images/er_top2.jpg) no-repeat 0 0; padding-left:20px}
.second_buy dd{ float:left; width:190px; margin-right:10px; display:inline; overflow:hidden; background:url(../images/er_top2.jpg) no-repeat -214px 0; padding-left:20px}
.second_buy input{ text-align:center; font-size:26px; color:#fff; clear:both;height:48px;width:132px; background:none; border:0; cursor:pointer; text-align:center; margin-bottom:15px}
.second_buy big{ font-size:16px; clear:both; display:block; color:#333}
.fengxiang{ padding:10px 0; clear:both; overflow:hidden}
.second_tab{ border-bottom:2px solid #e54048; clear:both; overflow:hidden; font-size:16px; line-height:38px; padding-top:10px}
.second_tab dd{ float:left; display:inline-block; font-size:18px;}
.second_tab dd span{ cursor:pointer; padding:0 40px; float:left; display:inline; background:#f0f0f0}
.second_tab dd span.current{ background:#e54048; color:#fff}
.second_tab dt a{ margin-left:40px; color:#e54048}
.second{ clear:both; overflow:hidden; border:solid #ebebeb; border-width:0 1px 1px; padding:20px 0}
.second1{ clear:both; overflow:hidden; display:none;}
.second_ms{ width:100%}
.second_list{ width:910px; margin:0 auto}
.second1 .pages{ height:28px; line-height:28px;text-align:center; padding:20px 0; color:#555 }
.second1 .pages a{ height:28px; display:inline-block; color:#555; padding:0 10px; margin:0 3px}
.second1 .pages .prev{ background:url(../images/er_page1.jpg) no-repeat 0 0; width:40px; text-align:center; padding-left:12px !important}
.second1 .pages .next{ background:url(../images/er_page2.jpg) no-repeat 0 0; width:37px; text-align:center; padding-right:15px !important}
.second1 .pages a.dq,.second1 .pages a:hover{ background:#ff3300; font-weight:bold;color:#fff;}
.second_2{ clear:both; overflow:hidden; padding:5px 0 15px; margin:0 auto; width:100%}
.second_2 table{ border:solid #ddd; border-width:1px 1px 0 1px; text-align:center; vertical-align:middle;  color:#333}
.second_2 table tr td{ border:solid #ddd; border-width:0 0 1px 1px;line-height:30px; width:18%}
.second_2 table tr th{ width:28%;line-height:30px; font-weight:lighter; border-bottom:1px solid #ddd}
.second_3{ background:#eee}
.second_2 .red{ color:#e54048}
.tj-jg strong{ font-size:20px; padding-right:10px; font-weight:100;} 
.tj-jg span{ text-decoration:line-through}
.p4{ font-size:14px; color:#333; line-height:32px; height:32px; background:url('../images/hy-ico5.png') 0 50% no-repeat; padding-left:22px}
div.p4 i{font-style: normal;}
.p4 b{ font-weight:100; color:#e54048}
.btn-qg a{ margin-top:4px; float:right; display:inline; background:url('../images/hy-btn.png') no-repeat; height:28px; line-height:26px; font-size:14px; width:38px; padding-left:25px; color:#fff;}
.btn-qg a:hover{ color:#ff0}

.ceneral-title{ height:38px; line-height:38px;border-bottom:2px #E54048 solid; margin-top:20px;}
.ceneral-title h2{float:left; display:inline; text-align:center; font-weight:100; font-size:18px; background:#e54048; color:#fff; padding:0 40px;}
.ceneral{border:1px #e3e3e3 solid; margin:20px 0; height:315px; overflow:hidden;}
.ceneral li{ float:left; display:inline; width:211px; padding:10px; border-right:1px #e3e3e3  solid; height:300px; color:#999}
.ceneral li img{ width:210px; height:130px;}
.ceneral li h2{ height:43px; line-height:43px; font-weight:100; font-size:14px;}
.ceneral li h2 a{ color:#999}
.ceneral li h2 a:hover{ color:#e54048}
.ceneral ul{ width:300%}
#container{ width:1160px; margin:0 auto; overflow:hidden;}
#breadCrumb{ height:46px; line-height:46px; border-bottom:1px #ebebeb solid;}
.breadCrumb-txt{ width:1160px; margin:0 auto; background:url('../images/hy-ico1.png') 0 50% no-repeat; padding-left:20px;}
.breadCrumb-txt a{ color:#333;}
.breadCrumb-txt a:hover{ color:#e54048;}
.pb20{ padding-bottom:20px;}
.mt20{ margin-top:20px;}

.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {zoom:1;}
.fn-left,.fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
.color01{ color:#e54048}
.color02{ color:#00a0e9}
.color03{ color:#999}
.color04{ color:#adadad}