﻿.w240{width:240px;}
.g-wrap{margin: 0 auto;padding: 0 10px;width: 1160px;position: relative; overflow: hidden;}
.w-hd{position:relative;height:40px;border-bottom:2px solid #888888;z-index:1;}
.w-hd-title{margin-top: 30px;line-height:40px;font-size:18px;font-weight: 200;color:#000;font-family:"Microsoft Yahei";}
.w-hd-more{position:absolute;right:0;bottom:0px;line-height:30px;color:#808080;font-family:"simsun";}
.w-goodsList{}
.w-goodsList-item{float:left;margin-top:-1px;margin-right:-1px;overflow:hidden;border:1px solid #e8e8e8;position:relative;}
.w-goodsList .w-goodsList-item-hover,.w-goodsList .w-goodsList-item:hover{position:relative;border:1px solid #d2d2d2;z-index:1}
.w-goodsList-item-alt{padding:1px;}
.w-goodsList .w-goodsList-item-alt:hover,.w-goodsList .w-goodsList-item-alt-hover{padding:0;}
.w-goodsList .w-goods-ing,.w-goodsList .w-goods-brief,.w-goodsList .w-goods-briefFree,.w-goodsList .w-goods-blank{margin:20px 19px 20px 20px;}
.w-goodsList .w-goodsList-item:hover .w-goods-ing,.w-goodsList .w-goodsList-item-hover .w-goods-ing,.w-goodsList .w-goodsList-item:hover .w-goods-brief,.w-goodsList .w-goodsList-item-hover .w-goods-brief,.w-goodsList .w-goodsList-item:hover .w-goods-briefFree,.w-goodsList .w-goodsList-item-hover .w-goods-briefFree,.w-goodsList .w-goodsList-item:hover .w-goods-blank,.w-goodsList .w-goodsList-item-hover .w-goods-blank{margin:19px 18px 19px 19px;}
.w-goodsList .ico-joined,.w-quickBuyList .ico-joined,.w-remainList .ico-joined{position:absolute;top:152px;right:10px;}
.w-goodsList .w-goodsList-item:hover .ico-joined{position:absolute;top:151px;right:9px;}
.w-quickBuyList{ width: 1210px;}
 .w-quickBuyList .blank{ background: url('../images/alt_blank_s.jpg') no-repeat center; }
.w-quickBuyList-item{float:left;margin:0 8px 10px 0;width:282px;height:418px;border:1px solid #ddd;overflow:hidden;position:relative;}
.w-quickBuyList-item.hover{ border: 1px solid #f60; z-index: 3;
    -moz-box-shadow:3px 3px 3px #d8d8d8;
    -webkit-box-shadow:3px 3px 3px #d8d8d8;
    box-shadow:3px 3px 3px #d8d8d8;}
.w-quickBuyList .row-last{margin-right:0;}
.w-goodsList .w-goodsList-item:hover .ico-label{position:absolute;top:-1px;left:-1px;}
.w-goods{}
.w-goods-blank img{margin:0 auto;}
.w-goods-l{}
.w-goods-l .w-progressBar-wrap{}
.w-goods-l .w-progressBar-bar{background-position:0 -24px;background-color: #f8990b;}
.w-goods-xl{}
.w-goods-xl .w-progressBar-wrap{height:12px;background-position:0 -32px;}
.w-goods-xl .w-progressBar-bar{background-position:0 -44px;}
.w-goods-xxl{}
.w-goods-xxl .w-progressBar-wrap{height:15px;background-position:0 -56px;}
.w-goods-xxl .w-progressBar-bar{background:url('../images/progress.png') no-repeat left bottom;}
.w-goods-ing{width:200px;height:323px;overflow:hidden;}
.w-goods-ing .w-goods-pic{margin-bottom:8px; height: 150px; overflow: hidden; }
.w-goods-ing .w-goods-pic img{margin:0 auto; display: block;}
.w-goods-ing .w-goods-title{width:100%;}
.w-goods-ing .w-goods-title a{color:#3c3c3c;font-size:12px;line-height:26px;}
.w-goods-ing .w-goods-price{margin-bottom:10px; height: 24px; line-height: 24px;}
.w-goods-ing .w-progressBar{width: auto;}
.w-goods-ing .w-goods-progressHint{display:none;}
.w-goods-ing .w-goods-opr{margin-top:20px;text-align:center;}
.w-goods-ing .w-goods-opr-number{display:inline-block;*display:inline;*zoom:1;width:125px;height:30px;vertical-align:middle;}
.w-goods-brief{width:190px;height:190px;overflow:hidden;}
.w-goods-brief .w-goods-pic{margin-bottom:8px;}
.w-goods-brief .w-goods-pic img{margin:0 auto;}
.w-goods-brief .w-goods-title{width:100%;}
.w-goods-brief .w-goods-title a{color:#3c3c3c;font-size:12px;line-height:22px;}
.w-goods-briefFree{width:200px;height: 292px;overflow:hidden;text-align:center;margin:19px 15px 19px 15px !important;}
.w-goods-briefFree p{line-height:20px;}
.w-goods-briefFree .w-goods-pic{position: relative;margin-bottom:10px; height: 130px; overflow: hidden;}
.w-goods-briefFree .w-goods-title{width:100%;}
.w-goods-briefFree .w-goods-title a{color:#3c3c3c;}
.w-goods-briefFree .w-goods-price{margin-bottom:10px;}
.w-goods-briefFree .w-goods-opr{margin-top:10px;height: 50px;padding-top: 10px;}
.w-goods-picShow{width:400px;height:478px;position:relative;overflow:hidden;}
.w-goods-picShow-large{width:380px;height:380px;padding:9px;border:1px solid #dddddd;overflow:hidden;}
.w-goods-picShow-large img{ max-width: 380px; }
.w-goods-picShow-thumbnail{margin-top:20px;width:410px;}
.w-goods-picShow-thumbnail-list li{position: relative;float:left;display:inline;margin:0 7px 0 0;padding:4px;width:64px;height:48px;border:1px solid #dddddd;/* overflow:hidden;*/cursor:pointer;}
.w-goods-picShow-thumbnail-list li.selected{border-color:#db3652}
.w-goods-picShow .ico-arrow{position:absolute;top: -14px;left: 30px;z-index: 999999;display: none;}
.w-silde{overflow:hidden;position:relative;}
.w-silde-wrap-list{position:relative;left:0;overflow:hidden;_zoom:1;}
.w-silde-wrap-list li{float:left;}
.w-progressBar{width: 396px;}
.w-progressBar-wrap,.w-progressBar-bar{background-repeat:no-repeat;}
.w-progressBar-wrap{position:relative;margin-bottom:8px;height:8px;overflow:hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.w-progressBar-bar{position:absolute;height:100%; background:url('../images/progress.png') no-repeat left -7px;}
.w-progressBar-txt li{float:left;width:35%;line-height:18px;}
.w-progressBar-txt .w-progressBar-txt-r{float:right;border:0;text-align:right;}
.w-progressBar-txt p{padding-left:10px;display:block;}
.w-progressBar-txt p b{font-size: 14px;font-weight: 700;}
.w-progressBar-txt .w-progressBar-txt-l p{padding-left:0;}
.w-label{position:absolute;}
.w-label-text{font-family:"Microsoft Yahei";font-size:20px;line-height:20px;font-weight:bold;}
.w-label-revealed{}
.w-label-revealed .w-label-text{display:block;padding-top:30px;width:82px;height:52px;border-radius:50%;text-align:center;background:rgb(80,80,80);background:rgba(0,0,0,0.6);color:#fff;}
.w-label-revealed .w-label-link{position:absolute;top:0;left:0;display:block;width:100%;height:100%;}
.w-shareTo{line-height: 29px;overflow:hidden;}
.w-shareTo-txt{float:left;margin-right:6px;}
.w-shareTo-list li{float:left;margin-right:3px;display:inline;}
.w-shareTo-ico{display:block;width:20px;height:20px;background:url(../images/share_ico.png) no-repeat;}
.w-shareTo-yixin{background-position:0 -20px;}
.w-shareTo-weibo{background-position:-21px -20px;}
.w-shareTo-t163{background-position:-44px -20px;}
.w-shareTo-qzone{background-position:-66px -20px;}
.w-shareTo-tqq{background-position:-89px -20px;}
.w-tipsLayer{padding:5px 10px;line-height:18px;color:#3c3c3c;border:1px solid #767676;border-radius:4px;position:absolute;z-index:100;background-color:#E7E7EF;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#e9e9f2));background:-moz-linear-gradient(top,#ffffff,#e9e9f2);background:-o-linear-gradient(top,#ffffff,#e9e9f2);background:-ms-linear-gradient(top,#ffffff,#e9e9f2);box-shadow:3px 3px 3px rgba(0,0,0,.45);}
.w-tipsLayer .ico-arrow{position:absolute;bottom:-9px;left:4px;}
.w-pay{color:#3d3d3d;clear:both;}
.w-pay-money,.w-pay-type,.w-pay-selector,.w-pay-title{float:left;margin-bottom:15px;}
.w-pay-selector li{float:left;}
.w-pay-title{font-weight:bold;margin-right:10px;line-height:60px}
.w-pay-selector{position:relative;}
.w-pay-money,.w-pay-type{position:relative;width:146px;height:56px;border:2px solid #BCCCEE;margin-right:10px;text-align:center;line-height:56px;font-size:14px;font-weight:bold;cursor:pointer;}
.w-pay-layer{position:absolute;left:0;top:100%;width:850px;padding:8px;margin-top:-10px;border:2px solid #BCCCED;background:#fff;z-index:998;}
.w-pay-layer-inner{padding:15px 5px 15px 20px;background:#F4F7FE;overflow:hidden;zoom:1;}
.w-pay-layer-title{margin-bottom:10px;}
.w-pay-bankLogo,.w-pay-bank{cursor:pointer;}
.w-pay-bankLogo{float:left;position:relative;margin:0 15px 15px 0;width:148px;height:49px;border:1px solid #C1C1C1;background:#fff;}
.w-pay-bankLogo img{position:absolute;left:2px;top:2px;display:block;width:144px;height:45px;}
.w-pay-bankLogo:hover{width:146px;height:47px;border-width:2px;}
.w-pay-bankLogo:hover img{left:1px;top:1px;}
.w-pay-bank{float:left;margin:0 20px 5px 0;color:#349AFF;white-space:nowrap}
.w-pay-selected{border-width:3px;width:144px;height:54px;line-height:54px;border-color:#688EDF;}
.w-pay hr{clear:both;overflow:hidden;height:0;border:0;padding:0;margin:0;background:transparent;}
.w-pay-type-1:after,.w-pay-type-2:after{width:0;height:0;border:3px solid;position:absolute;right:2px;bottom:2px;overflow:hidden;content:'';border-left-color:#fff;border-top-color:#fff;border-right-color:#BCCCEE;border-bottom-color:#BCCCEE;}
.w-pay-selected:after,.w-pay-type-1:hover:after,.w-pay-type-2:hover:after{right:1px;bottom:1px;border-right-color:#688EDF;border-bottom-color:#688EDF}
.w-pay-money{height:46px;line-height:46px;border-color:#FFCCCA;}
.w-pay-money .w-input-input{padding:2px;}
.w-pay-money-selected,.w-pay-money:hover{border-width:3px;width:144px;height:44px;line-height:44px;border-color:#FF2E63;}
.w-pay-money span{font-size:12px;font-weight:normal;}
.w-payTips{border:solid #ddd;border-width: 1px 1px;padding:15px;}
.w-payTips-title{font-weight:bold;font-size:14px;color:#808080;margin-bottom:5px;}
.w-record-avatar,.w-record-goods{float:left;margin-top:5px;}
.w-record-detail{line-height:22px;*zoom:1;}
.w-record-date{float:right;}
.w-record-title strong{color:#d83333;}
.w-record-title a{color:#3c3c3c;}
.w-record-nb-list,.w-record-rich-list{}
.w-record-nb-list .odd,.w-record-rich-list .odd{background-color:#fff;}
.w-record-nb-list .even,.w-record-rich-list .even{background-color:#f5f5f5;}
.w-record-nb-item,.w-record-rich-item{padding:15px 10px;height:66px;}
.w-record-nb-item .w-record-intro,.w-record-rich-item .w-record-intro{overflow:hidden;}
.w-record-nb-item .w-record-detail,.w-record-rich-item .w-record-detail{margin-left:50px;}
.w-record-nb-item .w-record-title,.w-record-rich-item .w-record-title{width:100%;}
.w-record-nb-item .w-record-user,.w-record-rich-item .w-record-user{float:left;display:inline-block;width:80px;}
.w-record-newest-list{}
.w-record-newest-item{padding:16px 0;height:66px;overflow:hidden;border-bottom:1px solid #ddd;}
.w-record-newest-list .last{border:0;}
.w-record-newest-item .w-record-detail{margin-left:70px;}
.w-record-newest-item .w-record-user{}
.w-record-newest-item .w-record-title{padding-right:8px;height:45px;overflow:hidden;}
.w-crumbs{padding-top:20px;margin-bottom:10px;line-height:normal;overflow: hidden;}
.w-crumbs-item{float:left;margin-right:5px;}
.w-crumbs-item a{color:#7F7F7F;}
.w-crumbs-split{padding-left:6px;}
.w-crumbs-active{color:#EB677E;}
/* * 首页 * Author Cloud * CreateDate 2014-03-20 * Copyright:1997-2014 Netease Inc. All rights reserved.*/.m-index{}
.m-index .g-main{width:970px;}
.m-index .g-side{width:230px;}
.m-index .g-main-l{float:left;width:240px;}
.m-index .g-main-m{float:right;width:730px;}
.g-body-bd .g-main{width:961px;}
.m-index-board{margin-top:347px;height:213px;background:#ebe1b0;}
.m-index-board .w-tabs-tab{margin:0;padding-top:12px;}
.m-index-board .w-tabs-tab-item{margin:0;padding:0;width:120px;height:34px;border:0;background-color:#d8ce99;border-top:1px solid #c8c091;border-bottom:1px solid #c8c091;color:#666633;line-height:34px;text-align:center;}
.m-index-board .w-tabs-tab-item-selected{background:#ebe1b0;border-bottom:1px solid #ebe1b0;font-weight:bold;}
.m-index-board .w-tabs-tab .first{width:119px;border-right:1px solid #c8c091;}
.m-index-board .w-tabs-panel-item{padding:10px 15px;}
.m-index-board .w-tabs-panel,.m-index-board .w-tabs-panel a{line-height:28px;color:#666633;}
.m-index-board .w-tabs-panel{background:none;border:0;}
.m-index-board-news li{display:inline-block;vertical-align:bottom;width:200px;}
.m-index-board-news .lv1,.m-index-board-news .lv2{padding-right:6px;font-family:'verdana';font-size:16px;font-style:italic;}
.m-index-board-news .lv1{color:#d83333;}
.m-index-board-news .lv2{color:#7d7440;}
.m-index-duobaoIntro{margin-top:347px;padding:0 12px;height:213px;background:#ebe1b0;}
.m-index-duobaoIntro h4{margin-bottom:5px;padding-top:10px;line-height:35px;font-weight:bold;color:#666633;border-bottom:1px solid #666633}
.m-index-duobaoIntro-list{color:#666633;line-height:18px;}
.m-index-duobaoIntro-list li{padding:6px 0 6px 22px;position:relative;zoom:1;}
.m-index-duobaoIntro-list .index{position:absolute;top:8px;left:0;display:inline-block;width:18px;line-height:18px;text-align:center;border-radius:50%;background-color:#666633;color:#fff;}
.m-index-duobaoIntro-list a{color:#666633;text-decoration:underline;}
.m-index-promot{width:730px;height:350px;}
.m-index-newReveal{padding-top:10px;width:100%;height:199px;border-bottom:1px solid #e8e8e8;overflow:hidden;}
.m-index-newReveal h4{display:none;}
.m-index-newReveal li{width:364px;height:170px;border-right:1px solid #e8e8e8;}
.m-index-newReveal .w-silde-controller-btn a{width:38px;height:38px;top:85px;}
.m-index-newReveal .w-silde-controller-btn .prev i{top:7px;left:11px;}
.m-index-newReveal .w-silde-controller-btn .next i{top:7px;right:11px;}
.m-index-newReveal .w-silde-controller-nav{position:relative;bottom:0;left:0;padding-top:10px;}
.m-index-newReveal .w-silde-controller-nav a{width:10px;height:10px;}
.m-index-recommend{padding:10px 15px;width:200px;height:329px;background:#f5f5f5;position:relative;}
.m-index-recommend .ico-joined{position:absolute;top:142px;right:16px;}
.m-index-recommend h4{display:none;}
.m-index-recommend .w-goods .w-goods-title a{font-size:14px;font-weight:bold;}
.m-index-newGoods{margin-left:-1px;width:100%;height:209px;border:1px solid #e8e8e8;background:#fff;position:relative;overflow:hidden;}
.m-index-newGoods .ico-label{right:0;top:10px;z-index:1;}
.m-index-newGoods{}
.m-index-newGoods li{width:230px;}
.m-index-newGoods .wrap{width:190px;margin:auto;table-layout:fixed;}
.m-index-newGoods .w-silde-controller-btn a{width:20px;height:38px;top:85px;}
.m-index-newGoods .prev i{top:12px;left:5px;}
.m-index-newGoods .next i{top:12px;right:5px;}
.m-index-willReveal{position:relative;height:211px;overflow:hidden;zoom:1;background:#c9d9eb;background:-moz-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);background:-webkit-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);background:-o-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);background:-ms-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);}
.m-index-willReveal .deco{position:absolute;right:0;top:0;width:35px;height:35px;background:url('../images/mix-icon.png') 0 -60px no-repeat;}
.m-index-willReveal-extlink{display:block;width:100%;height:100%;}
.m-index-willReveal .w-countdown,.m-index-willReveal .w-countdown-title{color:#455F8E;font-size:12px;}
.m-index-willReveal .w-countdown b{color:#F95F02;font-size:18px;}
.m-index-mod{margin-top:11px;}
.g-side .m-index-mod{margin-top:18px;}
.m-index-mod-hd{position:relative;height:40px;border-bottom:2px solid #888888;z-index:1;}
.m-index-mod-hd h3{line-height:40px;font-size:18px;color:#000;font-weight:bold;font-family:"Microsoft Yahei";}
.m-index-mod-more{position:absolute;right:0;bottom:0px;line-height:30px;color:#808080;font-family:"simsun";}
.g-side .m-index-mod-hd{padding-left:15px;height:32px;background-color:#898989;}
.g-side .m-index-mod-hd h3{line-height:32px;color:#fff;font-size:16px;font-weight:normal;}
.m-index-goods-hotest{overflow: hidden;}
.m-index-goods-others{}
.m-index-goods-others .m-index-mod-bd{height:727px;}
.m-index-record-nb,.m-index-record-rich{}
.m-index-record-nb .m-index-mod-bd,.m-index-record-rich .m-index-mod-bd{height:674px;overflow:hidden;border:1px solid #ddd;border-top:0;border-bottom:0}
.m-index-record-nb .m-index-mod-ft,.m-index-record-rich .m-index-mod-ft{height:54px;background-color:#f5f5f5;font-family:"Microsoft Yahei";text-align:center;line-height:54px;border:1px solid #ddd;border-top:0;}
.m-index-record-nb .m-index-mod-ft{font-size:18px;}
.m-index-record-rich .m-index-mod-ft{font-size:22px;}
.m-index-record-newest{}
.m-index-record-newest .m-index-mod-bd{padding:0 5px 0 10px;height:693px;overflow:hidden;background-color:#f5f5f5;}
.m-index-record-newest .m-index-mod-ft{height:36px;background-color:#f5f5f5;}
.m-index-guess{}
.m-index-share{border-bottom:1px solid #ddd;}
.m-index-share .m-index-mod-bd{height:261px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;overflow:hidden;position:relative;}
.m-index-share-item{}
.m-index-share-item-left{overflow: hidden;border-bottom: 1px dotted #ddd;}
.m-index-share-picLink{display:block;float:left;width:110px;height:90px;line-height:90px;*line-height:87px;font-size:0;overflow:hidden;border:1px solid #ddd;}
.m-index-share-pic{vertical-align:middle;display:inline;}
.m-index-share-picLink:before,.m-index-share-picLink:after{content:" ";}
.m-index-share-wrap{position:relative;margin-left:120px;padding:10px 40px;height:70px;overflow:hidden;line-height:24px;}
.m-index-share-wrap .txt{height:50px;overflow:hidden;word-break:break-all;word-wrap:break-word;}
.m-index-share-wrap .txt a{color:#7f7f7f;text-decoration:none;}
.m-index-share-wrap .author{margin-top:5px;text-align:right;color:#b5b5b5;}
.m-index-share .ico-quote{position:absolute;}
.m-index-share .ico-quote-former{top:0;left:10px;}
.m-index-share .ico-quote-after{bottom:0;right:10px;}
.g-side{float: right;width: 230px;}
.w-record-nb-item .w-record-intro, .w-record-rich-item .w-record-intro{overflow: hidden;}
.w-record-nb-item .w-record-user, .w-record-rich-item .w-record-user{float: left;display: inline-block;width: 80px;}
.f-txtabb{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.gdis{padding: 20px 0;margin-left: -2px;width: 600px;border-right: 1px dotted #ddd;float: left;}
.m-index-share-picLink{margin-left: 20px;}
.w-progressBar-txt.f-clear{overflow: hidden;}
.w-goods-ing .w-goods-title a{color: #3c3c3c;font-size: 12px;line-height: 26px;}
/* * 商品详情页 * Author Cloud * CreateDate 2014-03-26 * Copyright:1997-2014 Netease Inc. All rights reserved.*/
 .m-detail-main-codes .deco,.m-detail-period-title-ft,.m-detail-mainTab-resultList .ball{background-image:url('../images/mix-icon.png');_background-image:url('../images/mix-icon_ie6.png');background-repeat:no-repeat;}
.m-detail{}
.m-detail .g-main{width:880px;float: left;}
.m-detail .g-side{width: 255px;}
.m-detail .g-main-l{float:left;width:400px;}
.m-detail .g-main-m{float:right;width:460px;}
.m-detail .g-body-hd{overflow: hidden;margin-bottom:20px;}
.m-detail .w-dir{padding-bottom:3px;}
.m-detail-show{position:relative;}
.m-detail-show .ico-label{z-index:1}
.m-detail-main{}
.m-detail-main-title{margin-bottom:8px;}
.m-detail-main-title select{float:left;}
.m-detail-main-title h3{text-indent:0;font-size:20px;line-height:32px;word-break:break-all;color:#3c3c3c;font-weight:bold;font-family:"Microsoft Yahei";}
.m-detail-main-title select{margin-top:6px;height:22px;}
.m-detail-main-price{margin: 5px 0 10px;font-size: 14px;}
.m-detail-main .w-progressBar{margin-bottom:6px;}
.m-detail-main .w-progressBar-txt p b{font-size:18px;}
.m-detail-main-progress{margin-top: 22px;margin-bottom: 10px;font-size:14px;/* text-align:center;*/}
.m-detail-main-count{height:30px;position:relative; line-height: 30px;}
 .m-detail-main-count span{ float: left; }
 .m-detail-main-count label{ float: left; padding-right: 5px; padding-left: 3px; cursor: pointer; }
 .m-detail-main-count label a{ float: left; height: 26px; overflow: hidden; line-height: 26px; border:1px solid #ddd; padding: 0 7px; }
 .m-detail-main-count label a.hover,.m-detail-main-count label a:hover{ border-color: #E03777; color: #E03777 }
 .m-detail-main-count-number{display:inline-block;*display:inline;*zoom:1;width:115px;height:30px;vertical-align:middle;float:left;}
.m-detail-main-buyHint{position:absolute;left:185px;top:2px;padding:0 5px 0 10px;display:inline-block;background-color:#f4f4f4;line-height:24px;border-radius:4px;}
.m-detail-main-buyHint .ico-arrow{position:absolute;left:-9px;top:8px;}
.m-detail-main-buyHint b{font-weight:normal;}
.m-detail-main-count .hd-wrap{padding-right:5px;display:inline-block;line-height:25px;background:#ececea;color:#adbbbc;}
.m-detail-main-count .hd-logo{margin-right:5px;display:inline-block;vertical-align:middle;}
.m-detail-main-ing{padding-right:0;padding-top:12px;border:1px dotted #a0a0a0;border-left:0;border-right:0;}
.m-detail-main-buyGoods{margin:30px 0;}
.m-detail-main-buyGoods .w-button{margin-right:10px;}
#addToCart{background-color: #f8990b;margin-right:0;border-radius: 0;}
.m-detail-main-state{overflow: hidden;margin-top:12px;}
.m-detail-main-state li{float:left;margin-right:38px;height:23px;line-height:23px;}
.m-detail-main-codes{margin-top:20px;padding:8px 0 8px 14px;height:80px;line-height:20px;background-color:#ffffe0;border:1px solid #dedeb3;position:relative;}
.m-detail-main-codes-list span{margin-right:10px;display:inline-block;}
.m-detail-main-codes .deco{position:absolute;top:-1px;right:-1px;width:16px;height:15px;background-position:-40px -60px;}
.m-detail-main-codes th{width:62px;vertical-align:top;}
.m-detail-main-codes-btn a{font-family:'simsun';margin-right:10px;}
.m-detail-main-will{margin-bottom:20px;padding:180px 25px 0 25px;width:410px;height:148px;background:url('../images/main_bg.png') no-repeat;position:relative;}
.m-detail-main-will h3{display:none;}
.m-detail-main-will-waitingHint{position:absolute;top:30px;right:30px;padding-bottom:8px;width:166px;height:24px;line-height:24px;text-align:center;background:url('../images/mix-icon.png') 0 -660px no-repeat;_background-image:url('../images/mix-icon_ie6.png');color:#fff;-webkit-animation:jump 0.8s infinite;-moz-animation:jump 0.8s infinite;-o-animation:jump 0.8s infinite;-ms-animation:jump 0.8s infinite;animation:jump 0.8s infinite;}
.m-detail-main-will-waitingHint:hover{text-decoration:none;}
@-webkit-keyframes jump{0%{top:29px;}
50%{top:31px;}
100%{top:29px;}}@-moz-keyframes jump{0%{top:29px;}
50%{top:31px;}
100%{top:29px;}}@-o-keyframes jump{0%{top:29px;}
50%{top:31px;}
100%{top:29px;}}@-ms-keyframes jump{0%{top:29px;}
50%{top:31px;}
100%{top:29px;}}@keyframes jump{0%{top:29px;}
50%{top:31px;}
100%{top:29px;}}
 .m-detail-main-will-countdown{position:absolute;top:87px;left:50px;}
.m-detail-main-will-countdown .num{margin:0 3px;}
.m-detail-main-will-countdown .count-s0{margin-left:49px;}
.m-detail-main-will-countdown .count-ms0{margin-left:49px;}
.m-detail-main-will-countdown .jx_ing{ display: block; width: 350px; height: 60px; line-height: 60px; font-size: 30px; background: #ffffcc; text-align: center; color: #f30; }
.m-detail-main-will-content h6{display:inline;margin-left:3px;padding:5px 10px;line-height:12px;border-radius:2px;font-weight:bold;color:#FEFDCD;background-color:#8F6103;*zoom:1;}
.m-detail-main-will-content p{color:#996600;font-size:12px;line-height:34px;}
.m-detail-main-will-content .formula{margin:5px -10px 0;text-align:center;}
.m-detail-main-will-content .result{border-top:1px dashed #D6A33A;text-align:right;}
.m-detail-main-will-content .waitingTxt{position:absolute;bottom:20px;color:#8F6103;font-family:"simsun"}
.m-detail-main-will-content .waitingTxt a{margin-left:5px;}
.m-detail-main-end{margin-bottom:20px;padding:73px 30px 0;width:400px;height:255px;background:url('../images/main_bg.png') 0 -328px no-repeat;}
.m-detail-main-end h3{display:none}
.m-detail-main-end-luckyCode{margin-top: 72px;margin-bottom:15px;padding: 15px 0 15px 104px;height:56px;}
.m-detail-main-wrap{}
.m-detail .g-side{height: 516px;border:1px solid #dddddd;border-top:0;background-color:#f2f2f2;}
.m-detail-period{}
.m-detail-period-title{padding-left:22px;height:40px;font-size:16px;line-height:40px;color:#666633;background-color:#e3e3e3;background:-webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#e3e3e3));background:-moz-linear-gradient(top,#f0f0f0,#e3e3e3);background:-o-linear-gradient(top,#f0f0f0,#e3e3e3);background:-ms-linear-gradient(top,#f0f0f0,#e3e3e3);}
.m-detail-period-title h4{font-weight:bold;font-family:"Microsoft Yahei";}
.m-detail-period-title-ft{position:relative;z-index:1;margin-bottom:-4px;height:4px;overflow:hidden;background-position:0 -8px;background-repeat:repeat-x;}
.m-detail-period-main{padding:0 9px 9px;}
.m-detail-period-main-wrap{height:245px;background-color:#fff;}
.m-detail-period-main-wrap h6{padding-left:15px;line-height:32px;color:#3c3c3c;font-weight:bold;border-bottom:2px solid #ddd;}
.m-detail-period-ing{position:relative;}
.m-detail-period-newest .w-goods-ing{width:218px;height:auto;margin:0 auto;}
.m-detail-period-newest .w-goods-pic img{margin:0 auto 0;}
.m-detail-period-newest .w-progressBar{width:200px;margin:0 auto;}
.m-detail-period-newest .w-goods-opr{margin-top:12px;}
.m-detail-period-list{margin:10px -5px 9px 0;width: 255px;height:180px;overflow:hidden;}
.m-detail-period-list li{float:left;margin: 0 5px 5px 0;}
.m-detail-period-list a{display:block;width: 76px;height:32px;line-height:32px;text-align:center;border-radius:2px;background-color:#fff;color:#808080;}
.m-detail-period-list .curr a{width: 72px;height:28px;line-height:28px;color:#db3652;border:2px solid #db3652;font-weight:bold;cursor:default;}
.m-detail-period-list .curr a:hover{text-decoration:none;}
.m-detail-period .w-pager{text-align:right;}
.m-detail-period .w-pager .w-button{padding:0;width:55px;height:23px;line-height:21px;border:1px solid #d8d8d8;border-radius:1px;font-weight:normal;font-family:"Verdana";color:#808080;background:#f6f6f6;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));background:-moz-linear-gradient(top,#ffffff,#eeeeee);background:-o-linear-gradient(top,#ffffff,#eeeeee);background:-ms-linear-gradient(top,#ffffff,#eeeeee);}
.m-detail-period .w-pager .w-button:hover{background:#fff;}
.m-detail-period .w-pager .w-button-disabled,.m-detail-period .w-pager .w-button-disabled:hover{color:#ffffff!important;background:#e0e0e0!important;border-color:#ddd!important}
.m-detail-mainTab{}
.m-detail-mainTab .w-tabs-tab{margin-bottom:0;height:38px;overflow:visible;line-height:34px;font-size:16px;color:#3c3c3c;font-family:"Microsoft Yahei";font-weight:bold;border:1px solid #ddd;border-left:0;}
.m-detail-mainTab .w-tabs-panel{padding:20px 0;border:1px solid #ddd;border-top:0;}
.m-detail-mainTab .w-tabs-tab-item-selected{height:35px;border-bottom:1px solid #fff;}
#introPanel img{margin:0 auto;}
#introPanel .special{padding:28px 20px 8px;line-height:25px;border-top:1px solid #ddd;text-align:center;font-weight:bold;font-size:16px;color:#878787;font-family:"Microsoft Yahei";}
.m-detail-mainTab-record{padding:20px 0;}
.m-detail-mainTab-record .empty{text-align:center;}
.m-detail-mainTab-record .content{padding:0 50px 0 250px;*zoom:1;}
.m-detail-mainTab-record .ico-recordDot-solid{position:absolute;top:24px;right:-7px;}
.m-detail-mainTab-record .pager{margin:30px 30px 0;padding-top:20px;text-align:right;border-top:1px solid #ddd;}
.m-detail-recordList{padding-left:50px;overflow:hidden;*zoom:1;}
.m-detail-recordList-start,.m-detail-recordList-end{height:51px;}
.m-detail-recordList-start .ico-clock,.m-detail-recordList-end .ico-clock{margin-left:137px;}
.m-detail-recordList li{position:relative;}
.m-detail-recordList .ico-recordDot-hollow{position:absolute;left:106px;top:15px;}
.m-detail-recordList-timeSeperate{display:inline-block;padding-right:16px;width:145px;height:60px;line-height:60px;font-size:24px;border-right:2px solid #ddd;position:relative;}
.m-detail-recordList .time{float:left;display:inline-block;width:90px;padding-right:21px;line-height:40px;}
.m-detail-recordList .avatar{margin-right:5px;display:inline-block;vertical-align:middle;}
.m-detail-recordList .device{margin-left:15px;}
.m-detail-recordList-userInfo{float:left;padding-left:15px;border-left:2px solid #ddd;line-height:28px;}
.m-detail-recordList-userInfo p{padding:6px 14px 6px 0;}
.m-detail-recordList-userInfo .btn-checkCodes{font-family:"simsun";margin-left:10px;vertical-align:top;*vertical-align:middle;}
.m-detail-recordList-userInfo .btn-checkCodes .ico{margin-top:-4px;}
.m-detail-recordList-userInfo .inner{margin-bottom:2px;padding:0 7px;width:640px;position:relative;}
.m-detail-recordList-userInfo-detail .inner{padding:0 5px 10px 5px;border:2px solid #ddd;}
.m-detail-recordList-userInfo-detail p{padding-top:4px;}
.m-detail-recordList-userInfo .codes{padding:0 0 0 24px;line-height:23px;overflow:hidden;}
.m-detail-recordList-userInfo .codes b{float:left;display:inline-block;width:88px;color:#818181;font-weight:normal;}
.m-detail-recordList-userInfo .btn-close{position:absolute;top:12px;right:7px;line-height:7px;color:#808080;text-decoration:none;}
.m-detail-recordList-userInfo .btn-close:hover{color:#db3652;}
#resultPanel{padding:10px 30px;}
#resultPanel span.index{display:inline-block;margin-right:10px;width:16px;height:16px;line-height:16px;border-radius:50%;text-align:center;}
.m-detail-mainTab-calcRule{height:162px;overflow:hidden;}
.m-detail-mainTab-calcRule h4{float:left;display:block;width:130px;height:100%;text-align:center;background-color:#fb5764;color:#fff;font-size:16px;font-weight:bold;font-family:"Microsoft Yahei";}
.m-detail-mainTab-calcRule h4 .ico{margin:30px auto 10px;}
.m-detail-mainTab-calcRule .ruleWrap{padding:15px 20px 15px 20px;height:130px;overflow:hidden;border:1px solid #ddd;border-left:0;}
.m-detail-mainTab-calcRule .ruleList a{color: #00cc00;}
.m-detail-mainTab-calcRule li{padding:5px 0;line-height:16px;color:#3c3c3c;}
.m-detail-mainTab-calcRule li.txt-red{color:#db3652;}
.m-detail-mainTab-calcRule .index{background-color:#4f4846;color:#fff;}
.m-detail-mainTab-resultList{width:100%;margin-top:35px;color:#3C3C3C;}
.m-detail-mainTab-resultList th{padding:0 10px;height:35px;line-height:35px;background-color:#F2F2F2;border-top:2px solid #ddd;}
.m-detail-mainTab-resultList td{padding:0 10px;height:37px;line-height:37px;border-bottom:1px solid #ddd;}
.m-detail-mainTab-resultList a{color:#7F7F7F;}
.m-detail-mainTab-resultList .startRow td{background-color:#FFFFE0;border:1px solid #DDDEB4;text-align:center;}
.m-detail-mainTab-resultList .calcRow td{background-color:#F5F5F5;}
.m-detail-mainTab-resultList th.time{padding-left:30px;}
.m-detail-mainTab-resultList .day{width:80px;padding-left:30px;}
.m-detail-mainTab-resultList .time{width:200px;}
.m-detail-mainTab-resultList .ico-arrow-transfer{margin:0 10px;}
.m-detail-mainTab-resultList .user,.m-detail-mainTab-resultList .user div{width:180px;}
.m-detail-mainTab-resultList .gname{line-height:20px;}
.m-detail-mainTab-resultList .calcRow .day,.m-detail-mainTab-resultList .calcRow .time{border-right:1px solid #ddd;}
.m-detail-mainTab-resultList .resultRow td{padding:15px 30px 20px;height:120px;line-height:16px;background-color:#FC5765;color:#fff;}
.m-detail-mainTab-resultList .resultRow h4{display:inline-block;margin-top:6px;float:left;width:85px;height:100%;font-family:"Microsoft Yahei";font-size:16px;font-weight:bold;}
.m-detail-mainTab-resultList .resultRow li{padding:2px 0;line-height:24px;}
.m-detail-mainTab-resultList .index{color:#fff;font-weight:bold;}
.m-detail-mainTab-resultList .resultCode{margin-top:15px;display:inline-block;padding:0 20px;background-color:#fff;color:#FC5765;border-radius:17px;font-weight:bold;font-family:"Microsoft Yahei";font-size:18px;line-height:30px;}
.m-detail-mainTab-resultList .ball{display:inline-block;margin-right:1px;width:22px;height:25px;line-height:22px;text-align:center;background-position:-90px -100px ;color:#de2042;font-size:14px;}
.m-detail-mainTab-resultList .square{display:inline-block;margin-right:2px;width:18px;height:24px;line-height:24px;text-align:center;background-color:#fff;border-radius:2px;color:#de2042;font-size:14px;}
.m-detail-codesDetail{}
.m-detail-codesDetail-bd{margin-bottom:10px;padding-bottom:20px;border-bottom:2px solid #ddd;}
.m-detail-codesDetail h3{margin-bottom:20px;padding-bottom:15px;font-size:15px;color:#3c3c3c;line-height:20px;text-align:center;font-weight:bold;border-bottom:2px solid #ddd;}
.m-detail-codesDetail-wrap{width:450px;_height:420px;max-height:420px;overflow-y:scroll;}
.m-detail-codesDetail-list{margin-bottom:20px;font-size:12px;line-height:26px;}
.m-detail-codesDetail-list dt{font-weight:bold;color:#3c3c3c;}
.m-detail-codesDetail-list dd{float:left;margin-right:10px;width:75px;}
.m-detail-codesDetail-list .selected{font-weight:bold;}
.m-detail-mainTab-share{padding:20px 40px;*zoom:1;}
.m-detail-mainTab-share li{display:block;margin-bottom:30px;width:100%;height:auto;_height:100px;min-height:100px;}
.m-detail-shareList-author{float:left;text-align:center;}
.m-detail-shareList-author .avatar{display:block;padding:4px;border:1px solid #ddd;border-radius:4px;}
.m-detail-shareList-author .nickname{margin-top:5px;display:block;width:100px;}
.m-detail-shareList-detail{margin-left:120px;padding-bottom:10px;border:1px solid #ddd;border-radius:6px;position:relative;overflow:hidden;*zoom:1;}
.m-detail-shareList-detail .ico-arrow-grayShareArr{position:absolute;left:-11px;top:10px;}
.m-detail-shareList-detail .titleWrap{padding:5px 20px 0;line-height:35px;background-color:#fcfcfc;border-top-left-radius:6px;border-top-right-radius:6px;border-bottom:1px dashed #bababa;overflow:hidden;*zoom:1;}
.m-detail-shareList-detail .title{font-family:"Microsoft Yahei";font-size:14px;}
.m-detail-shareList-detail .title a{color:#3d3d3d;font-size:18px;}
.m-detail-shareList-detail .date{float:right;margin-left:10px;}
.m-detail-shareList-detail .contentWrap{padding:10px 20px;text-indent:2em;word-wrap:break-word;word-break:break-all;}
.m-detail-shareList-detail .contentWrap a{color:#808080;text-decoration:none;}
.m-detail-shareList-detail .imgWrap{padding:0 20px;overflow:hidden;*zoom:1;}
.m-detail-shareList-detail .imgWrap a{display:block;float:left;margin:0 10px 10px 0;padding:1px;width:140px;height:140px;line-height:140px;border:1px solid #ccc;text-align:center;overflow:hidden;}
.m-detail-shareList-detail .imgWrap img{}
.m-detail-mainTab-share .pager{text-align:right;}
.m-detail .w-shareTo{padding-top:20px;}
.w-tabs-main .w-tabs-tab-item-selected{height: 37px;border-bottom: 1px solid #FFF;z-index: 10;position: relative;background-color: white;border-bottom: 1px solid #fff;line-height: 35px;border-top: 3px solid #DB3752 !important;}
.w-tabs-main .w-tabs-tab-item{border-top: none;line-height: 38px;padding: 0 50px;}
.w-tabs-tab-item{float: left;margin-right: -1px;padding: 0 1em;border: 1px solid #ddd;border-bottom: none;background: #f0f0f0;cursor: pointer;}
#addToCart .ico-miniCart{float: left;margin: 13px 10px 0 0; }
.ico-miniCart{width: 24px;height: 21px;background-position: -30px -30px;}
.ico{display: inline-block;vertical-align: middle;background-image: url('../images/mix-icon.png');overflow: hidden;}
.w-button{white-space: nowrap;font-size: 15px;display: inline-block;vertical-align: middle;color: #fff;background: #3399FE;border-width: 0;padding: 0 15px;text-align: center;height: 30px;line-height: 30px;border-radius: 3px;cursor: pointer;text-decoration: none!important;font-family: "Microsoft Yahei",simhei;outline: none;}
.w-button-xl{padding: 0 35px;height: 45px;line-height: 45px;font-size: 18px;border-radius: 4px;}
.ico-state-1{background-position: -160px -60px;}
.ico-state{width: 23px;height: 23px;}
.ico-state-2{background-position: -190px -60px;}
.ico-state-3{background-position: -220px -60px;}
.m-detail-main-count-number{display: inline-block;width: 115px;height: 30px;vertical-align: middle;}
.w-number-inline{padding: 0 24px;}
.w-number{position: relative;display: inline-block;vertical-align: middle;}
.w-number-input,.w-qishu-input{font-size: 14px;text-align: center;width: 60px;border: 1px solid #e0e0e0;height: 22px;padding: 2px 0;outline: none;color: #DA3752;}
.w-number-inline .w-number-btn-plus,.w-number-inline .w-qishu-btn-plus{right: 0;top: 0;}
.w-number-inline .w-number-btn{font-size: 18px;width: 26px;height: 26px;line-height: 24px;}
.w-number-btn-plus,.w-qishu-btn-plus{top: 0;}
.w-number-btn{font-size: 12px;text-decoration: none;position: absolute;right: 0;width: 10px;height: 10px;line-height: 8px;text-align: center;overflow: hidden;background: #F5F5F5;color: #9e9e9e;border: 1px solid #e0e0e0;}
.w-number-btn-minus,.w-qishu-btn-minus{bottom: 0;}
.w-number-inline .w-number-btn-minus,.w-number-inline .w-qishu-btn-minus{right: auto;left: 0;top: 0;}
.ico-arrow-grayBubbleArr{width: 9px;height: 9px;background-position: -40px -80px;}
.txt-red{color: #db3652;}
.ico-clock{width: 51px;height: 51px;background-position: 0 -130px;}
.w-button-disabled, .w-button-disabled:hover{background: #ccc!important;color: #999!important;border-color: #b0b0b0!important;cursor: default;}
.w-button-aside{font-size: 12px;background: #E2E2E2;border-color: #C6C6C6;color: #3C3C3C;}
.w-pager .w-pager-cur, .w-pager .w-pager-cur:hover{background-color: #db3752!important;border-color: #da3651!important;color: #fff!important;}
.w-pager .w-button:hover{color: #db3752;}
.w-pager .w-pager-cur, .w-pager .w-pager-cur:hover{background-color: #db3752!important;border-color: #da3651!important;color: #fff!important;}
.txt-blue{color: #DA3752;font-weight: 200;}
.txt-red{color: #db3652;}
.ico-arrow-red-up{background-position: -80px -140px;}
.ico-arrow-red{width: 13px;height: 8px;}
.selected .ico-arrow-red-up{display: block;}
.m-detail .w-dir{padding-bottom: 3px;}
.w-dir{padding-top: 10px;padding-bottom: 10px;line-height: 30px;}
.w-record-intro a{color: #3399ff;}
/* * 2014-10-16*/.m-list{}
.m-list-mod{margin-bottom:10px;}
.m-list-goodsList .m-list-mod-hd{padding:10px;height:27px;background-color:#f5f5f5;position:relative;}
.m-list-goodsList .m-list-mod-bd{padding-top:20px;}
.m-list-goodsList h6{float:left;width:40px;line-height:27px;}
.m-list-goodsList .w-goods{margin:20px auto 0;width:250px;height:auto;overflow:visible;}
.m-list-goodsList .w-progressBar{margin-top:16px;}
.m-list-goodsList .w-goods-opr{margin:0 -22px;margin-top:16px;padding: 19px 0;text-align:center;background-color:#F5F5F5;border-top:1px dashed #ddd;*zoom:1;}
.m-list-goodsList .w-goods-opr-buy{margin-top:10px;}
.m-list-goodsList .w-goods-opr .w-button{padding:2px 19px;}
.m-list-sortList li{float:left;margin-right:10px;}
.m-list-sortList a{display:block;padding:7px 0;width:68px;height:12px;line-height:12px;border:1px solid #ddd;text-align:center;background-color:#fff;color:#7f7f7f;}
.m-list-sortList a:hover{text-decoration:none;color:#db3651;}
.m-list-sortList .selected a{background-color:#db3651;border-color:#db3651;color:#fff!important;}
.m-list-sortList .ico-arrow-sort{margin-top:-2px;}
.m-list-sortList a:hover .ico-arrow-sort-gray-up{background-position:-100px -160px;}
.m-list-sortList a:hover .ico-arrow-sort-gray-down{background-position:-110px -160px;}
.m-list-sortList .selected .ico-arrow-sort-gray-up{background-position:-60px -160px!important;}
.m-list-sortList .selected .ico-arrow-sort-gray-down{background-position:-70px -160px!important;}
 .ico-arrow-sort-gray-down{background-position: -90px -160px;}
 .ico-arrow-sort-gray-up {background-position: -80px -160px;}
 .ico-arrow-sort {
     width: 9px;
     height: 11px;
 }
.m-list-pager{margin-bottom:10px;text-align:right;}
#buyAll{position:absolute;right:10px;top:8px;}
.ico-state{width:23px;height:23px;}
.ico-state-1{background-position:-160px -60px}
.ico-state-2{background-position:-190px -60px}
.ico-state-3{background-position:-220px -60px}
.ico-state-l{width:34px;height:34px;}
.ico-state-l-1{background-position:-160px -90px}
.ico-state-l-2{background-position:-200px -90px}
.ico-state-l-3{background-position:-240px -90px}
.ico-top{width:45px;height:45px;background-position:-160px -420px;}
.ico-top:hover{background-position:-210px -420px;}
.num{display:inline-block;width:38px;padding-top:56px;height:0;overflow:hidden;background-image:url('../images/mix-number.png');background-repeat:no-repeat;}
.num-0{background-position:0 0;}
.num-1{background-position:-40px 0;}
.num-2{background-position:-80px 0;}
.num-3{background-position:-120px 0;}
.num-4{background-position:-160px 0;}
.num-5{background-position:-200px 0;}
.num-6{background-position:-240px 0;}
.num-7{background-position:-280px 0;}
.num-8{background-position:-320px 0;}
.num-9{background-position:-360px 0;}
.w-goodsList .w-goodsList-item:hover .ico-label{position: absolute;top: -1px;left: -1px;}
.ico-label-free{background-position: -50px -280px;}
.ico-label{width: 47px;height: 47px;position: absolute;top: 0;left: 0;}
.txt-impt, .txt-err{color: #DA3752;}
.txt-suc{color: #3399ff;}
#dvDuobaoRecord a{color: #3399ff;}
.w-table{text-align: left;border: 1px solid #ddd;border-collapse: collapse;}
.m-user{}
.m-user-icoExpired,.m-user-icoUsed,.m-user-share-icoClose,.m-user-highTable thead th,.m-user-winDetail .step .bg{background-image:url(../images/global.png);background-repeat:no-repeat;}
.m-user-icoExpired,.m-user-icoUsed{width:111px;height:57px;}
.m-user-icoExpired{background-position:0 -192px;}
.m-user-icoUsed{background-position:0 -128px;}
.m-user-edit{position:absolute;top:0;left:0;display:none;}
.m-user-edit input{background-color:#F2F2F2;color:#3C3C3C;margin:0;border-width:0;font-size:14px;font-weight:bold;padding:2px;margin-right:8px;outline:none;width:200px;}
.m-user .w-tabs-main .w-tabs-tab-item{font-size:14px;}
.m-user-tab{height: 39px;margin-top:20px;border:1px solid #ddd;background: #f0f0f0;border-width:1px 1px 0 0;}
.m-user-tab .w-tabs-tab-item{color:#333;text-decoration:none;}
.m-user-blank{text-align:center;padding:75px 0 50px;line-height:2;}
.m-user-page{padding:20px 0;text-align:right;}
.m-user .w-table td,.m-user .w-table th{padding:8px 0px;}
.m-user .w-table td{padding:15px 0;}
.m-user .w-table{width:100%;border-left:0;border-right:0;table-layout:fixed; margin-top: 0;}
.m-user .w-table .checked{background-color:#FFFECD;}
.m-user-panel{border:1px solid #ddd;padding:0 29px 25px; margin-bottom: 15px;}
.m-user .w-table .blank{border-bottom:0!important;}
.m-user-duobaoRecord .w-number-input{height:20px;}
.m-user-duobaoRecord .w-number-inline .w-number-btn{height:24px;line-height:22px;}
.m-user-duobaoRecord .w-table{position:relative;+zoom:1;}
.m-user-duobaoRecord .w-table .col1{width:90px;text-align:center;}
.m-user-duobaoRecord .w-table .col1 .w-goods{text-align:center;display:inline-block;+display:inline;+zoom:1;}
.m-user-duobaoRecord .w-table .col2{padding-left:25px;width:473px;}
.m-user-duobaoRecord .w-table .col2 p{line-height:20px;}
.m-user-duobaoRecord .w-table .col2 .w-goods-title{width:430px;}
.m-user-duobaoRecord .w-table .col2 .w-progressBar{margin-top:5px;width:250px;}
.m-user-duobaoRecord .w-table .col2 .w-progressBar-wrap{margin-bottom:4px;}
.m-user-duobaoRecord .w-table .col2 .w-progressBar p{line-height:15px;}
.m-user-duobaoRecord .w-table .col3{padding-left:0;width:80px;text-align:center;}
.m-user-duobaoRecord .w-table .col4{padding-left:37px;width:106px;text-align:center;}
.m-user-duobaoRecord .w-table .col4 .number{position:relative;+zoom:1;margin-top:4px}
.m-user-duobaoRecord .w-table .col4 .number .w-button{position:absolute;top:0;right:-62px;height:26px;line-height:26px;vertical-align:top;padding:0 10px;}
.m-user-duobaoRecord .w-table .col5{padding-left:65px;width:170px;text-align:left;}
.m-user-duobaoRecord .w-table th.col5{padding-left:60px;text-align:center;}
.m-user-duobaoRecord .w-table .col5 .inner{position:relative;+zoom:1;}
.m-user-duobaoRecord .w-table .col6{text-align:right;padding-right:30px;}
.m-user-duobaoRecord .tocome{color:#FE9900;}
.m-user-duobaoRecord .codeLayer{overflow:hidden;width:165px;line-height:normal;}
.m-user-duobaoRecord .w-button-hover .codeLayer,.m-user-duobaoRecord .w-button:hover .codeLayer{display:block;}
.m-user-duobaoRecord .codeLayer li{float:left;width:70px;text-align:left;padding:4px 0 4px 10px;}
.m-user-duobaoRecord .allCode{padding-right:16px;width:74px;}
.m-user-duobaoRecord .allCode .ico-arrow-gray{position:absolute;left:85px;top:11px;line-height:0;font-size:0;}
.m-user-duobaoRecord .detail .goods{position:relative;+zoom:1;padding-left:115px;line-height:normal;padding-top:15px;margin-bottom:14px;}
.m-user-duobaoRecord .detail .goods .pic{font-size:0;line-height:0;border:1px solid #DDD;position:absolute;top:20px;left:20px;}
.m-user-duobaoRecord .detail .goods .status{padding-top:4px;}
.m-user-duobaoRecord .detail .goods .opt{padding-top:4px;}
.m-user-duobaoRecord .detail .goods .info-simple .title{padding-top:6px;}
.m-user-duobaoRecord .detail .goods .info-simple .status{display:none;}
.m-user-duobaoRecord .detail .goods .info-simple .opt{padding-top:10px;}
.m-user-duobaoRecord .detail .w-button{height:20px;line-height:20px;}
.m-user-duobaoRecord .detail .summary{color:#3C3C3C;position:relative;+zoom:1;height:22px;}
.m-user-duobaoRecord .detail .summary .back{position:absolute;right:0;top:0;}
.m-user-duobaoRecord .detail .summary-bottom{margin:10px 0 20px;}
.m-user-duobaoRecord .detail .w-table{margin-top:3px;}
.m-user-duobaoRecord .detail .w-table .col1{width:90px;text-align:left;padding-left:20px;width:220px;}
.m-user-duobaoRecord .detail .w-table .col2{width:90px;text-align:left;padding-left:20px;width:120px;}
.m-user-duobaoRecord .detail .w-table .col3{width:auto;text-align:left;padding-left:20px;padding-right:20px;}
.m-user-duobaoRecord .detail .w-table td{color:#3B3B3B}
.m-user-duobaoRecord .detail .codeList .item{display:inline-block;+display:inline;+zoom:1;margin-right:15px;margin-bottom:4px;}
.m-user-duobaoRecord .last td{border:none;}
.m-user-duobaoRecord .m-user-page{border-top:1px solid #ddd;}
.m-user-duobaoRecord .w-goods .type{color:#fff;font-weight:bold;height:16px;line-height:16px;padding:0 5px;margin-right:4px;font-size:12px!important;}
.m-user-duobaoRecord .w-goods .type-free{background-color:#00A47C;}
.m-user-duobaoRecord .w-goods .type-limit{background-color:#FFAF3C;}
.m-user-duobaoRecord .w-goods .type-hd{background-color:#41CFD7;}
.m-user .type{color:#fff;font-weight:bold;height:16px;line-height:16px;padding:0 5px;margin-right:4px;font-size:12px!important;}
.m-user .type-free{background-color:#00A47C;}
.m-user .type-limit{background-color:#FFAF3C;}
.m-user .type-hd{background-color:#41CFD7;}
.m-user-duobaoRecord-simple .col3{width:190px!important;}
.m-user-duobaoRecord-simple .col2{width:auto!important;}
.m-user-faceEdit{display:block;position:relative;overflow:hidden;}
.m-user-faceEdit-face{width:100%;height:100%}
.m-user-faceEdit-tips{display:block;position:absolute;left:0;top:100%;width:100%;height:100%;background-color:#000;line-height:100px;text-align:center;color:#fff;opacity:.5;filter:alpha(opacity=50);cursor:pointer;zoom:1;}
.m-user-faceEdit:hover{zoom:1;}
.m-user-faceEdit:hover .m-user-faceEdit-tips{top:0}
.m-user-loading{text-align:center;padding:50px 0 25px;}
.m-user-loading .inner{display:inline-block;+display:inline;+zoom:1;position:relative;+zoom:1;line-height:normal;font-size:12px;padding-left:54px;}
.m-user-loading .inner .loading{position:absolute;top:-20px;left:0;}
.m-user-faceEdit-160{width:160px;height:160px}
.m-user-faceEdit-160 .m-user-faceEdit-tips{line-height:160px;}
.m-user-share .toKnow{border:1px solid #F1E8C7;margin:30px 0 5px 0;}
.m-user-share .toKnow .footer{text-align:center;padding:30px 0;}
.m-user-share .toKnow .cont{line-height:24px;font-size:14px;color:#818181;}
.m-user-share .toKnow .cont p{padding:0 69px;}
.m-user-share .toKnow .cont .name,.m-user-share .toKnow .cont .remark{color:#3C3C3C;font-weight:bold;}
.m-user-share .toKnow .cont .name{padding-top:24px;padding-left:40px;padding-bottom:14px;}
.m-user-share .toKnow .cont .remark{padding-top:20px;}
.m-user-share .toKnow .cont .end{padding-top:15px;}
.m-user-share .toKnow .cont .item{line-height:28px;padding-top:4px;}
.m-user-share .toKnow .cont .shareNum{display:inline-block;+display:inline;+zoom:1;width:20px;height:20px;border-radius:20px;line-height:20px;text-align:center;background-color:#ED99A8;color:#fff;margin-right:4px;}
.m-user-share .m-user-title .remark{font-size:12px;color:#FE9901;}
.m-user-share-icoClose{height:8px;width:8px;background-position:-32px -96px;}
.m-user-share .imgList{margin-top:18px;width:930px;font-size:0;line-height:0;zoom:1;position:relative;}
.m-user-share .imgList .progress{height:8px;width:100px;border:1px solid #ddd;padding:1px;text-align:left;margin-top:6px;}
.m-user-share .imgList .progress .inner{background-color:#35BC00;height:8px;}
.m-user-share .imgList .loading{margin-top:4px;}
.m-user-share .imgList .item{display:inline-block;+display:inline;width:140px;height:140px;padding:1px;border:1px solid #CCC;position:relative;zoom:1;line-height:0;margin-right:10px;margin-bottom:10px;overflow:hidden;}
.m-user-share .imgList .item img{max-width:140px;max-height:140px;}
.m-user-share .imgList .item table,.m-user-share .imgList .item td{height:140px;width:140px;font-size:12px;}
.m-user-share .imgList .item .close{position:absolute;right:1px;top:1px;z-index:3;background-color:#000;width:16px;height:16px;display:none;}
.m-user-share .imgList .item .close:hover{background-color:#EB4263;}
.m-user-share .imgList .item .close .ico{position:absolute;left:4px;top:4px;cursor:pointer;}
.m-user-share .imgList .item .mask{position:absolute;width:140px;height:140px;z-index:2;background-color:#000;opacity:0.3;filter:alpha(opacity=30);top:1px;left:1px;display:none;}
.m-user-share .imgList .item-hover .close,.m-user-share .imgList .item-hover .mask,.m-user-share .imgList .item:hover .close,.m-user-share .imgList .item:hover .mask{display:block;}
.m-user-shareDetail{}
.m-user-shareDetail .hd{height:74px;margin:0 19px;border-bottom:1px dotted #CBCBCB;position:relative;+zoom:1;}
.m-user-shareDetail .hd .title{text-align:center;font-size:24px;line-height:normal;padding-top:22px;color:#3B3B3B;}
.m-user-shareDetail .hd .time{background-color:#fff;position:absolute;bottom:-10px;left:50%;padding:0 10px;margin-left:-108px;}
.m-user-shareDetail .hd .share{position:absolute;right:-25px;bottom:-30px;white-space:nowrap;width:160px;}
.m-user-shareDetail .winDetail{margin:30px 19px;border:1px solid #DEDEDE;position:relative;+zoom:1;height:130px;background-color:#FAFAFA;}
.m-user-shareDetail .winDetail .owner{position:relative;+zoom:1;padding-left:130px;line-height:22px;padding-top:20px;width:278px;background-color:#fff;height:110px;}
.m-user-shareDetail .winDetail .owner .sh_num{
    width: 67px;
    height: 34px;
    display: inline-block;
    background-position: 0px 0px;
    position: absolute;
    right: 2px;
    top: 0px;
    color: #FFF;
    padding-top: 21px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    background: url('../images/share_single.png') no-repeat;
}
.m-user-shareDetail .winDetail .owner .avatar{position:absolute;left:20px;top:20px;}
.m-user-shareDetail .winDetail .goods{position:absolute;left:408px;border-left:1px dashed #CBCBCB;top:0;height:130px;width:490px;}
.m-user-shareDetail .winDetail .goods .pic{position:absolute;left:20px;top:14px;}
.m-user-shareDetail .winDetail .goods .info{padding-left:140px;font-size:12px;line-height:22px;padding-top:15px;}
.m-user-shareDetail .winDetail .goods .name{padding-right:20px;}
.m-user-shareDetail .winDetail .goods .name a{color:#808080}
.m-user-shareDetail .winDetail .goods .more{margin-top:4px;}
.m-user-shareDetail .cont{margin:20px 19px;position:relative;+zoom:1;font-size:14px;line-height:2;padding:12px 35px;white-space:normal;word-wrap:break-word;}
.m-user-shareDetail .cont .ico-quote{position:absolute;}
.m-user-shareDetail .cont .ico-quote-former{left:0;top:0;}
.m-user-shareDetail .cont .ico-quote-after{right:0;bottom:0;}
.m-user-shareDetail .pics{margin-left:19px;overflow:hidden;}
.m-user-shareDetail .pics .item{width:700px;text-align:center;line-height:0;font-size:0;margin:0 auto 10px;}

.g-twoCol:after, .g-twoCol:before, .f-clear:before, .f-clear:after{clear: both;content: ".";font-size: 0;display: block;height: 0;overflow: hidden;visibility: hidden;}
.w-progressBar-wrap{background-color: #e5e5e5;}
.w-table.m-user-listTable.dingd{border: 1px solid #ddd;background-color: #f2f2f2;font-weight: 200;}
.w-table.m-user-listTable.dingd th{font-weight: 200;}
.w-table.m-user-listTable.dingd2{border: 1px solid #ddd;}
.zhifdd{text-align: center;padding: 0px 21px;width: 94px;color: white;border: 0px;background-color: #e54048;height: 26px;}
.w-button-simple{padding: 0 8px;height: 24px;line-height: 24px;font-size: 12px;font-weight: normal;font-family: "Verdana";color: #808080;border: 1px solid #d8d8d8;border-radius: 1px;background: #f6f6f6;background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));background: -moz-linear-gradient(top,#ffffff,#eeeeee);background: -o-linear-gradient(top,#ffffff,#eeeeee);background: -ms-linear-gradient(top,#ffffff,#eeeeee);}
.w-table.m-user-listTable.dingd2 td{border-bottom: 1px solid #ddd;}

.zddt{margin-bottom: 15px;border-bottom: 1px solid #ddd;}
.m-shareList{margin:20px auto 0; }
.m-shareList .group,.m-shareList .item{display:inline-block;+display:inline;+zoom:1;vertical-align:top;}
.m-shareList .item a{color:#999;}
.m-shareList .item a:hover{color:#333;}
.m-shareList .group{width:279px;margin-left:6px;position:relative;}
.m-shareList .item{width:270px;border:1px solid #ddd;margin-right: 16px;margin-bottom: 15px;}
.m-shareList .hover{ border: 1px solid #f60; z-index: 3;
     -moz-box-shadow:3px 3px 3px #d8d8d8;
     -webkit-box-shadow:3px 3px 3px #d8d8d8;
     box-shadow:3px 3px 3px #d8d8d8;}
.m-shareList .item .pic{padding-top:9px;width:255px;overflow:hidden;text-align:center;font-size:0;line-height:0;margin:0 auto;}
.m-shareList .item .pic table,.m-shareList .item .pic td{width:255px;}
.m-shareList .item .name,.m-shareList .item .code,.m-shareList .item .status{padding:0 19px;line-height:2;}
.m-shareList .item .toAudit{color:#FE9900}
.m-shareList .item .name{overflow:hidden;padding-top:10px; line-height:1.5;}
.m-shareList .item .post{background-color:#F5F5F5;padding:15px 19px;line-height:22px;position:relative;+zoom:1;margin-top:8px;}
.m-shareList .item .post .title{padding-bottom:0px;font-weight:bold;}
 .m-shareList .item .post .title a{ color: #333; }
.m-shareList .item .post .time{font-weight:normal;color:#adadad;padding-bottom:0px;}
.m-shareList .item .post .abbr{overflow:hidden;white-space:normal;word-wrap:break-word;word-break:break-all;}
 .m-shareList .item .post .author{ height: 22px;}
.m-shareList .item .post .author a{float: left;}
.w-table thead, .w-table tfoot{background: #f2f2f2;}
.g-twoCol,.f-clear{+zoom:1;}
.g-twoCol:after,.g-twoCol:before,.f-clear:before,.f-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden}
.f-txtabb{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;*zoom:1;}
.f-bold{font-weight:bold!important;}
.w-textarea,.w-input{display:inline-block;+display:inline;+zoom:1;position:relative;width:auto;}
.w-textarea .w-input-placeholder,.w-input .w-input-placeholder{position:absolute;left:0;top:0;padding:8px;color:#999}
.w-textarea-input,.w-input-input{padding:8px;border:1px solid #ABABAB;border-radius:3px;box-shadow:2px 2px 6px rgba(0,0,0,.05) inset;outline:none}
.w-input-tips{margin-top:3px;font-size:12px;display:block;}
.w-input-disabled .w-input-input{background:#f0f0f0;color:#999}
.w-input-err .w-input-input,.w-textarea-err .w-input-input{background:#FBE2E2;border-color:#C7605F;}
.g-body .g-wrap{padding:1px 0;}
.m-header{height: 62px;}
.m-toolbar{border-bottom:3px solid #DC334E;box-shadow:0 2px 0 rgba(0,0,0,.2)}
.m-cart-steps{width:803px;height:30px;margin-top: 7px;float:right;}
.m-cart-steps-2{background-position:0 -30px;}
.m-cart-steps-3{background-position:0 -60px;}
.m-header-logo{margin-top:45px;}
.m-cart-order{border:1px solid #ddd;}
.m-cart-order .w-table{width:100%;table-layout:fixed;border:none;}
.m-cart-order .w-table caption{display:none;}
.m-cart-order .w-table td{padding:20px 15px;}
.m-cart-order .w-table-col1{width:80px;}
.m-cart-order .w-table-col2{width:300px;}
.m-cart-order .w-table-col5,.m-cart-order .w-table-col6{width:180px;}
.m-cart-order .w-table-opt{width: 8em;text-align: center;}
.m-cart-order .w-table-opt a{color:#808080;}
.m-cart-order .w-table .empty{text-align:center;padding:50px 0;}
.m-cart-order .total{position:relative;color:#3d3d3d;padding:15px;text-align:right;}
.m-cart-order .total strong{font-size:20px;color:#DD344F;}
.m-cart-order .total a{margin-right:15px;}
.m-cart-order .summary{position:relative;}
.m-cart-order .summary .total{position:absolute;right:0;top:0; }
.m-cart-order .name{margin-bottom:10px;}
.m-cart-order p{margin:5px 0;}
 .m-cart-order label.new{ display: block; height: 18px; line-height: 18px; padding: 0; color: #ff9727; margin-bottom: 5px; }
 .m-cart-order label.new i{ background: url('../images/pay_icon.png') no-repeat; float: left; width:18px; height: 18px; margin-right: 5px; }
.m-cart-order b{font-weight:normal;}
.m-cart-order .footer a{color:#808080;}
.m-cart-order .footer .w-checkbox,.m-cart-order .footer a{margin-right:28px;}
.m-cart-order .footer .total{padding:0;float:right;margin:-10px 0;display:inline;}
.m-cart-order-list{}
.m-cart-order-list .w-table td{padding:10px 15px; text-align:center; border-bottom: 1px solid #f2f2f2;}
.m-cart-order-list .w-table-col0{width:500px;}
.m-cart-order-list .w-table-col1,.m-cart-order-list .w-table-col2{width:auto;}
.m-cart-order-total{padding:15px 20px;text-align:right;}
.m-cart-order-total .total{position:relative;padding-right:0;color:#808080;}
.m-cart-address{ padding: 0 0 20px; }
.m-cart-address li{ height: 24px; line-height: 24px; padding:0 10px 0 32px; margin-bottom: 5px; }
.m-cart-address li b{ display: inline-block; width:55px;}
.m-cart-address li span{ color: #666; }
.m-cart-address li .address-edit{ display: none; }
.m-cart-address li.on{ font-size: 14px; border: 1px solid #e54048; padding:4px 10px 4px 30px; background:#FFF0E8 url('../images/ico-address.gif') no-repeat 10px center; color: #333; box-shadow: 5px 5px 0px #F3F3F3; margin-bottom: 10px; }
.m-cart-address li.on b{ color: #f50; font-size: 12px; }
.m-cart-order-options{overflow:hidden;zoom:1;background:#f5f5f5;border-top:1px solid #e0e0e0;}
.m-cart-order-options em{color:#29BD00;}
.m-cart-order-options .option{padding:10px 20px;border-bottom:1px solid #e0e0e0;}
.m-cart-order-pay{}
.m-cart-order-pay .tips{padding:10px 22px 10px;}
.m-cart-order-pay .total{float:right;}
.m-cart-order-pay .total strong{font-size:20px;color:#DD344F;}
 .m-cart-order-pay .total span{ color: #dd344f; }
.m-cart-order-pay .w-pay{padding:25px 15px;*zoom:1;}
.m-cart-order-pay-tips{width:360px;padding-left:45px;margin:0 auto;position:relative;}
.m-cart-order-pay-tips .title{color:#3c3c3c;font-weight:bold;}
.m-cart-order-pay-tips .tips{font-size:12px;margin:10px 0 20px;}
.m-cart-order-pay-tips .buttons .w-button{margin-right:10px;}
.m-cart-order-pay-tips .buttons a{font-size:12px;}
.m-cart-order-pay-tips .ico{position:absolute;left:0;top:-5px;}
.m-cart-special{margin-top:1px;}
.m-cart-submit{padding: 30px 0 60px;overflow:hidden;zoom:1;}
.m-cart-submit .w-button-aside{font-size:16px;padding:0 15px;float:left;}
.m-cart-submit .w-button-main{float:right;}
.m-cart-result .message{width:400px;margin:0 0 0 398px;padding:40px 0 60px 60px;position:relative;zoom:1;}
.m-cart-result .message .ico{position:absolute;left:0;top:40px;}
.m-cart-result .message b{color:#DD344F;}
.m-cart-result .message .title{font-size:18px;font-weight:bold;color:#3C3C3C;line-height:48px;margin-bottom:10px;font-family:"Microsoft Yahei"}
.m-cart-result .message .tips{color:#808080;line-height:25px}
.m-cart-result .list{margin-bottom:10px;width:100%;table-layout:fixed;}
.m-cart-result .list caption{display:none;}
.m-cart-result .list li{width:80px;float:left;}
.m-cart-result .failure{width:100%;background:#FFFFE0;border:1px solid #DFE0B5;color:#808080;}
.m-cart-result .failure b{color:#3c3c3c;}
.m-cart-result .failure a{color:#808080;}
.m-cart-result .failure a:hover{color:#DA3752;}
.m-cart-result .failure th{text-align:center}
.m-cart-result .failure th,.m-cart-result .failure td{border-bottom:1px solid #DFE0B5;}
.m-cart-clause{margin-top:-20px;border:1px solid #ddd;padding:25px;overflow:auto;height:200px}
.m-cart-result .m-cart-tuijian{margin-top:30px;}
.m-cart-rechargeResult .m-cart-tuijian{margin-top:0;}
.w-table-chk{width: 16px;}
.m-helpcenter-detail-bd{height: 200px;padding: 15px;border: 1px solid #ddd;}
#pro-view-5 em{color: #DA3752;}
.w-goods-price{}
.m-shareList .author a{color: #00a0e9;}
.item .author .time{float:right;}
.w-goods-opr-buy .w-button-main{margin-right: -4px;background-color: #e54048 !important;}
.w-goods-opr-buy a{margin: 0;border-radius: 0px;background-color: #f8990b;}
.zjf{position: absolute;top: 0;left: 0;}
.txt-gray{font-weight: 200;}
.w-goods-opr1 a{width: 40px;line-height: 40px;display: block;color: #fff;border-radius: 50%;margin: 0 auto;background-color: #dddddd;height: 40px;}
.w-goodsList-item.row-first:hover .w-goods-opr1 a{background-color: #a5d483;}
.w-goods-briefFree .w-goods-opr1{margin-top: 10px;height: 50px;padding-top: 10px;border-top: 1px #cfcfcf solid;}
.w-pager .w-button{margin: 0 3px;color: #808080;}
#quickBuy{background-color: #e54048 !important;border-radius: 0;}
.m-detail-recordList-userInfo:hover .btn-checkCodes{display: inline-block !important;}
.m-detail-recordList-userInfo-detail .codes,.m-detail-recordList-userInfo-detail .btn-close{display: block !important;}
.jiexiao{background:url('../images/jg.png') no-repeat ;width:461px ;height:334px;overflow: hidden;}
.jiexiao .num{margin-left:-3px;}

/*订单备注*/
 .m-order-desc{ text-align: left; }
.m-order-desc textarea{ width:600px;height:auto;margin-right:15px;border:1px solid #ccc; font-size: 12px; line-height: 1.8; padding:5px; color: #666; float: left; }

.zjxx dt img{border: 6px #fee974 solid;}
.zjxx dt{width: 117px;height: 117px;float: left;margin-left: 20px;margin-right: 8px;}
.zjxx dd{color: #996600;line-height: 24px;}
.zjxx dd i{color: #669900;font-weight: 600;font-style: normal;}
.zjxx dd em{color: #e54048;font-weight: 600;font-style: normal;}
.ckjg a{margin-right: 10px;color: white;display: block;width: 110px;height: 30px;line-height: 30px;float: left;text-align: center;}
.ckjsjg{background-color: #996600;}
.kscy{background-color: #e54048;}
.ckjg{margin-top: 10px;overflow: hidden;}
.m-detail-main-winner-codes{margin: 10px;padding: 10px 12px;height:82px;background: #f5f5f5;border:1px solid #ddd;}
.m-detail-main-codes{margin-top:20px;padding:8px 0 8px 14px;height:80px;line-height:20px;background-color:#ffffe0;border:1px solid #dedeb3;position:relative;}
.m-detail-main-codes-list span{margin-right:10px;display:inline-block;}
.m-detail-main-codes .deco{position:absolute;top:-1px;right:-1px;width:16px;height:15px;background-color:#fff;background-position:-40px -60px;}
.m-detail-main-codes th,.m-detail-main-winner-codes th{width:62px;vertical-align:top;}
.m-detail-main-codes a,.m-detail-main-codes-list a{font-family:'simsun';}
.m-detail-main-codes .detail b{font-weight:normal;margin-right:10px;}
.m-detail-main-winner-codes a{color: #3399ff;}
.ico-arrow-transfer{width: 11px;height: 10px;background-position: -120px -90px;}
.zbzq{position: absolute;left: 0;}
.sale_db{ position: absolute; right: 30px; top: 20px; z-index: 10; }
.w-progressBar-txt .w-progressBar-txt-r{text-align: right;}
.g-main{float: left;}
/* * 赠币专区-列表 * Author Cloud * CreateDate 2014-04-09 * Copyright:1997-2014 Netease Inc. All rights reserved.*/.m-freelist{}
.m-freelist .g-main{width:960px;}
.m-freelist .g-side{width:230px;padding-top:8px;}
.m-freelist .g-body-hd{margin-bottom:12px;}
.m-freelist-mod-hd{position:relative;height:40px;border-bottom:2px solid #888888;z-index:1;}
.m-freelist-mod-hd h3{line-height:40px;font-size:18px;color:#000;font-weight:bold;font-family:"Microsoft Yahei";}
.m-freelist-mod-more{position:absolute;right:0;bottom:0px;line-height:30px;color:#808080;}
.g-side .m-freelist-mod-hd{padding-left:15px;height:32px;background-color:#1FB89A;border-color:#1FB89A;}
.g-side .m-freelist-mod-hd h3{line-height:32px;color:#fff;font-size:16px;font-weight:normal;}
.g-side .m-freelist-mod-bd{padding:7px 0;background-color:#f5f5f5;}
.m-freelist-mission-list{color:#3c3c3c;line-height:20px;}
.m-freelist-mission-list li{padding:12px 18px;border-bottom:1px dashed #cbcbcb;}
.m-freelist-mission-list li.last{border:0;}
.m-freelist-mission-list h4{height:30px;color:#1fb89a;font-weight:bold;font-size:16px;line-height:30px;font-family:"Microsoft Yahei";*zoom:1;}
.m-freelist-mission-list h4 strong{font-size:30px;font-style:italic;font-weight:normal;font-family:"Verdana"}
.m-freelist-mission-list .text{margin-top:10px;}
.m-freelist-mission-list .btn-getReward{margin-left:10px;font-family:"simsun";font-weight:normal;}
.m-freelist-mission-list .btn-install{margin-top:3px;}
.m-freelist-mission-list .finished{margin-left:6px;}
.m-freelist-mission-list img{margin:5px auto 0;}
.m-freelist .yixin-code{margin:0 auto;}
.w-button-green{background: #1FB89A;border-color: #048E77;border-radius: 0;}

.w-button-simple:hover{background: #fff;}
.w-button-simple:hover{color: #808080;}
.w-button-simple{padding: 0 8px;height: 24px;line-height: 24px;font-size: 12px;font-weight: normal;font-family: "Verdana";color: #808080;border: 1px solid #d8d8d8;border-radius: 1px;background: #f6f6f6;background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));background: -moz-linear-gradient(top,#ffffff,#eeeeee);background: -o-linear-gradient(top,#ffffff,#eeeeee);background: -ms-linear-gradient(top,#ffffff,#eeeeee);}
time, mark, output, meter, address, cite, em, code, var, dfn, ins, i, th, caption{font-style: normal;text-decoration: none;}
.w-table td em{color: #DD344F;}
.w-table caption, .w-table td, .w-table th{padding: 8px 15px;font-weight: normal;}
.blue a{color: #3399ff;text-decoration: none;outline: none;}
 .blue a:hover{ text-decoration: underline;}
.tc{ text-align: center;}

.w-button-simple {
     padding: 0px 8px;
     height: 24px;
     line-height: 24px;
     font-size: 12px;
     font-weight: normal;
     font-family: "Verdana";
     color: #808080;
     border: 1px solid #D8D8D8;
     border-radius: 1px;
     background: -moz-linear-gradient(center top , #FFF, #EEE) repeat scroll 0% 0% transparent;
 }
 .w-button.w-button-simple:hover{color: #808080;}
 .Announced_FrameClockMar{ margin-left: 15px;}
 .Announced_FrameCode li {
     width:38px;
     padding-top:56px;
     float:left;
     text-align:center;
     position:relative;
     font-family:Arial;
     font-weight:bold;
     line-height:52px;
     font-size:0px;
     color:#f60;
 }
 .Announced_FrameCode li b {
     width:38px;
     padding-top:56px;
     position:absolute;
     background:url(../images/mix-number.png) no-repeat;
     top:0;
     left:0;
 }
 .Announced_FrameCode li.Code_Point b{
     background: none;
 }
 .Announced_FrameCode li.Code_Point{ width: 50px;}
 .Announced_FrameCode li.Code_1 b {
     background-position: -40px 0px;
 }
 .Announced_FrameCode li.Code_2 b {
     background-position:-80px 0;
 }
 .Announced_FrameCode li.Code_3 b {
     background-position:-120px 0;
 }
 .Announced_FrameCode li.Code_4 b {
     background-position:-160px 0;
 }
 .Announced_FrameCode li.Code_5 b {
     background-position:-200px 0;
 }
 .Announced_FrameCode li.Code_6 b {
     background-position:-240px 0;
 }
 .Announced_FrameCode li.Code_7 b {
     background-position:-280px 0;
 }
 .Announced_FrameCode li.Code_8 b {
     background-position:-320px 0;
 }
 .Announced_FrameCode li.Code_9 b {
     background-position:-360px 0;
 }
 .Announced_FrameCode li.Code_0 b {
     background-position: 0px 0px;
 }

 .timer_three .Announced_FrameCode li#liMinute3{ display:block !important; }
 .timer_three .Announced_FrameClockMar{ margin-left: -23px; }


 .w-msgbox{
     width:500px;
     border:1px solid #666;
     font-size:14px;
     line-height:1.8;
     position:fixed;
     z-index:999;
     -position:absolute;
     left:0;
     top:0;
     background:#fff;
     color:#333;
     box-shadow:0 0 5px rgba(0,0,0,.4);
     border-radius:3px;
     overflow:hidden;
 }

 .w-msgbox-close{
     position:absolute;
     right:4px;
     top:2px;
     font-size:20px;
     width:20px;
     height:20px;
     line-height:20px;
     color:#999;
     text-align:center;
     text-decoration:none;
 }

 .w-msgbox-close:hover{
     color:#333;
     text-decoration:none
 }

 .w-msgbox-hd{
     height:26px;
     line-height:26px;
     background:#F6F6F6;
     color:#3C3C3C;
     border-bottom:1px solid #D8D8D8;
     padding:0 10px;
     background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#eeeeee));
     background:-moz-linear-gradient(top,#ffffff,#eeeeee);
     background:-o-linear-gradient(top,#ffffff,#eeeeee);
     background:-ms-linear-gradient(top,#ffffff,#eeeeee);
 }

 .w-msgbox-bd{
     padding:20px 30px
 }

 .w-msgbox-ft{
     padding:0 20px 30px;
     text-align:center
 }

 .w-msgbox-ft .w-button{
     margin:0 10px;
     font-size:15px;
 }

 .w-mask{
     position:fixed;
     z-index:998;
     -position:absolute;
     left:0;
     top:0;
     width:100%;
     height:100%;
     background:#000;
     opacity:.6;
     filter:alpha(opacity=60);
 }


 .m-user-duobaoRecord .detail .goods {
     position: relative;
     padding-left: 115px;
     line-height: normal;
     padding-top: 15px;
     margin-bottom: 14px;
 }

 .m-user-duobaoRecord .detail .goods .pic{
     font-size:0;
     line-height:0;
     border:1px solid #DDD;
     position:absolute;
     top:20px;
     left:20px;
 }

 .m-user-duobaoRecord .detail .goods .status{
     padding-top:4px;
 }

 .m-user-duobaoRecord .detail .goods .opt{
     padding-top:4px;
 }

 .m-user-duobaoRecord .detail .goods .info-simple .title{
     padding-top:6px;
 }

 .m-user-duobaoRecord .detail .goods .info-simple .status{
     display:none;
 }

 .m-user-duobaoRecord .detail .goods .info-simple .opt{
     padding-top:10px;
 }

 .m-user-duobaoRecord .detail .w-button{
     height:20px;
     line-height:20px;
 }

 .m-user-duobaoRecord .detail .summary{
     color:#3C3C3C;
     position:relative;
 +zoom:1;
     height:22px;
 }

 .m-user-duobaoRecord .detail .summary .back{
     position:absolute;
     right:0;
     top:0;
 }

 .m-user-duobaoRecord .detail .summary-bottom{
     margin:10px 0 20px;
 }

 .m-user-duobaoRecord .detail .w-table{
     margin-top:3px;
 }

 .m-user-duobaoRecord .detail .w-table .col1{
     width:90px;
     text-align:left;
     padding-left:20px;
     width:220px;
 }

 .m-user-duobaoRecord .detail .w-table .col2{
     width:90px;
     text-align:left;
     padding-left:20px;
     width:120px;
 }

 .m-user-duobaoRecord .detail .w-table .col3{
     width:auto;
     text-align:left;
     padding-left:20px;
     padding-right:20px;
 }

 .m-user-duobaoRecord .detail .w-table td{
     color:#3B3B3B
 }

 .m-user-duobaoRecord .detail .codeList .item{
     display:inline-block;
 +display:inline;
 +zoom:1;
     margin-right:15px;
     margin-bottom:4px;
 }

 .m-user-duobaoRecord .last td{
     border:none;
 }

 .m-user-duobaoRecord .m-user-page{
     border-top:1px solid #ddd;
 }

 .m-user-duobaoRecord .w-goods .type{
     color:#fff;
     font-weight:bold;
     height:16px;
     line-height:16px;
     padding:0 5px;
     margin-right:4px;
     font-size:12px!important;
 }
 .m-detail-period{}
 .m-detail-period-title{padding-left:22px;height:40px;font-size:16px;line-height:40px;color:#666633;background-color:#e3e3e3;background:-webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#e3e3e3));background:-moz-linear-gradient(top,#f0f0f0,#e3e3e3);background:-o-linear-gradient(top,#f0f0f0,#e3e3e3);background:-ms-linear-gradient(top,#f0f0f0,#e3e3e3);}
 .m-detail-period-title h4{font-weight:bold;font-family:"Microsoft Yahei";}
 .m-detail-period-title-ft{position:relative;z-index:1;margin-bottom:-4px;height:4px;overflow:hidden;background-position:0 -8px;background-repeat:repeat-x;}
 #resultPanel .special {
     padding: 28px 20px 8px;
     line-height: 25px;
     border-top: 1px solid #DDD;
     text-align: center;
     font-weight: bold;
     font-size: 16px;
     color: #878787;
     font-family: "Microsoft Yahei";
 }
 .prev,.next {
     width: 18px;
     height: 14px;
     display: inline-block;
     margin-left: 6px;
 }

 .prev,.next{
     background: url('../images/share_single.png') no-repeat scroll 0% 0% transparent;
 }
 .prev {
     background-position: -95px -16px;
     cursor: pointer;
 }
.prevStop {
     background-position: -71px 0px;
     cursor: default;
 }
 .next {
     background-position: -95px 0px;
     cursor: pointer;
 }
 .nextStop{
     background-position: -71px -16px;
     cursor: default;
 }

 .yhp-wq{ background:#fcfcfc; border:1px #e4e4e4 solid; border-bottom:none; margin-bottom:15px; width:1158px; overflow:hidden; position:relative; background:url('../images/line.jpg') repeat-x bottom;}

 .yhp-wq li{ float:left; display:inline; width:115px; border-bottom:1px #e4e4e4 solid; border-right:1px #e4e4e4 solid; height:32px; line-height:32px; text-align:center;}
 .yhp-wq li a{ display:block; font-size:14px;}
 .yhp-wq ul{ width:102%; margin-bottom:-1px;}
 .yhp-wq li a:hover,.yhp-wq li.dq a{ background:#e54048; color:#fff;}

 .period_Open{ position:absolute; font-size:14px; background:#fcfcfc; right:0; bottom:0; width:119px; border:1px #e4e4e4 solid; height:32px; line-height:32px; text-align:center; border-right:none;  border-bottom:none;}
 .period_Open a{ color:#e54048; display:block;}
 .period_Open a:hover{ background:#e54048; color:#fff;}


 .m-detail-main-rule {
     padding: 10px 0 0 50px;
     height: 120px;
     border:1px solid #ddd;
     color:#3c3c3c;
 }

 .m-detail-main-rule .slogan{
     margin-left:-45px;
     margin-bottom:15px;
     color:#999;
     font-size:24px;
     line-height:34px;
     font-weight:bold;
     font-family:"Microsoft Yahei"
 }

 .m-detail-main-rule .slogan .ico{
     margin-right:10px;
 }

 .m-detail-main-rule .txt{
     list-style:disc;
     list-style-position:inside;
 }

 .m-detail-main-rule .txt li{
     margin-bottom:10px;
 }

 .m-detail-main-rule .title{
     font-size:14px;
     font-weight:bold;
 }

 .m-detail-main-rule .formula{
     margin-top:5px;
     color:#bab9b9;
     font-size:32px;
 }

 .m-detail-main-rule .operator{
     display:inline-block;
     *float:left;
 }

 .m-detail-main-rule .box{
     display:inline-block;
     *float:left;
     width:120px;
     min-width:120px;
     vertical-align:middle;
     margin:0 2px;
     padding:8px 0;
     height:44px;
     text-align:center;
     background:#fff;
     color:#3c3c3c;
     border:1px solid #d3d3d3;
     font-size:12px;
     position:relative;
     cursor:default;
 }

 .m-detail-main-rule .box .txt-red{
     font-size:14px;
 }

 .m-detail-main-rule .red-box{
     background:#FFE6E6;
     border-color:#FAC8D1;
     line-height:44px;
 }

 .m-detail-revealed .m-detail-main-rule .red-box{
     line-height:1.666
 }

 .m-detail-main-rule .gray-box{
     background:#f8f8f8;
     background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f2f2f2));
     background:-moz-linear-gradient(top,#ffffff,#f2f2f2);
     background:-o-linear-gradient(top,#ffffff,#f2f2f2);
     background:-ms-linear-gradient(top,#ffffff,#f2f2f2);
 }

 .m-detail-main-rule .yellow-box{
     border-color:#EED85C;
     background:#FFFBE7;
     background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#FFF9D8));
     background:-moz-linear-gradient(top,#ffffff,#FFF9D8);
     background:-o-linear-gradient(top,#ffffff,#FFF9D8);
     background:-ms-linear-gradient(top,#ffffff,#FFF9D8);
 }

 .m-detail-main-rule .more-box{
     display:none;
     position:absolute;
     left:-65px;
     top:60px;
     z-index:500;
     width:250px;
     text-align:left;
 }
 .m-detail-main-rule .box-hover .more-box{
     display: block;
 }
 .m-detail-main-rule .more-box .yellow-box {
     margin-top: 13px;
     padding: 15px 20px;
     background: none repeat scroll 0% 0% #FFF9DA;
     border-width: 1px;
     border-style: solid;
 }
 .m-detail-main-rule .more-box .ico-arrow {
     position: absolute;
     left: 118px;
     top: 3px;
 }
 .ico-arrow-yellow {
     width: 12px;
     height: 11px;
     background-position: -100px -190px;
 }

 #progress{ float:right; display:inline; background:url('../images/225-jdbg.png') no-repeat; width:700px; height:50px;}
 #progress li{ float:left; display:inline; width:140px; text-align:center; height:50px; font-size:14px; color:#aaa;}
 #progress li span{ font-family:Arial, Helvetica, sans-serif; display:block; width:23px; line-height:23px; height:23px; margin:0  auto; background:url('../images/225-jdbg2.png') 50% 50% no-repeat; font-weight:bold; color:#fff;}
 #progress li p{ height:24px; line-height:24px;}

 #progress li.dq span{ background:url('../images/225-jdbg3.png') no-repeat;}
 #progress li.dq{ color:#e54048}

 .progress-01 ul{ background:url('../images/225-jd01.png') no-repeat;}
 .progress-02 ul{ background:url('../images/225-jd02.png') no-repeat;}
 .progress-03 ul{ background:url('../images/225-jd03.png') no-repeat;}
 .progress-04 ul{ background:url('../images/225-jd04.png') no-repeat;}
 .progress-05 ul{ background:url('../images/225-jd05.png') no-repeat;}


.ding{
     background: none repeat scroll 0% 0% #CACACA;
     padding: 4px 10px 2px 8px;
     display: inline-block;
     margin-right: 8px;
     border-radius: 3px;
     color: #FFF;
     cursor: default;
 }
 a.ding:hover,a.ding_btn:hover{color: #FFF;}
 .ding{ background:none repeat scroll 0% 0% #F60;}
 .ding i{background-position: 0px -30px;}

 .m-classification {
     width: 1158px;
     border-bottom: 1px solid #DDD;
     background: none repeat scroll 0% 0% #F9F9F9;
     position: relative;
 }
 .m-classi {
     width: 70px;
     text-align: center;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 2;
     padding-top: 15px;
 }
 .m-fication {
     width: 1088px;
     margin-left: 70px;
     padding: 10px 0px;
     background: none repeat scroll 0% 0% #FFF;
     position: relative;
     overflow: hidden;
     display: inline-block;
 }

 .m-fication ul{
     overflow:hidden;
 }

 .m-fication li{
     float:left;
     width:120px;
     height:24px;
     overflow:hidden;
     text-align:left;
     padding:0 10px;
     margin:2px 0;
 }

 .m-fication li a{
     color:#666;
     height:24px;
     line-height:24px;
     padding:3px 5px;
     _padding:4px 5px 2px;
 }

 .m-fication li a:hover{
     color:#f60;
     text-decoration:underline;
 }

 .m-fication li.current a{
     background:#f60;
     color:#fff;
 }

 .m-fication li.current a:hover{
     color:#fff;
     text-decoration:none;
 }
 .m-list-classification {
     border: 1px solid #DDD;
     border-bottom: none;
     margin-bottom: 15px;
 }
.luck_icon{ background: url('../images/luck.png') no-repeat left top; width: 134px; height:38px;  position: absolute; right: 0px;}

.m-classification .one_more {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
    line-height: 22px;
    overflow: hidden;
}
.m-classification .one_more .om2{
    display: none;
}
#dlBrandBox{
    height: 74px;
    overflow: hidden;
}

 /**加入购物车飞入图片**/
 .ui-cart-move{ width: 50px; height: 50px; overflow: hidden; border:2px solid #e54048; border-radius: 50%; display: block; }
 .ui-cart-move img{ width: 100%; height: 100%; }

 .m-detail-buy{ border-bottom: 1px dotted #a0a0a0; margin-bottom: 15px; padding: 5px 0; }