{include file='../public_btn.html'}
<div class="html-box">

<form class="cond-form clear" action="#!goods/index" onsubmit="return xForm.submit(this)">
    <div class="f-unit">
        <select name="k" id="k">
            <option value="g.name" {if $k eq 'g.name'}selected{/if}>商品名称</option>
            {if $business_power}
            <option value="b.bus_name" {if $k eq 'b.bus_name'}selected{/if}>商家名称</option>
            {/if}
            <option value="g.id" {if $k eq 'g.id'}selected{/if}>ID</option>
        </select>
        <input id="q" class="form-i w160 sitem" name="q" value="{$q}" type="text">
        <select name="cid"><option value="">商品分类</option> {$select_categorys}</select>
        <select name="bid"><option value="">商品品牌</option> {$select_brands}</select>
        <select name="is_sale">
            <option value="">上架状态</option>
            <option value="99" {if $is_sale eq 99} selected{/if}>未审核</option>
            <option value="1" {if $is_sale eq 1} selected{/if}>已审核</option>
        </select>
        <!--select name="publish">
            <option value="">发布来源</option>
            <option value="1" {if $publish eq 1} selected{/if}>后台发布</option>
            <option value="2" {if $publish eq 2} selected{/if}>商家发布</option>
        </select-->
        {if $virtual_power eq 1}
        <select name="virtual">
            <option value="">商品类型</option>
            <option value="99" {if $virtual eq 99} selected{/if}>实体商品</option>
            <option value="1" {if $virtual eq 2} selected{/if}>虚拟商品</option>
        </select>
        {/if}
        <button type="submit" style="margin-left:10px; margin-top:1px" class="uiBtn BtnBlue">搜索</button>
    </div>
</form>

<table class="list">
    <thead>
    <tr>
        <th class="w30">排序</th>
        <th class="w30">ID</th>
        <th colspan="2" class="title">商品</th>
        <th>原价</th>
        <!--th>已售</th-->
        <th class="title">分类</th>
        <th class="title">品牌</th>
        <th>创建时间</th>
        <th>上架</th>
        <th class="w100">操作</th>
    </tr>
    </thead>

    <tbody>
    {if $list}
    {foreach from=$list item=m}
    <tr>
        <td align='center'><input type='text' class='form-i-s w30' name='listorders[{$m.id}]' value='{$m.listorder}' /></td>
        <td align='center'>{$m.id}</td>
        <td><img src="{$m.thumb}" width="60"></td>
        <td class="title">
            <div class="oBlk">{$m.name}</div>
            {if $m.bus_name}
            <p><span style="color:#f00" class="">商家：{$m.bus_name}</span></p>
            {/if}
        </td>
        <td align='center'><b style="color:#f60">{$m.price}￥</b></td>
        <!--td align='center'>{$m.sell}</td-->
        <td class="title">{$m.catestr}</td>
        <td class="title">{$m.brand}</td>
        <td align='center'>{date('Y-m-d',$m.c_time)}</td>
       {if $smarty.const.UID eq 59 || $smarty.const.USER eq 'admin'}
        <td align='center'>
            {if $m.is_sale==1}
            <a href="javascript:;" onclick="main.chang_status('{$m.id}','goods','is_sale')" class="c-green" title="当前已审核状态">已审核</a>
            {else}
            <a href="javascript:;" onclick="main.chang_status('{$m.id}','goods','is_sale')" class="c-red" title="当前未审核状态">未审核</a>
            {/if}
       </td>
       {else}
        <td align='center'>
            {if $m.is_sale==1}
            <a class="c-green" title="当前已审核状态">已审核</a>
            {else}
            <a class="c-red" title="无权限审核">未审核</a>
            {/if}
       </td>
       {/if}
        <td class="opera" align='center' nowrap>
            {if $m.is_sale!=1 || $smarty.const.UID eq 59 || $smarty.const.USER eq 'admin'} 
              {if $virtual_power eq 1 && $m.virtual eq 1}
                 <a href='#!virtual/index?goods_id={$m.id}' class='iconfont icon-a' title='管理虚拟卡'>&#xe65a;</a>
              {/if}
                 <a href='#!goods/edit/{$m.id}' class='iconfont icon-a' title='编辑'>&#xe603;</a>
              {else}
                 <a title='已审核无权限编辑'>&#xe603;</a>
            {/if}
            {if $smarty.const.USER eq 'admin'}
             <a href='javascript:;' onclick="main.confirm_del('goods/del','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
            {/if}
        </td>
    </tr>
    {/foreach}
    {/if}
    </tbody>
</table>
<div class="foot-btn">
    <div class="pager r">{$page}</div>
    <a class="uiBtn BtnGreen"  href="javascript:;" onclick="exportGoods()">导出Excel</a>&nbsp;&nbsp;    
    <button type="button" class="uiBtn BtnGreen" onclick="main.batch_order('formlist','order','goods')">更新排序</button>
</div>
</div>
{literal}
<script>    
    function exportGoods(){
        var arr = location.hash.split("?");
        var get = arr[1]?('?'+arr[1]):'';
        location.href='/manage/goods/export_goods'+get;
    }
</script>
{/literal}