{include file='../public_btn.html'}
<div class="html-box">

    <table class="list">
        <thead>
        <tr>
            <th class="w30">ID</th>
            <th class="title">规格名称</th>
            <th align="left">规格值</th>
            <th>创建时间</th>
            <th class="w100">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$list item=m}
        <tr>
            <td class="id" align='center'>{$m.id}</td>
            <td class="title"><div class="oBlk">{$m.name}</div></td>
            <td>{$m.spec_list}</td>
            <td align="center">{date('Y-m-d H:i',$m.c_time)}</td>
            <td class='opera' align='center' nowrap>
                <a href='#!goods/spec/edit/{$m.id}?com=xshow|编辑规格' class='iconfont icon-a' title='编辑'>&#xe603;</a>
                <a href='javascript:;' onclick="main.confirm_del('goods/delSpec','{$m.id}')" class='iconfont icon-a' title='删除'>&#xe606;</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>