{assign var='viewport' value='pc'}
{assign var='header' value='header2'}
{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<div id="content" class="container detail">
    <div class="tab-item detail-info">
        {picurl($row.content|stripcslashes)}
    </div>
</div>
{include file="cms/footer.html"}

<style type="text/css">
#header2{ position:relative !important; z-index:10; top:auto; left:auto;min-width:320px}
#content{ margin-top:-3px !important}
</style>
<script type="text/javascript">
    $(function(){
        $('#content img').removeAttr('width').removeAttr('height');
    })
</script>