{assign var='header' value='header2'}
{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<link rel="stylesheet" href="/style/css/yiyuanbao.css">
<link rel="stylesheet" href="/style/mobile/css/goods.css">
<style>
.m-detail-main-state li{ float:left;  margin-right:0px; width: 33%;text-align: center;}
</style>
<div id="content" class="container detail">
    <div class="slider" id="single-item" style="position: relative">
        <div class="bd">
            {foreach from=$row.pics item=m name=pics key=k}
            {if $m.imgurl_src}
            <div><img src="{zz mod=fileurl source=$m.imgurl_src width=410 height=380}" {if $k eq 0}id="buy_img_{$row.id}"{/if} /></div>
            {/if}
            {/foreach}
        </div>
        <ul class="slick-dots">
            {foreach from=$row.pics item=m name=pics key=k}
            {if $m.imgurl_src}
            <li><button type="button"></button></li>
            {/if}
            {/foreach}
        </ul>
    </div>
    <p class="title">{$row.name}<span style="color:red;" title="{$row.goods_subtit}">{$row.goods_subtit}</p>
        <ul class="yunbuy_other">
        <a href="{'/cmsproduct/detail/'|cat:$row.id|cat:'/info'|url}" style="text-align:center;"><b></b>产品图文详情<label>（建议WIFI下使用）</label></a>
    </ul>

    <p style="font-size:13px; padding:5px 15px 5px 15px;line-height:18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信力纸业包装有限公司拥有先进的纸箱和彩盒全套生产设备。
配有三色、四色中国东方高速模切一体水墨印刷机、德国高宝五色对开、四色全张彩色胶印机、全自动啤机、全自动裱纸机、全自动粘盒机等高速先进生产设备。 
充分满足客户的各色纸箱包装、彩盒印刷、精品礼盒、个性化礼盒定制需求。</p>
<div class="m-detail-main-state" style="margin:10px 0px 10px  0px;">
    <ul class="f-clear" style="padding-bottom:60px;">
        <li><i class="ico ico-state ico-state-1"></i><a href="javascript:void(0);" target="_blank"> 诚信经营</a></li>
        <li><i class="ico ico-state ico-state-2"></i><a href="javascript:void(0);" target="_blank"> 品质保证</a></li>
        <li><i class="ico ico-state ico-state-3"></i><a href="javascript:void(0);" target="_blank"> 精益求精</a></li>
    </ul>
</div>
</div>

{include file="cms/footer.html"}
<script src="/style/TouchSlide.1.1.js"></script>
<script src="/style/mobile/js/jquery-pageload.js"></script>
<script src="/style/mobile/js/jquery.more.js"></script>
<script type="text/javascript">
    $(function(){
        TouchSlide({ slideCell:"#single-item", mainCell:".bd", titCell:".slick-dots li", titOnClassName:"slick-active" });
        tabs(".tab", ".tab-nav li", ".tab-item", "on", "click");
    });

</script>
