{include file="top.html"}
<link rel="stylesheet" href="/style/mobile/css_02/font/iconfont.css">
<style type="text/css">
    ul li.li_sort { width:19.5%; padding-left:0px;  }
    .sort li a { font-size: 1.3rem; }
    .paiList li .pic { float: none; width:60%; margin:auto;}
    .paiList li .info { padding-left:0px; line-height: 18px; font-size:1.4rem; color: #898989;}
</style>
<div id="content" class="container">
    {include file="cms/search.html"}
    <div class="sort">
        <ul class="ui-clr">
             <li class="li_sort {if !$smarty.get.cid} on{/if}"><a href="/cmsproduct?zq={$smarty.get.zq}"><i class="ap-icon d0"></i>全部{$L.unit_yun}</a></li>
                {foreach from=$yuncat item=m name=list}
                {if $m.ismenu eq 1 && $m.parentid eq 0}
                <li class="li_sort {if $smarty.get.cid eq $m.id} on{/if}"><a href="{'/cmsproduct/index?cid='|cat:$m.id|url}{if $smarty.get.zq}&zq={$smarty.get.zq}{/if}"><i class="ap-icon d{$smarty.foreach.list.index+1}"></i>{$m.catname}</a></li>
                {/if}
                {/foreach}
        </ul>
    </div>

    <div class="pro-view">
        <ul class="paiList list">
            {include file="cms/product/lbi/list.html"}
        </ul>
    </div>
    <script type="text/javascript">
        var order = "{if $smarty.get.order}{$smarty.get.order}{else}{/if}";
        var sort = "{if $smarty.get.sort}{$smarty.get.sort}{else}{/if}";
        var url = "/cmsproduct/index";
        var param = "?cid={$cid}&order="+order+"&sort="+sort+"&type={$type}&zq={$smarty.get.zq}&q={$smarty.get.q}&load";



        function mLoad(type){
            if(type=='need_num'){ sort=(sort=='ASC')?'DESC':'ASC'; }
            else if(type=='end_num'){ sort='ASC'; }
            else{ sort='DESC'; }
            location.replace(url+(url.indexOf('?')>-1?'&':'?')+'cid={$cid}&order='+type+'&sort='+sort+"&type={$type}&zq={$smarty.get.zq}&q={$smarty.get.q}");
        }

        var ExtendOptions = {
            path: function(index) {
                return "/cmsproduct/index/"+index+"?cid={$cid}&order="+order+"&sort="+sort+"&type={$type}&zq={$smarty.get.zq}&q={$smarty.get.q}&load";
            }
        };
    </script>
    {include file="public_scroll.html"}

</div>
{include file="cms/footer.html"}
