{include file="cms/header.html"}
<link rel="stylesheet" href="{url('/style/css/member.css')}">
{include file="ur_here.html"}
<div id="container">
    <div class="fn-clear mt20 pb20">
        {include file="public_side_article.html"}
        <div class="fn-right hy-r">
            <div class="fn-clear hy-tjxh">
                <div class="title">
                    <h2>{$data.cat.catname}</h2>
                </div>
                <div class="hy-box">
                    <div class="hy-qalist">
                        {foreach from=$data.list item=m name=list}
                        <div class="qa-t"><span>{$smarty.foreach.list.iteration}</span> <a href="{$m.url|url}" title="{$m.title}">{$m.title}  {microtime_format($m.createtime,'Y-m-d H:i:s')}</a></div>
                        <dl class="fn-clear">
                            <dd>{$m.content|strip_tags|truncate:400:'...'}</dd>
                        </dl>
                        {/foreach}
                    </div>
                    {if empty($data.list)}
                    <div class="empty">没有内容！</div>
                    {/if}
                    <div class="page">{include file='public_page.html'}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="cms/footer.html"}