{include file="cms/header.html"}
<link rel="stylesheet" href="{url('/style/css/member.css')}">
{include file="ur_here.html"}
<div id="container">
    <div class="fn-clear mt20 pb20">
        {include file="public_side_article.html"}
        <div class="fn-right hy-r" style="min-height:680px;">
            <div class="fn-clear hy-tjxh">
                <div class="title">
                    <h2>{$data.row.title}</h2>
                </div>
                <div class="hy-box">
                    <div class="hy-qalist">{$data.row.content|stripcslashes}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="cms/footer.html"}

