<head>
    <link type="text/css" rel="stylesheet" href="/style/theme_01/css/common.css" />
</head>


<div class="container">
    <ul class="f-promise">
        <li class="li1"><a href="{'/content/index/53'|url}"><em></em><span>100%公平公正</span><br />参与过程公开透明，用户可随时查看</a></li>
        <li class="li2"><a href="{'/content/index/54'|url}"><em></em><span>100%正品保证</span><br />精心挑选优质商家，100%品牌正品</a></li>
        <li class="li3"><a href="{'/content/index/53'|url}"><em></em><span>全国免运费</span><br />全场商品全国包邮（港澳台地区除外）</a></li>
    </ul>
    <div class="foot">
        <ul class="foot1 box-sizing">
            {zz mod=category field='id,catname,url,ismenu' catid=$smarty.const.HELP_ID type=child child=0 item=4}
            {foreach from=$tagData item=m key=key}
            {if $m.ismenu==1}
            <li>
                <big><a href="javascript:;">{$m.catname}</a></big>
                <p>
                    {zz mod=category field='id,catname,url,ismenu' catid=$m.id type=child child=0 limit=4}
                    {foreach from=$tagData item=m}
                    {if $m.ismenu==1}
                    <a href="{$m.url|url}">{$m.catname}</a><br />
                    {/if}
                    {/foreach}
                </p>
            </li>
            {/if}
            {/foreach}
        </ul>
        <dl class="foot2">
            <dt>
                <em><img src="{zz mod=fileurl source=$site_config.weixin_logo}" /></em>
                <p><span>官方微信</span></p>
            </dt>
            <dd>
                <h2>{$site_config.tel}</h2>
                <small>{$site_config.work|nl2br}<br />(全国免费热线)</small>
                <strong>服务器时间</strong>
                <big id="clock">载入中...</big>
                <script type="text/javascript">
                    tick();
                    function showLocale(obj){
                        var str;
                        var hh = obj.getHours();
                        if(hh<10) hh = '0' + hh;
                        var mm = obj.getMinutes();
                        if(mm<10) mm = '0' + mm;
                        var ss = obj.getSeconds();
                        if(ss<10) ss = '0' + ss;
                        str = "<b>"+hh + "</b><span>:</span><b>" + mm + "</b><span>:</span><b>" + ss + "</b>";
                        return(str);
                    }
                    function tick(){
                        var today = new Date();
                        document.getElementById("clock").innerHTML = showLocale(today);
                        window.setTimeout("tick()", 1000);
                    }
                </script>
            </dd>
        </dl>
    </div>
</div>
<footer>
    <dl class="container">
        <dt>
            <script src="http://kxlogo.knet.cn/seallogo.dll?sn=e161031440300650476m1z000000&size=0"></script>
            <a href="http://icp.alexa.cn/index.php?q=www.1yhkt.com&code=%E6%98%BE%E7%A4%BA%E9%AA%8C%E8%AF%81%E7%A0%81&icp_host=gdcainfo" rel="nofollow" target="_blank" style="display:inline-block">
               <img src="/style/theme_01/css/images/foot-3.png">
            </a>
            <a href="http://gsxt.gdgs.gov.cn/" target="_blank" rel="nofollow" style="display:inline-block">
               <img src="/style/theme_01/css/images/foot-4.png">
            </a>
             <a style="display:inline-block">
               <img src="/style/theme_01/css/images/foot-5.png">
            </a>
        </dt>
        <dd>
            {zz mod=block mark=footer}
            {$site_config.cnnz|htmlspecialchars_decode}
        </dd>
    </dl>
</footer>
{if $mod eq home && ($site_config.ios_url|trim || $site_config.and_url|trim)}
<div class="bottom-ad">
    <dl class="container">
        <dt><img src="/style/theme_01/css/images/bottom.png"></dt>
        <dd>
            <img src="{$qrcode}" />
            <span>扫描二维码<br />参与更多惊喜</span>
        </dd>
    </dl>
    <div class="bottom-close"></div>
</div>
{/if}
<ul class="bodyright box-sizing">
    <li onclick="location.href='/yunbuy/cart'">
        <em class="cartNum">{$cartNum}</em>
        <p>购物车</p>
    </li>
    {if $site_config.qq}
    <li class="br-2" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin={$site_config.qq}&site=qq&menu=yes');">
        <em></em>
        <p>在线客服</p>
    </li>
    {/if}
    <li class="br-3">
        <em></em>
        <p>
            <img src="{zz mod=fileurl source=$site_config.weixin_logo}" />
            <span>关注微信</span>
        </p>
    </li>
    {if $site_config.ios_url|trim || $site_config.and_url|trim}
    <li class="br-4">
        <em></em>
        <p>
            <img src="{$qrcode}" />
            <span>扫描下载APP</span>
        </p>
    </li>
    {/if}
    {if $smarty.session.mid}
    <li class="br-5" onclick="location.href='/member/recchage#m'">
        <em></em>
        <p>我要充值</p>
    </li>
    {/if}
    <li class="br-6">
        <em></em>
        <p>返回顶部</p>
    </li>
</ul>

</body>
</html>
<iframe name="iframeNews" style="display:none;"></iframe>
<script type="text/javascript">
    var logCount = '{$main.logCount}';
</script>
<script type="text/javascript" src="/style/foot.js"></script>
<script type="text/javascript" src="/style/theme_01/css/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/style/theme_01/css/common_02.js"></script>
