{include file="header.html"}
<script src="/style/lefttime.js"></script>
<script src="/style/lefttime_jx.js"></script>

<div class="banner">
    <div class="banner1">
        <div class="bd">
            <ul>
                {zz mod=content var=tagAdw module=ad id=1}
                {zz mod=fileurl var=tagAds source=$tagAdw.images num=10}
                {foreach from=$tagAds item=m}
                <li><a href="{$m.title}" style="background-image: url('{$m.path}');"{if $m.isblank} target="_blank"{/if}></a></li>
                {/foreach}
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>
    <div class="screen-left menu">
        <ul class="nav-sub">
            {$i=0}
            {foreach from=$yuncat item=m name=f}
            {if $i lt 9 && $m.ismenu eq 1}
            <li style="height:46px; line-height: 46px"><a href="{$m.url}"><em class="iconfontYC">{$m.iconfont}</em><span>{$m.catname}</span></a></li>
            {$i=$i+1}
            {/if}
            {/foreach}
        </ul>
    </div>
    {if $recbuy}
    <div class="banner-hot box-sizing">
        <div class="banner-top">热门推荐</div>
        <div class="banner-hot1">
            <div class="bd">
                <ul>
                    {assign var=pre value='01'}
                    {foreach from=$recbuy item=m}
                    {include file="yunbuy/lbi_yunbuy_index.html"}
                    {/foreach}
                </ul>
            </div>
            <div class="hd">
                <ul></ul>
            </div>
        </div>
    </div>
    {/if}
</div>
<div class="index-ad menu-show">
    <div class="container">
        <a href="/content/index/{$smarty.const.REC_ID}" class="ui-right">更多</a>
        <strong class="ui-left">{$site_config.site_name}{$L.unit_yun}公告：</strong>
        <div class="index-ad1">
            <div class="bd">
                <ul>
                    {zz mod=content module=article field='id,createtime,title,url' catid=$smarty.const.REC_ID limit=3}
                    {foreach from=$tagData item=m name=rec}
                    <li>
                        <a href="{if $m.link}{$m.link}{else}{$m.url|url}{/if}" title="{$m.title}">
                            <span>{date('Y-m-d', $m.createtime)}</span>
                            <p>{$m.title}</p>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <dl class="index-top">
        <dt><a href="/content/win">查看更多</a></dt>
        <dd>
            <big>最新揭晓</big>
        </dd>
    </dl>
    <ul class="index-new box-sizing" id="win-list">
        {foreach from=$data.jxdb item=m}
        {include file="content/windbitemindex.html"}
        {/foreach}
    </ul>
    <input type="hidden" name="ids" id="ids" value="" />
</div>
<ul class="index-menu">
    <li>
        <a href="#section-1">
            <em class="iconfontYC">&#xe618;</em>
            <p><span>新品上线</span></p>
        </a>
    </li>
    {$i=0}
    {foreach from=$yuncat item=c name=f}
    {if $i lt 7 && $c.ismenu eq 1 && $c.list}
    <li>
        <a href="#section-{$smarty.foreach.f.index+2}">
            <em class="iconfontYC">{$c.iconfont}</em>
            <p><span>{$c.catname}</span></p>
        </a>
    </li>
    {$i=$i+1}
    {/if}
    {/foreach}
</ul>
<div class="index-menu-show">

<div class="container section" id="section-1">
    <dl class="index-top">
        <dt><a href="/yunbuy?k=add_time">查看更多</a></dt>
        <dd>
            <span class="iconfontYC">&#xe618;</span>
            <big>新品上线</big>
        </dd>
    </dl>
    <ul class="index1 box-sizing">
        {foreach from=$newyunbuy item=m}
        <li class="index1-img">
            <em class="v scrollLoadingDiv"><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" title="{$m.title}" target="_blank"><img class="scrollLoading" src="/style/images/pix.gif" data-url="{zz mod=fileurl source=$m.imgurl_src height=180 type=0}" id="buy_img_{$m.buy_id}{$pre}" /></a><span></span></em>
            <big><a href="{'/yunbuy/detail/'|cat:$m.buy_id|url}" title="{$m.title}" target="_blank">(第{$m.qishu}期){$m.title}</a></big>
            <p>总需：{$m.need_num} 人次</p>
        </li>
        {/foreach}
    </ul>
</div>

{$pre='02'}
{$i=0}
{foreach from=$yuncat item=c name=f}
{if $i lt 7 && $c.ismenu eq 1 && $c.list}
<div class="container section" id="section-{$smarty.foreach.f.index+2}">
    <dl class="index-top">
        <dt><a href="/yunbuy?cid={$c.id}">查看更多</a></dt>
        <dd>
            <span class="iconfontYC">{$c.iconfont}</span>
            <big>{$c.catname}</big>
        </dd>
    </dl>
    <ul class="index2 box-sizing">
        {foreach from=$c.list item=m}
        {include file="yunbuy/lbi_yunbuy_index.html"}
        {/foreach}
    </ul>
</div>
{$i=$i+1}
{/if}
{/foreach}

</div>
<div class="index3">
    <div class="container">
        <dl class="index-top">
            <dt><a href="{'/content/share'|url}">查看更多</a></dt>
            <dd>
                <span class="iconfontYC">&#xe604;</span>
                <big>晒单分享</big>
            </dd>
        </dl>
        <div class="index3-1">
            <div class="bd">
                <ul>
                    {foreach from=$share item=m}
                    <li>
                        <em><a href="{'/minfo?id='|cat:$m.mid|cat:'#share#vid='|cat:$m.id|url}"><img src="{zz mod=fileurl source=$m.thumb width=290 height=204 type=1}" /></a></em>
                        <div class="index3-2">
                            <big><a href="{'/minfo?id='|cat:$m.mid|cat:'#share#vid='|cat:$m.id|url}" target="_blank" title="{$m.title}">{$m.title|truncate:20}</a></big>
                            <p><a href="{'/minfo?id='|cat:$m.mid|cat:'#share#vid='|cat:$m.id|url}" target="_blank" title="{$m.content}">{$m.content|truncate:54}</a>{date('Y-m-d H:i',$m.addtime)}</p>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</div>

{include file="footer.html"}
<script src="style/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
    $(".banner1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"fold",autoPlay:true,interTime:5000 });
    $(".banner-hot1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,interTime:5000 });
    $(".index-ad1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,interTime:5000 });
    $(".index3-1").slide({ titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,interTime:5000,vis:4,scroll:4 });
</script>
<script type="text/javascript" src="/style/theme_01/css/jquery.nav.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.index-menu').onePageNav({
            filter: ':not(.external)',
            scrollThreshold:0.01
        });
    });
    //漂浮
    $(function(){
        //获取要定位元素距离浏览器顶部的距离
        var navH1 = $(".index-menu-show").offset().top-30;
        //滚动条事件
        $(window).scroll(function(){
            //获取滚动条的滑动距离
            var scroH = $(this).scrollTop();
            //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
            if(scroH>navH1){
                $(".index-menu").fadeIn(500);
            }else{
                $(".index-menu").fadeOut(500);
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        compaceIds();
        setInterval('compaceIds()',5*1000);
    });
    function compaceIds(){
        $.post('/content/ajaxIds','skin=index&ids='+$('#ids').val(),function(data){
            if(data.error==1){
                $('#ids').val(data.ids);
                $('#win-list').prepend(data.html);
            }
        },'json');
    }
</script>
