{if $page.count>1}
<div class="page">
    {if $page.nonce>1}
    <a {$page.home}>首页</a>
    <a {$page.prev}>上一页</a>
    {/if}

    {foreach from=$page.links item=v key=k}
    <a {$v} {if $k==$page.nonce} class="dq"{/if}>{$k}</a>
    {/foreach}

    {if $page.nonce<$page.count}
    <a {$page.next}>下一页</a>
    <a {$page.end}>尾页</a>
    {/if}
</div>
{/if}