{zz mod=category var=tagMenu field='id,catname,ismenu' catid=$data.cat.id type=top}
{if $tagMenu.ismenu==1}
<div class="fn-left hy-l side-article">
    <div class="title">
        <h4>{$tagMenu.catname}</h4>
    </div>
    <div class="hy-box">
        <div class="hy-qalist">
            {foreach from=$data.list item=m name=list}
            <div style="margin-left:10px;">
                <a {if $data.row.id==$m.id} class="qa-t"{/if}  href="{if $m.catid!=56}{$m.url|url}{else}javascript:void(0);{/if}" onclick="{if $m.catid==56}openNews(this, {$m.catid}, {$m.id}){/if}" title="{$m.title}">{$m.title|truncate:12:'...'}</a>
            </div>
            {/foreach}
        </div>
        
        {include file='public_page.html'}
    </div>

    <div class="hy-lnav">
        <ul class="fn-clear">
            {zz mod=category field='id,catname,url,ismenu' catid=$data.catlist.1 type=child child=0 }
            {foreach from=$tagData item=m}
			{if $m.ismenu==1}
            <li{if $data.cat.id==$m.id} class="dq"{/if}><a href="{$m.url|url}">{$m.catname}</a></li>
			{/if}
            {/foreach}
        </ul>
    </div>
</div>
<script>
    function openNews(curcontrol, catid, id){
        $(curcontrol).parent().parent().children('div').removeClass('qa-t');
        $(curcontrol).parent().parent().children('div').css('padding-left', '5px');
        $(curcontrol).parent().parent().children('div').css('background-image', '');
        $(curcontrol).parent().parent().find('a').css('font-weight', '');
        $(curcontrol).parent().parent().find('a').css('color', '#555');
        $(curcontrol).css('color', '');
        $(curcontrol).css('font-weight', 'bold');
        $(curcontrol).parent().addClass('qa-t');
        $(curcontrol).parent().css('background-image', 'url(/style/images/hy-ico4-2.png)');
        $(curcontrol).parent().css('background-position-x', '0px');
        $(curcontrol).parent().css('background-position-y', '50%');
        $(curcontrol).parent().css('background-repeat-x', 'no-repeat');
        $(curcontrol).parent().css('background-repeat-y', 'no-repeat');
        $(curcontrol).parent().css('background-repeat', 'no-repeat');
        $(curcontrol).parent().css('padding-left', '10px');
        $.get('/content/newsindex/'+catid+'/'+id, function(ret){
           if(ret && ret.data){
                var content = '<dl class="fn-clear"><dd>' + ret.data.content + '</dd></dl>';
                var title = ret.data.title;
                $('#arttitle').text(title + ' (发布时间: ' + ret.data.createtime+ ')');
                $('#artcontent').html(content);
           }
        }, 'json');
    }
 {if !empty($data.list)}
    $(function(){
      //  openNews($('div.hy-box .hy-qalist a:eq(0)'), {$data.list[0].catid}, {$data.list[0].id});
    });
{/if}
</script>
{/if}