div.pageDialogBG {
	background: rgb(0, 0, 0); left: 0px; top: 0px; display: none; position: absolute; z-index: 100;
}
div.pageDialogBorder {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 500px; height: 400px; display: none; position: fixed; z-index: 101;
}
div.pageDialog {
	margin: 0px; padding: 0px; border: 1px currentColor; border-image: none; left: 0px; top: 0px; overflow: hidden; display: none; position: fixed; z-index: 102; background-color: rgb(255, 255, 255);
}
div.pageDialog div.pageDialogClose {
	background: url("message.png") no-repeat -93px -67px; top: 10px; width: 22px; height: 22px; right: 10px; display: block; position: absolute; z-index: 10; cursor: pointer;
}
div.pageDialogMain {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px; width: 700px; height: 470px; text-align: left; overflow: hidden; clear: both; font-size: 12px;
}
div.pageDialogMain div.title {
	height: 30px; color: rgb(102, 102, 102); line-height: 30px; padding-top: 3px; padding-left: 10px; font-size: 14px; font-weight: bold; background-color: rgb(242, 242, 242);
}
div.pageDialogMain div.content {
	padding: 5px;
}
div.pageDialogMain div.content dl.sAltOK {
	background: url("message.png") no-repeat -150px -30px; margin: 8px auto; height: 24px; padding-left: 30px;
}
div.pageDialogMain div.content dl.sAltOK dd {
	height: 24px; color: rgb(0, 119, 0); line-height: 20px; overflow: hidden; padding-top: 4px; background-color: rgb(255, 255, 255);
}
div.pageDialogMain div.content dl.sAltFail {
	background: url("message.png") no-repeat -180px -30px; margin: 8px 0px 8px 10px; height: 24px; padding-left: 30px; float: left; _margin-left: 5px;
}
div.pageDialogMain div.content dl.sAltFail dd {
	height: 24px; color: rgb(255, 96, 0); line-height: 20px; overflow: hidden; padding-top: 4px; background-color: rgb(255, 255, 255);
}
div.pageDialogMain h1 {
	margin: 0px; padding: 9px 40px 0px 15px; height: 30px; color: rgb(255, 102, 0); line-height: 30px; font-size: 12px; font-weight: normal; border-bottom-color: rgb(255, 102, 0); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(238, 238, 238);
}
div.pageDialogMain p {
	margin: 0px; padding: 5px 10px; line-height: 22px; clear: both;
}
div.pageDialogMain h2 {
	background: url("Cart.png") no-repeat 10px -569px; margin: 30px 0px 0px 20px; padding: 2px 10px 5px 35px; text-align: left; line-height: 18px; font-size: 13px; font-weight: normal; _font-size: 12px;
}
div.pageDialogMain h2.error {
	background-position: 10px -416px;
}
div.pageDialogMain h2.alt {
	background-position: 10px -516px;
}
div.pageDialogMain div.div_contentsBox {
	margin: 3px 0px; padding: 0px; width: 780px; height: 340px; -ms-overflow-x: hidden; -ms-overflow-y: auto; -ms-scrollbar-base-color: rgb(255, 225, 176); -ms-scrollbar-face-color: rgb(255, 225, 176); -ms-scrollbar-3dlight-color: rgb(240, 152, 8); -ms-scrollbar-shadow-color: rgb(240, 152, 8); -ms-scrollbar-darkshadow-color: rgb(255, 225, 176); -ms-scrollbar-track-color: rgb(255, 252, 243); srcollbar-arrow-color: #f09808;
}
div.pageDialogMain div.div_contentsBox div.div_contents {
	margin: 0px; padding: 0px; width: 760px; color: rgb(51, 51, 51); line-height: 22px;
}
div.pageDialogMain div.message {
	margin: 0px auto; padding: 0px 0px 0px 20px; height: 130px;
}
div.pageDialogMain div.message h3 {
	width: 95px; height: 130px; float: left;
}
div.pageDialogMain div.message h3 span.right_big {
	background: url("message.png") no-repeat 0px 0px; margin: 20px 0px 0px 1px; width: 74px; height: 65px; display: block;
}
div.pageDialogMain div.message h3 span.wrong_big {
	background: url("message.png") no-repeat -80px 0px; margin: 20px 0px 0px 24px; width: 51px; height: 56px; display: block;
}
div.pageDialogMain div.message h3 span.right_s {
	background: url("message.png") no-repeat -150px -30px; margin: 20px 0px 0px 51px; width: 24px; height: 24px; display: block;
}
div.pageDialogMain div.message h3 span.wrong_s {
	background: url("message.png") no-repeat -180px -30px; margin: 20px 0px 0px 51px; width: 24px; height: 24px; display: block;
}
div.pageDialogMain div.message ul {
	margin: 0px; padding: 20px 0px 0px; height: 110px; float: left; display: block; list-style-type: none;
}
div.pageDialogMain div.message ul li {
	height: 25px; text-align: left; line-height: 25px;
}
div.pageDialogMain div.message ul li.title {
	color: rgb(13, 152, 0); font-size: 14px; font-weight: bold;
}
div.pageDialogMain div.message ul li em {
	margin: 0px 3px; color: rgb(255, 0, 0); font-weight: bold;
}
div.pageDialogMain div.message ul li a {
	color: rgb(102, 102, 102);
}
div.pageDialogMain div.message ul li input.button_1 {
	background: url("message.png") no-repeat -135px 0px; border: currentColor; border-image: none; width: 80px; height: 27px; text-align: center; color: rgb(136, 136, 136); line-height: 27px; text-decoration: none; float: left; display: block; cursor: pointer;
}
div.pageDialogMain div.message ul li input.button_2 {
	background: url("message.png") no-repeat 0px -70px; border: currentColor; border-image: none; width: 80px; height: 27px; text-align: center; color: rgb(255, 255, 255); line-height: 27px; font-weight: bold; text-decoration: none; float: left; display: block; cursor: pointer;
}
div.pageDialogMain div.message ul li input.button_3 {
	background: url("message.png") no-repeat -135px -70px; border: currentColor; border-image: none; width: 66px; height: 27px; text-align: center; color: rgb(136, 136, 136); line-height: 27px; text-decoration: none; margin-left: 15px; float: left; display: block; cursor: pointer;
}
div.pageDialogMain div.content .mAltOK s {
	background: url("head-2014.png");
}
div.pageDialogMain div.content .mAltFail s {
	background: url("head-2014.png");
}
div.pageDialogMain div.content .mAltOK s {
	width: 22px; height: 22px; margin-top: -2px; margin-right: 6px; display: inline-block;
}
div.pageDialogMain div.content .mAltFail s {
	width: 22px; height: 22px; margin-top: -2px; margin-right: 6px; display: inline-block;
}
div.pageDialogMain div.content .mAltOK s {
	background-position: -25px -339px; vertical-align: middle;
}
div.pageDialogMain div.content .mAltFail s {
	background-position: 0px -339px; vertical-align: middle;
}
div.pageDialogMain div.content .mAltOK {
	text-align: center; color: rgb(153, 153, 153); font-size: 14px; margin-top: 15px;
}
div.pageDialogMain div.content .mAltFail {
	text-align: center; color: rgb(153, 153, 153); font-size: 14px; margin-top: 15px;
}
.PageDialogAlert {
	padding: 15px 0px 25px; text-align: center; color: rgb(153, 153, 153); font-size: 14px; -ms-word-wrap: break-word;
}
.PageDialogAlertBtn {
	height: 30px; text-align: center;
}
.PageDialogAlertBtn a {
	background: rgb(255, 102, 0); padding: 0px 19px; border-radius: 2px; border: 1px solid rgb(255, 102, 0); border-image: none; height: 23px; text-align: center; color: rgb(255, 255, 255); line-height: 23px; font-size: 12px; display: inline-block; cursor: pointer; _line-height: 22px;
}
.PageDialogAlertBtn a:hover {
	background: rgb(255, 68, 0); border: 1px solid rgb(255, 68, 0); border-image: none; color: rgb(255, 255, 255);
}
.PageDialogAlertBtn a.cancelBtn {
	background: rgb(244, 244, 244); border: 1px solid rgb(221, 221, 221); border-image: none; color: rgb(116, 116, 116);
}
.PageDialogAlertBtn a.cancelBtn:hover {
	background: rgb(244, 244, 244); border: 1px solid rgb(187, 187, 187); border-image: none; color: rgb(116, 116, 116);
}
